$paygInputBg: #d8d8d8;
$paygInputIconBg: #cacaca;
$paygTooltipBg: #878787;

.external-calculator-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $light-grey;

  .icon-small-logo-boi {
    position: relative;
    z-index: 1;
    width: 86px;
    height: 110px;
    margin-bottom: -22px;
  }
}

/* START: Initial user input screen */
.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 88px); // minus height of header logo.
  padding: 60px;

  @include media($small) {
    display: block;
    height: auto;
    padding: 50px 25px 25px;
  }
}

.payg-calculator-wrapper {
  width: 100%;
  max-width: 640px;
  padding: 30px;
  background-color: $white;
  border-radius: 5px;
  text-align: center;

  p {
    color: $dark-blue;
    margin: 0 auto;
  }
}

.payg-calculator-inner {
  max-width: 380px;
  margin: 0 auto;
}

.payg-calculator-title {
  display: block;
  @include font-size(24);
  font-family: $BankofIreland-Bold;
  color: $dark-blue;
  margin-bottom: 10px;
}

.payg-calculator {
  display: block;
  width: 100%;
  margin-top: 30px;
  text-align: left;

  label {
    @include font-size(12,16);
    color: $dark-blue;
    font-weight: bold;
  }

  .button {
    display: block;
    margin: 30px auto 0;
  }
}

.payg-calc-input {
  position: relative;
  display: block;
  width: 100%;
  background-color: $paygInputBg;
  border-radius: 5px;
  overflow: hidden;

  &:before {
    content: '£';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-family: $BankofIreland-Bold;
    background-color: $paygInputIconBg;
  }

  input {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px 10px 60px;
    height: 38px;
    background-color: transparent;
    border: none;
  }
}

.payg-calc-error-message {
  display: none;
  margin-top: 8px;
  @include font-size(12,16);
  color: $red;
}
/* END: Initial user input screen */


/* START: PAYG Options screen */
.options-container {
  display: none; // default state
  height: auto;
  padding: 100px 60px 60px;

  @include media($small) {
    padding: 50px 25px 25px;
  }
}

.payg-options-wrapper {
  display: block;
  max-width: 980px;
  margin: 0 auto;

  .payg-calculator-title {
    text-align: center;
  }

  p {
    font-size: 12px;
    line-height: 18px;

    &.small {
      font-size: 10px;
      line-height: 16px;
    }
  }
}

.payg-options-table {
  width: 100%;
  display: block;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  // overflow: visible;
  border-collapse: collapse;
  margin: 30px auto;
  border-radius: 5px;
  position: relative;

  th,td {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding: 15px 20px;
    text-align: center;
    min-width: 155px;

    &:first-child {
      width: 185px;

      @include media($medium) {
        position: sticky;
        left: 0;
        z-index: 1;

        &.payg-options-tooltip {
          &:hover {
            z-index: 2;
          }
        }
      }
    }

    &:not(:first-child) {
      // width: percentage(1/6);
      width: auto;
    }
  }

  td {
    background-color: $white;

    &:first-child {
      text-align: left;
    }

    // > span {
    //   &[data-currency] {
    //     &:before {
    //       content: attr(data-currency);
    //       display: inline;
    //     }
    //   }
    // }
  }

  th,
  td:first-child {
    font-weight: bold;
    background-color: $grey-3;
  }

  tr {
    &:last-child {
      td {
        padding-bottom: 30px;

        .payg-options-tooltip__content {
          // correct the top offset due to the additional padding.
          transform: translate(100%,-50%) translateY(-7px);
        }
      }
    }
  }
}

.payg-options-table-wrapper {
  position: relative;

  .mobile-scroll-icon {
    display: none;
    @include media(1000px) {
        display: block;
        position: absolute;
        width: 30px;
        height: auto;
        right: 10px;
        bottom: -15px;
        transform: translate(0,0);
        animation-name: horizontal-scroll-gesture;
        animation-duration: 4s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;  
      
      @-webkit-keyframes horizontal-scroll-gesture {
        0% { transform: translate(0, 0); }
        33%{ transform: translate(-33%, 0); }
        66%{ transform: translate(33%, 0); }
        100%{ transform: translate(0, 0); }
      }
    }
  }
}

.tippy-tooltip {
  cursor: pointer;
  transition: color 0.25s ease;

  &:hover {
    color: $blue;
  }

  .help-toggle {
    position: relative;
    display: inline-block;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 100%;
    font-size: 11px;
    width: 16px;
    text-align: center;
    line-height: 13px;
    height: 16px;
    vertical-align: middle;
    top: -1px;
    margin-right: 2px;
    cursor: pointer;
  }
}

.tippy-box[data-theme~="payg"] {
  background-color: $paygTooltipBg;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
  padding: 5px 0;
  width: 205px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.tippy-box[data-theme~='payg'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $paygTooltipBg;
  border-width: 10px 10px 0;
  bottom: -9px;
}
.tippy-box[data-theme~='payg'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: $paygTooltipBg;
  border-width: 0 10px 10px;
  top: -9px;
}
.tippy-box[data-theme~='payg'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: $paygTooltipBg;
  border-width: 10px 0 10px 10px;
  right: -9px;
}
.tippy-box[data-theme~='payg'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: $paygTooltipBg;
  border-width: 10px 10px 10px 0;
  left: -9px;
}

.recalculate-button {
  margin: 0 auto 30px;
}

/* END: PAYG Options screen */