:root {
  --siteSearchWrapMaxWidth: 672px;
}

header {
  position: relative;

  &:before {
    content: '';
    height: 8px;
    width: 100%;
    background-color: $dark-blue;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  a {
    color: $text;
    text-decoration: none;
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }
  }

  .header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-11;

    @media (min-width: $min-desktop) {
      background-color: $white;
    }

    .header-logo {
      position: absolute;
      display: flex;
      z-index: 10;
      top: 0;

      img.small {
        display: none;
      }

      img.large {
        display: block;
      }
    }

    .header-top {
      align-self: stretch;
      padding: 35px 20px 25px;

      &__mobile {
        display: flex;

        &--hamburger {
          display: flex;
          align-items: center;
          padding: 0;
          column-gap: 8px;
          font-size: 14px;
          line-height: 20px;
          color: $dark-blue;

          svg {
            width: 10px;
            height: 10px;
          }
        }
      }

      .nav-active {
        display: block;

        .header-top__content--text {
          display: none;
        }

        .not-bold {
          display: none;
        }
      }

      &__content {
        display: none;
      }
    }

    .header-bottom {
      display: none;
      height: 100%;
      min-height: 100vh;
      position: fixed;
      top: 80px;
      z-index: 2;
      width: 100%;
      background-color: $white;
      transition: all 0.3s ease;

      &__menu {
        display: flex;
        flex-direction: column;
        padding: 50px 0 24px;
        overflow-y: auto;
        overflow-x: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 50px;
          width: 100%;
          background-color: $grey-11;
        }

        li {
          display: flex;
          position: relative;
          justify-content: space-between;
          align-items: center;

          a {
            color: $blue;
            padding: 15px 10px;

            @include media($max-tablet) {
              padding: 15px 24px;
              font-size: 14px;
              line-height: 22px;
            }
          }

          .no-link {
            cursor: default;

            &:hover {
              cursor: default;
            }
          }

          .show-submenu {
            padding: 15px;
            cursor: pointer;
            position: absolute;
            width: 32px;
            height: 32px;
            top: 26px;
            right: 17px;
            transform: translateY(-50%);
            background-color: transparent;
            backface-visibility: hidden;

            @include media($small) {
              right: 15px;
            }

            &:before,
            &:after {
              content: '';
              background-color: $blue;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: transform 0.3s ease, background-color 0.3s ease;
            }

            &:before {
              height: 10px;
              width: 2px;
            }

            &:after {
              width: 10px;
              height: 2px;
            }
          }
        }

        > li {
          > a {
            @include media($medium) {
              display: flex;
              align-items: center;
              column-gap: 24px;
            }
          }
        }

        .menu-item-icon {
          width: 20px;
          height: 20px;
          flex-shrink: 0;

          svg {
            width: 100%;
            height: 100%;
          }

          @media (min-width: $min-tablet) {
            display: none;
          }
        }

        .submenu-open {
          flex-direction: column;
          position: relative;

          a {
            background-color: $white;
            width: 100%;
            color: $blue;
          }

          > a {
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
          }

          .show-submenu {
            padding: 15px;
            background-color: $white;
            border-color: $blue;

            &:before,
            &:after {
              background-color: $blue;
            }
          }

          > .show-submenu {
            &:before {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }

          .header-bottom__menu--submenu {
            // flex-direction: column;
            width: 100%;
            flex-wrap: wrap;

            @include media($medium) {
              padding: 0;
              border-top: 1px solid $grey-8;
              border-bottom: 1px solid $grey-8;
            }

            li {
              @include media($medium) {
                margin-bottom: 5px;

                > ul {
                  margin-top: 5px;
                  padding-left: 10px;
                }
              }

              a {
                background: transparent;
                padding: 10px;
                color: $blue;

                @include media($medium) {
                  font-size: 14px;
                  line-height: 22px;
                  padding: 0;
                }
              }

              &:before {
                content: none;
              }
            }
          }
        }

        &--submenu {
          display: none;

          .submenu-second-item {
            position: relative;
            margin: 0;
            margin-top: 5px;
          }
        }

        .submenu-listing {
          width: percentage(1/3);
          flex-grow: 1;
          padding-right: #{fluid(4, 12)};
          margin-bottom: #{fluid(4, 12)};

          @include media($medium) {
            width: 50%;
            margin-bottom: 0;
          }

          @include media($small) {
            width: 100%;
            padding-right: 0;
          }

          &__heading {
            position: relative;
            display: block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            padding: 15px 24px;
            color: $blue;

            @media (min-width: $min-tablet) {
              margin-bottom: 12px;
              padding: 0 0 12px;
              color: $text;
              border-bottom: 1px solid $grey-8;

              .show-submenu {
                display: none;
              }
            }
          }

          > ul {
            @media (max-width: $max-tablet) {
              display: none;
              padding: 16px 24px;
              border-top: 1px solid $grey-8;
              border-bottom: 1px solid $grey-8;
              background-color: $grey-11;
              flex-direction: column;

              > li {
                &:not(:last-child) {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

        &--search {
          display: none !important;
        }

        .print-products {
          display: flex;
          justify-content: center;
        }

        .header-top__content--text {
          display: none;
        }

        .header-top__content--links {
          display: flex;
          width: 100%;
          padding: 16px;
          justify-content: space-between;
          background-color: $grey-11;
          order: -1;

          li {
            width: 100%;

            a {
              color: $white;
              background-color: $navy-blue;
              padding: 10px 35px;
              border-bottom-right-radius: 25px;
              border-top-left-radius: 25px;
              width: 95%;
              text-align: center;
            }

            &:before {
              content: none;
            }
          }

          .not-bold {
            display: none;
          }
        }
      }
    }

    .nav-active {
      display: block;
    }
  }

  @media (min-width: $min-desktop) {
    .header-container {
      .header-top {
        padding: 20px 0 10px;

        &__content {
          max-width: $max-desktop;
          margin: auto;
          display: flex;
          justify-content: space-between;
          padding: 0 10px;
          position: static;

          &--text {
            display: flex;
            align-items: center;
            line-height: 14px;
            font-size: 0.95em;

            p {
              margin-left: 8px;
            }

            img,
            svg {
              width: 14px;
              height: 14px;
            }
          }

          &--links {
            position: static;
            display: flex;
            width: auto;
            padding: 0;
            line-height: 14px;
            background-color: transparent;
            order: unset;

            li {
              display: flex;
              align-items: center;
              position: relative;
              margin-left: 20px;
              color: $blue;

              &:hover {
                &:after {
                  width: 100%;
                }
              }

              &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 1px;
                bottom: -3px;
                left: 0;
                background-color: $blue;
                transition: all 0.2s ease;
              }

              a {
                display: flex;
                align-items: center;
                column-gap: 4px;
                background-color: transparent;
                padding: 0;
                color: inherit;
                font-size: 0.95em;
              }
            }

            .not-bold {
              a {
                font-weight: normal;
              }
            }
          }
        }

        &__mobile {
          display: none;
        }
      }

      .header-bottom {
        padding: 104px 24px 24px;
        align-self: stretch;
        display: none;
        position: static;
        min-height: 0;

        &:before {
          content: none;
        }

        &:after {
          content: none;
        }

        &__menu {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: $max-desktop;
          margin: auto;
          padding: 0;
          background-color: $grey-11;
          border-radius: 16px;
          overflow: visible;

          &::before {
            content: none;
          }

          .submenu-open {
            a {
              width: auto;
              color: $text;
              background-color: transparent;
            }

            > a {
              box-shadow: none;
            }

            .header-bottom__menu--submenu li a {
              padding: 0;
              color: $text;
            }
          }

          li {
            margin: 0;
            padding: 7px #{fluid(4, 12)} 9px;
            position: relative;

            .show-submenu {
              display: none;
            }

            &:hover {
              a ~ .header-bottom__menu--submenu {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
              }

              > a:after {
                width: 100%;
              }
            }

            a {
              position: relative;
              color: $blue;
              padding: 0;
              line-height: 22px;

              @include media($max-tablet) {
                font-size: 14px;
              }
            }
          }

          > li {
            border-top: 2px solid transparent;

            &:hover {
              background-color: $white;
              border-color: $dark-blue;

              > a {
                color: $dark-blue;
              }
            }
          }

          &--submenu {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            background-color: $white;
            padding: 24px #{fluid(4, 12)} 12px;
            box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.2);
            width: auto;
            min-width: 659px;
            max-width: 659px;
            left: 0;
            z-index: 1;

            &.-align-right {
              left: auto;
              right: 0;
            }

            &.listing-count-1 {
              min-width: 287px;
            }

            &.listing-count-2 {
              min-width: 440px;
            }

            .submenu-item {
              position: static;
              padding: 0;
              display: block;
              // display: flex;
              // flex-direction: column;
              // min-width: 155px;
              // align-items: flex-start;
              margin-bottom: 5px;

              &:after {
                content: none;
              }

              a {
                font-size: 14px;
                line-height: 20px;

                &:hover {
                  color: $blue;
                }
                
                &:after {
                  content: '';
                  position: absolute;
                  width: 0%;
                  height: 1px;
                  bottom: 0;
                  left: 0;
                  background-color: $blue;
                  transition: all 0.2s ease;
                }
              }

              &:last-of-type {
                padding: 0;
                margin: 0;
              }

              .submenu-second-item {
                margin-bottom: 0;

                &:after {
                  content: none;
                }

                a {
                  margin-bottom: 0;
                }
              }

              > ul {
                margin-top: 5px;
                padding-left: 17px;
              }
            }
          }

          &--search {
            display: flex !important;
            align-items: center;
            column-gap: 8px;
            padding: 0 #{fluid(4, 12)};
            color: $blue;
            font-weight: 600;
            cursor: pointer;
          }

          .print-products {
            display: none !important;
          }
        }
      }

      .bottom-nav-active {
        display: flex;
      }
    }
  }
}
.site-search {
  display: none;
  position: relative;
  width: 100%;
  padding: 104px 0 24px;
}

.search-bar {
  width: 100%;
  display: flex;
  padding: 0 16px;
  background-color: $grey-11;
  order: -2;

  @media (min-width: $min-desktop) {
    position: relative;
    padding: 0;
    background-color: transparent;
    order: unset;
  }

  &__wrap {
    display: flex;
    width: 100%;
  }

  &__search {
    display: flex;
    width: 100%;

    &--input {
      position: relative;
      width: 100%;
      border-bottom: 1px solid $grey-8;

      input[type='text'],
      input[type='search'] {
        @include placeholder-styles() {
          color: $text !important;
        }

        border: none;
        background-color: transparent;
        color: $text;
        padding: 8px 0 9px;

        &:focus {
          background-color: transparent;
          color: $text;
        }
      }
    }

    &--icon {
      align-self: center;
      width: 20px;
      height: 20px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    color: $blue;

    button,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: $min-desktop) {
      .close-site-search {
        display: none;
      }
    }
  }

  .autocomplete-suggestions {
    margin-left: auto;
    margin-right: auto;
    left: -56px;
    right: 0;
    bottom: 0;
    transform: translateY(100%) translateY(8px);
    background-color: $white;
    width: 100% !important;
    max-width: calc(var(--siteSearchWrapMaxWidth) - 56px);
    padding: 4px;
    border-radius: 8px;
    border: 1px solid $grey-8;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);

    .autocomplete-suggestion {
      padding: 8px 28px;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid transparent;

      &:hover {
        border-color: $blue-2;
        border-radius: 4px;
        background-color: $grey-11;
      }

      &:last-child {
        color: $blue;
        font-weight: 600;

        &::after {
          content: '';
          display: inline-block;
          width: 7px;
          height: 12px;
          margin-left: 12px;
          background-image: url(/assets/dist/images/icons/chevron-thick-right-blue.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  @media (min-width: $min-desktop) {
    &__wrap {
      max-width: var(--siteSearchWrapMaxWidth);
      margin: auto;
      justify-content: space-between;
      width: 100%;
      position: static;
    }

    &__search {
      &--input {
        ::placeholder {
          color: $text;
        }

        input[type='text'] {
          color: $text;

          &:focus {
            color: $text;
          }
        }
      }
    }

    &__icons {
      &--grey {
        background-color: $grey-2;
        padding: 13px;
        border-radius: 25px;
        margin-left: 10px;
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;

        svg {
          width: 15px;
          height: 15px;
          display: block;
        }
      }
    }
  }
}

.search-active {
  display: flex;
}

.nav-scroll {
  position: fixed;
  z-index: 300;
  width: 100%;
  top: 0;

  .header-container {
    .header-logo {
      img.small {
        display: block;
      }

      img.large {
        display: none;
      }
    }

    .header-top {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }

    .header-bottom {
      padding: 25px 0 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.3s ease;

      &__menu {
        li {
          padding-bottom: 15px;

          &:after {
            bottom: 9px;
          }

          .submenu-item {
            padding-bottom: 0;
          }
        }
      }

      &__menu--submenu {
        &:before {
          content: '';
          width: 100%;
          height: 10px;
          position: absolute;
          left: 0;
          top: -9px;
        }
      }
    }
  }

  .search-bar {
    padding: 10px 0 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    background-color: $grey;
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
  }

  .autocomplete-suggestions {
    top: 55px;
  }
}
