<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0752d6c8-3640-4873-8664-1faf01e4fbcc" Alias="BDM Contact - FCA Number - Tags" Level="1">
  <Info>
    <Name>BDM Contact - FCA Number - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>