<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec759db6-4b33-4346-91be-88010d49bcf1" Alias="BDM Type" Level="3">
  <Info>
    <Name>BDM Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Dropdown</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "BDM"
    },
    {
      "id": 2,
      "value": "TBDM"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>