<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89a93b32-7f99-44f9-8849-4252241496de" Alias="Decimal" Level="1">
  <Info>
    <Name>Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "step": 0.01
}]]></Config>
</DataType>