<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0668de02-3a0c-44ac-b359-b8088332c459" Alias="Dropdown - Product Variant" Level="3">
  <Info>
    <Name>Dropdown - Product Variant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Dropdown</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "NC"
    },
    {
      "id": 2,
      "value": "PT"
    },
    {
      "id": 3,
      "value": "FA"
    },
    {
      "id": 4,
      "value": "BS"
    },
    {
      "id": 6,
      "value": "MO"
    },
    {
      "id": 7,
      "value": "BPT"
    },
    {
      "id": 8,
      "value": "BFA"
    },
    {
      "id": 9,
      "value": "BTL"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>