<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b9b107d-0804-4744-872a-1c4c8d2e79a3" Alias="Form Picker" Level="3">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedForms": []
}]]></Config>
</DataType>