<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "HeroAreaDesktop",
      "height": 420,
      "width": 1030
    },
    {
      "alias": "HeroAreaTablet",
      "height": 370,
      "width": 768
    },
    {
      "alias": "HeroAreaMobile",
      "height": 274,
      "width": 568
    },
    {
      "alias": "PromoPodDesktop",
      "height": 288,
      "width": 395
    },
    {
      "alias": "PromoPodMobile",
      "height": 185,
      "width": 528
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "height": 81,
      "width": 360
    },
    {
      "alias": "BDMImage",
      "height": 100,
      "width": 100
    },
    {
      "alias": "ListingImage",
      "height": 210,
      "width": 370
    }
  ]
}]]></Config>
</DataType>