<?xml version="1.0" encoding="utf-8"?>
<DataType Key="690c6e0b-1664-48e8-8f5d-43f2f6cd4f79" Alias="Mega Navigation" Level="1">
  <Info>
    <Name>Mega Navigation</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>