<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fd615b8-98f0-4676-82dc-872a703d0ce1" Alias="Multi Url Picker - Max 4" Level="1">
  <Info>
    <Name>Multi Url Picker - Max 4</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 4,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>