<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b902dec4-be06-4b7f-a8cc-f9dac4602331" Alias="Navigation - Meganav" Level="1">
  <Info>
    <Name>Navigation - Meganav</Name>
    <EditorAlias>Our.Umbraco.Meganav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ItemTypes": [],
  "MaxItems": null
}]]></Config>
</DataType>