<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e09c88c-fa53-43a4-9f68-0e4d616a184d" Alias="Nested Content- Grid Block Content" Level="1">
  <Info>
    <Name>Nested Content- Grid Block Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "leftColumn",
      "ncTabAlias": "Left Column Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "rightColumn",
      "ncTabAlias": "Right Column Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>