<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c5929fb-aca9-43d3-836f-b18fe085cdda" Alias="Nested Content - Third level navigation" Level="3">
  <Info>
    <Name>Nested Content - Third level navigation</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mainNavigationItemLevel3",
      "ncTabAlias": "Navigation",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>