<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d96c06b1-7bc2-4769-918d-fc3ec0e454ed" Alias="Nested Block List - Navigation Item" Level="3">
  <Info>
    <Name>Nested Block List - Navigation Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "122de4e5-bb36-43f0-88f2-ee3e01703759",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{navigationItem[0].name  || navigationItem[0].nodeName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>