<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8aa6ec7a-fbed-4d72-88f6-e5d5c4a0c7e4" Alias="Nested Block List - Child Page" Level="3">
  <Info>
    <Name>Nested Block List - Child Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fd96d2a9-a5c2-42e3-a986-147f8da9f730",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{childTitle | ncRichText | truncate:true:100}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>