<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569eb69f-0375-4cd6-a46d-3452a1a75e31" Alias="Nested Content - Media Documents" Level="3">
  <Info>
    <Name>Nested Content - Media Documents</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mediaDocumentUpload",
      "ncTabAlias": "Document",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>