<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff2b7d85-225a-4080-9b3e-0d1b8cf2bb52" Alias="Nested Block List - Quick Links" Level="3">
  <Info>
    <Name>Nested Block List - Quick Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{quickLink[0].name}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 4
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>