<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89b1fb85-a2e2-4dea-a1b7-bfc81d89a901" Alias="Nested Content - Second Level Navigation" Level="3">
  <Info>
    <Name>Nested Content - Second Level Navigation</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mainNavigationItemLevel2",
      "ncTabAlias": "Navigation",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>