<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec5d28b4-e7f6-4df5-8b8c-6b022f73698f" Alias="Nested Block List - FAQ Answer" Level="3">
  <Info>
    <Name>Nested Block List - FAQ Answer</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "dba6735d-7dc0-4fe4-b679-bb35d308181a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9485d6e4-76a9-44e8-adee-e9306916bc07",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{question}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>