<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af9c5613-67ea-4086-bdf2-4c77aad60067" Alias="Nested Content - Top Level Navigation" Level="3">
  <Info>
    <Name>Nested Content - Top Level Navigation</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mainNavigationItem",
      "ncTabAlias": "Navigation",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>