<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8514a9d7-fbdd-4956-adb5-9685adf44e34" Alias="Nested Content - Site Settings" Level="3">
  <Info>
    <Name>Nested Content - Site Settings</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "globalScripts",
      "ncTabAlias": "Scripts",
      "nameTemplate": "Global Scripts"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>