<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8172127-51d2-477c-af31-9d5f381bf21e" Alias="Nested Block List - CTA Links" Level="3">
  <Info>
    <Name>Nested Block List - CTA Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a5256ea6-420e-470a-afe2-1ea7ed2f724c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>