<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3ef1ba7-8be0-4620-83f7-ffc2c45862d1" Alias="Nested Block List - Navigation Item Level 2" Level="3">
  <Info>
    <Name>Nested Block List - Navigation Item Level 2</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2e6312da-7366-409f-894f-f805a879a035",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{navigationItem[0].name || navigationItem[0].nodeName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>