<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7efb1ee1-dc64-4396-8750-91ff58580c6d" Alias="Overdraft Calculator - Grad Account Rates - Block List" Level="1">
  <Info>
    <Name>Overdraft Calculator - Grad Account Rates - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "7765b2b4-046c-4bd5-8984-87f2650744a7",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>