<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d51ea3e2-768a-40be-867a-b4f5778003f5" Alias="Picker - Product Type" Level="3">
  <Info>
    <Name>Picker - Product Type</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "productType",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/productTypesContainer",
    "type": "content"
  }
}]]></Config>
</DataType>