<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c862173-cbc7-4662-af68-0135d84656c9" Alias="Picker - Product Term" Level="3">
  <Info>
    <Name>Picker - Product Term</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "productTerm",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/productTermsContainer",
    "type": "content"
  }
}]]></Config>
</DataType>