<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d7af8bb-7145-46f2-aedc-857b22f57e5b" Alias="Picker - Image" Level="3">
  <Info>
    <Name>Picker - Image</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "OnlyImages": true,
  "StartNodeId": null
}]]></Config>
</DataType>