<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4da15c90-86ac-4a3d-ba70-ee5dc1d63f30" Alias="Picker - Criteria Category" Level="3">
  <Info>
    <Name>Picker - Criteria Category</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "criteriaCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/criteriaCategoriesContainer",
    "type": "content"
  }
}]]></Config>
</DataType>