<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2aeea731-8c4f-4a66-98fa-0957ec826112" Alias="Picker - Product LTV" Level="3">
  <Info>
    <Name>Picker - Product LTV</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "productLTV",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/productLTVContainer",
    "type": "content"
  }
}]]></Config>
</DataType>