<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff3e80dd-04b4-4bac-bd11-2624217a1d79" Alias="Picker - FAQ Category" Level="3">
  <Info>
    <Name>Picker - FAQ Category</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "fAQCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/fAQCategoriesContainer",
    "type": "content"
  }
}]]></Config>
</DataType>