<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfba4e7b-cf37-4338-85a3-68a904d1b8f6" Alias="Picker - Image (12)" Level="3">
  <Info>
    <Name>Picker - Image (12)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 12,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "media"
  }
}]]></Config>
</DataType>