<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e67daff-8862-4b07-9af7-e6b7e8c78bc8" Alias="Picker - Pod - campaign landing full width" Level="3">
  <Info>
    <Name>Picker - Pod - campaign landing full width</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "childPagePod,promotionalPodRender",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/pods",
    "type": "content"
  }
}]]></Config>
</DataType>