<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf47f515-03db-4778-9060-f08c542868da" Alias="Picker BDM Pod" Level="3">
  <Info>
    <Name>Picker BDM Pod</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "bDMContact",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/8ad458ac45da4354b145b92f1b62a0a2",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>