<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94ee0110-e115-47a1-bbd1-8063d89851be" Alias="Picker - Product Category" Level="3">
  <Info>
    <Name>Picker - Product Category</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "productCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/tagsContainer/productCategoriesContainer",
    "type": "content"
  }
}]]></Config>
</DataType>