<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd68c4a6-e308-4bd5-88f7-9ea691c8f274" Alias="Picker - Pod" Level="3">
  <Info>
    <Name>Picker - Pod</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "awardWinningServicePodRender,childPagePod,contactUsPodRender,fAQPod,formPod,formsAndGuidePodRender,howItWorksPod,imageGalleryPod,promotionalPodRender,serviceItemsFormsGuidesPromoPodRender,serviceLevelItemPodRender,bDMPodAction",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/pods",
    "type": "content"
  }
}]]></Config>
</DataType>