<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47448b07-24d5-40f4-8c7a-87d875011ca8" Alias="Picker - Sound" Level="3">
  <Info>
    <Name>Picker - Sound</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>