<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02688ba4-4d09-4b5b-a350-ddfeb0b79af4" Alias="Picker - Pod - Document dowload" Level="3">
  <Info>
    <Name>Picker - Pod - Document dowload</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "documentUploadPod",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataRepositories/pods",
    "type": "content"
  }
}]]></Config>
</DataType>