<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7c612ac-c3c3-4664-9ecb-3eb716dd983b" Alias="Rich Text Editor - Embed Only" Level="1">
  <Info>
    <Name>Rich Text Editor - Embed Only</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": null,
  "Editor": {
    "toolbar": [
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 1180,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": null,
  "UseLiveEditing": false
}]]></Config>
</DataType>