<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb633a09-4f74-489c-aaa0-cd4d48e5b9f5" Alias="Service area items" Level="3">
  <Info>
    <Name>Service area items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": "#0b5394",
      "thumbnail": null,
      "contentElementTypeKey": "ca0a5da2-e9cd-4ac3-a513-8cb9cca0579f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>