<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28d8b18f-aaef-4a03-b4d9-4c15f7fc0715" Alias="Textbox - 50 Chars max" Level="1">
  <Info>
    <Name>Textbox - 50 Chars max</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>