.news-article-block {
  display: flex;
  width: 100%;
  max-width: $max-desktop;
  margin: 20px auto;
  padding: 0 10px;
  flex-wrap: wrap;

  @include media($max-desktop) {
    margin: 20px auto;
    padding: 0 20px;
  }

  @include media($large) {
    flex-wrap: wrap;
  }

  .campaign-landing & {
    flex-wrap: wrap;
  }
}

.umb-block-list {
  > .news-article-block {
    padding: 0;
  
    @include media($max-desktop) {
      margin: 20px auto;
      padding: 0;
    }
  }
}

.news-article-block-item {
  position: relative;
  margin: 24px 24px 0 0;
  padding: 20px 20px 25px;
  width: calc(25% - 24px);
  background-color: $white;
  border: 1px solid $teal;
  transition: background-color 0.25s ease, border-color 0.25s ease;

  &:last-child {
    margin-right: 0;
  }

  @include media($large) {
    width: calc(50% - 12px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media($small) {
    width: 100%;
    margin-right: 0;
  }

  .icon-pdf-document-icon {
    width: 32px;
    height: 42px;
    transition: fill 0.25s ease;
  }

  p {
    display: inline-block;
    padding-bottom: 2px;
    transition: color 0.25s ease, border-color 0.25s ease;

    &.news-article-block-item__cta{
      border-bottom: 2px solid rgba($blue,0.3);
    }
  }

  &:not(.-no-hover):hover {
    background-color: $blue;
    border-color: $blue;

    p,
    .news-article-block-item__title {
      color: $white;
    }

    p {
      border-color: $white;
    }

    .icon-pdf-document-icon {
      fill: $white;
    }
  }

  .campaign-landing & {
    @include media-min($small) {
      width: calc(50% - 12px);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.news-article-block-item__title {
  display: block;
  margin: 15px 0;
  font-weight: 700;
  transition: color 0.25s ease;
  line-height: 24.51px;
  font-size: 18px;
}