.service-levels-pod {
  background-color: $blue;
  padding: 40px 30px 30px;
  color: $white;
  text-align: center;

  @include media($medium) {
    padding: 30px 20px 24px;
  }

  h2 {
      color: $white;
  }

  p {
    @include font-size(13);
    margin-top: 10px;
    margin-bottom: 1.5rem;
  }

  .hero-area-quick-links__list {
    li {
      padding: 15px 8px;
      text-align: left;
      font-weight: 700;
      border-bottom: 1px solid rgba($white,0.3);

      &:first-child {
        border-top: 1px solid rgba($white,0.3);
      }
    }
  }

  .hero-area-quick-links__list-icon-wrap {
    width: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;

    img {
      max-height: 42px;
    }
  }

  > a {
    @include link-style-fill-bar();
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    color: $white;
  }
}

.service-levels-pod-item__copy {
  span {
    display: block;
  }
}

.service-levels-pod-item__time {
  @include font-size(13);
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: bold;
  color: $white;
  opacity: 0.75;

  .icon {
    margin-right: 5px;
  }
}