@inherits UmbracoViewPage<ServiceItemsFormsGuidesPromoPodRender>
@{
    if (Model == null )
    {
        return;
    }

    if (Model.Pods.NotNullAndAny())
    {
    <div class="pod-group">
        @foreach (var pod in Model.Pods)
        {
            switch (pod.ContentType.Alias)
            {
                case ServiceLevelItemPodRender.ModelTypeAlias:
                    var servicePod = pod as ServiceLevelItemPodRender;
                        <partial name="/Views/Partials/Pods/ServiceLevelItemPod.cshtml" model="@servicePod" />
                    
                    break;
                case FormsAndGuidePodRender.ModelTypeAlias:
                    var formsAndGuidePod = pod as FormsAndGuidePodRender;
                        <partial name="/Views/Partials/Pods/FormsAndGuidePod.cshtml" model="@formsAndGuidePod" />
                    break;
                case PopularFormsAndGuidePodAction.ModelTypeAlias:
                    var popularFormsAndGuidePod = pod as PopularFormsAndGuidePodAction;

                    // @Html.Action("popularFormsAndGuidePod", "PodSurface", new { model = popularFormsAndGuidePod })
                    break;
                case ChildPagePod.ModelTypeAlias:
                    var childPagePod = pod as ChildPagePod;
                        // await Html.RenderPartialAsync("../Partials/BlockList/Components/ChildPagePod", childPagePod);
                        <partial name="../BlockList/Components/ChildPageBlock.cshtml" model="@childPagePod" />

        break;
                default:
                    break;
            }
        }
    </div>
    }
}