.umb-block-list {
  .child-page-block {
    padding: 0;
  }
}

.child-page-block__title {
  margin-bottom: 0;
}

.child-page-block-listing {
  display: grid;
  grid-template-columns: auto;
  gap: #{fluid(24, 32)};
  height: 100%;
  padding-bottom: 20px;

  @include media-min($max-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min($large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.child-page-block-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: $white;

  .campaign-landing & {
    width: 100%;
    margin-right: 0;

    @include media-min($medium) {
      display: flex;
      align-items: center;
    }
  }
}

.child-page-block-item__icon-wrapper {
  padding-bottom: 16px;

  img {
    max-width: 48px;
  }
}

.child-page-block-item__title {
  display: block;
  margin-bottom: 0;
  color: $text-dark;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-family: $OpenSans;

  p {
    display: none;
  }
}

.child-page-block-item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  z-index: 1;

  .campaign-landing & {
    @include media-min($medium) {
      padding: 40px;
    }
  }

  .rich-text {
    padding: 8px 0 24px;
  }
}

.child-page-block-item__cta {
  @include button--secondary;
  margin-top: auto;
}

.child-page-block-item__inner-list-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.rich-text .child-page-block-item__inner-list,
.child-page-block-item__inner-list {
  padding: 16px 0 0;
  list-style: none;

  li {
    display: flex;
    column-gap: 8px;
    margin: 0;
    color: $text-dark;
    font-weight: 600;

    &:not(:last-child) {
      padding-bottom: 16px;
    }
  }
}

/* Pod Group (homepage / service block) */
.pod-group {
  .child-page-block-listing {
    display: block;
    padding-bottom: 0;
  }

  .child-page-block-item {
    padding: 0;
  }

  .child-page-block-item__icon-wrapper {
    padding: #{fluid(24, 40)} #{fluid(24, 40)} 16px;

    img {
      display: block;
      width: 100%;
      max-width: 280px;
      height: auto;
      margin: 0 auto;
    }

    @include media($max-mobile) {
      img {
        max-width: 120px;
        margin: 0;
      }
    }

    @include media($tiny) {
      img {
        max-width: none;
      }
    }
  }

  .child-page-block-item__content {
    padding: 0 #{fluid(24, 32)} #{fluid(24, 56)};

    .rich-text {
      padding: 32px 0;
    }

    .button {
      margin-top: 0;
    }
  }

  .child-page-block-item__title {
    font-size: 32px;
    line-height: 44px;
  }

  .child-page-block-item__cta {
    @include button;
  }
}