.child-page-block {
  width: 100%;
  max-width: $max-desktop;
  margin: 40px auto;
  padding: 0 10px;

  @include media($max-desktop) {
    padding: 0 20px;
  }

  @include media($small) {
    margin: 20px auto;
  }
}

.umb-block-list {
  .child-page-block {
    padding: 0;
  }
}

.child-page-block__title {
  margin-bottom: 0;
}

.child-page-block-listing {
  display: flex;
  flex-wrap: wrap;
}

.child-page-block-item {
  margin: 24px 24px 0 0;
  width: calc(33.33% - 16px);
  background-color: $white;

  &:last-child {
    margin-right: 0;
  }

  @include media($large) {
    width: 100%;
    margin-right: 0;
  }

  @include media($large,#{$small+1}) {
    display: flex;
    align-items: center;
  }

  .campaign-landing & {
    width: 100%;
    margin-right: 0;

    @include media-min($medium) {
      display: flex;
      align-items: center;
    }
  }
}

.child-page-block-item__icon-wrapper {
  position: relative;
  width: 100%;
  background-color: $grey-3;
  padding: 40px 0;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media($large,#{$small+1}) {
    height: 100%;
    width: 150px;
    flex-shrink: 0;
    margin-right: 50px;
  }

  @include media($tiny) {
    padding: 20px 0;
  }

  .campaign-landing & {
    @include media($large,#{$medium+1}) {
      margin-right: 80px;
    }

    @include media-min($medium) {
      height: 100%;
      width: 150px;
      flex-shrink: 0;
      margin-right: 50px;
    }
  }

  &:after {
    content: '';
    width: 100%;
    padding-top: 26%;
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translateY(100%);
    background-image: url(/common/images/icons/chevron-vertical-grey.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media($large,#{$small+1}) {
      display: none;
    }

    .campaign-landing & {
      @include media-min($small) {
        display: none;
      }
    }
  }

  img:not(.child-page-block-item__chevron) {
    max-height: 60px;
    width: auto;
  }

  .child-page-block-item__chevron {
    display: none;

    @include media($large,#{$small+1}) {
      display: block;
      position: absolute;
      top: 0;
      right: 1px;
      transform: translateX(100%);
      width: auto;
      height: 100%;
    }

    .campaign-landing & {
      @include media-min($small) {
        display: block;
        position: absolute;
        top: 0;
        right: 1px;
        transform: translateX(100%);
        width: auto;
        height: 100%;
      }
    }
  }
}

.child-page-block-item__content {
  position: relative;
  padding: 0 40px 56px;
  z-index: 1;
  display: flex;
  flex-direction:column;
  align-items:center;

  @include media($large,#{$small+1}) {
    padding: 40px;
  }

  @include media($small) {
    padding: 0 40px 40px;
  }

  .campaign-landing & {
    @include media-min($medium) {
      padding: 40px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .button {
    margin-top: 30px;
  }
}

.child-page-block-item__title {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0;
}