.umb-block-list {
  .child-page-block {
    padding: 0;
  }
}

.child-page-block__title {
  margin-bottom: 0;
}

.child-page-block-listing {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.child-page-block-item {
  background-color: $white;

  .campaign-landing & {
    width: 100%;
    margin-right: 0;

    @include media-min($medium) {
      display: flex;
      align-items: center;
    }
  }
}

.child-page-block-item__icon-wrapper {
  padding: #{fluid(24, 40)} #{fluid(24, 40)} 16px;

  img {
    display: block;
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 0 auto;
  }

  @include media($max-mobile) {
    img {
      max-width: 120px;
      margin: 0;
    }
  }

  @include media($tiny) {
    img {
      max-width: none;
    }
  }
}

.child-page-block-item__title {
  display: block;
  margin-bottom: 0;
  color: $text-dark;
  font-weight: 600;
  font-family: $OpenSans;

  p {
    display: none;
  }
}

.child-page-block-item__content {
  position: relative;
  padding: 0 #{fluid(24, 32)} #{fluid(24, 56)};
  z-index: 1;

  .campaign-landing & {
    @include media-min($medium) {
      padding: 40px;
    }
  }
}

.child-page-block-item__inner-list-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.rich-text .child-page-block-item__inner-list,
.child-page-block-item__inner-list {
  padding: 16px 0 0;
  list-style: none;

  li {
    display: flex;
    column-gap: 8px;
    margin: 0;
    color: $text-dark;
    font-weight: 600;

    &:not(:last-child) {
      padding-bottom: 16px;
    }
  }
}