.rich-text {
  + .document-download-root {
    padding-top: 0;
  }
}

.document-download-root {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  padding: var(--sectionPaddingTop) 0 var(--sectionPaddingBottom);

  @include media-min($small-med) {
    grid-template-columns: repeat(2, 1fr);

    .document-download-block-wrapper {
      &:first-child:last-child {
        grid-column: span 2;
      }
    }
  }
}

.document-download-block-wrapper {
  @include media($small-med) {
    + .document-download-block-wrapper {
      padding-top: 0;
    }
  }

  ~ *:not(.document-download-block-wrapper) {
    &::before {
      @include cf();
    }
  }

  > h2 {
    margin-bottom: 1rem;
  }

  > p {
    a {
      @include simple-link-style();
      color: $blue;
      font-weight: 600;
    }
  }
}

.document-download-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
}

.document-download-block-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
  text-align: left;
  padding: 8px 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: $blue;

  &:first-child {
    margin-top: 0;
  }

  .icon {
    flex-shrink: 0;
  }

  .icon-link {
    width: 22px;
    height: 22px;
  }

  .icon-pdf-document-icon {
    width: 24px;
    height: 24px;
  }

  > span {
    @include simple-link-style();
  }

  p {
    display: none;
  }

  &:hover {
    background-color: transparent;
    color: $blue-2;

    .document-download-block-item__title,
    > span {
      color: $blue-2;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  &:active,
  &:visited {
    .document-download-block-item__title,
    > span {
      color: $dark-blue;
      text-decoration: underline;
    }
  }

  &:active {
    .document-download-block-item__title,
    > span {
      background-color: $grey-8;
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }
  }

  &:focus,
  &:focus-visible {
    .document-download-block-item__title,
    > span {
      outline-color: $blue;
    }
  }
}

.document-download-block-item__title {
  margin: 0;
  font-weight: 600;
}

.document-download-cta-block__title {
  display: block;
  margin: 0;
  padding: 0;
  color: $text-dark;
  font-weight: 600;

  + .document-download-block {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Sidebar specific styles */
.campaign-landing__sidebar,
.pod-group {
  .document-download-block-wrapper {
    display: block;
    padding-top: 0;
    padding-bottom: 24px;

    + .document-download-block-wrapper {
      margin-top: -12px;
    }

    .document-download-block {
      margin-top: 0;
    }

    @include media-min($small-med) {
      width: 100%;
      float: none;

      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }
}

.campaign-landing__sidebar {
  .document-download-block {
    margin: 24px 0 0;
  }

  .document-download-block-wrapper {
    &:first-of-type {
      .document-download-block-item {
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}