.faq-block {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: var(--sectionPaddingTop) var(--sectionPaddingX)
    var(--sectionPaddingTop);

  @include media($small) {
    margin: 20px auto;
  }
}

.faq-block__heading {
  margin-bottom: 20px;
}

.umb-block-list {
  .faq-block {
    padding-left: 0;
    padding-right: 0;

    + .promotional-pod {
      margin-top: var(--sectionPaddingTop);
    }
  }

  .rich-text + .faq-block {
    padding-top: 0;
  }
}
