.grid-block {
  display: block;
  padding: 10px 0;

  .rich-text {
    padding: 20px 0 0;
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .image-block {
    margin: 0;
  }

  @include media-min($small) {
    display: flex;
  }
}

.grid-block__col {
  @include media-min($small) {
    width: 50%;
    padding-right: 40px;
  }
}