.how-it-works-block {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: var(--sectionPaddingTop) 0 var(--sectionPaddingBottom);

  > h3 {
    margin-bottom: 0.5rem;

    + h4 {
      margin-top: 0;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.how-it-works-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  column-gap: #{fluid(12, 18)};
  padding-top: 0;

  ul {
    li {
      margin: 17px 0;

      span.list-ticks {
        padding-left: 32px;

        &:before {
          width: 24px;
          height: 24px;
          top: 0;
          border-radius: 6px 0 6px 0;
          background-color: $light-teal;
          background-image: url(/assets/dist/images/icons/sprite-icon-tick-black.svg);
          background-size: 15px 12px;
        }
      }
    }
  }
}

.how-it-works-item__step-number {
  width: 28px;
  font-size: 48px;
  line-height: 44px;
  font-weight: 300;
  color: $text-dark;
}

.how-it-works-item__content {
  @include last-child-no-bottom();
}

.how-it-works-item__title {
  display: block;
  margin-bottom: 10px;
  color: $text-dark;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}