.accordion {
  display: block;
  margin-top: 8px;
  border: 1px solid $grey-8;
  border-radius: 8px;
  background-color: $white;
  overflow: hidden;

  /* for rich-text spacing purposes */
  +*:not(.accordion) {
    margin-top: 40px;
  }

  &.active {
    >.accordion-heading {
      .toggle {
        &::before {
          transform: rotate(45deg) scale(-1);
          top: 11px;
        }
      }
    }
  }

  &:focus-visible {
    outline: 2px solid black;
    outline-offset: 4px;
  }

}

.accordion-heading {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 16px 60px 16px 16px;
  color: $blue;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  .notice {
    font-size: 0.8em;
    line-height: 1.35;
    color: $blue;
    padding: 4px 6px;
    border: 1px solid $blue;
    border-radius: 5px;
    margin-left: 8px;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  .toggle {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: transparent; 
    backface-visibility: hidden; 

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 8px;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: rotate(45deg);
    }
  }
}

.accordion-content {
  position: relative;
  display: none;
  padding: 16px 16px 24px;
  color: $text;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: $grey-8;
    transform: translateX(-50%);
  }

  > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > .accordion {
    .accordion-heading,
    .accordion-content {
      background-color: $grey-11;
    }
  }
}

.accordion-copylink {
  @include simple-link-style();
  position: relative;
  font-weight: 600;
  color: $blue;

  button {
    display: flex;
    align-items: center;
    padding: 0;

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }
  }
}

.accordion-copylink-alert {
  position: absolute;
  bottom: calc(100% + 17px);
  left: 0;
  display: flex;
  align-items: center;
  color: $white;
  background-color: $blue;
  padding: 10px 13px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    border: 10px solid transparent;
    border-top: 8px solid $blue;
    border-bottom: 0;
  }

  svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }
}

.accordion + .accordion-copylink {
  margin-top: 16px;
}

/* Accordions within accordions */

// .accordion-content > .accordion {
//   &.active {
//     .toggle {
//       &:before,
//       &:after {
//         background-color: $dark-blue 
//       }
//     }
//   }

//   .accordion-heading {
//     background-color: transparent !important; /* override parent background colour */
//     color: $white;
//     border: 1px solid $dark-blue; 
//   }
// }

/* Background-color variant */
.results-area,
.criteria-category {
  .accordion-content {
    > .accordion {
      .accordion-heading,
      .accordion-content {
        background-color: $grey-11;
      }
    }
  }
}

// .results-area,
// .criteria-category {
//   .accordion-content > {
//     .accordion:not(.active) {
//       .accordion-heading:not(:hover):not(:focus-visible){
//         background-color: $white;
//       }
//     }

//     .accordion {
//       .accordion-content {
//         background-color: $white;
//       }
//     }
//   }
// }