.hero-area {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  background-color: $blue;

  @include media($large) {
    margin-bottom: 24px;
  }

  &.-bg-teal {
    background-color: $teal;
  }

  &.-no-bg-image {
    .hero-area__bg-image {
      @include media($large) {
        padding-top: 30%;
      }
    }
  }
}

.hero-area__bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(48vw + 200px);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $grey-7;

  @include media($huge) {
    width: calc(42vw + 200px);
  }

  @include media($large) {
    position: relative;
    width: 100%;
  }
}

.hero-area-inner {
  position: relative;
  display: flex;
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;
  z-index: 1;

  @include media($max-desktop) {
    padding: 0 20px;
  }

  @include media($large) {
    display: block;
    padding: 0 30px;
  }
}

.hero-area__copy {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(50% - 113px);
  padding: 40px 0;
  background-color: $blue;

  .hero-area.-bg-teal & {
    background-color: $teal;
  }

  @include media($large) {
    max-width: none;
    display: block;
    text-align: center;
    padding: 20px 0 10px;
  }

  &:after {
    content: '';
    width: 150px;
    height: 100%;
    right: 1px;
    top: 0;
    transform: translateX(100%);
    position: absolute;
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/dist/images/icons/chevron-overlay-hero@3x.png);

    .hero-area.-bg-teal & {
      background-image: url(/assets/dist/images/icons/chevron-overlay-hero-teal@3x.png);
    }

    @include media($large) {
      width: calc(100% + 60px);
      height: 0;
      right: -30px;
      transform: translate(0,-100%);
      top: 2px;
      padding-top: 26.7%;
      background-position: center;
      background-size: 100% auto;
      background-image: url(/assets/dist/images/icons/chevron-overlay-vertical@3x.png);

      .hero-area.-bg-teal & {
        background-image: url(/assets/dist/images/icons/chevron-overlay-vertical-teal@3x.png);
      }
    }
  }

  h1,p {
    color: $white;

    .hero-area.-bg-teal & {
      color: $text;
    }
  }

  h1 {
    @include media-min($large) {
      max-width: 350px;
    }
  }

  p {
    margin-bottom: 0;
    font-weight: 600;

    @include media($large) {
      opacity: 0.8;
    }
  }

  .button {
    margin-top: 35px;
    margin-right: auto;

    @include media($small) {
      margin-top: 25px;
    }
  }

  .h5 {
    font-size: 16px;
    line-height: 24px;
  }
}

.hero-area__additional {
  padding: 40px 0;
  margin-left: auto;
  min-width: 360px;

  @include media($large) {
    min-width: 0;
    padding-top: 20px;
    max-width: 360px;
    margin-right: auto;
  }

  .button {
    margin-top: 12px;

    .icon-search {
      width: 20px;
      height: 20px;
    }

    @include media($large) {
      &:not(.-teal) {
        border: 1px solid $white;

        .hero-area.-bg-teal & {
          border: none;
        }
      }

      .hero-area.-bg-teal & {
        &.-teal {
          border: 1px solid $text;
        }
      }
    }
  }

  .bdm-pod {
    padding: 0;
    margin: 10px 0;

    &__content {
      width: 100%;
      padding: 10px 20px;
      flex-direction: row;

      &--text {
        margin-top: 0;
        h3 {
          font-size: 1em;
          line-height: 20px;
          margin-bottom: 5px;
          span{
            color: $text;
            font-size: 0.6em;
          }
        }

        p{
          margin-bottom: 0;
          font-size: 0.6em;
          font-weight: 600;

          a {
            color: $blue;
          }
        }
      }

      &--image {
        max-width: 70px;
        margin-left: 5px;
      }
    }

    @media(min-width:$small-desktop) {
      &__content {
        &--text {
          h3 {
            font-size: 1.4em;
            line-height: 25px;
            margin-bottom: 15px;
            span{
              font-size: 0.6em;
            }
          }
  
          p{
            font-size: 0.9em;
            margin-bottom: 2px;
          }
        }

        &--image {
          max-width: 100px;
          margin-left: 0;
        }
      }
    }
  }
}

.hero-area-quick-links {
  padding: 20px 34px;
  background-color: rgba($white,0.97);
}

.hero-area-quick-links__title {
  color: $blue;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.hero-area-quick-links__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 8px 0;

    > a {
      @include link-style();

      &:after {
        background-color: $blue;
      }
    }
  }
}

.hero-area-quick-links__list-icon-wrap {
  flex-shrink: 0;
  width: 25px;
  margin-right: 11px;

  > img {
    max-height: 22px;
    width: auto;
  }
}