.hero-area {
  position: relative;
  width: 100%;
  padding-top: 32px;
  background-color: $white;
  background-image: url(/assets/dist/images/icons/background-chevron-inverted.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom -1px;

  &.no-additional {
    padding-bottom: #{fluid(100, 175)};
  }
}

.hero-area__copy,
.hero-area__additional {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 var(--sectionPaddingX);
}

.hero-area__copy {
  text-align: center;

  h1 {
    color: $blue;
  }

  p {
    max-width: 672px;
    margin: 0 auto;
    color: $text;

    a {
      @include simple-link-style();
      color: $blue;
      font-weight: 600;
    }
  }
}

.hero-area-quick-links__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: #{fluid(16, 32)};
  list-style: none;
  margin-top: 32px;
  margin-bottom: 0;
  padding-bottom: 80px;

  @media (min-width: $min-tablet) {
    flex-direction: row;
  }

  @media (min-width: $huge) {
    padding-bottom: 200px;
  }

  li {
    position: relative;
    width: min-content;
    text-align: center;
    max-width: 203px;
    min-width: 188px;

    @media (max-width: $max-mobile) {
      display: flex;
      column-gap: 16px;
      max-width: none;
      text-align: left;
      width: 100%;
    }

    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover {
        ~ .hero-area-quick-links__list-title {
          text-decoration-color: transparent;
        }
      }
    }
  }
}

.hero-area-quick-links__list-icon-wrap {
  width: 120px;
  height: 120px;
  margin: 0 auto 8px;

  @media (max-width: $max-mobile) {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.hero-area-quick-links__list-title,
.hero-area-quick-links__list-text {
  display: block;
}

.hero-area-quick-links__list-title {
  @include simple-link-style();
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: $blue;
  
  .hero-area-quick-links__list li:has(a):hover & {
    color: $blue-2;
  }

  .hero-area-quick-links__list li:has(a):active &,
  .hero-area-quick-links__list li:has(a):visited & {
    color: $dark-blue;
    text-decoration: underline;
  }

  .hero-area-quick-links__list li:has(a):active & {
    background-color: $grey-8;
    text-decoration: underline;
  }
}

.hero-area-quick-links__list-text {
  margin-top: 8px;
  color: $text;
}