.hero-area {
  position: relative;
  width: 100%;
  padding-top: 32px;
  background-color: $white;
  background-image: url(/assets/dist/images/icons/background-chevron-inverted.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom -1px;
}

.hero-area__copy,
.hero-area__additional {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;
}

.hero-area__copy {
  text-align: center;

  h1 {
    color: $blue;
  }

  p {
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
    color: $grey-12;
  }
}