.icon {
  display: inline-block;

  &.-blue {
    fill: $blue;
    color: $blue;
  }

  &.-dark-blue {
    fill: $dark-blue;
    color: $dark-blue;
  }

  &.-text-grey {
    fill: $text;
    color: $text;
  }

  &.-white {
    fill: $white;
    color: $white;
  }

  &.-teal {
    fill: $light-teal;
    color: $light-teal;
  }
}

.icon-chevron-overlay {
  width: 77px;
  height: 288px;
}

.icon-pdf-document-icon {
  width: 56px;
  height: 74px;
}

.icon-search {
  width: 16px;
  height: 16px;
  fill: $black;
}

.icon-link {
  width: 21px;
  height: 21px;
}

.icon-clock {
  width: 18px;
  height: 18px;
}

.icon-print {
  width: 87px;
  height: 95px;
}

.icon-new {
  width: 32px;
  height: 16px;
}
  
.icon-closing {
  width: 50px;
  height: 22px;
}

.icon-phone {
  width: 36px;
  height: 59px;
  fill: $black;
}

.icon-bdm-finder {
  width: 64px;
  height: 64px;
}

.icon-loading {
  width: 20px;
  height: 20px;
}

.icon-small-logo-boi {
  width: 56px;
  height: 71px;
}

.icon-padlock {
  width: 20px;
  height: 20px;
}

.icon-search-alt {
  width: 18px;
  height: 18px;
}

.icon-cross-alt {
  width: 14px;
  height: 14px;
}

.icon-linkedin {
  width: 20px;
  height: 20px;
}

.icon-alert-adaptable {
  width: 20px;
  height: 20px;
}

.icon-filter,
.icon-print-alt,
.icon-pdf-document {
  width: 24px;
  height: 24px;
}

.icon-chevron-up-thick {
  width: 24px;
  height: 24px;
}

.icon-burger-menu {
  width: 20px;
  height: 20px;
}

.icon-play {
  width: 74px;
  height: 74px;
}