.lookup-form-block {
  width: 100%;
  max-width: $max-desktop;
  display: flex;
  align-items: center;

  p {
    position: relative;
    padding-left: 18px;

    @include media-min($max-desktop) {
      margin-top: 24px;
    }

    @include media($small) {
      margin-bottom: 0;
    }

    > .icon-phone {
      width: 11px;
      height: 18px;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}

.lookup-form-block-content {
  width: 100%;
}

.lookup-form-inner {
  @include media-min($small) {
    display: flex;
    align-items: center;
  }
}

.lookup-form {
  .product-filters-input-wrap {
    flex-grow: 1;
  }

  input[type=text],
  input[type=search] {
    background-color: $white;

    &:focus {
      color: $text;
    }
  }

  .-button-wrap {
    @include media-min($small) {
      flex-shrink: 0;
      max-width: 195px;
    }
  }

  .button {
    .icon-search {
      width: 20px;
      height: 20px;
    }
  }
}