.popup-block, .cta-popup {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}


.popup-block{
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    z-index: 100;

    &__inner {
        background-color: $white;
        padding: 40px;
        text-align: center;
        position: relative;
        margin: 20px;

        &--title {
            font-weight: 600;
            font-size: 1.5em;
        }

        &--text {
            margin: 20px 0 30px;
        }

        &--btn {
            cursor: pointer;
            @include link-style-button-hover();
        }

        &--close {
            position: absolute;
            top: -30px;
            right: 0;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;

            img {
                width: 100%;
            }

            &:hover {
                .pop-up-fill {
                    fill: $white;
                }
            }
        }
    }

    @media(min-width:$min-desktop) {
        &__inner {
            max-width: 700px;
            padding: 40px 90px;

            &--close {
                right: -30px;
            }
        }
    }
}

.cta-popup-links {
    margin-bottom: 30px;
}

.cta-popup {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    max-height: 100vh;
    max-height: 100dvh;

    &__inner {
        background-color: $white;
        max-width: 750px;
        // max-height: 630px;
        border-radius: 16px;
    }

    &__header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 16px 16px 16px #{fluid(16, 24)};
        background-color: $white;
        border-bottom: 1px solid transparent;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        z-index: 1;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            padding: 0;

            .icon {
                width: 32px;
                height: 32px;
            }
        }

        &.reduce {
            border-color: $grey-8;
            box-shadow: 0 2px 2px rgba($black, 0.08);

            .cta-popup__header-title {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    &__header-title {
        margin-bottom: 0;
        font-size: #{fluid(18, 28)};
        line-height: #{fluid(28, 40)};
        font-weight: 600;
        color: $text-dark;
        transition: font-size 0.25s ease, line-height 0.25s ease;
    }

    &__text {
        background-color: $white;
        overflow: auto;
        overflow-x: hidden;
        min-height: 215px;
        max-height: 430px;
        padding: 0 0 16px;
        border-radius: 16px 16px 0 0;

        @include media($small) {
            max-height: 55vh;
        }

        &::-webkit-scrollbar {
            display: none;
        }
        
        // &::-webkit-scrollbar-track {
        //     background-color: $grey-8;
        //     border-radius: 8px;
        // }

        // &::-webkit-scrollbar {
        //     background-color: $grey-12;
        //     width: 6px;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background-color: $grey-10;
        //     border-radius: 8px;
        //     cursor: pointer;
        // }

        .rich-text {
            padding: 0 #{fluid(16, 24)};
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 16px #{fluid(16, 24)};
        transition: box-shadow 0.25s ease;
        
        &.shadow {
            box-shadow: 0 -2px 2px rgba($black, 0.08);
        }

        .checkbox-wrapper {
            label {
                margin-bottom: 0;
            }

            .field-validation-error {
                display: none;
            }
        }

        .button {
            margin-top: 20px;
            min-width: 120px;
        }
    }

    @media(min-width: $min-desktop) {
        padding: 30px;

        &__footer {
            flex-direction: row;

            .button {
                margin-top: 0;
            }
        }
    }
}