.popup-block, .cta-popup {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}


.popup-block{
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    z-index: 100;

    &__inner {
        background-color: $white;
        padding: 40px;
        text-align: center;
        position: relative;
        margin: 20px;

        &--title {
            font-weight: 600;
            font-size: 1.5em;
        }

        &--text {
            margin: 20px 0 30px;
        }

        &--btn {
            cursor: pointer;
            @include link-style-button-hover();
        }

        &--close {
            position: absolute;
            top: -30px;
            right: 0;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;

            img {
                width: 100%;
            }

            &:hover {
                .pop-up-fill {
                    fill: $white;
                }
            }
        }
    }

    @media(min-width:$min-desktop) {
        &__inner {
            max-width: 700px;
            padding: 40px 90px;

            &--close {
                right: -30px;
            }
        }
    }
}

.cta-popup-links {
    margin-bottom: 30px;
    a {
        margin-bottom: 10px;
    }
}

.cta-popup {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    bottom: 0;

    &__inner {
        background-color: #E6E6E6;
        max-width: 750px;
        // max-height: 630px;
        padding: 20px;
        margin: 0 10px;
    }

    &__header {
        display: flex;
        flex-direction: column-reverse;

        p {
            background-color: $blue;
            color: $white;
            margin: 0;
            padding: 12px 20px;
            flex-grow: 1;
            font-weight: bold;
        }

        button {
            min-width: 93px;
            margin-bottom: 20px;
            align-self: center;
        }

        margin-bottom: 20px;
    }

    &__text {
        background-color: $white;
        overflow: auto;
        overflow-x: hidden;
        min-height: 215px;
        max-height: 430px;
        padding: 15px 35px 15px 20px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .checkbox-wrapper {
            label {
                margin-bottom: 0;
            }

            .field-validation-error {
                display: none;
            }
        }

        .button {
            margin-top: 20px;
            min-width: 120px;
        }
    }

    @media(min-width: $min-desktop) {
        padding: 30px;

        &__header {
            flex-direction: row;

            p {
                margin-right: 20px;
            }

            button {
                margin-bottom: 0;
            }
        }

        &__footer {
            flex-direction: row;

            .button {
                margin-top: 0;
            }
        }
    }
}