.results-area {
  width: 100%;
  max-width: $max-desktop;
  padding: 0;
  margin-top: #{fluid(32, 56)};

  address {
    display: inline-block;
    font-style: normal;
  }
}

.results-page-number {
  position: relative;
  margin: 0 auto 0 24px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  top: -1px;

  @include media($small) {
    margin-left: 18px;
  }

  strong {
    font-weight: 600;
    color: $blue;
  }
}