/* We're using an inner-outer file structure here so that the umbraco text
  editor in the CMS can use a different scss file which imports the inner
  file but not the outer file. This file will be used by the site as well
  as the CMS, richtext.scss will only be used by the site, not the cms
*/

h2, .h2,
h3, .h3,
h4, .h4,
h5 {
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
  }
}

@media(min-width: $max-tablet) {
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5 {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.left-float {
  margin: 0 10px 10px 0;
}

.right-float {
  margin: 0 0 10px 10px;
}

p,li {
  a {
    @include link-style-fill-bar(rgba($blue,0.3), $blue);
  }
}

img {
  margin-bottom: 1rem;
}

> img {
  margin: 2rem 20px 2rem 0;
}

table {
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  border-collapse: collapse;
  margin: 30px 0;
  border: 2px solid $light-grey;

  @include media($small) {
    display: block;
  }

  th, td {
    padding: 17px 25px;
    text-align: center;
    min-width: 200px;

    &.features-text {
      ul {
        text-align: left;
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }

  td {
    background-color: $white;

    &:not(:last-child) {
      border-right: 1px solid $grey;
    }
  }

  thead th,
  tbody th {
    background-color: $dark-blue;
    color: $white;
    padding-top: 21px;
    padding-bottom: 21px;

    &:not(:last-child) {
      border-right: 1px solid rgba($white,0.4);
    }
  }

  thead {
    tr {
      td {
        background-color: $dark-blue;
        color: $white;
      }
    }
  }

  tbody {
    tr {
      &:not(:last-child) {
        td {
          border-bottom: 1px solid $grey;
        }
      }
    }
  }
}

ul,ol {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding-left: 30px;

  @include media($small) {
    padding-left: 20px;
  }
  
  li {
    position: relative;
    display: block;
    margin: 15px 0;

    span.list-bullets,
    span.list-ticks {
      position: relative;
      display: block;
      padding-left: 20px;
    }

    span.list-bullets {
      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 7px;
        height: 8px;
        background-image: url(/assets/dist/images/icons/sprite-icon-bullet-blue.svg);
        background-size: 7px 8px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    span.list-ticks {
      padding-left: 25px;

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 18px;
        height: 15px;
        background-image: url(/assets/dist/images/icons/sprite-icon-tick-blue.svg);
        background-size: 18px 15px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

ol {
  list-style: decimal outside;
  padding-left: 1.5em;
}

/* TODO: Add blockquote styling */
blockquote {
  position: relative;

  &:before,
  &:after {
    content: '\0201C';
    position: absolute;
    font-style: normal;
    top: 0;
    left: 0;
  }

  &:after {
    content: '\0201D';
  }

  &:after {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
}