/* We're using an inner-outer file structure here so that the umbraco text
  editor in the CMS can use a different scss file which imports the inner
  file but not the outer file. This file will be used by the site as well
  as the CMS, richtext.scss will only be used by the site, not the cms
*/

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5 {
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
  }
}

@media (min-width: $max-tablet) {
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5 {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.left-float {
  margin: 0 10px 10px 0;
}

.right-float {
  margin: 0 0 10px 10px;
}

p,
li {
  a {
    // @include link-style-fill-bar(rgba($blue,0.3), $blue);
    @include simple-link-style();
    color: $blue;
  }
}

img {
  margin-bottom: 1rem;
}

> img {
  margin: 2rem 20px 2rem 0;
}

ul,
ol {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding-left: 10px;

  li {
    position: relative;
    display: block;
    margin: 15px 0;

    span.list-bullets,
    span.list-ticks {
      position: relative;
      display: block;
      padding-left: 16px;
    }

    span.list-bullets {
      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: $text;
        border-radius: 100%;
      }
    }

    span.list-ticks {
      padding-left: 25px;

      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 15px;
        height: 11px;
        background-image: url(/assets/dist/images/icons/sprite-icon-checkbox-tick.svg);
        background-size: 15px 11px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

ol {
  list-style: decimal outside;
  padding-left: 1.5em;
}

table {
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  border-collapse: collapse;
  margin: 30px 0;
  border: 2px solid $light-grey;

  @include media($small) {
    display: block;
  }

  th,
  td {
    min-width: 200px;
    padding: 16px 16px 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: $text-dark;

    p,li {
      color: inherit;
    }
  }

  th {
    p {
      margin-bottom: 0;
    }
  }

  td {
    padding: 8px 16px;
    vertical-align: top;

    a,
    p a,
    li a {
      @include simple-link-style();
      color: $blue;
    }
  }

  thead th,
  tbody th,
  thead tr td {
    background-color: $white;
    color: $text-dark;
    vertical-align: bottom;
    border-bottom: 2px solid $grey-8;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        td {
          background-color: $grey-11;
        }
      }

      &:nth-child(even) {
        td {
          background-color: $white;
        }
      }

      @include media-min($max-mobile) {
        &:last-child {
          td {
            border-bottom: 2px solid $grey-8;
          }
        }
      }
    }
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 0;

    li {
      display: list-item;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      // in case these aren't removed via the CMS
      span.list-bullets {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

/* TODO: Add blockquote styling */
blockquote {
  position: relative;

  &:before,
  &:after {
    content: '\0201C';
    position: absolute;
    font-style: normal;
    top: 0;
    left: 0;
  }

  &:after {
    content: '\0201D';
  }

  &:after {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
}
