.scroll-bar {
    position: relative;
    padding-left: var(--sectionPaddingX);
    padding-right: var(--sectionPaddingX);
    background-color: $white;
    padding-top: 24px;
    z-index: 1;
    // transition: all ease-in-out 0.65s;

    @include media-min($max-mobile-nav) {
        padding-top: 0;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: start;
        gap: 8px;
        max-width: 1138px;
        margin: 0 auto;
        padding: 14px 18px;
        border: 2px solid $text-dark;
        border-left-width: 10px;
        border-radius: 8px;
        color: $text-dark;
    }

    &__inner {
        // transition: all .5s ease-in;
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        width: 100%;

        &-title {
            font-size: 18px;
            font-weight: 700;
        }

        &-text {
            color: $text-grey;

            p {
                margin-bottom: 0;
                color: inherit;

                a {
                    color: $white;
                }
            }
        }

        &.active {
            display: flex;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        .icon {
            width: 100%;
            height: 100%;
        }
    }

    &__close {
        width: 24px;
        height: 24px;
        margin-left: auto;
        padding: 0;
        flex-shrink: 0;

        .icon {
            width: 100%;
            height: 100%;
        }
    }
}