@charset "utf-8";

//
// Config
// ------
// These files duplicate what's in first-paint.css but that's okay as they're only variables/mixins. 
// Any other duplication of styles is not ok.
//
@import "config/constants"; // Widths, heights etc all re-usable
@import "config/mixins"; // Re-usable mixins - CSS3 etc..
@import "config/utilities"; // Re-usable utility classes

:root {
  --sectionPaddingX: 16px;
  --sectionPaddingTop: #{fluid(24, 40)};
  --sectionPaddingBottom: #{fluid(40, 56)};
}

//
// Vendor
//
@import 'vendor/pikaday';
@import "vendor/slick/slick";    // Site footer
@import "vendor/magnificPopup/maginificpopup";


//
// Layout
//

@import "layout/footer";
@import "layout/error"; // Error Page layout styles
@import "layout/sitemap"; // HTML Sitemap Page layout styles


//
// Components
//
@import "modules/richtext";		// Richtext formatting styles
@import "modules/forms";    // Example icon styling
@import "modules/pagination";
@import "modules/accordion"; // Accordion styles
@import "modules/tabbed-content"; // Tabbed Content styles
@import "modules/lookup-form-block"; // Lookup Form Block styles
@import "modules/results-area"; // Results Area styles
@import "modules/search-results"; // Search Results styles

//
// Pages
//
@import "pages/home";
@import "pages/loansCalculator";
@import "pages/overdraftCalculator";
@import "pages/paygCalculator";
@import "pages/mediaLibrary";

//
// Content
// Styling for various content blocks
//
@import "content/image-block"; // Image Block styles
@import "content/grid-block"; // Grid Block styles
@import "content/video-block"; // Grid Block styles
@import "content/image-gallery-block"; // Image Gallery Block styles
@import "content/faq-block"; // FAQ Block styles
@import "content/document-download-block"; // Document Download Block styles
@import "content/child-page-block"; // Child Page Block styles
@import "content/how-it-works-block"; // How it Works Block styles
@import "content/podcast-block"; // Podcast Block styles
@import "content/contact-block"; // Contact Block styles

//
// Pods
//
@import "pods/award-winning-pod"; // Award Winning Pod styles
@import "pods/promotional-pod"; // Promotional Pod styles
@import "pods/pod-group"; // Pod Group styles
@import "pods/service-levels-pod"; // Service Levels Pod styles
@import "pods/bdm-pod"; // Service Levels Pod styles
@import "pods/homepage-service"; // Homepage Service pod

//
// Products
//
@import "products/products"; // Products styles
@import "products/product-filters"; // Product Filter styles

//
// Contact
//
@import "contact/contact-detail-block"; // Contact Detail Block styles

//
// News
//
@import "news/newsListing"; // News Listing styles

//
// Criteria
//
@import "criteria/criteria-lookup"; // Criteria Lookup styles 

//
// BDM Finder
//
@import "bdm/bdm-finder"; // BDM Finder styles 
@import "bdm/bdm-finder-results"; // BDM Finder Results styles 

//
// Solicitors
//
@import "solicitor/solicitors"; // Solicitor styles 

//
// Umbraco Forms
//
@import "umbracoForms/grid12"; // Custom Umbraco Forms styles 
@import "umbracoForms/umbraco-forms-custom"; // Custom Umbraco Forms styles 

//
// Service Levels
//
@import "serviceLevels/service-levels-listing"; // Service Levels Listing styles 

//
// Print
//
@import "print/print"; // Print styles