<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0788b8d-7dc4-421e-8fab-128ce2f37012" Alias="01.03.22 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-02-28T14:02:56</CreateDate>
    <NodeName Default="01.03.22 BOI4I New Business Literature" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/swfhryge/01-03-22-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>