<?xml version="1.0" encoding="utf-8"?>
<Media Key="325a3297-519f-4e97-a3e7-da47a752103b" Alias="02.05.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-05-01T10:16:59</CreateDate>
    <NodeName Default="02.05.2024 Bespoke New Business Literature" />
    <SortOrder>186</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/r2zfumu5/02-05-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>