<?xml version="1.0" encoding="utf-8"?>
<Media Key="8df8f733-8927-451c-a728-55bb0b8f5d7b" Alias="02.06.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-05-31T10:07:45</CreateDate>
    <NodeName Default="02.06.2023 Bespoke New Business Literature" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/fp1prdjh/02-06-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>