<?xml version="1.0" encoding="utf-8"?>
<Media Key="764ddced-0239-4725-b913-0c0d86206f21" Alias="02.06.23 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-05-31T10:59:10</CreateDate>
    <NodeName Default="02.06.23 BOI4I New Business Literature" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/4xoe03rz/02-06-23-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>