<?xml version="1.0" encoding="utf-8"?>
<Media Key="2931c8f9-e72b-4d58-a6cd-b99a2275ef49" Alias="02.08.22 Bespoke Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-07-29T15:38:51</CreateDate>
    <NodeName Default="02.08.22 Bespoke Literature" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/2hedckjl/02-08-22-bespoke-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>