<?xml version="1.0" encoding="utf-8"?>
<Media Key="56a70b54-76ed-4a91-8dee-6b24ce75248e" Alias="03.01.2023 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-12-28T12:19:04</CreateDate>
    <NodeName Default="03.01.2023 Bespoke New Business Literature Sourcing" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/jqflovxn/03-01-2023-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>