<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ccdaae9-38c5-4896-a430-b7079a9f65bf" Alias="03.05.2024 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-05-02T09:20:30</CreateDate>
    <NodeName Default="03.05.2024 BOI4I New Business Literature" />
    <SortOrder>187</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/4gvm05gf/03-05-2024-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>