<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffb41bf1-73d4-4a62-9624-5b6c74de3321" Alias="03.07.2024 BOI4I New Business Product Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessProductLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-07-02T10:10:49</CreateDate>
    <NodeName Default="03.07.2024 BOI4I New Business Product Literature" />
    <SortOrder>194</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/3enlj54u/03-07-2024-boi4i-new-business-product-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>