<?xml version="1.0" encoding="utf-8"?>
<Media Key="06d2fe2f-eda7-47ec-96cc-ff9c58ab83a5" Alias="03.07.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-07-02T09:27:00</CreateDate>
    <NodeName Default="03.07.2024 Bespoke New Business Literature" />
    <SortOrder>193</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/g55nebvh/03-07-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>