<?xml version="1.0" encoding="utf-8"?>
<Media Key="330bf39d-c8bf-4a6d-acb3-a3daa813f7ec" Alias="04.03.2022 Bespoke Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-03-01T10:46:20</CreateDate>
    <NodeName Default="04.03.2022 Bespoke Literature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/qxzbwm35/04-03-2022-bespoke-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>