<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b834b52-c3de-462a-9c2f-5833579bdf96" Alias="04.07.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-29T12:17:36</CreateDate>
    <NodeName Default="04.07.2023 Bespoke New Business Literature" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/jjfjhc44/04-07-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>