<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae96ae48-3ff3-4877-81a2-0c5598620279" Alias="04.10.23 BOI EC Product Switch Range" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchRange</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-02T14:55:46</CreateDate>
    <NodeName Default="04.10.23 BOI EC Product Switch Range" />
    <SortOrder>124</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/kcxjnlxt/04-10-23-boi-ec-product-switch-range.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>