<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6bf43c3-ecaf-428b-9b91-0b38759ee34c" Alias="04.10.23 Bespoke BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-02T15:19:28</CreateDate>
    <NodeName Default="04.10.23 Bespoke BOI EC Product Switch Withdrawals" />
    <SortOrder>127</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/1nbl5nvp/04-10-23-bespoke-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>