<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dec7a8a-4496-4413-a136-83a9984f14f6" Alias="04.10.23 Bespoke BOI EC Product Switch Range" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchRange</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-02T15:19:16</CreateDate>
    <NodeName Default="04.10.23 Bespoke BOI EC Product Switch Range" />
    <SortOrder>126</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/sj3oytmw/04-10-23-bespoke-boi-ec-product-switch-range.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>