<?xml version="1.0" encoding="utf-8"?>
<Media Key="21b1e40c-df85-4924-9d13-ab7a704cfb45" Alias="05.03.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-03-01T14:18:11</CreateDate>
    <NodeName Default="05.03.2024 Bespoke New Business Literature" />
    <SortOrder>168</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ctslcimf/05-03-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>