<?xml version="1.0" encoding="utf-8"?>
<Media Key="60db2da0-923b-472f-bb7f-28f7fda34254" Alias="05.03.2024 BOI4I New Business Product Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessProductLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-03-01T14:18:40</CreateDate>
    <NodeName Default="05.03.2024 BOI4I New Business Product Literature" />
    <SortOrder>169</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/xawnwyb1/05-03-2024-boi4i-new-business-product-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>