<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab14ebda-6876-4e30-adc5-7a9e21846b81" Alias="05.04.2023 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-03-30T12:50:49</CreateDate>
    <NodeName Default="05.04.2023 Bespoke New Business Literature Sourcing" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ylvbjk1w/05-04-2023-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>