<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e74349c-fd3a-4442-9430-a5eec9267660" Alias="05.05.2022 Bespoke Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-27T10:05:15</CreateDate>
    <NodeName Default="05.05.2022 Bespoke Literature" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/qq0hihr0/05-05-2022-bespoke-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>