<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b5b3235-9a0e-438f-880c-16d8960b4602" Alias="05.07.24 Bespoke BOI EC Product Switch Withdrawals Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchWithdrawalsSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-07-03T14:11:23</CreateDate>
    <NodeName Default="05.07.24 Bespoke BOI EC Product Switch Withdrawals Sourcing" />
    <SortOrder>199</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/fuzfw0yo/05-07-24-bespoke-boi-ec-product-switch-withdrawals-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>