<?xml version="1.0" encoding="utf-8"?>
<Media Key="cce69686-3fff-4bdb-96a6-579ea9934533" Alias="06.04.2022 Bespoke Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-04T14:56:31</CreateDate>
    <NodeName Default="06.04.2022 Bespoke Literature" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/t0lonth5/06-04-2022-bespoke-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>