<?xml version="1.0" encoding="utf-8"?>
<Media Key="e58ff4df-6536-4f14-a0b3-9c1aa36cae38" Alias="06.09.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-04T11:14:32</CreateDate>
    <NodeName Default="06.09.2023 Bespoke New Business Literature" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/y50i5zjw/06-09-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>