<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a88a0bd-b7ad-4af0-9981-5fbcb8aaf360" Alias="06.12.2022 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-12-05T10:58:58</CreateDate>
    <NodeName Default="06.12.2022 Bespoke New Business Literature Sourcing" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/uwqiqcvn/06-12-2022-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>