<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddcfd97a-fb32-4acb-b938-095dee8fb8ad" Alias="07.06.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-06-05T13:40:24</CreateDate>
    <NodeName Default="07.06.2024 Bespoke New Business Literature" />
    <SortOrder>191</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/mlmn5xjs/07-06-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>