<?xml version="1.0" encoding="utf-8"?>
<Media Key="07e2b0cc-df1a-4cbe-a27a-8ed6341e82ad" Alias="07.09.22 BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-20T14:03:03</CreateDate>
    <NodeName Default="07.09.22 BOI EC Product Switch Withdrawals" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/0syoeby0/07-09-22-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>