<?xml version="1.0" encoding="utf-8"?>
<Media Key="60aca939-aa68-4f9a-9f91-d41b6306f4a0" Alias="07.10.22 BOI4I New Business Literature (Sourcing)" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-05T16:13:57</CreateDate>
    <NodeName Default="07.10.22 BOI4I New Business Literature (Sourcing)" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/egulyydi/07-10-22-boi4i-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>