<?xml version="1.0" encoding="utf-8"?>
<Media Key="fffe0a6e-f0d1-495c-9ea5-8bbab7960425" Alias="07.10.22 BOI EC Product Switch Range" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchRange</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-20T14:02:24</CreateDate>
    <NodeName Default="07.10.22 BOI EC Product Switch Range" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/oyfp354r/07-10-22-boi-ec-product-switch-range.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>