<?xml version="1.0" encoding="utf-8"?>
<Media Key="756238d5-8371-44d3-8ecc-6e0b8dc52ce0" Alias="07.10.2022 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-05T16:02:48</CreateDate>
    <NodeName Default="07.10.2022 Bespoke New Business Literature Sourcing" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/zu2ge3lr/07-10-2022-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>