<?xml version="1.0" encoding="utf-8"?>
<Media Key="f97e073c-b683-4912-a328-961b1d62854e" Alias="08.03.24 BOI EC Product Switch Range Withdrawals Broker Comms" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchRangeWithdrawalsBrokerComms</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-03-06T15:36:37</CreateDate>
    <NodeName Default="08.03.24 BOI EC Product Switch Range Withdrawals Broker Comms" />
    <SortOrder>171</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/eqdh34md/08-03-24-boi-ec-product-switch-range-withdrawals-broker-comms.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>