<?xml version="1.0" encoding="utf-8"?>
<Media Key="75832901-e7c5-4f6e-9903-c49b18d32657" Alias="08.03.24 Bespoke BOI EC Product Switch Range Withdrawals Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchRangeWithdrawalsSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-03-06T15:47:24</CreateDate>
    <NodeName Default="08.03.24 Bespoke BOI EC Product Switch Range Withdrawals Sourcing" />
    <SortOrder>173</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/deujg3of/08-03-24-bespoke-boi-ec-product-switch-range-withdrawals-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>