<?xml version="1.0" encoding="utf-8"?>
<Media Key="752b0be3-d6ae-42d0-8ca1-1639e9841b14" Alias="08.09.22 Bespoke Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-09-06T10:50:45</CreateDate>
    <NodeName Default="08.09.22 Bespoke Literature Sourcing" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/5mfdw3no/08-09-22-bespoke-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>