<?xml version="1.0" encoding="utf-8"?>
<Media Key="336a81da-7f31-4361-9175-7211b066e1ea" Alias="09.01.24 BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-08T09:46:33</CreateDate>
    <NodeName Default="09.01.24 BOI EC Product Switch Withdrawals" />
    <SortOrder>149</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ykahumzr/09-01-24-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>