<?xml version="1.0" encoding="utf-8"?>
<Media Key="d33b540f-2ba0-421b-82a3-28788045a6ad" Alias="10.10.22 BOI4I New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-07T11:40:14</CreateDate>
    <NodeName Default="10.10.22 BOI4I New Business Literature Sourcing" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/c3kdxu3a/10-10-22-boi4i-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>