<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe04a7e0-315b-401f-ad4e-a94d6ff730e3" Alias="11.07.23 BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-13T09:52:58</CreateDate>
    <NodeName Default="11.07.23 BOI EC Product Switch Withdrawals" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/5ctbj5s1/11-07-23-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>