<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcc690ce-ab97-4c01-a5f2-6404ad3386d0" Alias="12.08.21 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-08-11T10:41:19</CreateDate>
    <NodeName Default="12.08.21 BOI4I New Business Literature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/00imnxex/12-08-21-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>