<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f4e1f42-7be1-459f-8c09-337f978cf689" Alias="13.10.22 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-12T10:25:17</CreateDate>
    <NodeName Default="13.10.22 BOI4I New Business Literature" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/lipf2p5b/13-10-22-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>