<?xml version="1.0" encoding="utf-8"?>
<Media Key="083c2f11-a300-485a-ad97-f616d5656019" Alias="14.02.2023 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-02-13T09:51:23</CreateDate>
    <NodeName Default="14.02.2023 Bespoke New Business Literature Sourcing" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/bexdycaa/14-02-2023-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>