<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f0fa219-6262-4cb9-8786-710f274b6be3" Alias="14.02.2023 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-02-13T09:51:44</CreateDate>
    <NodeName Default="14.02.2023 BOI4I New Business Literature" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/agra411c/14-02-2023-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>