<?xml version="1.0" encoding="utf-8"?>
<Media Key="598ad258-1a55-479b-90e9-d3ea805a153f" Alias="15.12.23 Bespoke BOI Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-13T15:09:45</CreateDate>
    <NodeName Default="15.12.23 Bespoke BOI Product Switch Withdrawals" />
    <SortOrder>146</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/idjiuwkv/15-12-23-bespoke-boi-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>