<?xml version="1.0" encoding="utf-8"?>
<Media Key="f481b544-522d-4174-a5cb-f51c85604817" Alias="15.12.23 BOI EC Product Switch Range Broker Comms" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchRangeBrokerComms</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-12-13T14:51:07</CreateDate>
    <NodeName Default="15.12.23 BOI EC Product Switch Range Broker Comms" />
    <SortOrder>143</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ls0jd3bn/15-12-23-boi-ec-product-switch-range-broker-comms.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>