<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ece78dd-567d-4aab-8218-dea26dcf2d7f" Alias="16.02.24 BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-02-15T11:53:43</CreateDate>
    <NodeName Default="16.02.24 BOI EC Product Switch Withdrawals" />
    <SortOrder>159</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/yv2m21t3/16-02-24-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>