<?xml version="1.0" encoding="utf-8"?>
<Media Key="346a2df7-9159-47d6-adfe-36119f6abcbd" Alias="16.03.2023 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-03-13T11:39:48</CreateDate>
    <NodeName Default="16.03.2023 Bespoke New Business Literature Sourcing" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/32whuncz/16-03-2023-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>