<?xml version="1.0" encoding="utf-8"?>
<Media Key="e07c8071-4126-4740-941b-9a97d1003838" Alias="16.04.24 Bespoke BOI EC Product Switch Withdrawals Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchWithdrawalsSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-04-15T11:04:20</CreateDate>
    <NodeName Default="16.04.24 Bespoke BOI EC Product Switch Withdrawals Sourcing" />
    <SortOrder>178</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ngahzybg/16-04-24-bespoke-boi-ec-product-switch-withdrawals-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>