<?xml version="1.0" encoding="utf-8"?>
<Media Key="7328e3ce-9888-4f4a-921e-e2d1cc61ec3d" Alias="16.04.24 BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-04-15T11:03:53</CreateDate>
    <NodeName Default="16.04.24 BOI EC Product Switch Withdrawals" />
    <SortOrder>176</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/01rdq22i/16-04-24-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>