<?xml version="1.0" encoding="utf-8"?>
<Media Key="aefeecd4-a564-4703-a6f8-c14ecce2d707" Alias="16.04.24 Bespoke BOI EC Product Switch Range Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchRangeSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-04-15T11:04:13</CreateDate>
    <NodeName Default="16.04.24 Bespoke BOI EC Product Switch Range Sourcing" />
    <SortOrder>177</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ztwp3lte/16-04-24-bespoke-boi-ec-product-switch-range-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>