<?xml version="1.0" encoding="utf-8"?>
<Media Key="dac7a28b-e1fa-4d9a-b988-96631e75986a" Alias="16.05.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-05-14T20:02:13</CreateDate>
    <NodeName Default="16.05.2024 Bespoke New Business Literature" />
    <SortOrder>188</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/sormpwx0/16-05-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>