<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfd487b7-cc0f-46db-8bb3-3c16c2c8edbc" Alias="16.08.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-15T10:07:00</CreateDate>
    <NodeName Default="16.08.2023 Bespoke New Business Literature" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/v4dnjxyp/16-08-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>