<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a3a0b59-ddd6-49bc-a15e-39034e0c6127" Alias="19.07.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-17T11:33:52</CreateDate>
    <NodeName Default="19.07.2023 Bespoke New Business Literature" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/iefdusww/19-07-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>