<?xml version="1.0" encoding="utf-8"?>
<Media Key="559b17af-b5bb-43ce-b46d-07fcbeb4cec7" Alias="19.07.23 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-17T12:22:39</CreateDate>
    <NodeName Default="19.07.23 BOI4I New Business Literature" />
    <SortOrder>112</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/w2ljwvn1/19-07-23-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>