<?xml version="1.0" encoding="utf-8"?>
<Media Key="44a3c00d-2c20-4387-ab49-4a5b502c76c3" Alias="20.06.23 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-16T16:38:18</CreateDate>
    <NodeName Default="20.06.23 BOI4I New Business Literature" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/cxakgrba/20-06-23-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>