<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe2f3322-824c-40ed-9989-38e652acca52" Alias="20211007 093506000 Ios" Level="3">
  <Info>
    <Parent Key="e352f780-0f3b-46ec-b8ee-6d41359f98d1">Internal BOI videos</Parent>
    <Path>/Videos/InternalBOIVideos/Ios</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-10-11T12:32:09</CreateDate>
    <NodeName Default="20211007 093506000 Ios" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/hizd55sm/20211007_093506000_ios.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>