<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c7426b6-0fb3-4566-9665-36b1e56f2738" Alias="21.02.24 Bespoke BOI Product Switch Range Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIProductSwitchRangeSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-02-19T10:45:21</CreateDate>
    <NodeName Default="21.02.24 Bespoke BOI Product Switch Range Sourcing" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/vythi5ft/21-02-24-bespoke-boi-product-switch-range-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>