<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bcce9ee-3bdc-4351-b94b-d7b6f6e62b20" Alias="21.11.23 Bespoke BOI EC Product Switch Withdrawals" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeBOIECProductSwitchWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-17T09:59:15</CreateDate>
    <NodeName Default="21.11.23 Bespoke BOI EC Product Switch Withdrawals" />
    <SortOrder>137</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/41unzg42/21-11-23-bespoke-boi-ec-product-switch-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>