<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e3a7c2a-c91b-43b5-9fc5-9b6ec2173cbe" Alias="21.11.2022 BOI4I New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-11-18T08:10:20</CreateDate>
    <NodeName Default="21.11.2022 BOI4I New Business Literature Sourcing" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/gj4dvhq1/21-11-2022-boi4i-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>