<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b377f94-b319-409a-96cf-653b7f6500ed" Alias="21.11.23 BOI EC Product Switch Range" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchRange</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-17T09:45:12</CreateDate>
    <NodeName Default="21.11.23 BOI EC Product Switch Range" />
    <SortOrder>134</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/rr5do0yz/21-11-23-boi-ec-product-switch-range.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>