<?xml version="1.0" encoding="utf-8"?>
<Media Key="13a38eb7-1ff2-4ba4-8175-39a12b81fa59" Alias="23.01.2023 Bespoke New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-01-19T13:37:57</CreateDate>
    <NodeName Default="23.01.2023 Bespoke New Business Literature Sourcing" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/v4hkge5s/23-01-2023-bespoke-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>