<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aeb7c54-7f33-433c-97e8-bc9beb450572" Alias="23.04.2024 BOI4I New Business Product Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessProductLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-04-19T14:26:33</CreateDate>
    <NodeName Default="23.04.2024 BOI4I New Business Product Literature" />
    <SortOrder>182</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/jr4ow0rt/23-04-2024-boi4i-new-business-product-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>