<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2d9c613-6587-45b5-81b7-83e66a053eab" Alias="25.02.22 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-02-23T14:37:08</CreateDate>
    <NodeName Default="25.02.22 BOI4I New Business Literature" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/bpdntyuh/25-02-22-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>