<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc3bd4ee-cd66-469e-93ee-a2cc30fcbdae" Alias="25.02.2021 Bespoke Withdrawals" Level="3">
  <Info>
    <Parent Key="6b6c453a-d7da-4002-a176-1719e0e1c4f5">Withdrawal Literature</Parent>
    <Path>/PDFs/WithdrawalLiterature/BespokeWithdrawals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-02-23T14:44:26</CreateDate>
    <NodeName Default="25.02.2021 Bespoke Withdrawals" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/41kdxpdg/25-02-2021-bespoke-withdrawals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>