<?xml version="1.0" encoding="utf-8"?>
<Media Key="50f4676a-41bf-4c29-b6cc-44e325bdb937" Alias="25.08.22 Bespoke Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-08-23T11:21:41</CreateDate>
    <NodeName Default="25.08.22 Bespoke Literature Sourcing" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ojtpiuf5/25-08-22-bespoke-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>