<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c927fc2-1700-4284-9125-320ec884a15e" Alias="25.10.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-23T11:56:13</CreateDate>
    <NodeName Default="25.10.2023 Bespoke New Business Literature" />
    <SortOrder>129</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/1j5jepaa/25-10-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>