<?xml version="1.0" encoding="utf-8"?>
<Media Key="d15361b0-89d2-451a-a383-ad8a026479d0" Alias="26.09.2023 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-22T15:34:02</CreateDate>
    <NodeName Default="26.09.2023 BOI4I New Business Literature" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/vbqfhuos/26-09-2023-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>