<?xml version="1.0" encoding="utf-8"?>
<Media Key="66a20a84-17f4-41f5-a949-bb01d740c7fe" Alias="28.02.2024 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-02-26T10:24:28</CreateDate>
    <NodeName Default="28.02.2024 Bespoke New Business Literature" />
    <SortOrder>166</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/tqfkezxu/28-02-2024-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>