<?xml version="1.0" encoding="utf-8"?>
<Media Key="d268cdf3-2169-4c4d-900e-dc3324c890f5" Alias="28.07.2021 Bespoke Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-07-26T11:27:53</CreateDate>
    <NodeName Default="28.07.2021 Bespoke Literature" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/3pghrutj/28-07-2021-bespoke-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>