<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d924940-e6cf-4795-9c5b-e081b998680c" Alias="29.09.2023 Bespoke New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-27T11:51:35</CreateDate>
    <NodeName Default="29.09.2023 Bespoke New Business Literature" />
    <SortOrder>123</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/lbejedop/29-09-2023-bespoke-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>