<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf1881fd-5aba-484e-9f56-8352b9bdea32" Alias="30.04.24 BOI EC Product Switch Withdrawals Broker" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOIECProductSwitchWithdrawalsBroker</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-04-29T10:49:05</CreateDate>
    <NodeName Default="30.04.24 BOI EC Product Switch Withdrawals Broker" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/2wabrp30/30-04-24-boi-ec-product-switch-withdrawals-broker.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>