<?xml version="1.0" encoding="utf-8"?>
<Media Key="4535871a-632a-4993-87b6-65880ffa19ee" Alias="30.06.23 BOI4I New Business Literature" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-27T09:28:27</CreateDate>
    <NodeName Default="30.06.23 BOI4I New Business Literature" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/akddkrjk/30-06-23-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>