<?xml version="1.0" encoding="utf-8"?>
<Media Key="14164017-7842-43b0-b136-7d83c5cc7ede" Alias="30.06.23 BOI4I New Business Literature (2)" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-28T16:30:51</CreateDate>
    <NodeName Default="30.06.23 BOI4I New Business Literature (2)" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/b3abmfcc/30-06-23-boi4i-new-business-literature.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>