<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe01595a-5b3d-4b9c-8d9c-da268814d77e" Alias="31.03.2023 BOI4I New Business Literature Sourcing" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiteratureSourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-03-30T10:37:31</CreateDate>
    <NodeName Default="31.03.2023 BOI4I New Business Literature Sourcing" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ijmbd5r3/31-03-2023-boi4i-new-business-literature-sourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>