<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3e95abe-2175-4474-9a92-56d2202f0768" Alias="5 Star award icon" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/StarAwardIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-16T08:55:24</CreateDate>
    <NodeName Default="5 Star award icon" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xbnotu1v/star-award-icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>