<?xml version="1.0" encoding="utf-8"?>
<Media Key="32637cf9-2e42-4f8c-a3c4-9cddebe502ac" Alias="5X Income Vid" Level="2">
  <Info>
    <Parent Key="d302f421-7205-4c0d-8151-b64a545543f5">Videos</Parent>
    <Path>/Videos/XIncomeVid</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-21T12:04:00</CreateDate>
    <NodeName Default="5X Income Vid" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/2f4ggmsc/5x-income-vid.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>