<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0cca976-6269-448b-8c7c-b628478b4e4e" Alias="Bespoke Green New Build - Emma Higginson" Level="3">
  <Info>
    <Parent Key="e8131fcb-6634-4ea9-92b8-61743e261146">Bespoke videos</Parent>
    <Path>/Videos/BespokeVideos/BespokeGreenNewBuildEmmaHigginson</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-09-14T20:20:34</CreateDate>
    <NodeName Default="Bespoke Green New Build - Emma Higginson" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/n0unz2dj/bespoke-green-nb-eh.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>