<?xml version="1.0" encoding="utf-8"?>
<Media Key="331b7eb3-b66c-4bd9-a8c0-22cacec91ce8" Alias="Bespoke Owner Occupier Mortgage Product Range (Bank of Ireland UK)" Level="3">
  <Info>
    <Parent Key="ef098d69-2118-48cb-a478-4e5ccf0096f5">Consumer Duty Product Information Sheets</Parent>
    <Path>/PDFs/ConsumerDutyProductInformationSheets/BespokeOwnerOccupierMortgageProductRangeBankOfIrelandUK</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-28T09:56:56</CreateDate>
    <NodeName Default="Bespoke Owner Occupier Mortgage Product Range (Bank of Ireland UK)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/vn5bwm1m/bespoke-owner-occupier-mortgage-product-range-bank-of-ireland-uk.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>