<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fd384f2-b975-4292-8bfb-a351ea40f5e9" Alias="Bespoke 4X Icons" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/Bespoke4XIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-30T09:07:33</CreateDate>
    <NodeName Default="Bespoke 4X Icons" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[Image of 4 Bespoke Icons for Holistic Assessment, Contractors, Self Employed and Employed]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4scngt1v/bespoke-4x-icons.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>