<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dc1858a-be9f-47a9-ae6e-d5910f592433" Alias="Bespoke New Business Literature 14.09.2022" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BespokeNewBusinessLiterature14092022</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-09-12T16:30:37</CreateDate>
    <NodeName Default="Bespoke New Business Literature 14.09.2022" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/skcnclm5/bespoke-new-business-literature-14-09-2022.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>