<?xml version="1.0" encoding="utf-8"?>
<Media Key="36191f57-76dd-4c26-9007-5bf88dcde40c" Alias="BOI Website 8006 Functionalspecification" Level="2">
  <Info>
    <Parent Key="93add938-432e-44dd-974b-369675d33fca">Documents</Parent>
    <Path>/Documents/BOIWebsite8006Functionalspecification</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-11-25T14:29:42</CreateDate>
    <NodeName Default="BOI Website 8006 Functionalspecification" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/j2pbsnw3/boi_website_8006_functionalspecification.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>