<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c2bbbc8-59a2-4655-9435-57b985d8817d" Alias="BOI Loans Application Customer Journey 720P" Level="3">
  <Info>
    <Parent Key="e352f780-0f3b-46ec-b8ee-6d41359f98d1">Internal BOI videos</Parent>
    <Path>/Videos/InternalBOIVideos/BOILoansApplicationCustomerJourney720P</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-03-15T10:46:58</CreateDate>
    <NodeName Default="BOI Loans Application Customer Journey 720P" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/0c3dwxfc/boi-loans-application-customer-journey-720p.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>