<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc586b81-062c-4ee1-9ca8-2112056d8d3c" Alias="BOI4I New Business Literature 24.05" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature2405</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-23T10:37:31</CreateDate>
    <NodeName Default="BOI4I New Business Literature 24.05" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/tfvfrxbm/boi4i-new-business-literature-24-05.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>