<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4651e3-5515-4455-af01-649f3006604b" Alias="BOI4I New Business Literature 17.05" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature1705</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-16T11:29:50</CreateDate>
    <NodeName Default="BOI4I New Business Literature 17.05" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/5nifmgyv/boi4i-new-business-literature-17-05.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>