<?xml version="1.0" encoding="utf-8"?>
<Media Key="16b7d61d-7f21-4f55-ac1e-8a2058609e8c" Alias="BOI4I New Business Literature 24.06" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature2406</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-06-21T11:55:55</CreateDate>
    <NodeName Default="BOI4I New Business Literature 24.06" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/axllofrb/boi4i-new-business-literature-24-06.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>