<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb7a74f3-c41f-40e0-9dab-23f3e724d12b" Alias="BOI4I New Business Literature 14.07.22" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature140722</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-07-12T13:44:20</CreateDate>
    <NodeName Default="BOI4I New Business Literature 14.07.22" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/3n0hv4y5/boi4i-new-business-literature-14-07-22.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>