<?xml version="1.0" encoding="utf-8"?>
<Media Key="d054826e-8453-4ce4-9fe4-6d83e932f515" Alias="BOI4I New Business Literature 16.06" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessLiterature1606</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-06-10T11:23:00</CreateDate>
    <NodeName Default="BOI4I New Business Literature 16.06" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/o0bfjuct/boi4i-new-business-literature-16-06.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>