<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aa0019d-f3d6-40bf-9ca9-60377584ea59" Alias="BOI4I New Business Withdrawal Literature 12.05" Level="2">
  <Info>
    <Parent Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276">*Product only* New rates PDFs</Parent>
    <Path>/starProductOnlystarNewRatesPDFs/BOI4INewBusinessWithdrawalLiterature1205</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-11T13:26:39</CreateDate>
    <NodeName Default="BOI4I New Business Withdrawal Literature 12.05" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/quala4ww/boi4i-new-business-withdrawal-literature-12-05.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>