<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dd453a8-2b73-48d0-b8c4-315e4681968c" Alias="BTL ICR Video Andy Cooke" Level="2">
  <Info>
    <Parent Key="d302f421-7205-4c0d-8151-b64a545543f5">Videos</Parent>
    <Path>/Videos/BTLICRVideoAndyCooke</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-01T12:16:47</CreateDate>
    <NodeName Default="BTL ICR Video Andy Cooke" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/wbjnitlt/j048-andy-cooke-icr.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>