<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b0b0581-0e50-4352-aa7d-b6fd6118106c" Alias="Cases In Progress (Button)" Level="2">
  <Info>
    <Parent Key="21a7cb16-30e4-4ca5-a239-3d46c3cf38fb">Image Buttons</Parent>
    <Path>/ImageButtons/CasesInProgressButton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-03T16:06:57</CreateDate>
    <NodeName Default="Cases In Progress (Button)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q2cbwo0q/cases-in-progress-button.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>