<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eafe622-0f7f-4814-aa79-7d0885319fd4" Alias="CD" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-31T12:04:35</CreateDate>
    <NodeName Default="CD" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ettk41t5/cd.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>