<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0789614-7312-47da-9721-37bffc6912f4" Alias="CD2" Level="3">
  <Info>
    <Parent Key="8ab6646e-cd51-458e-8a81-d216746aa0c5">Hero banner images</Parent>
    <Path>/Images/HeroBannerImages/CD2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-31T15:30:11</CreateDate>
    <NodeName Default="CD2" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cklhruas/cd2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>