<?xml version="1.0" encoding="utf-8"?>
<Media Key="c56e490a-7694-4bab-95b9-95cbd52b444a" Alias="Cliffs" Level="2">
  <Info>
    <Parent Key="5cf55b00-ba06-4059-b8b5-95e6bca066ac">Loans &amp; Overdraft calculators - FAO DCA</Parent>
    <Path>/LoansOverdraftCalculatorsFAODCA/Cliffs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-11T10:22:14</CreateDate>
    <NodeName Default="Cliffs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/breh3rmu/cliffs.jpg",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>