<?xml version="1.0" encoding="utf-8"?>
<Media Key="19b63d0d-9a01-4d2a-9b84-2b87f613b020" Alias="Compass" Level="3">
  <Info>
    <Parent Key="8ab6646e-cd51-458e-8a81-d216746aa0c5">Hero banner images</Parent>
    <Path>/Images/HeroBannerImages/Compass</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-04T15:27:32</CreateDate>
    <NodeName Default="Compass" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bm4lmgib/compass.jpg",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>