<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef098d69-2118-48cb-a478-4e5ccf0096f5" Alias="Consumer Duty Product Information Sheets" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/ConsumerDutyProductInformationSheets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-28T09:45:50</CreateDate>
    <NodeName Default="Consumer Duty Product Information Sheets" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>