<?xml version="1.0" encoding="utf-8"?>
<Media Key="afee7d57-553f-4e3f-958b-1b5ff66fc8ff" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="3369021c-6b58-4d20-b63f-734c7611fa55">uMarketingSuite</Parent>
    <Path>/uMarketingSuite/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-11-25T13:07:39</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>