<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e29796-8573-4fd5-a1f8-9315ad0d4c09" Alias="Documents We'll Need" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/DocumentsWellNeed</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-03-31T10:00:38</CreateDate>
    <NodeName Default="Documents We'll Need" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/r0lpfe1t/document-s-we-ll-need.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>