<?xml version="1.0" encoding="utf-8"?>
<Media Key="84fe7ffc-8ac2-4da6-b483-714f36c9ddf4" Alias="Emily Pearson" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/EmilyPearson</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-18T15:23:24</CreateDate>
    <NodeName Default="Emily Pearson" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81
    },
    {
      "alias": "BDMImage",
      "width": 100,
      "height": 100
    },
    {
      "alias": "ListingImage",
      "width": 370,
      "height": 210
    }
  ],
  "focalPoint": {
    "left": 0.5025597040928462,
    "top": 0.38724124287602385
  },
  "src": "/media/5j5p3bgc/emily-pearson-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>