<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4792b94-1fb8-4202-8586-90be10a98343" Alias="Existing Customers (Button)" Level="2">
  <Info>
    <Parent Key="21a7cb16-30e4-4ca5-a239-3d46c3cf38fb">Image Buttons</Parent>
    <Path>/ImageButtons/ExistingCustomersButton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-03T16:06:58</CreateDate>
    <NodeName Default="Existing Customers (Button)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sivhtvfy/existing-customers-button.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>