<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d16bffa-b286-4c43-bfd5-e19cc652f3cc" Alias="File Sample 150Kb" Level="2">
  <Info>
    <Parent Key="25598e6f-b4a1-42f8-8e5a-93e2e9394297">usync testing</Parent>
    <Path>/usyncTesting/FileSample150Kb</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-06T23:25:16</CreateDate>
    <NodeName Default="File Sample 150Kb" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/2k5bmpmg/file-sample_150kb.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>