<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f8bf440-e072-49df-8ee4-a925071aa03a" Alias="Finalproductcsvupload" Level="2">
  <Info>
    <Parent Key="93add938-432e-44dd-974b-369675d33fca">Documents</Parent>
    <Path>/Documents/Finalproductcsvupload</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-17T10:29:09</CreateDate>
    <NodeName Default="Finalproductcsvupload" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/ld0iw51s/finalproductcsvupload.csv]]></Value>
    </umbracoFile>
  </Properties>
</Media>