<?xml version="1.0" encoding="utf-8"?>
<Media Key="0591d013-bc03-45ee-8264-f0f5a48a46d9" Alias="First Start Customer Flyer (2)" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/FirstStartCustomerFlyer2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-12-03T13:39:24</CreateDate>
    <NodeName Default="First Start Customer Flyer (2)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/bpijcbid/first-start-customer-flyer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>