<?xml version="1.0" encoding="utf-8"?>
<Media Key="af3f5a16-6c79-4040-bf0d-a998d87418ea" Alias="FT 5 Star Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FT5StarLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-20T14:41:54</CreateDate>
    <NodeName Default="FT 5 Star Logo" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cbnd5l1z/ft-5-star-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>