<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecbe5a03-2363-4089-a47a-c461509b0e20" Alias="FT Adviser Award - 5 stars" Level="2">
  <Info>
    <Parent Key="80ee4df8-532e-4a52-a10c-3a4a8c218ff2">Images</Parent>
    <Path>/Images/FTAdviserAward5Stars</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-16T14:37:03</CreateDate>
    <NodeName Default="FT Adviser Award - 5 stars" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/avnl31dd/5-star-award.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>