<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6aa6bf9-44b9-4ef0-b5ca-02f841826d69" Alias="Gregcunnington" Level="3">
  <Info>
    <Parent Key="9078ea6e-ea98-49cf-8a32-278242d64192">Internal videos</Parent>
    <Path>/Videos/InternalVideos/Gregcunnington</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-12T12:36:47</CreateDate>
    <NodeName Default="Gregcunnington" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/53vlvnvz/gregcunnington.jpg",
  "focalPoint": {
    "left": 0.46444646708975973,
    "top": 0.2680697729511365
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    },
    {
      "alias": "BDMImage",
      "width": 100,
      "height": 100,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>