<?xml version="1.0" encoding="utf-8"?>
<Media Key="a119a7a6-5556-456f-9635-a7b3db4fa496" Alias="Hayley" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/Hayley</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-14T08:43:22</CreateDate>
    <NodeName Default="Hayley" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uctbtikw/headshot-hayley.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>