<?xml version="1.0" encoding="utf-8"?>
<Media Key="78cf0ad1-5439-43c7-842b-439bace0b0b4" Alias="Helen Norton" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/HelenNorton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-18T15:23:29</CreateDate>
    <NodeName Default="Helen Norton" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/02fm44bz/helen-norton.jpg",
  "focalPoint": {
    "left": 0.5088418583840469,
    "top": 0.35694179237015156
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>