<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ab6646e-cd51-458e-8a81-d216746aa0c5" Alias="Hero banner images" Level="2">
  <Info>
    <Parent Key="80ee4df8-532e-4a52-a10c-3a4a8c218ff2">Images</Parent>
    <Path>/Images/HeroBannerImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-28T10:11:20</CreateDate>
    <NodeName Default="Hero banner images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>