<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddf89e84-4c38-48c2-993e-bffe0ebbe244" Alias="How To Submit A Product Transfer" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/HowToSubmitAProductTransfer</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-01-08T10:41:35</CreateDate>
    <NodeName Default="How To Submit A Product Transfer" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/tspprxjy/how-to-submit-a-product-transfer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>