<?xml version="1.0" encoding="utf-8"?>
<Media Key="c12e99ef-1406-4d93-a854-bb454cd7111e" Alias="How To Link Your Case Administrators" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/HowToLinkYourCaseAdministrators</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-05T11:47:22</CreateDate>
    <NodeName Default="How To Link Your Case Administrators" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/44md3qig/how-to-link-your-case-administrators.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>