<?xml version="1.0" encoding="utf-8"?>
<Media Key="44ed2811-195a-43cf-964f-d6587be0f043" Alias="Icon Laptop black" Level="2">
  <Info>
    <Parent Key="061f7a01-8a6c-4c13-a70b-60cee03e016b">Placeholder Icons</Parent>
    <Path>/PlaceholderIcons/IconLaptopBlack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-11T02:48:18</CreateDate>
    <NodeName Default="Icon Laptop black" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c2uo0rc0/icon-placeholder_9-3x.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>