<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d11df3e-3e99-4e20-a016-6de768c8065a" Alias="Icon Application To Offer Blue@3X" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconApplicationToOfferBlue3X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T16:24:09</CreateDate>
    <NodeName Default="Icon Application To Offer Blue@3X" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hdpbc1mz/icon-application-to-offer-blue-3x.png",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>