<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7ac551-26e5-4fff-a65a-cc45fe7c2733" Alias="Icon Tailored" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IconTailored</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T16:40:42</CreateDate>
    <NodeName Default="Icon Tailored" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k5chug5f/icon_tailored.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>