<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d4a87c4-d014-4589-8e7c-b3a0668308e4" Alias="Icon Solicitor Search@3X" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconSolicitorSearch3X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T16:24:24</CreateDate>
    <NodeName Default="Icon Solicitor Search@3X" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81
    },
    {
      "alias": "BDMImage",
      "width": 100,
      "height": 100
    }
  ],
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/ykdfu1iu/grey-square-blank-tbdm-bdm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>