<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee63e15-8c19-4ee7-897b-81e8257c9052" Alias="Icon Affordability Calculator Blue@3X" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconAffordabilityCalculatorBlue3X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T16:24:08</CreateDate>
    <NodeName Default="Icon Affordability Calculator Blue@3X" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cm5on1qz/icon-affordability-calculator-blue-3x.png",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>