<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6ca02af-271c-4768-a86b-1721f5742414" Alias="Icon product transfer black" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconProductTransferBlack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-25T22:23:02</CreateDate>
    <NodeName Default="Icon product transfer black" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vebmv3q2/icon-placeholder_4-3x.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>