<?xml version="1.0" encoding="utf-8"?>
<Media Key="db090254-9bd7-472d-9b1e-dc6a77e11a56" Alias="Icon Rates" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IconRates</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T16:40:46</CreateDate>
    <NodeName Default="Icon Rates" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kibatw4x/icon_rates.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>