<?xml version="1.0" encoding="utf-8"?>
<Media Key="08f8cb32-3648-4ce9-8ace-d148477454d7" Alias="Icon Bdm Finder Blue 3X" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconBdmFinderBlue3X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T16:24:11</CreateDate>
    <NodeName Default="Icon Bdm Finder Blue 3X" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gtfpqcci/icon-bdm-finder-blue-3x.png",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>