<?xml version="1.0" encoding="utf-8"?>
<Media Key="c21249d6-ddce-4b10-92c6-b9b85648db71" Alias="Icon Solicitor Search White@3X" Level="2">
  <Info>
    <Parent Key="352a4cb0-2cc1-4b94-8d5a-b6b251f62c38">Icons</Parent>
    <Path>/Icons/IconSolicitorSearchWhite3X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T16:24:25</CreateDate>
    <NodeName Default="Icon Solicitor Search White@3X" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0bebfqwo/icon-solicitor-search-white-3x.png",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>