<?xml version="1.0" encoding="utf-8"?>
<Media Key="47d9f78c-d96e-4b3d-bf32-7afa95bfcaa1" Alias="Icon Help" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IconHelp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-10T15:57:02</CreateDate>
    <NodeName Default="Icon Help" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rl1nsr1o/icon_help.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>