<?xml version="1.0" encoding="utf-8"?>
<Media Key="deb7ee88-9b5d-452b-8e27-1ddf638a01d4" Alias="Illustration Laptop" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IllustrationLaptop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T12:53:50</CreateDate>
    <NodeName Default="Illustration Laptop" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r1xlpxs3/illustration_laptop.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>