<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3f68172-6a0d-4a36-a05c-21ab6856c386" Alias="Illustration Green Home" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IllustrationGreenHome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T12:53:47</CreateDate>
    <NodeName Default="Illustration Green Home" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/osapniyn/illustration_green-home.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>