<?xml version="1.0" encoding="utf-8"?>
<Media Key="410997e0-55ad-4c1d-980e-ad91f1b496f1" Alias="Illustration Paint Roller" Level="2">
  <Info>
    <Parent Key="2ab71976-a331-49ff-a9ab-516a962282a7">New brand icons</Parent>
    <Path>/NewBrandIcons/IllustrationPaintRoller</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T12:53:45</CreateDate>
    <NodeName Default="Illustration Paint Roller" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/20lbsqnn/illustration_paint-roller.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>