<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ee4df8-532e-4a52-a10c-3a4a8c218ff2" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-23T16:58:58</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>