<?xml version="1.0" encoding="utf-8"?>
<Media Key="21a7cb16-30e4-4ca5-a239-3d46c3cf38fb" Alias="Image Buttons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageButtons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-03T16:05:55</CreateDate>
    <NodeName Default="Image Buttons" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>