<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb6a99f-bdfa-4fbb-8dff-8eaefdbbc3d8" Alias="Image 2020 11 11 12 26 56 337" Level="2">
  <Info>
    <Parent Key="25598e6f-b4a1-42f8-8e5a-93e2e9394297">usync testing</Parent>
    <Path>/usyncTesting/Image20201111122656337</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-06T23:25:17</CreateDate>
    <NodeName Default="Image 2020 11 11 12 26 56 337" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgulnxh0/image-2020-11-11-12-26-56-337.png",
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>