<?xml version="1.0" encoding="utf-8"?>
<Media Key="1804067c-ea64-4f63-9866-ad8f26dff97a" Alias="Income Validation Certificate for Barristers" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/IncomeValidationCertificateForBarristers</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-01-31T15:24:54</CreateDate>
    <NodeName Default="Income Validation Certificate for Barristers" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/mqdaigde/boiuk_barrister-cert-v2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>