<?xml version="1.0" encoding="utf-8"?>
<Media Key="2941bbd1-a08d-4348-92a8-bcb116baa8f2" Alias="J064e First Start Lauren2" Level="2">
  <Info>
    <Parent Key="d302f421-7205-4c0d-8151-b64a545543f5">Videos</Parent>
    <Path>/Videos/J064eFirstStartLauren2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-09-26T10:45:41</CreateDate>
    <NodeName Default="J064e First Start Lauren2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/zg3fckmn/j064e-first-start-lauren2.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>