<?xml version="1.0" encoding="utf-8"?>
<Media Key="daea8805-755a-4c7f-8d56-472308eb5e4a" Alias="Jason Fry" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/JasonFry</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-24T11:15:35</CreateDate>
    <NodeName Default="Jason Fry" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81
    },
    {
      "alias": "BDMImage",
      "width": 100,
      "height": 100
    },
    {
      "alias": "ListingImage",
      "width": 370,
      "height": 210
    }
  ],
  "focalPoint": {
    "left": 0.4930838502063166,
    "top": 0.29434472109631343
  },
  "src": "/media/aoeovws0/jason-fry.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>