<?xml version="1.0" encoding="utf-8"?>
<Media Key="94bf57ca-fbd4-4d14-9bdf-a70f7bdd7f28" Alias="Jo Morrey 2" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/JoMorrey2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-13T16:10:16</CreateDate>
    <NodeName Default="Jo Morrey 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zrll5fgu/jo-morrey.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>