<?xml version="1.0" encoding="utf-8"?>
<Media Key="e495a707-0c91-46c7-860b-98a4e27c948a" Alias="Karen Dunnings" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/KarenDunnings</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-18T15:22:57</CreateDate>
    <NodeName Default="Karen Dunnings" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/agtjlzer/karen-dunnings.jpg",
  "focalPoint": {
    "left": 0.4649761809371464,
    "top": 0.5043026674392155
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>