<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c5c8e61-ac6c-47d9-823f-e77620360af6" Alias="Legal Scales" Level="3">
  <Info>
    <Parent Key="8ab6646e-cd51-458e-8a81-d216746aa0c5">Hero banner images</Parent>
    <Path>/Images/HeroBannerImages/LegalScales</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-15T12:46:31</CreateDate>
    <NodeName Default="Legal Scales" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m4hfy5dm/legal-scales.jpg",
  "focalPoint": {
    "left": 0.1349239719107117,
    "top": 0.4774232592542783
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    },
    {
      "alias": "BDMImage",
      "width": 100,
      "height": 100,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>