<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb75137-f429-46a0-9aa6-217c0ddf6ad1" Alias="Man On Phone" Level="3">
  <Info>
    <Parent Key="8ab6646e-cd51-458e-8a81-d216746aa0c5">Hero banner images</Parent>
    <Path>/Images/HeroBannerImages/ManOnPhone</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-07T15:07:46</CreateDate>
    <NodeName Default="Man On Phone" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gfilopbj/man-on-phone.jpg",
  "focalPoint": {
    "left": 0.26611844317786365,
    "top": 0.14413014325282933
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>