<?xml version="1.0" encoding="utf-8"?>
<Media Key="4038f82a-fb93-4c22-97f6-994b51ef2417" Alias="Max Test" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/MaxTest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T15:39:11</CreateDate>
    <NodeName Default="Max Test" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ft2dqqet/y92xq1y5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>