<?xml version="1.0" encoding="utf-8"?>
<Media Key="71abb85f-ca0b-46ce-b747-c04f9032adf0" Alias="MSA 2022 Winner Banners 800Pxw X 133Pxh (3333Pxw X 554Pxh) 40" Level="2">
  <Info>
    <Parent Key="80ee4df8-532e-4a52-a10c-3a4a8c218ff2">Images</Parent>
    <Path>/Images/MSA2022WinnerBanners800PxwX133Pxh3333PxwX554Pxh40</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-14T11:41:44</CreateDate>
    <NodeName Default="MSA 2022 Winner Banners 800Pxw X 133Pxh (3333Pxw X 554Pxh) 40" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lg2kw2il/msa-2022-winner-banners-800pxw-x-133pxh-3333pxw-x-554pxh-_40.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>