<?xml version="1.0" encoding="utf-8"?>
<Media Key="630c9e44-7c88-4ed3-8743-611e67d6cb0d" Alias="NAM Complex Incomes" Level="2">
  <Info>
    <Parent Key="d302f421-7205-4c0d-8151-b64a545543f5">Videos</Parent>
    <Path>/Videos/NAMComplexIncomes</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-27T09:21:35</CreateDate>
    <NodeName Default="NAM Complex Incomes" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/lspayy2i/nam-complex-incomes.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>