<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed62e311-9623-42a0-8b82-c2a7a96a9bf5" Alias="New brand lifestyle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBrandLifestyle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-08T10:27:45</CreateDate>
    <NodeName Default="New brand lifestyle" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties />
</Media>