<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ab71976-a331-49ff-a9ab-516a962282a7" Alias="New brand icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBrandIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-24T12:53:06</CreateDate>
    <NodeName Default="New brand icons" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties />
</Media>