<?xml version="1.0" encoding="utf-8"?>
<Media Key="20561a99-c6d2-4a29-9a50-918cf752d3a6" Alias="Owner Occupier Legacy Mortgage Product Transfer Range (Bank of Ireland UK)" Level="3">
  <Info>
    <Parent Key="ef098d69-2118-48cb-a478-4e5ccf0096f5">Consumer Duty Product Information Sheets</Parent>
    <Path>/PDFs/ConsumerDutyProductInformationSheets/OwnerOccupierLegacyMortgageProductTransferRangeBankOfIrelandUK</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-28T09:58:24</CreateDate>
    <NodeName Default="Owner Occupier Legacy Mortgage Product Transfer Range (Bank of Ireland UK)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/qenfmigs/owner-occupier-legacy-mortgage-product-transfer-range-bank-of-ireland-uk.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>