<?xml version="1.0" encoding="utf-8"?>
<Media Key="5549b6cd-efc1-47ba-88a4-0df2398d0521" Alias="Owner Occupier Mortgage Existing Customer Product Range (Post Office Mortgages)" Level="3">
  <Info>
    <Parent Key="ef098d69-2118-48cb-a478-4e5ccf0096f5">Consumer Duty Product Information Sheets</Parent>
    <Path>/PDFs/ConsumerDutyProductInformationSheets/OwnerOccupierMortgageExistingCustomerProductRangePostOfficeMortgages</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-28T10:00:02</CreateDate>
    <NodeName Default="Owner Occupier Mortgage Existing Customer Product Range (Post Office Mortgages)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/0w1esvob/owner-occupier-mortgage-existing-customer-product-range-post-office.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>