<?xml version="1.0" encoding="utf-8"?>
<Media Key="072ae10d-3f12-4264-826e-eb420dc2611f" Alias="Payment Break End Process CB" Level="3">
  <Info>
    <Parent Key="e352f780-0f3b-46ec-b8ee-6d41359f98d1">Internal BOI videos</Parent>
    <Path>/Videos/InternalBOIVideos/PaymentBreakEndProcessCB</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-02-04T18:09:49</CreateDate>
    <NodeName Default="Payment Break End Process CB" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/cxqdubys/payment-break-end-process-cb.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>