<?xml version="1.0" encoding="utf-8"?>
<Media Key="f31765c8-bd54-41d9-a484-01e84a7f4dcb" Alias="Persona" Level="2">
  <Info>
    <Parent Key="3369021c-6b58-4d20-b63f-734c7611fa55">uMarketingSuite</Parent>
    <Path>/uMarketingSuite/Persona</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-11-25T13:07:39</CreateDate>
    <NodeName Default="Persona" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>