<?xml version="1.0" encoding="utf-8"?>
<Media Key="061f7a01-8a6c-4c13-a70b-60cee03e016b" Alias="Placeholder Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PlaceholderIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-18T14:35:06</CreateDate>
    <NodeName Default="Placeholder Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>