<?xml version="1.0" encoding="utf-8"?>
<Media Key="e08b1d7e-6398-4bee-8224-3391d9083e10" Alias="Post Office Further Advance Literature" Level="2">
  <Info>
    <Parent Key="3fbed6d4-81b2-4d8c-999a-d66ce1f83d14">PO4I EC docs</Parent>
    <Path>/PO4IECDocs/PostOfficeFurtherAdvanceLiterature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-08-17T09:19:24</CreateDate>
    <NodeName Default="Post Office Further Advance Literature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/myojxyey/23-04-24-po-further-advance-range.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>