<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f83e93f-d573-44b1-94e5-0129c70ab088" Alias="Product Transfer" Level="2">
  <Info>
    <Parent Key="d302f421-7205-4c0d-8151-b64a545543f5">Videos</Parent>
    <Path>/Videos/ProductTransfer</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-13T13:53:14</CreateDate>
    <NodeName Default="Product Transfer" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/e5ujgp1t/boi4i-product-transfers.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>