<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4c9d904-d7f1-46e6-a9b7-b9cff074f846" Alias="Product Transfer Hints &amp; Tips" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/ProductTransferHintsTips</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-27T16:26:44</CreateDate>
    <NodeName Default="Product Transfer Hints &amp; Tips" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/dtmntvhr/product-transfer-hints-tips.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>