<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fd59419-dc56-4ce3-99ab-edf74f5c6276" Alias="*Product only* New rates PDFs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/starProductOnlystarNewRatesPDFs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-05-26T16:54:23</CreateDate>
    <NodeName Default="*Product only* New rates PDFs" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties />
</Media>