<?xml version="1.0" encoding="utf-8"?>
<Media Key="37dbd64e-c4cf-42ec-8f7c-d43bee127177" Alias="Product Transfer Hints and Tips (1)" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/ProductTransferHintsAndTips1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-05T11:45:49</CreateDate>
    <NodeName Default="Product Transfer Hints and Tips (1)" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/k1lnwn4p/product-transfer-hints-and-tips.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>