<?xml version="1.0" encoding="utf-8"?>
<Media Key="f24905af-9bd7-4706-a104-fa8fe4f73d34" Alias="Register Now Button" Level="2">
  <Info>
    <Parent Key="21a7cb16-30e4-4ca5-a239-3d46c3cf38fb">Image Buttons</Parent>
    <Path>/ImageButtons/RegisterNowButton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T15:54:38</CreateDate>
    <NodeName Default="Register Now Button" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vecft2wx/register-now-button.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>