<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdf034bc-157b-4ac0-b824-816677be8a8a" Alias="Repaying Your Mortgage After Retirement" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/RepayingYourMortgageAfterRetirement</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-01-08T10:41:37</CreateDate>
    <NodeName Default="Repaying Your Mortgage After Retirement" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/uq0pbpl1/repaying-your-mortgage-after-retirement.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>