<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cfa4927-859b-4147-a80d-4bf6a0ae8f72" Alias="Self Employed Video Andy Cooke" Level="3">
  <Info>
    <Parent Key="e8131fcb-6634-4ea9-92b8-61743e261146">Bespoke videos</Parent>
    <Path>/Videos/BespokeVideos/SelfEmployedVideoAndyCooke</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-04-28T11:47:01</CreateDate>
    <NodeName Default="Self Employed Video Andy Cooke" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/h3epvde1/self-employed-video-andy-cooke.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>