<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae87950-fb68-4c7a-9566-e276437647b4" Alias="Standard Owner Occupier Mortgage Product Range (Bank of Ireland UK)" Level="3">
  <Info>
    <Parent Key="ef098d69-2118-48cb-a478-4e5ccf0096f5">Consumer Duty Product Information Sheets</Parent>
    <Path>/PDFs/ConsumerDutyProductInformationSheets/StandardOwnerOccupierMortgageProductRangeBankOfIrelandUK</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-04-28T09:56:22</CreateDate>
    <NodeName Default="Standard Owner Occupier Mortgage Product Range (Bank of Ireland UK)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/jb2prkti/standard-owner-occupier-mortgage-product-range-bank-of-ireland-uk.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>