<?xml version="1.0" encoding="utf-8"?>
<Media Key="d22d64f8-2cb8-4eba-976e-3865b0137a06" Alias="TEST" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TEST</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-07-08T16:42:13</CreateDate>
    <NodeName Default="TEST" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>