<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf1018c3-07b1-4c96-a6bd-c231a8462590" Alias="Thumbnail images" Level="2">
  <Info>
    <Parent Key="80ee4df8-532e-4a52-a10c-3a4a8c218ff2">Images</Parent>
    <Path>/Images/ThumbnailImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-28T10:15:57</CreateDate>
    <NodeName Default="Thumbnail images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>