<?xml version="1.0" encoding="utf-8"?>
<Media Key="9680621d-471f-4380-8035-68717958d84c" Alias="Top Tips For Uploading Documents" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/TopTipsForUploadingDocuments</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-02-04T09:16:57</CreateDate>
    <NodeName Default="Top Tips For Uploading Documents" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/avribfq5/top-tips-for-uploading-documents.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>