<?xml version="1.0" encoding="utf-8"?>
<Media Key="25598e6f-b4a1-42f8-8e5a-93e2e9394297" Alias="usync testing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/usyncTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-06T23:24:44</CreateDate>
    <NodeName Default="usync testing" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>