<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d666f57-83d2-4d25-b9e9-59458a250622" Alias="Vicki Brough" Level="3">
  <Info>
    <Parent Key="f5a04a52-bb1f-4e4a-9147-2c907477d262">BDM photos</Parent>
    <Path>/Images/BDMPhotos/VickiBrough</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-18T15:23:13</CreateDate>
    <NodeName Default="Vicki Brough" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfxhmdos/vicki-brough.jpg",
  "focalPoint": {
    "left": 0.45620304544776624,
    "top": 0.10678279682715812
  },
  "crops": [
    {
      "alias": "HeroAreaDesktop",
      "width": 1030,
      "height": 420,
      "coordinates": null
    },
    {
      "alias": "HeroAreaTablet",
      "width": 768,
      "height": 370,
      "coordinates": null
    },
    {
      "alias": "HeroAreaMobile",
      "width": 568,
      "height": 274,
      "coordinates": null
    },
    {
      "alias": "PromoPodDesktop",
      "width": 395,
      "height": 288,
      "coordinates": null
    },
    {
      "alias": "PromoPodMobile",
      "width": 528,
      "height": 185,
      "coordinates": null
    },
    {
      "alias": "HelpToBuyLogoDesktop",
      "width": 360,
      "height": 81,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>