<?xml version="1.0" encoding="utf-8"?>
<Media Key="d302f421-7205-4c0d-8151-b64a545543f5" Alias="Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-11-25T14:29:56</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>