<?xml version="1.0" encoding="utf-8"?>
<Media Key="d84c1326-d736-4f7a-8c66-a4bbbd034a74" Alias="Vulnerable Customers Drivers Table" Level="2">
  <Info>
    <Parent Key="645a25f8-54f8-4d8d-abcd-b35fc21d2d99">PDFs</Parent>
    <Path>/PDFs/VulnerableCustomersDriversTable</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-05-08T14:16:00</CreateDate>
    <NodeName Default="Vulnerable Customers Drivers Table" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <downloadCounter>
      <Value><![CDATA[]]></Value>
    </downloadCounter>
    <umbracoFile>
      <Value><![CDATA[/media/hyjfzwbw/vulnerable-customers-drivers-table.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>