.bdm-finder-wrapper {
    padding: var(--sectionPaddingTop) var(--sectionPaddingX) var(--sectionPaddingBottom);

    &.u-bg--light-teal {
        background-color: $light-teal;
    }

    &.u-bg--light-blue {
        background-color: $light-blue;
    }

    &.u-bg--light-lime {
        background-color: $light-lime;
    }

    &.u-bg--light-honey {
        background-color: $light-honey;
    }

    .bdm-finder {
        max-width: $max-desktop;
        margin: 0 auto;

        &.lookup-form-block {
            @include media($max-tablet) {
                flex-direction: column;
            }
        }
    }
}

.bdm-finder-content {
    width: 100%;
    flex-shrink: 0;

    @include media-min($max-tablet) {
        flex: 1;
        width: 60%;
    }

    @include media-min($large) {
        min-width: 674px;
    }

    @include media-min($large-huge) {
        width: 70%;
    }

    .bdm-finder-form {
        .bdm-finder-form-inner {
            flex-direction: column;

            @include media-min($max-tablet) {
                align-items: flex-end;
            }

            @include media-min($large) {
                flex-direction: row;
            }

            .product-filters-input-wrap {
                margin-top: 0;
                margin-bottom: 0;
            }

            .bdm-finder-inputs {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;

                @include media-min($max-tablet) {
                    flex-direction: row;
                }

                @include media-min($large) {
                    align-items: flex-end;
                }

                #fca-message, #postcode-message {
                    display: none;
                }

                .field-validation-error {
                    color: $xdark-red;

                    @include media-min($large) {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: translateY(100%) translateY(8px);
                    }
                }

                &.product-filters-input-wrap {
                    margin-top: 0;
                    margin-bottom: 0;

                    @include media($large) {
                        margin-right: 0;
                    }
                    
                    @include media($max-tablet) {
                        width: 100%;

                        &:not(:last-child) {
                            margin-right: 0;
                        }
                    }
                }

                > .product-filters-input-wrap {
                    @include media($max-tablet) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 16px;
                    }
                }
            }

            .product-filters-input-wrap.-button-wrap {
                max-width: 235px;

                @include media-min($large-huge) {
                    margin: auto;
                    margin-top: 36px;
                }

                @include media($large) {
                    margin: 16px auto 0 0;
                }

                @include media($max-mobile) {
                    max-width: none;
                }
            }
        }
    }
}

.bdm-finder-icon-wrap {
    margin-right: auto;

    @include media-min($max-tablet) {
        display: block;
        margin: 0 auto;
    }

    .icon-bdm-finder {
        display: block;
        width: 120px;
        height: auto;

        @include media-min($large-huge) {
            width: 160px;
        }
    }
}

.bdm-finder__listing {
    max-width: $max-desktop;
    margin: 0 auto;
    padding: var(--sectionPaddingTop) var(--sectionPaddingX) var(--sectionPaddingBottom);

    .results-area {
        margin-top: 0;
    }
}