.bdm-finder {
  
}

.bdm-finder-content {
    width: 100%;
    flex-shrink: 0;

    @include media-min($max-tablet) {
        flex: 1;
        width: 60%;
    }

    @include media-min($large) {
        min-width: 674px;
    }

    @include media-min($large-huge) {
        width: 70%;
    }

    .bdm-finder-form {
        .bdm-finder-form-inner {
            flex-direction: column;

            @include media-min($max-tablet) {
                align-items: baseline;
            }

            @include media-min($large) {
                flex-direction: row;
                align-items: center;
            }

            .bdm-finder-inputs {
                display: flex;
                align-items: baseline;
                flex-direction: column;

                @include media-min($max-tablet) {
                    margin-bottom: 16px;
                    width: 100%;
                }

                @include media-min($large) {
                    flex-direction: row;
                }

                #fca-message, #postcode-message {
                    display: none;
                }

                .field-validation-error {
                    color: $dark-red;
                }

                .product-filters-input-wrap {
                    margin-top: 0;
                }

                .-search-term {
                    @include media-min($max-tablet) {
                        width: 100%;
                    }
                }
            }

            .-button-wrap {
                max-width: 235px;

                @include media-min($large-huge) {
                    margin: auto;
                    margin-top: 36px;
                }
            }
        }
    }
}

.bdm-finder-icon-wrap {
    display: none;

    @include media-min($max-tablet) {
        flex: 1;
        width: 40%;
        display: block;
        margin: 0 auto;

        .icon-bdm-finder {
            display: block;
            width: 125px;
            height: auto;
            margin: auto;

            @include media-min($large-huge) {
                margin: auto 0 auto auto;
                width: 90px;
            }

            @include media-min($large-huge) {
                width: 125px;
            }
        }
    }
}