@inherits UmbracoViewPage<DocumentDownloadAndCtalinkBlock>
@{
    if ((Model?.DocumentsLinks .NullOrEmpty()).GetValueOrDefault())
    {
        return;
    }    
    if (Model.Title.HasValue())
    {
        <h2 class="h2 document-download-cta-block__title">@Model.Title</h2>
    }

    foreach (var documentLink in Model.DocumentsLinks)
    {
        <partial name="@string.Format("~/Views/Partials/BlockList/Components/{0}.cshtml", documentLink.Content.ContentType.Alias)" model="@documentLink.Content" />
        
    }
    
}