@inherits UmbracoViewPage<IDocumentUploadBlock>
@{
    if ((Model?.Documents.NullOrEmpty()).GetValueOrDefault())
    {
        return;
    }
    //podsBlockDocumentDownload

    <div class="document-download-block-wrapper">

        <partial name="/views/partials/blocklist/components/DocumentUploadBlockBody.cshtml" model="Model" />
       
      
    </div>
}