@inherits UmbracoViewPage<IPublishedContent>
@{
    var site = (SiteRoot)Model.GetSiteRoot();
}
@if (site.Notifications != null && site.Notifications.Any())
{
    <div class="scroll-bar">
        <div class="scroll-bar__wrapper">
            @foreach (var notification in site.Notifications)
            {
                var notificationContent = (RichTextBlock)notification.Content;

                <div class="scroll-bar__inner">
                    <img alt='Alert Icon' src="~/assets/dist/images/icons/icon-alert-teal.svg">
                    @*<div class="scroll-bar__inner--title">Covid-19 update - </div>*@
                    <div class="scroll-bar__inner--text">@Html.Raw(notificationContent.RichText)</div>
                </div>
            }            
        </div>
    </div>
}