.products-section {
  width: 100%;
  margin-bottom: 65px;

  @include media($medium) {
    margin-bottom: 40px;
  }
}

.products-section-inner {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;

  @include media($max-desktop) {
    padding: 0 20px;
  }
}

.rich-text.products-intro {
  padding-bottom: 0;
}

.rich-text .product-table {
  margin-top: 35px;
  margin-bottom: 45px;
  border-collapse: initial;
  border: none;
  display: block;

  &:first-child {
    margin-top: 10px;
  }

  @include media($small) {
    margin-bottom: 25px;
  }

  th,td {
    min-width: 0;
  }

  th {
    &.term {
      min-width: 85px;
    }

    &.rate {
      min-width: 115px;
    }

    &.overall-cost {
      min-width: 130px;
    }

    &.description {
      min-width: 150px;
    }

    &.product-fee {
      min-width: 120px;
    }

    &.features {
      min-width: 190px;
    }

    &.early-repayment-charge {
      min-width: 190px;
    }

    &.code {
      min-width: 100px;
    }
  }

  td {
    position: relative;

    @include media($small) {
      display: block;
      width: 100%;
      padding: 8px 16px 8px calc(37% + 16px);
      text-align: left;

      &:before {
        content: attr(data-name);
        position: absolute;
        left: 0;
        top: 0;
        max-width: 37%;
        padding: 8px 16px;
        font-weight: 600;
        z-index: 1;
      }

      &.overall-cost {
        min-height: 66px;
      }

      &.early-repayment-charge {
        min-height: 84px;
      }
    }

    @include media($tiny) {
      padding: 8px 16px 8px 156px;

      &:before,
      &:after {
        width: 140px;
        max-width: none;
      }
    }
  }

  thead {
    @include media($small) {
      display: none;
    }
  }

  tbody {
    tr {
      @include media($small) {
        display: block;

        &:not(:last-child) {
          padding-bottom: 32px;
        }

        td {
          &:nth-child(odd) {
            background-color: $white;
          }

          &:nth-child(even) {
            background-color: $grey-11;
          }

          &:first-child,
          &:last-child {
            border-bottom: 2px solid $grey-8;
          }

          &:first-child {
            padding-top: 16px;

            &::before {
              padding-top: 16px;
            }
          }
        }
      }
    }
  }

  .icon-new {
    @include media-min($small) {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%,-50%) translateY(-100%) translateY(-5px);
    }

    @include media($small) {
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 5px;
    }
  }

  .icon-closing {
    @include media-min($small) {
      top: 41%;
    }
  }

  &.-withdrawn {
    th {
      &.description {
        min-width: 180px;
      }

      &.features {
        min-width: 160px;
      }

      &.early-repayment-charge {
        min-width: 170px;
      }
    }
  }
}

.product-table-caption {
  display: flex;
  margin-bottom: 32px;

  @include media-min($small) {
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    left: 0;
  }

  @include media($small) {
    flex-direction: column-reverse;
    text-align: left;
  }
}

.product-table-caption__title,
.product-table-caption__title h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1;
  color: $text-dark;
}

.print-products {
  display: flex;
  align-items: center; 
  text-decoration: none;

  @include media($small) {
    margin-bottom: 12px;
  }

  > span {
    @include simple-link-style();
    color: $blue;
    font-weight: 600;

    &:after {
      background-color: $blue;
    }
  }

  .icon {
    margin-right: 5px;

    &.icon-print {
      width: 20px;
      height: 21px;
    }
  }
}

.no-products-section{
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;

  @include media($max-desktop) {
    padding: 0 20px;
  }
}