.products-section {
  width: 100%;
  padding: 40px 0;
  background-color: $white;
  margin-bottom: 65px;

  @include media($medium) {
    margin-bottom: 40px;
  }

  @include media($small) {
    padding: 30px 0;
  }
}

.products-section-inner {
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;

  @include media($max-desktop) {
    padding: 0 20px;
  }
}

.rich-text.products-intro {
  padding-bottom: 0;
}

.rich-text .product-table {
  margin-top: 35px;
  margin-bottom: 45px;
  border-collapse: initial;
  border: none;
  display: block;

  &:first-child {
    margin-top: 10px;
  }

  @include media($small) {
    margin-bottom: 25px;
  }

  th,td {
    min-width: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  th {
    font-size: 13px;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 15px;

    &.term {
      min-width: 75px;
    }

    &.rate {
      min-width: 105px;
    }

    &.overall-cost {
      min-width: 130px;
    }

    &.description {
      min-width: 200px;
    }

    &.product-fee {
      min-width: 120px;
    }

    &.features {
      min-width: 190px;
    }

    &.early-repayment-charge {
      min-width: 190px;
    }

    &.code {
      min-width: 100px;
    }
  }

  td {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding-top: 30px;
    padding-bottom: 30px;

    &:first-child {
      border-left: 1px solid $grey;
    }

    &:last-child {
      border-right: 1px solid $grey;
    }

    @include media($small) {
      display: block;
      width: 100%;
      padding: 15px 15px 15px calc(37% + 15px);
      font-size: 13px;
      line-height: 20px;
      text-align: left;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;

      &:before {
        content: attr(data-name);
        position: absolute;
        left: 0;
        top: 0;
        max-width: 37%;
        padding: 15px;
        font-weight: 600;
        color: $white;
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 37%;
        height: 100%;
        background-color: $dark-blue;
        border-bottom: 1px solid rgba($white,0.4);
      }

      &.overall-cost {
        min-height: 66px;
      }

      &.early-repayment-charge {
        min-height: 84px;
      }
    }

    @include media($tiny) {
      padding: 15px 15px 15px 155px;

      &:before,
      &:after {
        width: 140px;
        max-width: none;
      }
    }
  }

  thead {
    @include media($small) {
      display: none;
    }
  }

  tbody {
    tr {
      @include media($small) {
        display: block;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &:last-child {
        td {
          border-bottom: 1px solid $grey;

          // @include media($small) {
          //   &:not(:last-child) {
          //     border-bottom: none;
          //   }
          // }
        }
      }

      &:nth-child(even) {
        td {
          background-color: $grey-9;
        }
      }

      @include media($small) {
        &:first-child {
          td {
            &:first-child {
              border-top: 1px solid $grey;
            }
          }
        }
      }
    }
  }

  .icon-new {
    @include media-min($small) {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%,-50%) translateY(-100%) translateY(-5px);
    }

    @include media($small) {
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 5px;
    }
  }

  .icon-closing {
    @include media-min($small) {
      top: 41%;
    }
  }

  &.-withdrawn {
    th {
      &.description {
        min-width: 180px;
      }

      &.features {
        min-width: 160px;
      }

      &.early-repayment-charge {
        min-width: 170px;
      }
    }
  }
}

.product-table-caption {
  display: flex;
  margin-bottom: 24px;

  @include media-min($small) {
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    left: 0;
  }

  @include media($small) {
    flex-direction: column-reverse;
    text-align: left;
    margin-bottom: 16px;
  }
}

.product-table-caption__title,
.product-table-caption__title h3 {
  margin-top: 0;
  margin-bottom: 0;

  @include media($small) {
    font-size: 20px;
    line-height: 26px;
  }
}

.print-products {
  display: flex;
  align-items: center; 
  text-decoration: none;

  @include media($small) {
    margin-bottom: 8px;
  }

  > span {
    @include link-style();

    &:after {
      background-color: $blue;
    }
  }

  .icon {
    margin-right: 5px;

    &.icon-print {
      width: 20px;
      height: 21px;
    }
  }
}

.no-products-section{
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 10px;

  @include media($max-desktop) {
    padding: 0 20px;
  }
}