<?xml version="1.0" encoding="utf-8"?>
<Domain Key="47a8a7d7-0000-0000-0000-000000000000" Alias="localhost:62239">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="8a46e151-36e7-42ea-842d-57ae4011ec86">/Bank of Ireland/Website</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>