/*** BUTTON Styles ***/

.button {
    @include link-style-button-hover();
    display: inline-flex;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    padding: 12px 15px 14px;
    min-width: 170px;
    background-color: $blue;
    color: $white;
    border-radius: 16px 0 16px 0;
    text-decoration: none;

    &:focus-visible {
        outline: 2px solid $black;
    }

    &.external-link {
        svg {
            width: 1em;
            height: 1em;
            margin-left: .6em;
        }
    }

    > span {
        @include link-style();
        position: relative;
        display: inline-block;
        color: $white;
        transition: color 0.25s ease;
    }

    &.-white-outline {
        border: 1px solid $white;
        transition: background-color 0.25s ease;

        > span {
            transition: color 0.25s ease;
        }

        &.external-link svg {
            transition: fill 0.25s ease;
        }

        &:hover {
            background-color: $white;

            > span {
                color: $blue;

                &:after {
                    background-color: $blue;
                }
            }

            &.external-link svg {
                fill: $blue;
            }
        }
    }

    &.-blue-outline {
        border: 1px solid $blue;
        background-color: $white;

        > span {
            color: $blue;

            &:after {
                background-color: $blue;
            }
        }
    }

    &.-block {
        display: flex;
        align-items: center;
    }

    &.-no-radius {
        border-radius: 0;
    }

    &.-teal {
        background-color: $teal;
        color: $text;
        transition: background-color 0.25s ease;

        > span {
            color: $text;

            &:after {
                background-color: $text;
            }
        }

        &:hover {
            background-color: shade($teal,5%);
        }
    }

    &.-light-grey {
        background-color: $light-grey;
        color: $text;
        transition: background-color 0.25s ease;

        > span {
            color: $text;

            &:after {
                background-color: $text;
            }
        }

        &:hover {
            color: $white;
            background-color: $blue;

            > span {
                color: $white;

                &:after {
                    background-color: $white;
                }
            }
        }
    }

    .icon {
        margin-right: 10px;
    }

    &.loading {
        height: 46px;
        padding-top: 0;
        padding-bottom: 0;

        .icon {
            width: 30px;
            height: 100%;
            margin-right: 0;
        }
    }

    &.transparent {
        background-color: transparent;
        color: $blue;
    }
}