.pagination {
  margin: 30px auto 10px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      > a {
        &:not(.pagination-button) {
          @include link-style();
          margin: 0 12px;
          transition: color 0.25s ease;

          @include media($small) {
            margin: 0 6px;
          }

          &:after {
            background-color: $blue;
          }

          &:hover {
            color: $blue;
          }

          &.active {
            color: $blue;

            &:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.pagination-button {
  position: relative;
  pointer-events: auto;
  width: 48px;
  height: 48px;
  background-color: $blue;
  border-radius: 16px 0 16px 0;
  border: none;
  padding: 0;
  margin: 0 4px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  transition: background-color 0.25s ease;

  @include media($small) {
    width: 36px;
    height: 36px;
    border-radius: 12px 0 12px 0;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 1px solid $white;
    border-left: 1px solid $white;
    transform: translate(-50%,-50%) translateX(2px) rotate(-45deg);

    @include media($small) {
      width: 7px;
      height: 7px;
    }
  }

  &--prev,
  &--next {
    &:after {
      display: none;
    }
  }

  &--start {
    &:before {
      transform: translate(-50%,-50%) translateX(-4px) rotate(-45deg);
    }
    
    &:after {
      transform: translate(-50%,-50%) translateX(8px) rotate(-45deg);
    }
  }

  &--prev {
    margin-right: 12px;

    @include media($small) {
      margin-right: 6px;
    }
  }

  &--next {
    margin-left: 12px;

    @include media($small) {
      margin-left: 6px;
    }

    &:before,
    &:after {
      transform: translate(-50%,-50%) translateX(-2px) rotate(135deg);
    }
  }

  &--end {
    &:before {
      transform: translate(-50%,-50%) translateX(-8px) rotate(135deg);
    }

    &:after {
      transform: translate(-50%,-50%) translateX(4px) rotate(135deg);
    }
  }

  &:hover {
    background-color: $dark-blue; 
  }
}