.bdm-pod {
  width: 100%;
  max-width: $max-desktop;
  margin: 40px auto;
  padding: 0 10px;
  overflow: hidden;

  @include media($max-desktop) {
    padding: 0 20px;
  }

  @include media($small) {
    margin: 20px auto;
  }

  &__content {
    background-color: $teal;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    &--text {
      flex: 1;
      margin-top: 20px;

      h3 {
        text-align: left;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        @include link-style();
          &:after {
            background-color: $blue;
          }
      }
    }

    &--image {
      max-width: 100px;
      img {
        border-radius: 50%;
      }
    }
  }

      
  @media(min-width:$min-desktop) {
    &__content {
      width: 50%;
      flex-direction: row;
      &--text {
        margin-right: 20px;
        margin-top: 10px;
      }  
    }
  }
}