.pod-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $max-desktop;

  @include media($large) {
    margin-bottom: 30px;
  }

  > div {
    width: 100%;

    @include media-min($large) {
      width: calc(33.33% - 16px);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include media($large,#{$small+1}) {
      width: calc(50% - 12px);
      flex-grow: 1;
      margin-bottom: 24px;

      &:nth-child(even),
      &:last-child {
        margin-right: 0;
      }
    }

    @include media-min($small) {
      margin-right: 24px;
    }

    @include media($small) {
      margin-bottom: 20px;
    }

    &.document-download-block,
    &.child-page-block {
      margin-left: 0;

      @include media-min($large) {
        margin-bottom: 0;
      }
    }

    &.document-download-block {
      margin-top: 0;
      padding-bottom: 30px;
      text-align: center;

      @include media-min($large) {
        &:not(:nth-child(3n)) {
          margin-right: 24px;
        }
      }

      @include media($medium) {
        padding: 30px 20px 24px;
      }

      > a {
        @include link-style-fill-bar(rgba($blue,0.3), $blue);
        display: inline-block;
        margin-top: 24px;
        color: $text;
        font-weight: 600;
      }
    }

    .document-download-cta-block__title {
      margin-top: 0;
      padding-top: 0;
    }

    &.child-page-block {
      margin-top: 0;
      margin-bottom: 0;

      @include media($large) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }

      @include media($large,#{$small+1}) {
        + div {
          margin-right: 24px;
        }
      }
    }

    .child-page-block-item {
      width: 100%;
      margin-top: 0;
    }

    .child-page-block-listing {
      height: 100%;
    }

    .child-page-block-item__icon-wrapper {
      @include media-min($large) {
        height: 200px;
        align-items: flex-start;
        margin-bottom: -45px;
      }
    }

    .child-page-block-item__title {
      color: $blue;
      font-size: 26px;
      line-height: 32px;
      font-family: $BankofIreland-Bold;
    }
  }
}