.pod-group {
  display: grid;
  grid-template-columns: auto;
  gap: #{fluid(16, 32)};
  width: 100%;
  max-width: $max-desktop;
  padding: 32px 0;

  @include media-min($small-med) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min($small-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media($large) {
    margin-bottom: 30px;
  }

  > div {
    &.document-download-block {
      margin-top: 0;
      padding-bottom: 30px;
      text-align: center;

      @include media-min($large) {
        &:not(:nth-child(3n)) {
          margin-right: 24px;
        }
      }

      @include media($medium) {
        padding: 30px 20px 24px;
      }

      > a {
        @include link-style-fill-bar(rgba($blue,0.3), $blue);
        display: inline-block;
        margin-top: 24px;
        color: $text;
        font-weight: 600;
      }
    }

    .document-download-cta-block__title {
      margin-top: 0;
      padding-top: 0;
    }
  }
}