.promotional-pod {
  @include section-background($sky-blue);
  position: relative;
  padding: $standard-section-padding;
  background-color: $sky-blue;
}

.promotional-pod__inner {
  position: relative;
  width: 100%;
  max-width: $max-desktop;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 32px;
  margin: 0 auto;

  @include media-min($max-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  .promotional-pod.-no-image & {
    display: block;
    text-align: center;
    max-width: $med-large;
  }
}

.promotional-pod__content {
  color: $text-dark;

  .button {
    margin-top: 32px;
  }
}

.promotional-pod__subtext {
  @include last-child-no-bottom();
}

.promotional-pod__title {
  margin-bottom: 1rem;
}
