.service-levels-pod {
  background-color: $white;
  padding: #{fluid(24, 40)} #{fluid(24, 32)};

  h2 {
    color: $text-dark;
    margin-bottom: 8px;
  }

  .rich-text .child-page-block-item__inner-list,
  .child-page-block-item__inner-list {
    column-gap: 16px;
    margin-bottom: 32px;
  }

  .child-page-block-item__inner-list-icon {
    width: 48px;
    height: 48px;
  }

  > a {
    @include simple-link-style();
    color: $blue;
    font-weight: 600;
  }
}

.service-levels-pod-item__copy {
  span {
    display: block;
  }
}

.service-levels-pod-item__time {
  @include font-size(13);
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: $text;
  font-weight: normal;

  .icon {
    margin-right: 5px;
  }
}

.pod-group {
  .service-levels-pod {
    border-radius: 8px;
  }
}