.criteria-lookup-container {
  overflow: hidden;
}

.criteria-filters {
  margin-bottom: 40px;

  .product-filters-inner {
      flex-wrap: wrap;
  }

  .product-filters-input-wrap {
    flex-grow: 0;

    &.-flex-grow-1 {
      flex-grow: 1;
    }

    &.-search-term {
      width: 40%;

      @include media($small) {
        width: 100%;
      }
    }
  }
}

.alphabet-list {
  display: block;
  margin-bottom: 20px;
  padding: 16px 18px 12px;
  background-color: $white;
  border: 1px solid $text;
  border-radius: 8px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    
    li {
      display: inline-block;
      padding: 0 12px;
      margin: 0;
      color: $grey-8;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      &:last-child {
        margin-right: 0;
      }

      > a {
        @include simple-link-style();
        color: $blue;
      }
    }
  }
}

.criteria-category {
  padding-top: 10px;
}

.criteria-highlight {
    position: relative;
    background-color: $teal;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -0.125em;
        height: 100%;
        width: calc(100% + 0.25em);
        background-color: #00FFC5;
        z-index: -1;
    }

    &::selection {
        color: $text;
        background-color: $teal;
    }
}