.video-block {
  width: 100%;
  max-width: $max-desktop;
  margin: 40px 0;

  @include media-min($medium) {
    display: flex;
  }

  @include media($small) {
    margin: 20px 0;
  }

  .campaign-landing & {
    display: block;
    overflow: hidden;
  }
}

.video-block__col {
  padding: 40px 40px 40px 0;
  background-color: $blue;

  @include media-min($medium) {
    width: 50%;
  }

  @include media($medium) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media($tiny) {
    padding: 20px;
  }

  .campaign-landing & {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.video-block-copy {
  @include last-child-no-bottom();
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-blue;

  @include media-min($large) {
    padding-left: 9%;
    min-width: 400px;
  }
  
  @include media($large,#{$medium+1}) {
    padding-left: 5%;
  }

  @include media($medium) {
    display: block;
    text-align: center;
  }

  &:after {
    content: '';
    width: 25%;
    max-width: 192px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1px;
    background-color: $blue;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url('/common/images/icons/video-chevron.png');

    @include media($medium) {
      width: 100%;
      height: 0;
      padding-top: 27%;
      max-width: none;
      top: auto;
      right: 0;
      bottom: 1px;
      transform: translateY(100%);
      background-position: center;
      background-image: url('/common/images/icons/video-chevron-tablet.gif');
    }

    .campaign-landing & {
      width: 100%;
      height: 0;
      padding-top: 27%;
      max-width: none;
      top: auto;
      right: 0;
      bottom: 1px;
      transform: translateY(100%);
      background-position: center;
      background-image: url('/common/images/icons/video-chevron-tablet.gif');
    }
  }

  p {
    color: rgba($white,0.75);
  }

  > * {
    max-width: 265px;

    @include media($medium) {
      margin-left: auto;
      margin-right: auto;
      max-width: 520px;
    }

    .campaign-landing & {
      margin-left: auto;
      margin-right: auto;
      max-width: 520px;
    }
  }

  .campaign-landing & {
    display: block;
    text-align: center;
  }
}

.video-block-copy__title {
  display: block;
  color: $white;
  font-size: 32px;
  line-height: 38px;
  font-family: $BankofIreland-Bold;
  margin-bottom: 10px;

  @include media($small) {
    font-size: 24px;
    line-height: 30px;
  }
}

.video-block-video {
  @include media($medium) {
    padding-top: 0;
  }

  .campaign-landing & {
    padding-top: 0;
  }
}

.video-block-video-inner {
  max-width: 455px;

  @include media($medium) {
    margin: 0 auto;
  }

  .campaign-landing & {
    margin: 0 auto;
  }
}

.video-block-video-wrapper {
  position: relative;
  padding-top: 56.25%;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-block-video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.play-icon {
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba($teal,0.8);
  transition: background-color 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: $teal;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translateX(3px);
    border-left: 20px solid $text;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
}

.video-block.fullscreen {
  .video-block__col {
    width: 100%;
    padding: 30px;
    background-image: url("/common/images/icons/video-chevron-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    .video-block-video-inner {
      width: 100%;
      max-width: 100%;
    }
  }
}

/* Sidebar specific styles */
.campaign-landing__sidebar {
  .video-block {
    display: flex;
    flex-direction: column-reverse;
    margin: 24px 0;
  }

  .video-block-copy {
    text-align: left;
    padding: 22px 30px 25px;
    background-color: $white;

    &:after {
      display: none;
    }

    p {
      @include font-size(18);
      color: $blue;
      font-weight: 600;
    }

    > * {
      @include media($medium) {
        max-width: none;
        text-align: center;
      }
    }
  }

  .video-block-copy__title {
    display: none;
  }

  .video-block-video {
    padding: 0;
  }

  .video-block-video-inner {
    @include media($medium) {
      max-width: none;
    }
  }
}