<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed38ed61-f113-4cdd-87c1-724489f22a22" Alias="awardWinningServicePodContainer" Level="3">
  <Info>
    <Name>Award Winning Service Pod Container</Name>
    <Icon>icon-folders color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ed38ed61-f113-4cdd-87c1-724489f22a22" SortOrder="0">awardWinningServicePodContainer</ContentType>
    <ContentType Key="ce21d305-caf6-4599-b9f6-0e88d213f707" SortOrder="1">awardWinningServicePodRender</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>