<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9732a033-9570-4013-bd6d-596b25320a67" Alias="bDMPodContainer" Level="3">
  <Info>
    <Name>BDM Pod Container</Name>
    <Icon>icon-folders color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="200261ff-e5ec-4126-a59a-6bf6483f5e48" SortOrder="0">bDMPodAction</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>