<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ab13999-539e-42bf-997a-955e3885482b" Alias="bDMsContainer" Level="3">
  <Info>
    <Name>BDMs container</Name>
    <Icon>icon-users-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="466d7cf0-1cc6-4267-81ae-f79ac3825261" SortOrder="0">bDM</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>