<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2650bec3-807d-49ec-b1c6-b09454edc4fe" Alias="calculatorLanding" Level="2">
  <Info>
    <Name>Calculator Landing</Name>
    <Icon>icon-calculator color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the landing page for the various calculators used on the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="340ea2b3-d9cd-4cde-b36f-12e6f4a35b46">heroMixin</Composition>
      <Composition Key="837849da-df7c-47b5-910f-9e1c52a3b3be">listingMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea">podsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>CalculatorLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d37712fd-9f51-46d2-a5dc-a50f98eb1ddd">CalculatorLanding</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="02b9f8ad-6c23-430e-9427-e76038b2119f" SortOrder="0">calculator</ContentType>
    <ContentType Key="0853af03-d4ec-4ce9-aa4c-3c647599896c" SortOrder="1">loansCalculator</ContentType>
    <ContentType Key="76d3fea7-8779-48cd-8be2-31ecb9f6ce1f" SortOrder="2">overdraftCalculator</ContentType>
    <ContentType Key="1a58f45b-24c9-4b39-a60b-b120285ccf59" SortOrder="3">payAsYouGrowCalculator</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cc4a5db8-77ea-4db4-b197-5fc6a842c00e</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>26eb49ee-9858-498b-9364-e8123f3cb758</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please pick the content you wish to appear on the page from the block editor.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fd94daf3-4ed8-4107-8592-bd2d00295cc2</Key>
      <Caption>Content</Caption>
      <Alias>Content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>