<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eade0e55-cfae-4d9f-a5c9-3eff350a3a85" Alias="calculatorBlock" Level="3">
  <Info>
    <Name>Calculator Block</Name>
    <Icon>icon-calculator color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Components</Folder>
    <Compositions>
      <Composition Key="9f5803a9-7f38-4739-ad3b-10f9db84e9e8">calculatorItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>