<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24df1e52-625d-4c83-99e4-a6879c2003d6" Alias="childPagePod" Level="3">
  <Info>
    <Name>Child Page Pod</Name>
    <Icon>icon-document-dashed-line color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Items</Folder>
    <Compositions>
      <Composition Key="e4877196-cc08-4844-9e05-c86be7bf788d">childPageBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>