<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d0d7774-d4e5-46b4-af7b-3c97d629ee3f" Alias="contactDetailBlock" Level="3">
  <Info>
    <Name>Contact Detail Block</Name>
    <Icon>icon-phone color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Doc Type for the Contact Detail Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7c61b35e-2a0b-4eb6-a897-95b9868f77cb</Key>
      <Name>Contact Detail List</Name>
      <Alias>contactDetailList</Alias>
      <Definition>25e62ae9-b5c9-4e82-8e0b-4a8d40ed9bcf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of contact detail items.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Contact Detail">Contact Detail</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3933038d-eae3-45dd-9b0b-533d8892a684</Key>
      <Caption>Contact Detail</Caption>
      <Alias>Contact Detail</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>