<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6d37826-b6ce-4c68-8345-2ee5f4be4020" Alias="criteria" Level="3">
  <Info>
    <Name>Criteria</Name>
    <Icon>icon-desktop color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Criteria+Lookup</Folder>
    <Compositions>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>Criteria</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a7fd76df-6e64-4ddf-86af-fdfb87dbfa02" SortOrder="0">criteriaTab</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7cb95091-f94f-4ecc-9c48-a1a80d804de7</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="criteriaContent">Criteria Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5fc7b9d0-aaa9-4a6d-8148-831500210bc3</Key>
      <Name>Criteria Category</Name>
      <Alias>criteriaCategory</Alias>
      <Definition>4da15c90-86ac-4a3d-ba70-ee5dc1d63f30</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="criteriaContent">Criteria Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd2b609a-d613-4f4c-b808-dddbc3b13ccd</Key>
      <Name>Criteria Name</Name>
      <Alias>criteriaName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the name that will be visible to users. The document name above will be shown in the document tree only.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="criteriaContent">Criteria Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f29d2245-9eac-4a6a-bf53-36ccd63db805</Key>
      <Name>Criteria Product Type</Name>
      <Alias>criteriaProductType</Alias>
      <Definition>451ab62a-62a8-4ffb-bbae-b9c33c5bb495</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Press ctrl to select more than one option. No option would be selected by default]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="criteriaContent">Criteria Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f23473ed-e0d1-4b2e-af64-a256e5f08575</Key>
      <Name>Criteria Updated Date</Name>
      <Alias>criteriaUpdatedDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="criteriaContent">Criteria Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>936c6c93-1b5b-46c6-b14d-361d4e47436a</Key>
      <Caption>Criteria Content</Caption>
      <Alias>criteriaContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>