<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5256ea6-420e-470a-afe2-1ea7ed2f724c" Alias="cTALinkItem" Level="3">
  <Info>
    <Name>CTA Link Item</Name>
    <Icon>icon-link color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Component+Block+Item</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc4fc39d-8608-4468-af30-5e3e277dc3a6</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="CTA Link">CTA Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ab396ce7-d38d-4cea-8a9c-fdc1da798bb5</Key>
      <Caption>CTA Link</Caption>
      <Alias>CTA Link</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>