<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18282465-f937-4cb0-b886-1f3150f45852" Alias="documentUploadContainer" Level="3">
  <Info>
    <Name>Document Upload Container</Name>
    <Icon>icon-folders color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="18282465-f937-4cb0-b886-1f3150f45852" SortOrder="0">documentUploadContainer</ContentType>
    <ContentType Key="6df32288-2545-4c0a-b7eb-744b216f03cc" SortOrder="1">documentUploadPod</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>