<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="127ae52c-eb56-4368-a597-cf3ff4735729" Alias="fAQContainer" Level="3">
  <Info>
    <Name>FAQ Container</Name>
    <Icon>icon-folders color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="127ae52c-eb56-4368-a597-cf3ff4735729" SortOrder="0">fAQContainer</ContentType>
    <ContentType Key="12854fe9-1c65-4513-9794-5356a333c8b7" SortOrder="1">fAQPod</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>