<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c2d1c3e-46d6-466c-a333-8feafbead3a3" Alias="footerMixin" Level="2">
  <Info>
    <Name>Footer Mixin</Name>
    <Icon>icon-tab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mixins</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2628904-07b6-45cc-b696-54aa8b78bf06</Key>
      <Name>Bottom Links</Name>
      <Alias>bottomLinks</Alias>
      <Definition>8fd615b8-98f0-4676-82dc-872a703d0ce1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links that will appear at the bottom of the footer]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efb60b1c-ec39-4295-8aec-811991f24d90</Key>
      <Name>Column 1 Heading Link</Name>
      <Alias>column1HeadingLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the heading that will appear above the quick links in column 1. If nothing is selected this column will not display]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab8e44c1-799c-4203-905d-1d284110c5b2</Key>
      <Name>Column 1 Links</Name>
      <Alias>column1Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links that will appear in the footer, in column 1]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95d948ce-be3f-4031-be0e-6747a208d16e</Key>
      <Name>Column 2 Heading Link</Name>
      <Alias>column2HeadingLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the heading that will appear above the quick links in column 2. If nothing is selected this column will not display]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40de81c6-caf3-4e7c-96c7-259480d4fed7</Key>
      <Name>Column 2 Links</Name>
      <Alias>column2Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links that will appear in the footer, in column 2]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>662928e3-d78d-4135-8058-c0a05e64dd00</Key>
      <Name>Column 3 Heading Link</Name>
      <Alias>column3HeadingLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the heading that will appear above the quick links in column 3. If nothing is selected this column will not display]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d811660-f070-40a1-98ea-897cee7bc6e3</Key>
      <Name>Column 3 Links</Name>
      <Alias>column3Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links that will appear in the footer , in column 3]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67bad5d3-17a0-4e58-b77d-ef00ecc6fbb8</Key>
      <Name>Column 4 Heading Link</Name>
      <Alias>column4HeadingLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the heading that will appear above the quick links in column 4. If nothing is selected this column will not display]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04037227-1d35-4746-857a-66a742d328de</Key>
      <Name>Column 4 Links</Name>
      <Alias>column4Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links that will appear in the footer , in column 4]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb073a02-ea33-4265-9929-fe4fdf186304</Key>
      <Name>Copyright Link</Name>
      <Alias>copyrightLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please select the copyright link]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dfb98390-bc9d-41c8-bf84-c0ae16a6ffa3</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>e581899a-68d7-41e7-b47c-85f08e176747</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the text that will appear in the footer]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="footer/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>11d2225d-dc33-4248-9b12-04353d3ecbb3</Key>
      <Caption>Footer</Caption>
      <Alias>footer/footer</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>c220f497-39b4-47f7-82b7-8e41d58801b3</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>