<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="217c9517-d818-4297-a7c6-03688b520524" Alias="formPodContainer" Level="3">
  <Info>
    <Name>Form Pod Container</Name>
    <Icon>icon-folders color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1d46e5ce-d6a0-43c1-87cd-e37fb2e9b4ff" SortOrder="0">formPod</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>