<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d96b9b6-183b-441c-b154-b5d4cd1ee67b" Alias="formBlock" Level="3">
  <Info>
    <Name>Form Block</Name>
    <Icon>icon-notepad-alt color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1572da1a-27b7-405d-ba8e-88a259f4e40f</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>7b9b107d-0804-4744-872a-1c4c8d2e79a3</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please select the form you wish to use in this block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5fe2f31e-d834-4146-9e32-1b5ad1db512d</Key>
      <Caption>Forms</Caption>
      <Alias>Forms</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>