<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c1af781-c32a-4990-91e3-130686dda921" Alias="formItem" Level="3">
  <Info>
    <Name>Form Item</Name>
    <Icon>icon-notepad-alt color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Component+Block+Item</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c40140d3-f1d1-41d6-8b99-450f27728023</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>7b9b107d-0804-4744-872a-1c4c8d2e79a3</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please select the form you wish to use in this block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6c9889fc-ecef-4381-a00b-27755f8db609</Key>
      <Caption>Form</Caption>
      <Alias>Form</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>