<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1dab21e-78d9-430b-86a2-8338c9b7d779" Alias="formsAndGuidesPodContainer" Level="3">
  <Info>
    <Name>Forms and Guides Pod Container</Name>
    <Icon>icon-folders color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b1dab21e-78d9-430b-86a2-8338c9b7d779" SortOrder="0">formsAndGuidesPodContainer</ContentType>
    <ContentType Key="11fa6518-bcd8-41ad-9837-49c7b9cf2c47" SortOrder="1">formsAndGuidePodRender</ContentType>
    <ContentType Key="9e2aacee-764d-4797-8db8-376120146f54" SortOrder="2">popularFormsAndGuidePodAction</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>