<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5f095f3-0288-4084-b261-1b4b2b5e7cde" Alias="globalScripts" Level="3">
  <Info>
    <Name>Global Scripts</Name>
    <Icon>icon-brackets color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2735058e-0496-4174-8ffe-adfd1772c944</Key>
      <Name>Body Bottom Scripts</Name>
      <Alias>bodyBottomScripts</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts that should be placed at the bottom of the body should be placed here. Please refer to documentation for the script being used, to determine if this should be placed at the top of the body , or bottom
*USE WITH CAUTION*]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="Scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce592fc4-eab9-40c7-9bcc-1fb1baea8c03</Key>
      <Name>Body Top Scripts</Name>
      <Alias>bodyTopScripts</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts which should be placed at the top of the body, should be placed. Please refer to documentation for the script being used, to determine if this should be placed at the top of the body , or bottom
*USE WITH CAUTION*]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c6a4463-5413-4bb1-910a-76222d8a307e</Key>
      <Name>Head Scripts</Name>
      <Alias>headScripts</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts which need to go in the head should be placed here
*USE WITH CAUTION*]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eff2eff3-8170-45e4-bd44-aad68d9eba4f</Key>
      <Caption>Scripts</Caption>
      <Alias>Scripts</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>