<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61ba5954-dfff-482d-bf78-59d52a83ede8" Alias="globalLinkSettings" Level="3">
  <Info>
    <Name>Global Link Settings</Name>
    <Icon>icon-link color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eadc9ff0-141f-46dd-a860-76790675f4bb</Key>
      <Name>BDM Finder CTA</Name>
      <Alias>bDMFinderCTA</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is where the global BDM CTA can be set, this link will be overridden, if there are page specific links chosen.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="Links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76d3703c-0214-4c59-94d8-b8c035bfe53b</Key>
      <Name>Product CTA</Name>
      <Alias>productCTA</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is where the global product CTA can be set, this link will be overridden, if there are page specific links chosen.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4af628fe-51b4-469d-a1eb-ac6cc0b0d90d</Key>
      <Name>Quick Links</Name>
      <Alias>quickLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is where the global quick links should be set on the site. These links will be overridden on each page if there are specific links selected for that page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0311c1f4-ab47-4cda-9c21-08589a2ccd12</Key>
      <Caption>Links</Caption>
      <Alias>Links</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>