<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23b11840-f12c-4a61-98e9-194f734d8394" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="340ea2b3-d9cd-4cde-b36f-12e6f4a35b46">heroMixin</Composition>
      <Composition Key="837849da-df7c-47b5-910f-9e1c52a3b3be">listingMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea">podsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="728879c7-6b05-4fa5-b0a8-f50564268944">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3b04e07e-09e8-4f6e-a95f-d78c646e64d3</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>26eb49ee-9858-498b-9364-e8123f3cb758</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Home">Home</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>957eb8de-f1cd-4d38-99e7-0a1c301481cd</Key>
      <Caption>Home</Caption>
      <Alias>Home</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>