<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0767f26b-d2f3-427e-a057-162c4469a1c4" Alias="howItWorksContainer" Level="3">
  <Info>
    <Name>How It Works Container</Name>
    <Icon>icon-folders color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0767f26b-d2f3-427e-a057-162c4469a1c4" SortOrder="0">howItWorksContainer</ContentType>
    <ContentType Key="3985bf3e-47d0-46ff-bada-e80b0f1e2c1c" SortOrder="1">howItWorksPod</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>