<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec08ffb2-a871-47d4-aa34-e466cbd6459f" Alias="leftColumn" Level="3">
  <Info>
    <Name>Left Column</Name>
    <Icon>icon-columns color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Component+Block+Item</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dcd98468-14aa-4e35-b57c-57416bfb5303</Key>
      <Name>Left Column Content</Name>
      <Alias>leftColumnContent</Alias>
      <Definition>7417a6ab-57c1-426f-bcb0-bb48764de186</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Left Column Content">Left Column Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0ed8c9c6-c1dc-45a1-b71b-6900ea3fb593</Key>
      <Caption>Left Column Content</Caption>
      <Alias>Left Column Content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>