<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0469b3c6-c8bc-4a68-87a6-9b3f87817210" Alias="listingWithoutImageMixin" Level="2">
  <Info>
    <Name>Listing Without Image Mixin</Name>
    <Icon>icon-tab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a listing mixin which doesn't contain an image picker</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mixins</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fb7442a1-bad8-4237-a8e9-386edcc19f30</Key>
      <Name>Listing Summary</Name>
      <Alias>listingSummary</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter a listing summary for the page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Listing">Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5fbeaf7a-1891-4105-a87d-7727bb17a363</Key>
      <Name>Listing Title</Name>
      <Alias>listingTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please enter the title for the listing section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Listing">Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e204d84c-b6ef-40f9-aaff-73d89b684e19</Key>
      <Caption>Listing</Caption>
      <Alias>Listing</Alias>
      <Type>Group</Type>
      <SortOrder>17</SortOrder>
    </Tab>
  </Tabs>
</ContentType>