<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="122de4e5-bb36-43f0-88f2-ee3e01703759" Alias="mainNavigationItem" Level="3">
  <Info>
    <Name>Main Navigation Item</Name>
    <Icon>icon-navigation color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A top level navigation item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b4642c1c-de08-4d56-bea8-2eab035cf229</Key>
      <Name>Child Navigation Items</Name>
      <Alias>childNavigationItems</Alias>
      <Definition>e3ef1ba7-8be0-4620-83f7-ffc2c45862d1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="Navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4be0a9e0-cf49-43dd-b1d4-c96a6c1b968d</Key>
      <Name>Navigation Item</Name>
      <Alias>navigationItem</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a75f0086-f11a-4b5c-9437-8258087b38b6</Key>
      <Caption>Navigation</Caption>
      <Alias>Navigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>