<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8577489a-f889-4055-a17a-38e32eb5c17d" Alias="navigationMixin" Level="2">
  <Info>
    <Name>Navigation Mixin</Name>
    <Icon>icon-tab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mixins</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8d7599e3-ddcb-43cc-8d6b-e72901d29292</Key>
      <Name>Hide main navigation</Name>
      <Alias>hideMainNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="Navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f9fc447-cba7-4c1b-9db7-eddba3879f05</Key>
      <Name>Internal redirect</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will load the selected page’s content transparently without performing any URL redirection. This essentially performs a rewrite. Use with caution]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ba47868-5e9e-46f1-8c04-906ecbfe3b13</Key>
      <Name>Redirect to node</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Redirect this page to another node on the site. USE WITH CAUTION]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="Navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2a4e8007-1473-4885-b5ca-faf31213f09a</Key>
      <Caption>Navigation</Caption>
      <Alias>Navigation</Alias>
      <Type>Group</Type>
      <SortOrder>19</SortOrder>
    </Tab>
  </Tabs>
</ContentType>