<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d80a4e84-bd19-4a81-91a8-7baf5fa09fe2" Alias="newsLanding" Level="3">
  <Info>
    <Name>News Landing</Name>
    <Icon>icon-newspaper-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/News</Folder>
    <Compositions>
      <Composition Key="340ea2b3-d9cd-4cde-b36f-12e6f4a35b46">heroMixin</Composition>
      <Composition Key="837849da-df7c-47b5-910f-9e1c52a3b3be">listingMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea">podsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
      <Composition Key="d256276e-7e3c-4a4f-b026-fd936285d977">standardContentMixin</Composition>
    </Compositions>
    <DefaultTemplate>NewsLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c374c2d5-8c79-462a-af75-feb323b21447">NewsLanding</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="90c88861-8aeb-4ca8-bc12-af03b63a0a21" SortOrder="0">newsArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>027bd6a6-1a63-429a-a98d-88b85119ec84</Key>
      <Name>No Result Message</Name>
      <Alias>noResultMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Standard Content">Standard Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c5c7d6db-1ebb-40ef-a3a5-1fda267f114d</Key>
      <Caption>Standard Content</Caption>
      <Alias>Standard Content</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>