<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e704dbd-25de-48e8-98b1-07e78cd0073e" Alias="noContentLabel" Level="2">
  <Info>
    <Name>No content label</Name>
    <Icon>icon-checkbox-empty color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mixins</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ffffb229-117a-4120-8039-f5ecb0f2c01c</Key>
      <Name>No further content required</Name>
      <Alias>noFurtherContentRequired</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is to allow name only items to be created, where other content is not required. i.e. Tags]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="No content required">No content required</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>378204ae-8dcd-4aad-b61e-7c411ea0b219</Key>
      <Caption>No content required</Caption>
      <Alias>No content required</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>