<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76d3fea7-8779-48cd-8be2-31ecb9f6ce1f" Alias="overdraftCalculator" Level="2">
  <Info>
    <Name>Overdraft Calculator</Name>
    <Icon>icon-calculator color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="837849da-df7c-47b5-910f-9e1c52a3b3be">listingMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>OverdraftCalculator</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36107ea6-ab01-42a2-8ea7-382fc504d83d">OverdraftCalculator</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>df1a9cc7-ba05-4f07-914d-ebbb6938c7f7</Key>
      <Name>Account Type Help Message</Name>
      <Alias>accountTypeHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a001b273-470f-4b41-9c20-a8197717c478</Key>
      <Name>Arraged Overdraft Limit Help Message</Name>
      <Alias>arragedOverdraftLimitHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01e2d6bc-660a-4a8d-9773-f9b23f71fd74</Key>
      <Name>Arranged Overdraft Interest Rate Help Message</Name>
      <Alias>arrangedOverdraftInterestRateHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a42039c4-4bd5-4067-8b09-b6e253b30d6c</Key>
      <Name>Background Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0201840-558a-4745-b477-8b918125ee9f</Key>
      <Name>Base Rate</Name>
      <Alias>baseRate</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only used when user manually enters Arranged Overdraft Interest Rate]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalRates">Global Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f02336df-19d8-482d-a18e-6803742ef22b</Key>
      <Name>Button Text</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6ae2572-feb7-4d09-b101-f5c6a0f0ae3d</Key>
      <Name>Clear Account (NI) Arrange Overdraft Rate %</Name>
      <Alias>clearAccountNIArrangeOverdraftRate</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only used when user manually enters Arranged Overdraft Interest Rate]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="globalRates">Global Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c954f92b-3c93-4907-a0d0-2d5f3639905f</Key>
      <Name>Days in Overdraft Help Message</Name>
      <Alias>daysInOverdraftHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd51dd7c-f8a0-4035-a7ec-a59d665f8965</Key>
      <Name>Disclaimer Text</Name>
      <Alias>disclaimerText</Alias>
      <Definition>e581899a-68d7-41e7-b47c-85f08e176747</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09e5d7f7-edde-41b8-92ed-f740ce96498b</Key>
      <Name>Grad Account Rates</Name>
      <Alias>gradAccountRates</Alias>
      <Definition>7efb1ee1-dc64-4396-8750-91ff58580c6d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>395e2ff7-6b24-458b-a765-10d823c57af3</Key>
      <Name>Into Text</Name>
      <Alias>introText</Alias>
      <Definition>e581899a-68d7-41e7-b47c-85f08e176747</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df4541ef-d213-40e2-8582-be0bfd0178ab</Key>
      <Name>Intro Title</Name>
      <Alias>introTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4f5e4f2e-d5d3-44eb-bd47-780121a8ef7c</Key>
      <Name>Length of Undergrad Course Help Message</Name>
      <Alias>lengthOfUndergradCourseHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>883b695d-f3f2-4fc5-abd1-9d575a46b953</Key>
      <Name>Overdraft Amount Help Message</Name>
      <Alias>overdraftAmountHelpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d30fc478-672a-40d0-9c47-ff34d31c0b44</Key>
      <Name>Overdraft Rates</Name>
      <Alias>overdraftRates</Alias>
      <Definition>e363bbca-e14a-4147-9418-b5e3cc921f3e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="overdraftRates">Overdraft Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff6ef131-42c8-4d31-932b-38de70a114bf</Key>
      <Name>Over Interest Free Limit - Arranged Overdraft Rate %</Name>
      <Alias>overInterestFreeLimitArrangedOverdraftRate</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>518d042e-0402-4fd6-9800-f3819e720b8b</Key>
      <Name>Over Interest Free Limit - Arranged Overdraft Rate EAR %</Name>
      <Alias>overInterestFreeLimitArrangedOverdraftRateEAR</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed0b089d-8711-4bbf-ae21-5d87505b5ad4</Key>
      <Name>Over Interest Free Limit - Unarranged Overdraft Rate EAR %</Name>
      <Alias>overInterestFreeLimitUnarrangedOverdraftRateEARWith</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[With an Arranged OD]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50c5aa0e-7837-41bb-8b95-cad7cfe84148</Key>
      <Name>Over Interest Free Limit - Unarranged Overdraft Rate EAR %</Name>
      <Alias>overInterestFreeLimitUnarrangedOverdraftRateEARWithout</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Without an Arranged OD]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b34409f-bf26-46d2-be79-6064fc72c70e</Key>
      <Name>Over Interest Free Limit - Unarranged Overdraft Rate %</Name>
      <Alias>overInterestFreeLimitUnarrangedOverdraftRateWith</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[With an Arranged OD]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6036fdcd-9343-4c4f-a562-4b4fa0959b87</Key>
      <Name>Over Interest Free Limit - Unarranged Overdraft Rate %</Name>
      <Alias>overInterestFreeLimitUnarrangedOverdraftRateWithout</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Without an Arranged OD]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ea90f1e-f221-4003-8e2d-bb13e50b2964</Key>
      <Name>Over Interest Info</Name>
      <Alias>overInterestInfo</Alias>
      <Definition>7df1cc56-bf96-4a14-b30d-3cffb5c10970</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gradAccountRates">Grad Account Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5cebb6b0-2d14-43c7-bdf4-f6cd5c21e37a</Key>
      <Name>Surcharge GB</Name>
      <Alias>surchargeGB</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only used when user manually enters Arranged Overdraft Interest Rate]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="globalRates">Global Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07e6bab8-7ae8-45e5-897d-6940a2cbd0fa</Key>
      <Name>Surcharge NI</Name>
      <Alias>surchargeNI</Alias>
      <Definition>89a93b32-7f99-44f9-8849-4252241496de</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only used when user manually enters Arranged Overdraft Interest Rate]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="globalRates">Global Rates</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>220edd9a-bc97-4d17-8c85-a1f3e44fc2e8</Key>
      <Caption>Global Rates</Caption>
      <Alias>globalRates</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>3b7d7dd2-38b7-443f-8388-4bcd0f89b266</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3f223192-73c3-4083-9824-d30ecc17651f</Key>
      <Caption>Overdraft Rates</Caption>
      <Alias>overdraftRates</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ed0c10d0-184d-48eb-bccc-10cdd3bf61f4</Key>
      <Caption>Grad Account Rates</Caption>
      <Alias>gradAccountRates</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>