<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea" Alias="podsMixin" Level="2">
  <Info>
    <Name>Pods Mixin</Name>
    <Icon>icon-tab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mixins</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>65f2339f-d979-4e15-a284-2af1e5cbf049</Key>
      <Name>Pods</Name>
      <Alias>pods</Alias>
      <Definition>cd68c4a6-e308-4bd5-88f7-9ea691c8f274</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Pods">Pods</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>93551a6e-9506-4b3e-93f2-36048bc3dc37</Key>
      <Caption>Pods</Caption>
      <Alias>Pods</Alias>
      <Type>Group</Type>
      <SortOrder>16</SortOrder>
    </Tab>
  </Tabs>
</ContentType>