<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca809884-491b-4743-b25f-3b94f645b1a6" Alias="podsBlockDocumentDownload" Level="3">
  <Info>
    <Name>Pods Block -Document download</Name>
    <Icon>icon-return-to-top color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>68c90ecb-17ac-4297-ae9d-a9d3b6cc77e2</Key>
      <Name>Pods</Name>
      <Alias>pods</Alias>
      <Definition>02688ba4-4d09-4b5b-a350-ddfeb0b79af4</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Pods">Pods</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d1afa250-a7f3-41b2-b8b3-899bfe92fca7</Key>
      <Caption>Pods</Caption>
      <Alias>Pods</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>