<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de8720db-a001-4840-83c4-20dff654eb02" Alias="productCategoriesContainer" Level="3">
  <Info>
    <Name>Product Categories Container</Name>
    <Icon>icon-tags color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8c0015ae-791b-4e9d-8034-ff770129d5ae" SortOrder="0">productCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>