<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2caf27a0-7ebb-4671-abc2-38c57cd4611e" Alias="productsLanding" Level="2">
  <Info>
    <Name>Products Landing</Name>
    <Icon>icon-box-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="340ea2b3-d9cd-4cde-b36f-12e6f4a35b46">heroMixin</Composition>
      <Composition Key="837849da-df7c-47b5-910f-9e1c52a3b3be">listingMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea">podsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>ProductsLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="552f2d28-02d5-441c-aafa-5d6422eebce9">ProductsLanding</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>80fd42dd-ffb3-4669-87d2-038c6e12183d</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>26eb49ee-9858-498b-9364-e8123f3cb758</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ddd1b4e-13ec-4089-935e-c54d0483d181</Key>
      <Name>Filter Categories Title</Name>
      <Alias>filterCategoriesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45f7a80c-682f-47d8-aa2f-a6071e5a9fd7</Key>
      <Name>Filter Interest Only Title</Name>
      <Alias>filterInterestOnlyTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>109eed31-888b-49ac-ac97-b0a3191a932d</Key>
      <Name>Filter LTVs Title</Name>
      <Alias>filterLTVsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a387e19-acac-488f-9d80-a950f6b6340a</Key>
      <Name>Filter Products Title</Name>
      <Alias>filterProductsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2167db46-abae-4ab7-8c72-4b83ce2f5347</Key>
      <Name>Filters Title</Name>
      <Alias>filtersTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Would be displayed above all filters]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d0e9997-d205-4e41-8eb0-4af9997a2566</Key>
      <Name>Filter Terms Title</Name>
      <Alias>filterTermsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a1f6a7a-ffb7-436d-9a11-f3ad493e438b</Key>
      <Name>Help To Buy Logos</Name>
      <Alias>helpToBuyLogos</Alias>
      <Definition>e406063a-b5fa-4978-84c4-dbcef7561411</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01692017-ec4d-4b94-b4c2-f9245e679c40</Key>
      <Name>No Result Found Message</Name>
      <Alias>noResultFoundMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a563ed9-f4e6-4e8c-9f0b-ac2b3160d0c2</Key>
      <Name>Product Variant</Name>
      <Alias>productVariant</Alias>
      <Definition>0668de02-3a0c-44ac-b359-b8088332c459</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please select the Product Variant you want to see on the page. 
NC - New Customer
PT - Product Transfer
FA - Further Advance
BS – BeSpoke
MO - Movers
BPT - Bespoke Product Transfer
BFA - Bespoke Further Advance]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="productsContent">Products Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a12891b6-e0c6-4b64-aeb9-81edbb6ab176</Key>
      <Caption>Products Content</Caption>
      <Alias>productsContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>