<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f53c0193-22a0-446c-80f8-b1f7f4d52454" Alias="promotionalPodContainer" Level="3">
  <Info>
    <Name>Promotional Pod Container</Name>
    <Icon>icon-folders color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f53c0193-22a0-446c-80f8-b1f7f4d52454" SortOrder="0">promotionalPodContainer</ContentType>
    <ContentType Key="2294a21e-2458-4855-a263-81fef99f1bf1" SortOrder="1">promotionalPodRender</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>