<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a52612cd-2ad7-43d3-8559-8dfea89c64c8" Alias="quickLinksContainer" Level="3">
  <Info>
    <Name>Quick Links Container</Name>
    <Icon>icon-link color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="80ccac3a-f702-4e0e-a68e-a5f530cba14a" SortOrder="0">quickLinks</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>