<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="556a5cc4-ef70-4f01-a616-0e9e3689def9" Alias="serviceUpdates" Level="2">
  <Info>
    <Name>Service Updates</Name>
    <Icon>icon-alert color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="340ea2b3-d9cd-4cde-b36f-12e6f4a35b46">heroMixin</Composition>
      <Composition Key="8577489a-f889-4055-a17a-38e32eb5c17d">navigationMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
      <Composition Key="a96a0ef1-2fb3-49df-a5bc-71040f8962ea">podsMixin</Composition>
      <Composition Key="960afd36-979f-4035-8726-8c903f22e7e0">searchMixin</Composition>
    </Compositions>
    <DefaultTemplate>ServiceUpdates</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e1eaf1db-6c52-459a-8e01-a5e3e5353676">ServiceUpdates</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>add47b7b-fd03-449b-bc7a-e9627735445c</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>26eb49ee-9858-498b-9364-e8123f3cb758</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>139dc366-c15c-4b1b-9bcb-009d01e0af96</Key>
      <Name>Service Item Picker</Name>
      <Alias>serviceItemPicker</Alias>
      <Definition>31257a49-e228-41e3-9abf-2f5184212f3c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The items will appear on the page, in the order of the list]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>82b2d1d2-f919-46d3-b1f6-a4a1436f16b5</Key>
      <Caption>Content</Caption>
      <Alias>Content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>