<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="748cbd49-35f1-4d0e-b952-4ad5c05c3870" Alias="serviceItemsFormsGuidesPromoContainer" Level="3">
  <Info>
    <Name>ServiceItems-FormsGuides-Promo Container</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="748cbd49-35f1-4d0e-b952-4ad5c05c3870" SortOrder="0">serviceItemsFormsGuidesPromoContainer</ContentType>
    <ContentType Key="ec96e307-61bf-4235-a512-f6c93dd6bd38" SortOrder="1">serviceItemsFormsGuidesPromoPodRender</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>