<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec96e307-61bf-4235-a512-f6c93dd6bd38" Alias="serviceItemsFormsGuidesPromoPodRender" Level="3">
  <Info>
    <Name>ServiceItems-FormsGuides-Promo Pod</Name>
    <Icon>icon-usb color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>063baca9-7b8c-4bde-890a-d0261cb4f059</Key>
      <Name>Pods</Name>
      <Alias>pods</Alias>
      <Definition>a2cc8612-0d1b-499a-9d06-e64f79157aea</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Pods">Pods</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f23298ed-f645-4495-a98d-318ffe417e79</Key>
      <Caption>Pods</Caption>
      <Alias>Pods</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>