<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c768db9-2398-4f1f-ab31-4ad6a75fa947" Alias="serviceLevelItemsPodContainer" Level="3">
  <Info>
    <Name>Service Level Items Pod Container</Name>
    <Icon>icon-folders color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7c768db9-2398-4f1f-ab31-4ad6a75fa947" SortOrder="0">serviceLevelItemsPodContainer</ContentType>
    <ContentType Key="0b38aebf-5f00-49d8-ae97-80c5afa34dcd" SortOrder="1">serviceLevelItemPodRender</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>