<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87baffd6-c8ed-45ed-b137-1b6f0c79c88a" Alias="siteRoot" Level="2">
  <Info>
    <Name>Site Root</Name>
    <Icon>icon-globe color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Segment</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions>
      <Composition Key="4c2d1c3e-46d6-466c-a333-8feafbead3a3">footerMixin</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c461432-e878-44a4-a78c-7c692441a724" SortOrder="0">error</ContentType>
    <ContentType Key="23b11840-f12c-4a61-98e9-194f734d8394" SortOrder="1">home</ContentType>
    <ContentType Key="bbbf1090-d19d-4fc8-9781-16e21f79460c" SortOrder="2">contact</ContentType>
    <ContentType Key="ae63a7ac-3312-427d-a370-eaebfbcce7b7" SortOrder="3">criteriaLookupLanding</ContentType>
    <ContentType Key="2caf27a0-7ebb-4671-abc2-38c57cd4611e" SortOrder="4">productsLanding</ContentType>
    <ContentType Key="22dbca97-6ebc-4a5c-a1d3-b6726355c778" SortOrder="5">searchResult</ContentType>
    <ContentType Key="baa78b40-8d12-4154-9a1c-ec26b5c17fef" SortOrder="6">solicitorLanding</ContentType>
    <ContentType Key="2ae98a04-88f2-43ba-ab9a-8db55a8e95b5" SortOrder="7">standardContent</ContentType>
    <ContentType Key="49a3e5b2-c9e1-4476-9e69-5f08f199580a" SortOrder="8">campaignLanding</ContentType>
    <ContentType Key="556a5cc4-ef70-4f01-a616-0e9e3689def9" SortOrder="9">serviceUpdates</ContentType>
    <ContentType Key="cc177062-bf81-496c-af88-025fe4c78940" SortOrder="10">sitemap</ContentType>
    <ContentType Key="59280363-08db-4eb8-b0dd-637256f79bcf" SortOrder="11">bDMFinder</ContentType>
    <ContentType Key="2650bec3-807d-49ec-b1c6-b09454edc4fe" SortOrder="12">calculatorLanding</ContentType>
    <ContentType Key="0853af03-d4ec-4ce9-aa4c-3c647599896c" SortOrder="13">loansCalculator</ContentType>
    <ContentType Key="76d3fea7-8779-48cd-8be2-31ecb9f6ce1f" SortOrder="14">overdraftCalculator</ContentType>
    <ContentType Key="b813ece4-fff2-4ffa-a78d-568a688668b1" SortOrder="15">withdrawalProductsLanding</ContentType>
    <ContentType Key="492c509b-7bc8-4d2c-b3c2-de288713d970" SortOrder="16">mediaLibrary</ContentType>
    <ContentType Key="d80a4e84-bd19-4a81-91a8-7baf5fa09fe2" SortOrder="17">newsLanding</ContentType>
    <ContentType Key="92bcf2b2-85aa-4467-a4cf-610e9b66a512" SortOrder="18">fAQLanding</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>acd50862-e1a9-4f5a-8495-1257207a9652</Key>
      <Name>Contact Us Link</Name>
      <Alias>contactUsLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98714a49-0723-499a-8b17-7064dc9bcf99</Key>
      <Name>Default Social Sharing Image</Name>
      <Alias>defaultSocialSharingImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Minimum size: 600×315px]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6fe8e679-2e4a-4eb7-8cc1-a4e446ab6240</Key>
      <Name>Disallow Robots</Name>
      <Alias>disallowRobots</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c613a5cb-a02d-4e16-aa02-9352ea54ef67</Key>
      <Name>404 Error page</Name>
      <Alias>errorPage404</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68705f1b-ddc1-487b-bd44-bfc2daef7456</Key>
      <Name>500 Error page</Name>
      <Alias>errorPage500</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54b06ad7-68c4-4802-9cab-db1b6ba4bdf4</Key>
      <Name>Global Contact CTA</Name>
      <Alias>globalBDMCTA</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This link will be used for the BDM CTA, unless the item being viewed has a specific one chosen.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc6a661a-0e94-42b6-8bdd-607cd32532e7</Key>
      <Name>Global Hero Pod Picker</Name>
      <Alias>globalHeroPodPicker</Alias>
      <Definition>cb63fb90-8d97-4f20-87d1-101270c54d27</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The hero pod fallbacks should be selected here.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9950e3ff-51c3-4044-88cf-b8fcc64d739e</Key>
      <Name>Global Product CTA</Name>
      <Alias>globalProductCTA</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This link will be used for the product CTA, unless the item being viewed has a specific one chosen.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec6b97f4-d79a-46bc-8e30-5f9399f13bfb</Key>
      <Name>Hide Print PDF Link</Name>
      <Alias>hidePrintPDFLink</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1dae811e-7c92-4ece-be3b-1fe04ed493c0</Key>
      <Name>LinkedIn Link</Name>
      <Alias>linkedInLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings/socialHandles">Social Handles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01ca9b72-6357-4e3a-9f59-fe6dbd657e80</Key>
      <Name>Login Link</Name>
      <Alias>loginLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05a52095-7c1b-4d14-89fc-947fe416e62e</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>d96c06b1-7bc2-4769-918d-fc3ec0e454ed</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9bfd8bf-818d-4ceb-92de-d2c595deb2e6</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>b902dec4-be06-4b7f-a8cc-f9dac4602331</Definition>
      <Type>Our.Umbraco.Meganav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>33f6f623-99d0-4b6a-ac05-97c55dbd0122</Key>
      <Name>Notifications</Name>
      <Alias>notifications</Alias>
      <Definition>59a72894-ede4-41f4-a359-7ed5e7e16d49</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="siteSettings/notificationAndPopUp">Notification and Pop Up</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3d30ff9-4f3f-4e4f-88ac-9f33b5706c68</Key>
      <Name>Pop Up Text</Name>
      <Alias>popUpText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="siteSettings/notificationAndPopUp">Notification and Pop Up</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e0a1b3a-ae28-4b9e-bbbc-15ddfa5a3082</Key>
      <Name>Pop Up Title</Name>
      <Alias>popUpTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings/notificationAndPopUp">Notification and Pop Up</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>307ecc40-6d6b-45f3-8f8d-5ee42c12e83d</Key>
      <Name>Register Link</Name>
      <Alias>registerLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4f17a6b-9dec-47f2-90d5-47a511ec10a6</Key>
      <Name>Robots meta</Name>
      <Alias>robotsMeta</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0dfd9387-6198-4bd3-a776-0bd4b9b400a5</Key>
      <Name>Search Results Link</Name>
      <Alias>searchResultsLink</Alias>
      <Definition>975385d9-ea7b-43b1-8853-b03482066442</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99be96a7-824a-452d-91f6-0a76dc516665</Key>
      <Name>Website Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed when shared on social media]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b4f0690-6333-439c-b361-2971d42df8ab</Key>
      <Name>Settings</Name>
      <Alias>siteSettings</Alias>
      <Definition>8514a9d7-fbdd-4956-adb5-9685adf44e34</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b261a273-8ebc-4190-a7f9-20fd5d2c3603</Key>
      <Name>Home Page</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da0db7b2-2da1-4db1-815a-63be7c825657</Key>
      <Name>Unsupported browser text</Name>
      <Alias>unsupportedBrowserText</Alias>
      <Definition>e581899a-68d7-41e7-b47c-85f08e176747</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="siteSettings/siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02153a9a-76c9-45f7-99b3-b12a7a3fe338</Key>
      <Caption>Notification and Pop Up</Caption>
      <Alias>siteSettings/notificationAndPopUp</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>50110d66-3386-4201-834a-b3eeeabda52a</Key>
      <Caption>Site Settings</Caption>
      <Alias>siteSettings/siteSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>911bf986-903d-4b5c-8281-2f8d14b7c49d</Key>
      <Caption>Social Handles</Caption>
      <Alias>siteSettings/socialHandles</Alias>
      <Type>Group</Type>
      <SortOrder>51</SortOrder>
    </Tab>
    <Tab>
      <Key>b470b00b-b99f-4d6f-8423-e4a9ba9ed416</Key>
      <Caption>Main Navigation</Caption>
      <Alias>mainNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f7164e3c-adae-448a-8107-b09559764488</Key>
      <Caption>Site settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>