<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("Head")
</head>
<body class="">

    @{
        var model = Model as IPublishedContent;
        var siteRoot = model.AncestorOrSelf<SiteRoot>();
    }


    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })

    <a class="skip-to-content-link" href="#Main" tabindex="1">
        Skip to content
    </a>

    @await Component.InvokeAsync("PopUpBlock")
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("ScrollBarBlock")

    <div class="print-logo"><img src="~/assets/dist/images/logo-boi.svg" alt="Bank of Ireland" asp-append-version="true" /></div>

    <main id="Main" class="main">
        @RenderBody()
    </main>

    @await Component.InvokeAsync("UnsupportedBrowserBlock")

    <a href="#" class="back-to-top" id="backToTop">
        Back to top
        <svg class="[ icon ]" aria-hidden="true">
            <use xlink:href="#sprite-icon-arrow-up"></use>
        </svg>
    </a>

    @if (!siteRoot.HidePrintPdflink)
    {
        <a class="common-print js-print-products" href="" title="Save page as PDF">
            Save page as PDF
            <svg class="[ icon icon-clock -white ]" aria-hidden="true">
                <use xlink:href="#sprite-icon-pdf-document-icon"></use>
            </svg>
            <span class="common-print-message">
                Save page as PDF
            </span>
        </a>
    }

    @await Component.InvokeAsync("Footer")

    <link type="text/css" rel="stylesheet" href="/assets/dist/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/assets/dist/css/first-paint.css" asp-append-version="true" />

    <partial name="BackgroundCss" />

    @RenderSection("Scripts", required: false)

    @await Component.InvokeAsync("BodyScripts", new { upperScripts = false })

    <script type="text/javascript" src="/App_Plugins/UmbracoForms/Assets/themes/default/umbracoForms.js"></script>
    @Html.RenderUnobtrusiveAjaxScript()
    <div class="svg-sprite" style="display: none">
        @Html.Partial("~/Views/Shared/SvgSprite.cshtml");
    </div>

</body>
</html>