<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("Head", new { calculatorLayout = true })
</head>
<body>
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })
    <link rel="stylesheet" href="~/common/css/style.css" asp-append-version="true" />

    @RenderBody()

    <script src="@("https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js")"></script>
    <script src="@("https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js")"></script>

    @RenderSection("Scripts", required: false)

    @await Component.InvokeAsync("BodyScripts", new { upperScripts = false })

    <div class="svg-sprite">
        <partial name="SVG_Sprite" />
    </div>
</body>
</html>