<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("Head")
</head>
<body class="">
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })

    <a class="skip-to-content-link" href="#Main" tabindex="1">
        Skip to content
    </a>

    @await Component.InvokeAsync("PopUpBlock")
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("ScrollBarBlock")

    <div class="print-logo"><img src="~/common/images/logo-boi.svg" alt="Bank of Ireland" asp-append-version="true"/></div>

    <main id="Main" class="main">
        @RenderBody()
    </main>

    @await Component.InvokeAsync("UnsupportedBrowserBlock")

    <a href="#" class="back-to-top" id="backToTop">
        Back to top
        <svg class="[ icon ]" aria-hidden="true">
            <use xlink:href="#sprite-icon-arrow-up"></use>
        </svg>
    </a>

    @await Component.InvokeAsync("Footer")

    <link type="text/css" rel="stylesheet" href="/common/css/style.css" asp-append-version="true" />

    @* TODO: PB TO CHECK IF THIS WORKS *@
    @await Component.InvokeAsync("BackgroundCss")

    @RenderSection("Scripts", required: false)
   
    @await Component.InvokeAsync("BodyScripts",new { upperScripts = false })

    <script type="text/javascript" src="/App_Plugins/UmbracoForms/Assets/themes/default/umbracoForms.js"></script>

    <div class="svg-sprite" style="display: none">
        <partial name="SVG_Sprite" />
    </div>

</body>
</html>