<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("Head", new { calculatorLayout = true })
</head>

<body>
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })

    @RenderBody()

    @* Check - how is cacheed version displayed in Ageas?*@

@*     <link rel="stylesheet" href="@CacheBust.FingerPrint("/common/css/style.css")" />
 *@
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = false })

    <div class="svg-sprite">
        <partial name="SVG_Sprite" />
    </div>

</body>
</html>