<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("Head", new { calculatorLayout = true })
</head>

<body>
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })

    @RenderBody()

    <link rel="stylesheet" href="/assets/dist/css/style.css" asp-append-version="true" />

    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = false })

    <div class="svg-sprite">
        <partial name="SVG_Sprite" />
    </div>

</body>
</html>