@using BOI.Core.Web.Extensions
@inherits UmbracoViewPage<IHeroMixin>

@{
    var Root = Model.AncestorOrSelf<SiteRoot>();
    var heroPods = (Model.HeroPodPicker == null ? Root.GlobalHeroPodPicker : Model.HeroPodPicker);
}

<section class="hero-area @(heroPods == null ? "no-additional" : "")">
    <div class="hero-area__copy">
        <h1>@(Model.Title.IsNullOrWhiteSpace() ? "" : Model.Title)</h1>
        <p>@Model.SupportingText</p>
    </div>

    <div class="hero-area__additional">

        @if (heroPods != null)
        {
            string viewPath = "~/Views/Partials/";
            foreach (var pod in heroPods)
            {
                switch (pod.ContentType.Alias)
                {
                    case BDmpodAction.ModelTypeAlias:
                        var podAlias = pod.ContentType.Alias.TrimEnd("Action");
                        viewPath = string.Concat(viewPath, "Pods/");
                        @await Component.InvokeAsync("PodsView", new { publishedContent = pod, isHeroPod = true })
                        break;
                    default:
                        <partial name="partials/pods/@pod.ContentType.Alias" model="pod" />
                        break;
                }
            }
        }
    </div>
</section>