.contact-detail-block {
  position: relative;
  padding: 40px 40px 40px 180px;
  border-bottom: 1px solid $grey-5;

  @include media($medium) {
    padding: 30px 30px 30px 135px;

    &:first-child {
      padding-top: 15px;

      &.rich-text .contact-detail-block__icon {
        top: 23px;
      }
    }
  }

  @include media($small) {
    padding-left: 90px;

    &:first-child {
      &.rich-text .contact-detail-block__icon {
        top: 21px;
      }
    }
  }

  @include media($tiny) {
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

/* for specificity */
.rich-text {
  .contact-detail-block__icon {
    position: absolute;
    top: 48px;
    left: 24px;
    margin: 0;
    width: 100%;
    max-width: 106px;
    height: auto;

    @include media($medium) {
      max-width: 80px;
    }

    @include media($small) {
      max-width: 50px;
      left: 15px;
      top: 36px;
    }

    @include media($tiny) {
      display: none;
    }
  }

  h1,h2,h3,h4,h5 {
    display: block;

    &:first-child() {
      margin-top: 0;
    }
  }
}

.disclaimer-text {
  @include media($max-desktop) {
    margin-top: 30px;
  }
}