<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cc20039-6912-48eb-885d-e01a26d86d6a" Alias="5" Level="5">
  <Info>
    <Parent Key="b4b24b06-db85-41a8-99e1-26a7a7156e4e">Product Terms Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTermsContainer/</Path>
    <Trashed>false</Trashed>
    <ContentType>productTerm</ContentType>
    <CreateDate>2021-03-17T09:39:36</CreateDate>
    <NodeName Default="5" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>