<?xml version="1.0" encoding="utf-8"?>
<Content Key="aedadd12-f686-4627-91a6-574e2f236f38" Alias="500" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/</Path>
    <Trashed>false</Trashed>
    <ContentType>error</ContentType>
    <CreateDate>2020-10-04T15:05:25</CreateDate>
    <NodeName Default="500" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="994051da-e1a4-442d-a337-3afcece82211">Error</Template>
  </Info>
  <Properties>
    <errorContent>
      <Value><![CDATA[{
  "markup": "<p>That doesn't seem to be working.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorContent>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <redirectCta>
      <Value><![CDATA[[
  {
    "name": "Go back to the homepage",
    "udi": "umb://document/b77c48578fff409ea80a50f69f14c4d3"
  }
]]]></Value>
    </redirectCta>
    <statusCode>
      <Value><![CDATA[500]]></Value>
    </statusCode>
  </Properties>
</Content>