<?xml version="1.0" encoding="utf-8"?>
<Content Key="914e311d-3e22-4bc0-a4f4-effd489abd86" Alias="60% LTV | Bespoke Buy to Let Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeBuyToLetFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2023-03-14T10:48:51</CreateDate>
    <NodeName Default="60% LTV | Bespoke Buy to Let Fixed Rates" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[60%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>