<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fe71718-20c8-4a76-a6e2-903f06c8d9d0" Alias="6G9" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/G9</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-04-30T14:14:07</CreateDate>
    <NodeName Default="6G9" />
    <SortOrder>4467</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/2bc0860cc01b4698acc6bd022a9a7fa3]]></Value>
    </category>
    <code>
      <Value><![CDATA[6G9]]></Value>
    </code>
    <description>
      <Value><![CDATA[which is our Standard Variable Rate for the entire mortgage term]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[No Early Redemption Charges.]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[None]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[0]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[0]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[0]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2023-09-13T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/f47ee20d3731458e8d690f07a2627576]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[8.4]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[0]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/f58815e375dd4b05ad3317cfd8cc290c]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "FA"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[8.04]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/4d6f099f5fec4eb79f040fda47743df6]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>