<?xml version="1.0" encoding="utf-8"?>
<Content Key="9290b184-04fa-40ad-a2ac-ea9c9d94147e" Alias="7" Level="5">
  <Info>
    <Parent Key="b4b24b06-db85-41a8-99e1-26a7a7156e4e">Product Terms Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTermsContainer/</Path>
    <Trashed>false</Trashed>
    <ContentType>productTerm</ContentType>
    <CreateDate>2022-08-18T08:57:14</CreateDate>
    <NodeName Default="7" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>