<?xml version="1.0" encoding="utf-8"?>
<Content Key="609a3e21-f943-48bd-805d-562cd8c4ba63" Alias="70% LTV | Bespoke Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-17T09:39:40</CreateDate>
    <NodeName Default="70% LTV | Bespoke Fixed Rates" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[70%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>