<?xml version="1.0" encoding="utf-8"?>
<Content Key="8549cea3-5aa2-4a41-b1e1-a56ac72b7e38" Alias="75% LTV | Buy to Let Green Fixed Rates | ICR (Interest Cover Ratio)" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBuyToLetGreenFixedRatesICRInterestCoverRatio</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-06-30T10:06:33</CreateDate>
    <NodeName Default="75% LTV | Buy to Let Green Fixed Rates | ICR (Interest Cover Ratio)" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>