<?xml version="1.0" encoding="utf-8"?>
<Content Key="8167f6e1-f881-47fb-97d1-57b870363948" Alias="75% LTV | Buy to Let Variable Rates | ICR (Interest Cover Ratio)" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBuyToLetVariableRatesICRInterestCoverRatio</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-18T10:08:21</CreateDate>
    <NodeName Default="75% LTV | Buy to Let Variable Rates | ICR (Interest Cover Ratio)" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>