<?xml version="1.0" encoding="utf-8"?>
<Content Key="f54811c8-23d5-4d31-8903-e934f06ffaff" Alias="75% LTV | Bespoke Large Loans Variable Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeLargeLoansVariableRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2022-04-06T10:47:12</CreateDate>
    <NodeName Default="75% LTV | Bespoke Large Loans Variable Rates" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>