<?xml version="1.0" encoding="utf-8"?>
<Content Key="f55daa2a-b3b4-461c-93ab-ef17a77d098e" Alias="75% LTV | Buy to Let Variable Rates | Top Slicing" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBuyToLetVariableRatesTopSlicing</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2022-01-18T16:20:03</CreateDate>
    <NodeName Default="75% LTV | Buy to Let Variable Rates | Top Slicing" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>