<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0faae8b-ac00-42c3-80d6-dc1e667b4116" Alias="75% LTV | Bespoke Buy to Let Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeBuyToLetFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2023-03-14T10:49:07</CreateDate>
    <NodeName Default="75% LTV | Bespoke Buy to Let Fixed Rates" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>