<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b919938-f4b8-4e72-b9d3-1a96cda88e27" Alias="75% LTV | Buy to Let Green Fixed Rates | Top Slicing" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBuyToLetGreenFixedRatesTopSlicing</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-06-30T10:06:34</CreateDate>
    <NodeName Default="75% LTV | Buy to Let Green Fixed Rates | Top Slicing" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[75%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>