<?xml version="1.0" encoding="utf-8"?>
<Content Key="81e0d95d-f14f-4802-8b77-162e0d676ed3" Alias="80% LTV | Residential Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVResidentialFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-06-25T14:27:22</CreateDate>
    <NodeName Default="80% LTV | Residential Fixed Rates" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[80%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>