<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9d9cf25-5409-4c37-9f97-b01cad0cc85f" Alias="80% LTV | Bespoke Large Loans Variable Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeLargeLoansVariableRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2022-04-06T10:47:13</CreateDate>
    <NodeName Default="80% LTV | Bespoke Large Loans Variable Rates" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[80%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>