<?xml version="1.0" encoding="utf-8"?>
<Content Key="a924ee34-face-42d8-95c1-7d5fb971ecb7" Alias="85% LTV | Bespoke Residential Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeResidentialFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2024-03-06T12:50:28</CreateDate>
    <NodeName Default="85% LTV | Bespoke Residential Fixed Rates" />
    <SortOrder>78</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[85%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>