<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0403955-6d78-4c94-a033-abc598cb1a65" Alias="85% LTV | Residential Variable Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVResidentialVariableRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-17T09:39:37</CreateDate>
    <NodeName Default="85% LTV | Residential Variable Rates" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[85%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>