<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a249211-3309-4753-9256-aece32c0afa9" Alias="85% LTV | First Start Fixed Rates | For Purchases Only" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVFirstStartFixedRatesForPurchasesOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-17T09:39:38</CreateDate>
    <NodeName Default="85% LTV | First Start Fixed Rates | For Purchases Only" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[85%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>