<?xml version="1.0" encoding="utf-8"?>
<Content Key="db23effa-635b-43fd-9b91-6ffb1003fe0d" Alias="90% LTV | Bespoke Residential Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVBespokeResidentialFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2024-03-06T13:16:46</CreateDate>
    <NodeName Default="90% LTV | Bespoke Residential Fixed Rates" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[90%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>