<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c1f67e8-8c29-44cd-bc6d-44c569ebf68a" Alias="90% LTV | First Start Fixed Rates | For Purchases Only" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVFirstStartFixedRatesForPurchasesOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2022-01-07T11:44:30</CreateDate>
    <NodeName Default="90% LTV | First Start Fixed Rates | For Purchases Only" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[90%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>