<?xml version="1.0" encoding="utf-8"?>
<Content Key="059ee4ca-c1af-4d31-9dcc-3fb8d4e78552" Alias="90% LTV | First Start Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVFirstStartFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-17T09:39:47</CreateDate>
    <NodeName Default="90% LTV | First Start Fixed Rates" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[90%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>