<?xml version="1.0" encoding="utf-8"?>
<Content Key="f47ee20d-3731-458e-8d69-0f07a2627576" Alias="90% LTV | Residential Variable Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVResidentialVariableRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-18T10:08:21</CreateDate>
    <NodeName Default="90% LTV | Residential Variable Rates" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[90%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>