<?xml version="1.0" encoding="utf-8"?>
<Content Key="71a10a5e-e130-4ad0-b8dd-42aabb9fb0d5" Alias="95% LTV | First Start Fixed Rates | For Purchases Only" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVFirstStartFixedRatesForPurchasesOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2022-01-07T11:44:31</CreateDate>
    <NodeName Default="95% LTV | First Start Fixed Rates | For Purchases Only" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[95%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>