<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d4ab63b-3536-4d3e-9c5c-9e56cc1f5305" Alias="95% LTV | Residential Fixed Rates | For Purchases Only" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/LTVResidentialFixedRatesForPurchasesOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-18T07:18:57</CreateDate>
    <NodeName Default="95% LTV | Residential Fixed Rates | For Purchases Only" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[95%]]></Value>
    </lTVFilterText>
  </Properties>
</Content>