<?xml version="1.0" encoding="utf-8"?>
<Content Key="157e9949-831d-4fc4-88a3-7a59bb5621e2" Alias="ABWX" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/ABWX</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-04-22T14:34:08</CreateDate>
    <NodeName Default="ABWX" />
    <SortOrder>4389</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/681d68291b7244baa4979c88ba4ceabb]]></Value>
    </category>
    <code>
      <Value><![CDATA[ABWX]]></Value>
    </code>
    <description>
      <Value><![CDATA[ until 31/08/2029 followed by our Standard Variable Rate for the rest of the mortgage term. This is currently 8.04% variable]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[4% until 31/08/2026, then 3% until 31/08/2028, then 2% until 31/08/2029]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[None]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[0]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[1]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[1]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2024-04-23T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/76f28d51c3d34c07ace6e25e36b58751]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[7.1]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[0]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/f58815e375dd4b05ad3317cfd8cc290c]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "FA"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[5.44]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/6cc20039691248eb885de01a26d86d6a]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>