<?xml version="1.0" encoding="utf-8"?>
<Content Key="80fccc17-7484-46f1-8e95-484220f70853" Alias="Access to flats" Level="5">
  <Info>
    <Parent Key="8c3c7fe4-3a60-4b10-89c7-514d806e24b1">Bespoke &gt; Property</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeProperty/AccessToFlats</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-09-24T20:52:37</CreateDate>
    <NodeName Default="Access to flats" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Self-contained access from the front of the building MUST be in place. Properties with external rear/side access via narrow alleyways or public footpaths are unacceptable, including those accessed across commercial premises/carparks.</p>
<p>Blocks of flats exceeding 4 floors in height (excluding basement floors but including ground floor, i.e.0,1,2,3 floors) MUST have lift access to all floors to be acceptable. Unless it's a converted former house in a desirable location, e.g. Pimlico, Chelsea, Kensington or Belgravia, or a standard Scottish tenement for the area.</p>
<p>We don't allow access via an external staircase.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>