<?xml version="1.0" encoding="utf-8"?>
<Content Key="126e1183-3ef7-4832-ad4f-67119cd404f7" Alias="ACNS" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/ACNS</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-06-06T09:53:23</CreateDate>
    <NodeName Default="ACNS" />
    <SortOrder>4672</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/681d68291b7244baa4979c88ba4ceabb]]></Value>
    </category>
    <code>
      <Value><![CDATA[ACNS]]></Value>
    </code>
    <description>
      <Value><![CDATA[ until 31/08/2029 followed by our Standard Variable Rate for the rest of the mortgage term. This is currently 8.04% variable]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[4% until 31/08/2026, then 3% until 31/08/2028, then 2% until 31/08/2029]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[<ul><li><span class="list-bullets">Standard Valuation Fee Paid by Lender</span></li><li><span class="list-bullets">Standard legal fees paid by Lender (for remortgages only)</span></li><li><span class="list-bullets">Repayment Methods: Interest Only, Part & Part, Capital Repayment</span></li></ul>]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[1]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[1]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[1]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2024-06-07T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/7d16252129114b16a2a5d767fae6b8b2]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[6.9]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[2495]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/aefcc36c0cfd4d81b4ace9579154d73e]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "NC"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[4.92]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/6cc20039691248eb885de01a26d86d6a]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>