<?xml version="1.0" encoding="utf-8"?>
<Content Key="d65a90f0-8f1f-4ba6-8bd0-2dee0d4ea1e2" Alias="ACXC" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/ACXC</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-04T11:15:30</CreateDate>
    <NodeName Default="ACXC" />
    <SortOrder>4737</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/681d68291b7244baa4979c88ba4ceabb]]></Value>
    </category>
    <code>
      <Value><![CDATA[ACXC]]></Value>
    </code>
    <description>
      <Value><![CDATA[ until 30/09/2027 followed by our Standard Variable Rate for the rest of the mortgage term. This is currently 8.04% variable]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[3% until 30/09/2026, then 2% until 30/09/2027]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[<ul><li><span class="list-bullets">£500 Cashback paid to solicitor with advance</span></li><li><span class="list-bullets">Standard Valuation Fee Paid by Lender</span></li><li><span class="list-bullets">Minimum Loan £150,000</span></li><li><span class="list-bullets">Maximum Loan £1,000,000</span></li><li><span class="list-bullets">Repayment Methods: Capital Repayment, Part & Part (Interest Only element maximum 60% LTV)</span></li></ul>]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[1]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[1]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[1]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2024-07-05T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/0cfb9d0b4c7a409e91cf3fb354750e9c]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[7.5]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[1495]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/47c590a3941340d3b1880a63b9588616]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "BS"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[5.02]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/128a4bc83cce432b8db66dd1a1a6fcab]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>