<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dc73ab1-2439-45c1-89f4-d272828d5137" Alias="ACXU" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/ACXU</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-04T11:16:45</CreateDate>
    <NodeName Default="ACXU" />
    <SortOrder>4761</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/681d68291b7244baa4979c88ba4ceabb]]></Value>
    </category>
    <code>
      <Value><![CDATA[ACXU]]></Value>
    </code>
    <description>
      <Value><![CDATA[ until 30/09/2026 followed by our Standard Variable Rate for the rest of the mortgage term. This is currently 8.04% variable]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[3% until 30/09/2025, then 2% until 30/09/2026]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[<ul><li><span class="list-bullets">Minimum Loan £750,000</span></li><li><span class="list-bullets">Maximum Loan £2,500,000</span></li><li><span class="list-bullets">Repayment Methods: Capital Repayment, Part & Part (Interest Only element maximum 60% LTV)</span></li></ul>]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[1]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[1]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[1]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2024-07-05T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/7b9d1e2ab61647f1bdd609a17b4d9b46]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[7.7]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[1995]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/47c590a3941340d3b1880a63b9588616]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "BS"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[5.23]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/8fae6691367445f6af808efd68e8cfe6]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>