<?xml version="1.0" encoding="utf-8"?>
<Content Key="f62fc26d-7300-42df-8780-48117f052c40" Alias="Affordability calculator help page" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/AffordabilityCalculatorHelpPage</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-22T12:42:08</CreateDate>
    <NodeName Default="Affordability calculator help page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/763a570fc0be4882abfc837de9f3b182"
      },
      {
        "contentUdi": "umb://element/2370e5d508184f11a365704f2fdea4e3"
      },
      {
        "contentUdi": "umb://element/99fdcb80920c4ddfb27308d49462873e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/763a570fc0be4882abfc837de9f3b182",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "target": "_blank",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/2370e5d508184f11a365704f2fdea4e3",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/99fdcb80920c4ddfb27308d49462873e",
      "quickLink": [
        {
          "name": "Find a Solicitor",
          "udi": "umb://document/2beccc4772794c249093abd9d9455b35"
        }
      ],
      "quickLinkIcon": "umb://media/5f9d1817c4364548ad6eba852e12b3b6"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>