<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaa561b6-84c1-4749-9f33-d4fb28dd485d" Alias="ALL LTV | First Start Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/ALLLTVFirstStartFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2021-03-17T09:39:47</CreateDate>
    <NodeName Default="ALL LTV | First Start Fixed Rates" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[ALL]]></Value>
    </lTVFilterText>
  </Properties>
</Content>