<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c60efaa-9226-4142-8060-833b2c27c2fe" Alias="All LTV | Buy to Let Fixed Rates | Top Slicing" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/AllLTVBuyToLetFixedRatesTopSlicing</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2023-01-27T10:35:57</CreateDate>
    <NodeName Default="All LTV | Buy to Let Fixed Rates | Top Slicing" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[All]]></Value>
    </lTVFilterText>
  </Properties>
</Content>