<?xml version="1.0" encoding="utf-8"?>
<Content Key="c48b7ac6-bacf-4277-9fea-75a7070e0783" Alias="All LTV | Bespoke Residential Fixed Rates" Level="5">
  <Info>
    <Parent Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad">Product LTV Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer/AllLTVBespokeResidentialFixedRates</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTV</ContentType>
    <CreateDate>2024-03-06T12:50:32</CreateDate>
    <NodeName Default="All LTV | Bespoke Residential Fixed Rates" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <lTVFilterText>
      <Value><![CDATA[All]]></Value>
    </lTVFilterText>
  </Properties>
</Content>