<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b9d87c1-c9af-44a3-ad64-ae24d7c4836c" Alias="Annexes" Level="5">
  <Info>
    <Parent Key="8c3c7fe4-3a60-4b10-89c7-514d806e24b1">Bespoke &gt; Property</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeProperty/Annexes</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2024-02-27T09:29:32</CreateDate>
    <NodeName Default="Annexes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We can accept properties with an annexe as a reason/entry point for Bespoke (providing the client meets our <a href="/lending-criteria/#bespoke#bespoke" data-anchor="#bespoke">Bespoke 5 golden rules</a>), <strong>subject to valuers comments.</strong> The annexe must have one of the following for it to be considered for Bespoke:</p>
<ol start="1" data-listchain="__List_Chain_1958">
<li>The annexe and the main building are on separate utilities</li>
<li>The annexe is a separate building to the main building</li>
<li>The annexe has separate, external access only</li>
<li>Both the annexe and the main building must be on the same title deed.</li>
</ol>
<p>The annexe can't be let out, now or in the future. </p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-03-26T09:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>