<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bb98648-20bd-435c-94ae-4ca055627f46" Alias="Aplications TAb" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/AplicationsTAb</Path>
    <Trashed Parent="79d974a3-b32f-4c29-98e0-e57aaa3149dc">true</Trashed>
    <ContentType>fAQTab</ContentType>
    <CreateDate>2024-08-30T14:59:06</CreateDate>
    <NodeName Default="Aplications TAb" />
    <SortOrder>6117</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[]]></Value>
    </answer>
    <excludeFromSearch>
      <Value><![CDATA[]]></Value>
    </excludeFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <question>
      <Value><![CDATA[]]></Value>
    </question>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>