<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc01947f-4ca3-4eb8-b049-c5eefb9316ea" Alias="Applications" Level="4">
  <Info>
    <Parent Key="79d974a3-b32f-4c29-98e0-e57aaa3149dc">Frequently Asked Questions (1)</Parent>
    <Path>/BankOfIreland/Website/FrequentlyAskedQuestions1/Applications</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQ</ContentType>
    <CreateDate>2024-09-02T07:29:44</CreateDate>
    <NodeName Default="Applications" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[]]></Value>
    </answer>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <fAQCategory>
      <Value><![CDATA[umb://document/218cc230f3d14c71a4ed9fb843fc3cab]]></Value>
    </fAQCategory>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <question>
      <Value><![CDATA[]]></Value>
    </question>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>