<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ac5a6ae-39ed-476a-afa6-cd65b96f01af" Alias="Application Submission to Offer" Level="4">
  <Info>
    <Parent Key="73425fd1-0d64-494f-856c-2c4ce70e8ab4">Service Update</Parent>
    <Path>/BankOfIreland/DataRepositories/ServiceUpdate/ApplicationSubmissionToOffer</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItem</ContentType>
    <CreateDate>2020-12-11T03:02:41</CreateDate>
    <NodeName Default="Application Submission to Offer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBodyText>
      <Value><![CDATA[Please ensure the Valuation Fee is paid (if applicable) to secure the rate applied for, and that you’ve supplied any documents and information requested to minimise delays. To check the full list of what we need, log in to your case hub and select the ‘Actions’ tab. ]]></Value>
    </serviceBodyText>
    <serviceDate>
      <Value><![CDATA[]]></Value>
    </serviceDate>
    <serviceIcon>
      <Value><![CDATA[umb://media/bfafb7f3bd1e4c20a24609816e3bbd5e]]></Value>
    </serviceIcon>
    <serviceSubtitle>
      <Value><![CDATA[13 working days]]></Value>
    </serviceSubtitle>
    <serviceTitle>
      <Value><![CDATA[Application Submission to Offer]]></Value>
    </serviceTitle>
  </Properties>
</Content>