<?xml version="1.0" encoding="utf-8"?>
<Content Key="2507342f-c1e8-4697-be92-83315fb78e41" Alias="Applicant" Level="5">
  <Info>
    <Parent Key="c70a33ed-2e18-42f1-9f24-6c8e16c45215">Criteria Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/CriteriaCategoriesContainer/Applicant</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaCategory</ContentType>
    <CreateDate>2020-11-30T13:57:34</CreateDate>
    <NodeName Default="Applicant" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>