<?xml version="1.0" encoding="utf-8"?>
<Content Key="218cc230-f3d1-4c71-a4ed-9fb843fc3cab" Alias="Applications" Level="5">
  <Info>
    <Parent Key="3f04f7ff-fe24-483f-ae00-158953eee16e">FAQ Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/FAQCategoriesContainer/Applications</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQCategory</ContentType>
    <CreateDate>2024-08-30T12:38:40</CreateDate>
    <NodeName Default="Applications" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>