<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c7281c8-b215-403b-91e1-a572aa924dab" Alias="Award Winning Services" Level="4">
  <Info>
    <Parent Key="7caa7a47-9886-4e8f-ac41-834c5a290a73">Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/AwardWinningServices</Path>
    <Trashed>false</Trashed>
    <ContentType>awardWinningServicePodContainer</ContentType>
    <CreateDate>2020-11-06T15:30:12</CreateDate>
    <NodeName Default="Award Winning Services" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>