<?xml version="1.0" encoding="utf-8"?>
<Content Key="95c56032-7db6-462c-aebc-7b2b365e710c" Alias="Award Winning Service Pod" Level="5">
  <Info>
    <Parent Key="7c7281c8-b215-403b-91e1-a572aa924dab">Award Winning Services</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/AwardWinningServices/AwardWinningServicePod</Path>
    <Trashed>false</Trashed>
    <ContentType>awardWinningServicePodRender</ContentType>
    <CreateDate>2020-11-06T15:34:26</CreateDate>
    <NodeName Default="Award Winning Service Pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <images>
      <Value><![CDATA[umb://media/57ab0d36ef13472fb130c38e82449819]]></Value>
    </images>
    <subTitle>
      <Value><![CDATA[Supporting copy lorem ipsum dolor sit amet elit]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Award winning service]]></Value>
    </title>
  </Properties>
</Content>