<?xml version="1.0" encoding="utf-8"?>
<Content Key="4393d763-e390-4bb5-8b49-5f5c4050b313" Alias="Barristers" Level="5">
  <Info>
    <Parent Key="9956891a-6b91-412e-b351-33d205da6798">Bespoke &gt; Income</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeIncome/Barristers</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T10:48:32</CreateDate>
    <NodeName Default="Barristers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Barristers income can be obtained directly from the Chambers without the requirement to obtain SA302’s/full accounts.</p>
<p>The certificate will be provided at application, or sent to the Chambers directly, by the Bank.</p>
<p>The certificate will collect the latest 2 years’ financial figures (where available) and in addition, will collect anticipated future earnings based on work already scheduled.</p>
<p>For newly qualified Barristers, where both self employed and pupillage income fall inside the latest 12 months, our Bespoke underwriters can consider combining the two incomes together, providing the work scheduled for the following year is at least equal to this amount <strong>AND</strong> providing the Barrister has been fully qualified for a minimum of 6 months.</p>
<p>This future ‘scheduled’ income will only be used to support using the latest year in isolation and cannot be used as the assessable income.</p>
<p>1 month’s personal bank statements will also be required.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>