<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaa4c0af-8133-407b-8172-6f62b98c3475" Alias="BDM Pods" Level="4">
  <Info>
    <Parent Key="7caa7a47-9886-4e8f-ac41-834c5a290a73">Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/BDMPods</Path>
    <Trashed>false</Trashed>
    <ContentType>bDMPodContainer</ContentType>
    <CreateDate>2020-12-03T17:15:58</CreateDate>
    <NodeName Default="BDM Pods" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>