<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7fec491-1c3d-42b8-a4e1-569e306283de" Alias="Bespoke page pod" Level="5">
  <Info>
    <Parent Key="a9bcf5c3-9bef-472c-ad92-45c7480610c6">Promotional Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/PromotionalPods/BespokePagePod</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionalPodRender</ContentType>
    <CreateDate>2021-01-15T08:49:05</CreateDate>
    <NodeName Default="Bespoke page pod" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "See Our Bespoke Products",
    "udi": "umb://document/d5f62a330bdd4b58b295a1159764b3ea"
  }
]]]></Value>
    </cTALink>
    <image>
      <Value><![CDATA[umb://media/3cb75137f42946a09aa6217c0ddf6ad1]]></Value>
    </image>
    <subText>
      <Value><![CDATA[<p><img src="?width=440&amp;height=73&amp;mode=max" alt="Mortgage Strategy Awards Best Large Loan Lender 2020" width="440" height="73" data-udi="umb://media/71abb85fca0b46ceb747c04f9032adf0" /></p>]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Bespoke]]></Value>
    </title>
  </Properties>
</Content>