<?xml version="1.0" encoding="utf-8"?>
<Content Key="b43f24ca-73fa-4697-9c3d-1f362290eeda" Alias="Bespoke Large Loan New Business" Level="5">
  <Info>
    <Parent Key="5daf3005-fedf-4fd3-b6f4-d4866e33482e">Product Types Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTypesContainer/BespokeLargeLoanNewBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2021-03-23T11:16:58</CreateDate>
    <NodeName Default="Bespoke Large Loan New Business" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>