<?xml version="1.0" encoding="utf-8"?>
<Content Key="92bb20c4-28ac-447c-b963-f1ad0a5f062d" Alias="Bespoke Product Transfers" Level="5">
  <Info>
    <Parent Key="5daf3005-fedf-4fd3-b6f4-d4866e33482e">Product Types Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTypesContainer/BespokeProductTransfers</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2021-03-23T11:28:01</CreateDate>
    <NodeName Default="Bespoke Product Transfers" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>