<?xml version="1.0" encoding="utf-8"?>
<Content Key="9956891a-6b91-412e-b351-33d205da6798" Alias="Bespoke &gt; Income" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeIncome</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-06-28T10:47:38</CreateDate>
    <NodeName Default="Bespoke &gt; Income" />
    <SortOrder>110</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Bespoke Residential:</strong></p>
<ul>
<li><span class="list-bullets">Repayment - Minimum individual assessable income £40,000</span></li>
<li><span class="list-bullets">Interest Only – Minimum income £50,000 or joint £75,000 (if neither earns £50,000).</span></li>
</ul>
<p><strong>Bespoke Buy to Let:</strong></p>
<ul>
<li><span class="list-bullets">One applicant must earn at least £40,000.</span></li>
<li><span class="list-bullets">Income must be paid and contracted in GBP (£) and be subject to UK tax and National Insurance contributions.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/a5dc56e1c8ba4965ac8225e4c6f741ba]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Income]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Bespoke Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>