<?xml version="1.0" encoding="utf-8"?>
<Content Key="47c590a3-9413-40d3-b188-0a63b9588616" Alias="Bespoke Residential New Business" Level="5">
  <Info>
    <Parent Key="5daf3005-fedf-4fd3-b6f4-d4866e33482e">Product Types Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTypesContainer/BespokeResidentialNewBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-03-06T09:52:50</CreateDate>
    <NodeName Default="Bespoke Residential New Business" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>