<?xml version="1.0" encoding="utf-8"?>
<Content Key="701150d9-545e-440f-bc06-9472a4b48e2f" Alias="Bespoke products" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/BespokeProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T16:39:40</CreateDate>
    <NodeName Default="Bespoke products" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5bdd8d937843474d87e66a57fe4a3a99"
      },
      {
        "contentUdi": "umb://element/6787bb4aeec84295a6e3c0038efe733d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/5bdd8d937843474d87e66a57fe4a3a99",
      "quickLink": [
        {
          "name": "Bespoke Information",
          "udi": "umb://document/6aebe75adc7b47569ab8876882a0efed"
        }
      ],
      "quickLinkIcon": "umb://media/5a480d47418a4d0ba69374ebf099226a"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/6787bb4aeec84295a6e3c0038efe733d",
      "quickLink": [
        {
          "name": "Bespoke Case Studies",
          "udi": "umb://document/db42709bc0424af5a454113316bf00cf"
        }
      ],
      "quickLinkIcon": "umb://media/03a6d854365e418f84a1720df7642a72"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>