<?xml version="1.0" encoding="utf-8"?>
<Content Key="2eee59d7-16d5-4a58-98c6-10cd239160ae" Alias="Bespoke personalisation" Level="5">
  <Info>
    <Parent Key="a9bcf5c3-9bef-472c-ad92-45c7480610c6">Promotional Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/PromotionalPods/BespokePersonalisation</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionalPodRender</ContentType>
    <CreateDate>2021-01-14T16:28:15</CreateDate>
    <NodeName Default="Bespoke personalisation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Find Out More",
    "udi": "umb://document/6aebe75adc7b47569ab8876882a0efed"
  }
]]]></Value>
    </cTALink>
    <image>
      <Value><![CDATA[umb://media/3cb75137f42946a09aa6217c0ddf6ad1]]></Value>
    </image>
    <subText>
      <Value><![CDATA[<h5><span class="-white-text">Exclusive access to specialist loans from an award winning lender.</span> </h5>
<p><strong>Best Specialist Lender - Legal &amp; General Mortgage Club Awards 2021</strong></p>]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Bespoke]]></Value>
    </title>
  </Properties>
</Content>