<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5f62a33-0bdd-4b58-b295-a1159764b3ea" Alias="Bespoke Products" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/BespokeProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>productsLanding</ContentType>
    <CreateDate>2020-12-22T11:49:15</CreateDate>
    <NodeName Default="Bespoke Products" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="552f2d28-02d5-441c-aafa-5d6422eebce9">ProductsLanding</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "00ffc5",
  "label": "BOI Teal",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/abf539af6f08447388ba21daf525f4cb]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f604b5f87e724d5e99a8cea7ff7abc4b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/f604b5f87e724d5e99a8cea7ff7abc4b",
      "richText": "<p>You’ll find a range of residential mortgages up to 90% LTV. Use the filters below to find the right product for your client.</p>\n<p>The Bank of Ireland Standard Variable Rate is currently 8.04%. The Lending Fee is £195 (due on completion, but can be deferred until mortgage is fully repaid). All information correct as at 05/07/2024.</p>\n<p><strong>Is the product you’re looking for not showing? </strong>It might be withdrawing soon. If it is you'll be able to find it on our <a href=\"https://www.bankofireland4intermediaries.co.uk/withdrawing-bespoke-products/#/withdrawing-bespoke-products/\" title=\"Withdrawing Products\" data-auth=\"NotApplicable\" data-linkindex=\"0\" data-anchor=\"#/withdrawing-bespoke-products/\"><strong><span>Withdrawing products</span></strong></a> page.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <filterCategoriesTitle>
      <Value><![CDATA[Filter Categories]]></Value>
    </filterCategoriesTitle>
    <filterInterestOnlyTitle>
      <Value><![CDATA[Filter Interest Only]]></Value>
    </filterInterestOnlyTitle>
    <filterLTVsTitle>
      <Value><![CDATA[Filter LTVs]]></Value>
    </filterLTVsTitle>
    <filterProductsTitle>
      <Value><![CDATA[Filter Products]]></Value>
    </filterProductsTitle>
    <filtersTitle>
      <Value><![CDATA[Bespoke Products]]></Value>
    </filtersTitle>
    <filterTermsTitle>
      <Value><![CDATA[Filter Terms]]></Value>
    </filterTermsTitle>
    <helpToBuyLogos>
      <Value><![CDATA[]]></Value>
    </helpToBuyLogos>
    <heroPodPicker>
      <Value><![CDATA[umb://document/701150d9545e440fbc069472a4b48e2f]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <noResultFoundMessage>
      <Value><![CDATA[There are no products that match your search. Please try again.]]></Value>
    </noResultFoundMessage>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <productVariant>
      <Value><![CDATA[[
  "BS"
]]]></Value>
    </productVariant>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>If your client has had pre-application approval from our Bespoke underwriting team, you can find a mortgage to suit their needs here.</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Bespoke Products]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>