<?xml version="1.0" encoding="utf-8"?>
<Content Key="422e09dc-b6a5-4f47-8622-1879bd5b067d" Alias="Bespoke &gt; Rental calculation/margin" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeRentalCalculationmargin</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-06-28T11:55:51</CreateDate>
    <NodeName Default="Bespoke &gt; Rental calculation/margin" />
    <SortOrder>116</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/51a00d25b21248dabc6a6b072944429b]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Rental calculation/margin]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Bespoke Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>