<?xml version="1.0" encoding="utf-8"?>
<Content Key="deb00dc7-a0d4-4c4e-a23b-caa32e0f6e92" Alias="Bespoke (BTL)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeBTL</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-03-03T15:24:38</CreateDate>
    <NodeName Default="Bespoke (BTL)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<h5><strong>Check our 5 golden rules</strong></h5>
<ul>
<li><span class="list-bullets">Must pass our credit score</span></li>
<li><span class="list-bullets">Must meet our minimum income and loan size requirements<span class="fs-13">*</span></span></li>
<li><span class="list-bullets">Income to support the loan must be paid in GBP</span></li>
<li><span class="list-bullets">Up to 90% LTV for residential and up to 75% LTV for Buy to Let </span></li>
<li><span class="list-bullets">Must meet our standard property criteria.</span></li>
</ul>
<p>For further information, take a look at our <a href="/{localLink:umb://document/6aebe75adc7b47569ab8876882a0efed}" title="Bespoke Information">Bespoke information</a> page or search our dedicated <a href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#tabs">Bespoke Lending Criteria</a> to see how we can meet the needs of your clients with complex income.</p>
<p> *The minimum loan size is £150,000 and the minimum income requirements are:<br /><strong>Residential: </strong>Repayment mortgage - At least one applicant must earn £40,000. Interest only mortgage - £50,000 for sole applicants and £75,000 for joint applicants. <strong>Buy to Let:</strong> At least one applicant must earn £40,000 for a repayment or interest only mortgage.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Bespoke]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>