<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fbb3aaa-156e-4e2b-b127-211f7465e9dd" Alias="BTL mortgages" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/BTLMortgages</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-28T09:50:18</CreateDate>
    <NodeName Default="BTL mortgages" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e6dda64064144ecc868d2c3c9297de57"
      },
      {
        "contentUdi": "umb://element/9084e7c0c1484d96b01bd24eed022b19"
      },
      {
        "contentUdi": "umb://element/92bf6e115cdf4e8490ae356264b62e47"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/e6dda64064144ecc868d2c3c9297de57",
      "quickLink": [
        {
          "name": "Buy to Let Calculator",
          "udi": "umb://document/bc27cac697df4cb19ac2d0cd24cb24e4"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/9084e7c0c1484d96b01bd24eed022b19",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2",
          "queryString": "?isBuyToLet=true"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/92bf6e115cdf4e8490ae356264b62e47",
      "quickLink": [
        {
          "name": "Residential Information",
          "udi": "umb://document/3c314f5fb5e9465f8bcb7464a2440101"
        }
      ],
      "quickLinkIcon": "umb://media/c12ea63964324026a5f45eeadaa0522e"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>