<?xml version="1.0" encoding="utf-8"?>
<Content Key="a666a3f7-429c-4d3d-94c7-735c78349a11" Alias="Buy to Let - Contractors" Level="5">
  <Info>
    <Parent Key="a0cddf79-5bdf-4b95-be48-828d94d89027">Bespoke &gt; Contractors</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeContractors/BuyToLetContractors</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T09:50:04</CreateDate>
    <NodeName Default="Buy to Let - Contractors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The term ‘contractors’ covers those trading as either self employed or as a limited company, as well as contractors working through an umbrella firm. Contractors have the option to apply as self employed (see Self Employed section under Income for further details), or as an employment type contractor.</p>
<p><strong>Our contractor lending criteria: (if your applicant falls outside of the minimum income, 80% contract value or minimum 12 months contracting period please </strong><a rel="noopener" href="/{localLink:umb://document/8ad458ac45da4354b145b92f1b62a0a2}" target="_blank" title="Find your BDM"><strong>contact us</strong></a><strong>)</strong></p>
<ul>
<li><span class="list-bullets">Maximum 90% Loan to Value, exclusive of fees</span></li>
<li><span class="list-bullets">Applicants must have a minimum gross contracting income of £50,000pa for the contractor (not the household)</span></li>
<li><span class="list-bullets">Affordability is based on 80% of gross contract income</span></li>
<li><span class="list-bullets">Minimum contracting period is 12 months in current occupation. The contract doesn’t have to be with the same agency/employer. Our Bespoke underwriters can consider less than 12 months history where the circumstances make sense and the applicant profile is strong</span></li>
<li><span class="list-bullets">Current contract is required for income assessment. This can be either the original or a certified copy. We’ll also need copies of all other contracts held in the past 12 months</span></li>
<li><span class="list-bullets">Short gaps between contracts in the last 12 months can be considered</span></li>
<li><span class="list-bullets">Eligible for Interest Only, subject to our Interest Only lending criteria</span></li>
<li><span class="list-bullets">Where contractors use an umbrella company to manage their payroll, please also refer to our <a href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#income-resi">umbrella companies income criteria</a>.</span></li>
</ul>
<p>We won’t lend to Construction Industry Scheme (CIS) contract workers under our contractor criteria. But we can consider them under our self employed income criteria.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>