<?xml version="1.0" encoding="utf-8"?>
<Content Key="aad0e637-1941-4d5c-a6df-23bf09225365" Alias="Buy to Let - Number of applicants" Level="5">
  <Info>
    <Parent Key="a094deef-a4e2-4f0e-8441-0fa9ea8a1bb6">Bespoke &gt; Number of applicants</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeNumberOfApplicants/BuyToLetNumberOfApplicants</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:51:31</CreateDate>
    <NodeName Default="Buy to Let - Number of applicants" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Maximum 4 – all must reside at the same property.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>