<?xml version="1.0" encoding="utf-8"?>
<Content Key="98a2f899-1158-4af1-b607-486cf41ae43e" Alias="Buy to Let - New builds" Level="5">
  <Info>
    <Parent Key="383ff48c-a2ca-4fa6-af8f-a7ccc023ed90">Bespoke &gt; New Builds</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeNewBuilds/BuyToLetNewBuilds</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:24:38</CreateDate>
    <NodeName Default="Buy to Let - New builds" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Purchases - maximum 75% LTV for houses. New Build flats are not acceptable.</p>
<p>Eligible New Build properties that have been built or converted within the last 12 months and are subject to a first sale, even if previously occupied.</p>
<p>Our offer of loan is valid for 9 months from the date of offer, unless stated otherwise in the offer document. If completion hasn't taken place before the offer expires, we can consider a 6 month extension. The application will be subject to a full reassessment against our current criteria including re-verification of income and a re-valuation of the property.</p>
<p>The applicant will be charged for a re-valuation of the property if they keep the same product or choose a new product that doesn't have a free valuation. This must be paid before the offer is extended. We won't charge a fee if a new product is chosen that has a free valuation.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>