<?xml version="1.0" encoding="utf-8"?>
<Content Key="96b00319-c09c-43a5-8bab-051a69351524" Alias="Buy to Let - First Time Buyers" Level="5">
  <Info>
    <Parent Key="c0035de8-11ee-4527-980f-8fc0bbcfe991">Bespoke &gt; First Time Buyers</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeFirstTimeBuyers/BuyToLetFirstTimeBuyers</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:43:52</CreateDate>
    <NodeName Default="Buy to Let - First Time Buyers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>First time buyers are not eligible for Bespoke Buy to Let.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>