<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d03414a-8312-4c4f-a2a9-a9dc5dc2f070" Alias="Buy to Let - Lending into retirement" Level="5">
  <Info>
    <Parent Key="25651fa2-cdf8-4195-ad7b-fcb1929a1b9f">Bespoke &gt; Lending into retirement</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeLendingIntoRetirement/BuyToLetLendingIntoRetirement</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:48:03</CreateDate>
    <NodeName Default="Buy to Let - Lending into retirement" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Where term extends into the applicant’s retirement the following criteria will apply:</p>
<p><strong> </strong><strong>Where retirement is less than 10 years away:</strong></p>
<ul>
<li><span class="list-bullets">Proof of current income and anticipated retirement income will need to be provided</span></li>
<li><span class="list-bullets">The lower of the current income or anticipated retirement income is used for affordability purposes.</span></li>
</ul>
<p><strong>Where retirement is 10 years or more away:</strong></p>
<ul>
<li><span class="list-bullets">Current income is to be used for affordability purposes</span></li>
<li><span class="list-bullets">Evidence of existing pension contributions must be provided.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>