<?xml version="1.0" encoding="utf-8"?>
<Content Key="37afbe59-4228-43e1-b15f-4f4d4f29f782" Alias="Buy to Let - Rental calculation/margin" Level="5">
  <Info>
    <Parent Key="422e09dc-b6a5-4f47-8622-1879bd5b067d">Bespoke &gt; Rental calculation/margin</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeRentalCalculationmargin/BuyToLetRentalCalculationmargin</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:56:18</CreateDate>
    <NodeName Default="Buy to Let - Rental calculation/margin" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Ability to pay is assessed via a combination of rental income and personal non-rent income (which must be contracted and received in £GBP).</p>
<p>Monthly rent to be not less than 100% of the monthly interest when calculated at the stress rate, with a minimum ICR of 145% including available personal non-rent income loan.</p>
<p><strong> </strong><strong>This is calculated using the notional interest rate below (whichever is applicable):</strong><strong> </strong></p>
<table border="0">
<thead>
<tr>
<td width="372">
<p><strong>Product</strong></p>
</td>
<td width="373">
<p><strong>Notional interest rate</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td width="372">
<p>Fixed rate less than 5 years or a variable rate</p>
</td>
<td width="373">
<p>The higher of 5.5% or product pay rate +2%</p>
</td>
</tr>
<tr>
<td width="372">
<p>Fixed rate 5 years or more</p>
</td>
<td width="373">
<p>The higher of 4.5% or product pay rate + 1%</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>