<?xml version="1.0" encoding="utf-8"?>
<Content Key="bec4050e-ad57-42e0-9f0d-75dc1042ddf9" Alias="Buy to Let - Further advance" Level="5">
  <Info>
    <Parent Key="150f4cd6-921d-4a39-9d64-d444c9716ea6">Bespoke &gt; Further advance</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeFurtherAdvance/BuyToLetFurtherAdvance</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T10:43:24</CreateDate>
    <NodeName Default="Buy to Let - Further advance" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>To apply for a further advance for your client, they must meet certain criteria:</strong></p>
<ul>
<li><span class="list-bullets"><strong>UK resident -</strong> All applicants must be UK residents</span></li>
<li><span class="list-bullets"><strong>Minimum loan size -</strong> £5,000</span></li>
<li><span class="list-bullets"><strong>Maximum loan size:</strong></span>
<ul>
<li><span class="list-bullets">£1,000,000 – 75% LTV</span></li>
<li><span class="list-bullets">£1,500,000 – 60% LTV (total mortgage including further advance)</span></li>
</ul>
</li>
<li><span class="list-bullets"><strong>Portfolio -</strong> Maximum total borrowing £2,000,000. The total portfolio size is 3 Buy to Let mortgaged properties per applicant (either solely or jointly) across all lenders, including Bank of Ireland Group</span></li>
<li><span class="list-bullets"><strong>Term -</strong> 2 years minimum (or duration of product). The further advance term can be longer than the main mortgage. The charge on the property won’t be released until the further advance term has finished</span></li>
<li><span class="list-bullets"><strong>Income –</strong> Minimum income £40,000</span></li>
<li><span class="list-bullets"><strong>Reasons for borrowing - </strong>Applicants can borrow funds to raise additional capital to fund most legal purposes, provided the capital isn’t used for:</span>
<ul>
<li><span class="list-bullets">Business or speculative purposes<span class="fs-13">*</span></span></li>
<li><span class="list-bullets">Gambling debts</span></li>
<li><span class="list-bullets">Payment of tax</span></li>
<li><span class="list-bullets">Purchase of an overseas property (including timeshares)</span></li>
<li><span class="list-bullets">Debt consolidation (repayment of other mortgages/staircasing is not considered debt consolidation)</span></li>
<li><span class="list-bullets">Repayment of bridging finance.</span></li>
</ul>
</li>
</ul>
<p><span class="fs-13">*Raising capital to fund a deposit or outright purchase of a Buy to Let isn’t considered a business purpose.</span></p>
<p>A solicitor may occasionally be required to act. You can use our <a href="/{localLink:umb://document/2beccc4772794c249093abd9d9455b35}" title="Solicitor search"><strong>Solicitor Search</strong></a> tool to find which firms are already on our approved panel.</p>
<ul>
<li><span class="list-bullets"><strong>Residential home owner –</strong> non-owner occupiers are acceptable</span></li>
<li><span class="list-bullets"><strong>Repayment options - </strong>Capital Repayment, Interest Only or combination of the two, subject to any Interest Only balance having a suitable Repayment Strategy. Please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBuyToLet=true#interest-only-btl" target="_blank"><strong>Interest Only</strong></a> section</span></li>
<li><span class="list-bullets"><strong>Total Loan to Value (LTV) limit - </strong>Maximum loan of:</span>
<ul>
<li><span class="list-bullets">£1,000,000 -75% LTV</span></li>
<li><span class="list-bullets">£1,500,000 - 60% LTV</span></li>
</ul>
</li>
<li><span class="list-bullets"><strong>Valuation of property - </strong>A revaluation will be required (see fee scale below) however where the last recorded Bank of Ireland panel valuation was more than 10 years ago, a <strong>standard valuation</strong> will be required. A revaluation fee will also be required if the further advance exceeds £20,000. Please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#standard-valuation-fee" target="_blank"><strong>standard valuation fees</strong></a>. <strong>All Buy to Lets must have an EPC available</strong> with a rating of A-E (England &amp; Wales) or A-D (Scotland) before the revaluation (or full valuation) is carried out. In England and Wales only, we’ll also accept properties listed on the <strong><a href="https://prsregister.beis.gov.uk/NdsBeisUi/register-search-exemptions">PRS Exemptions Register</a></strong>.</span></li>
</ul>
<p><strong>Revaluation fee scale:</strong></p>
<table border="0" style="height: 294px;">
<thead>
<tr style="height: 18px;">
<th width="43%" style="width: 275px; text-align: left; height: 18px;">Property Value</th>
<th width="56%" style="width: 304px; text-align: left; height: 18px;">Fee</th>
</tr>
</thead>
<tbody>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£0 to £125,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£110</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£125,001 to £300,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£150</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£300,001 to £600,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£220</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£600,001 to £1,000,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£300</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£1,000,001 to £1,600,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£400</p>
</td>
</tr>
<tr style="height: 46px;">
<td style="text-align: left; width: 275px; height: 46px;">
<p>£1,600,001 and above</p>
</td>
<td style="text-align: left; width: 304px; height: 46px;">
<p>By negotiation</p>
</td>
</tr>
</tbody>
</table>
<p>The valuation fee is non-refundable once the valuation has been completed.</p>
<ul>
<li><span class="list-bullets"><strong>Affordability</strong> – Your client's ability to pay is assessed on a combination of rental &amp; earned income</span></li>
<li><span class="list-bullets"><strong>Must have a rental income</strong> of at least 100% of monthly interest when calculated at the stress rate.</span></li>
</ul>
<p>Ensure the transaction is plausible as a Buy to Let investment for a non-owner occupier.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-08-01T12:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>