<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef306983-e4d9-4fa7-a583-384333e5c39f" Alias="Buy to Let - Repayment types" Level="5">
  <Info>
    <Parent Key="1b1086c3-6967-4c8a-931e-9ea86f7d08a9">Bespoke &gt; Repayment types</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeRepaymentTypes/BuyToLetRepaymentTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:58:10</CreateDate>
    <NodeName Default="Buy to Let - Repayment types" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<ul>
<li><span class="list-bullets">Interest Only</span></li>
<li><span class="list-bullets">Part &amp; Part</span></li>
<li><span class="list-bullets">Repayment.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>