<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c67c8ba-76ca-4968-838d-4081a2d95d49" Alias="Buy to Let - First time landlords" Level="5">
  <Info>
    <Parent Key="2fdef8c3-7f5d-449e-a8a6-8e1eb1d74507">Bespoke &gt; First time landlords</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeFirstTimeLandlords/BuyToLetFirstTimeLandlords</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:45:04</CreateDate>
    <NodeName Default="Buy to Let - First time landlords" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>No prior Buy to Let experience is required, and we can consider non-owner occupiers (not First Time Buyers).</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>