<?xml version="1.0" encoding="utf-8"?>
<Content Key="68d22b44-e52c-42de-bd35-ed239e819dd6" Alias="Buy to Let - Age of applicant(s)" Level="5">
  <Info>
    <Parent Key="8b113c64-1dc2-4128-a5db-0714a72e3085">Bespoke &gt; Age of applicant(s)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeAgeOfApplicantS/BuyToLetAgeOfApplicantS</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T09:43:06</CreateDate>
    <NodeName Default="Buy to Let - Age of applicant(s)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The minimum age is 21.</p>
<p>The maximum age is 80.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>