<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e4928bd-6897-4b6a-a5b1-6f86c4e8ac08" Alias="Buy to Let - Loan size and LTV limits" Level="5">
  <Info>
    <Parent Key="57915c1d-bc6e-4b88-9600-4aa9f3a10590">Bespoke &gt; Loan size and LTV limits</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeLoanSizeAndLTVLimits/BuyToLetLoanSizeAndLTVLimits</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:21:09</CreateDate>
    <NodeName Default="Buy to Let - Loan size and LTV limits" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0">
<thead>
<tr>
<td width="172">
<p><strong>Loan Size</strong></p>
</td>
<td width="161">
<p><strong>Loan to Value (LTV)</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td width="172">
<p>£150,000* to £1,000,000</p>
</td>
<td width="161">
<p>75%</p>
</td>
</tr>
<tr>
<td width="172">
<p>£1,000,001 - £1,500,000</p>
</td>
<td width="161">
<p>60%</p>
</td>
</tr>
</tbody>
</table>
<p>The total portfolio size is 3 UK mortgaged Buy to Let properties (including any Consent to Let (CTL) properties) per applicant (either solely or jointly) across all lenders, including Bank of Ireland Group. Properties that are owned in the name of a limited company which an applicant is a director of, and applications in progress, should also be included.</p>
<p>Total group exposure is £2,000,000.</p>
<p>*Please note minimum loan size for all Bespoke applications is £150,000, and maximum LTV is 75% including any fees.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>