<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ef1f9c1-9896-41e4-b4a0-9a3867f9662d" Alias="Capital raising" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/CapitalRaising</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-09-25T13:43:03</CreateDate>
    <NodeName Default="Capital raising" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Applicants can remortgage to raise additional capital up to 85% LTV (excluding fees) or 75% if there is any element of debt consolidation.</p>
<p>Applicants can borrow funds to raise additional capital to fund most legal purposes, provided the capital is not used for;</p>
<ul>
<li><span class="list-bullets">business or speculative purposes (e.g. investment, replacing savings)</span><br /><span class="list-bullets">payment of tax</span><br /><span class="list-bullets">gambling debts</span><br /><span class="list-bullets">a timeshare</span><br /><span class="list-bullets">payment of care fees</span></li>
</ul>
<p><!--StartFragment -->Applicants can remortgage up to 90% LTV on a like for like basis or if they're repaying a Help to Buy loan in full, purchasing the final staircase on shared ownership or buying out someone from the title of the property (transfer of Equity).<!--EndFragment --></p>
<p>Remortgages where the applicant has owned the property for less than 6 months are not normally acceptable. There are some circumstances where we can consider these applications (such as when an applicant has inherited the property or where a developer has taken the property as part exchange) so please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a> to provide details.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/69edb2ae8361450cb2fcab4cd0aff86a]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Capital raising ]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>