<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d95ee76-914f-435b-a215-5b21920fcd9f" Alias="Capital raising (BTL)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/CapitalRaisingBTL</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-09-25T13:55:01</CreateDate>
    <NodeName Default="Capital raising (BTL)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Applicants can remortgage to raise additional capital up to 75% LTV (excluding fees) for any legal purpose, subject to underwriter assessment, excluding the following;</p>
<ul>
<li><span class="list-bullets">Business or speculative purposes (e.g. investment, replace savings)</span><br /><span class="list-bullets">Gambling debts, </span><br /><span class="list-bullets">Payment of tax, </span><br /><span class="list-bullets">Purchase of an overseas property (including timeshares), </span><br /><span class="list-bullets">Debt consolidation (repayment of other mortgages/staircasing is not considered debt consolidation),</span><br /><span class="list-bullets">Repayment of bridging finance,</span><br /><span class="list-bullets">Payment of care fees.</span></li>
</ul>
<p>Remortgages where the applicant has owned the property for less than 6 months are not normally acceptable. There are some circumstances where we can consider these applications (such as when an applicant has inherited the property or where a developer has taken the property as part exchange) so please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a> to provide details.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/69edb2ae8361450cb2fcab4cd0aff86a]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Capital raising ]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>