<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ebdf075-933a-4811-9360-eb1521efe20b" Alias="Case Handling Assessment Date" Level="4">
  <Info>
    <Parent Key="73425fd1-0d64-494f-856c-2c4ce70e8ab4">Service Update</Parent>
    <Path>/BankOfIreland/DataRepositories/ServiceUpdate/CaseHandlingAssessmentDate</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItem</ContentType>
    <CreateDate>2022-07-26T14:04:16</CreateDate>
    <NodeName Default="Case Handling Assessment Date" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBodyText>
      <Value><![CDATA[Our case handlers are reviewing the latest document uploads from the above date. When we have all the documents and information we need, we’ll pass them for underwriting assessment.

]]></Value>
    </serviceBodyText>
    <serviceDate>
      <Value><![CDATA[2024-07-11T00:00:00]]></Value>
    </serviceDate>
    <serviceIcon>
      <Value><![CDATA[umb://media/6d916fdd356b4921ad94832091d536f5]]></Value>
    </serviceIcon>
    <serviceSubtitle>
      <Value><![CDATA[]]></Value>
    </serviceSubtitle>
    <serviceTitle>
      <Value><![CDATA[Case Handling Assessment Date]]></Value>
    </serviceTitle>
  </Properties>
</Content>