<?xml version="1.0" encoding="utf-8"?>
<Content Key="15b5be34-578e-406b-96c5-2d85d046d018" Alias="Cladding" Level="5">
  <Info>
    <Parent Key="8c3c7fe4-3a60-4b10-89c7-514d806e24b1">Bespoke &gt; Property</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeProperty/Cladding</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:29:54</CreateDate>
    <NodeName Default="Cladding" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Where the valuer identifies a flat with potentially combustible cladding and/or stacked balconies which could facilitate the spread of fire, we'll require the Fire Risk Assessment report (FRA) and Fire Risk Assessment External Walls (FRAEW) for the building, together with the names and qualifications of the authors of these documents. Once we have all of this information, our Property Risk team will assess and advise if it is acceptable to proceed.</p>
<p>We do not accept EWS1 forms for properties with cladding/stacked balconies.</p>
<p>We will only accept the following qualifications for FRA &amp; FRAEW reports:</p>
<ul>
<li><span class="list-bullets">Architects Registration Board (ARB)</span></li>
<li><span class="list-bullets">Association of Consultant Approved Inspectors (ACAI)</span></li>
<li><span class="list-bullets">Chartered Association of Building Engineers (CABE)</span></li>
<li><span class="list-bullets">Chartered Institute of Architectural Technologists (CIAT)</span></li>
<li><span class="list-bullets">Chartered Institute of Building (CIOB)</span></li>
<li><span class="list-bullets">Chartered Institution of Building Services Engineers (CIBSE)</span></li>
<li><span class="list-bullets">Construction Industry Council Approved Inspectors Register (CICAIR)</span></li>
<li><span class="list-bullets">Institute of Clerks of Works and Construction Inspectorate (ICWCI)</span></li>
<li><span class="list-bullets">Institution of Civil Engineers (ICE)</span></li>
<li><span class="list-bullets">Institution of Fire Engineers (IFE)</span></li>
<li><span class="list-bullets">Institute of Fire Safety Managers (IFSM)</span></li>
<li><span class="list-bullets">Institution of Structural Engineers (IStructE)</span></li>
<li><span class="list-bullets">Local Authority Building Control (LABC)</span></li>
<li><span class="list-bullets">Royal Institute of British Architects (RIBA)</span></li>
<li><span class="list-bullets">Royal Institution of Chartered Surveyors (RICS)</span></li>
<li><span class="list-bullets">Society of Façade Engineers (SFE)</span></li>
</ul>
<p>All properties 10 storeys or higher must be referred to our Property Risk Team prior to application so please <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/contact-us/" target="_blank" title="Contact us">contact us.</a></p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-07-25T12:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>