<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf90ae69-b3a9-4cc9-bc7f-532ed1e63c83" Alias="Contact us" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-28T10:41:41</CreateDate>
    <NodeName Default="Contact us" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/36b664a8dc8441288b9719630fea09ed"
      },
      {
        "contentUdi": "umb://element/beca06114d804d17a343ee4c4a8f5134"
      },
      {
        "contentUdi": "umb://element/2e2089930b7d41ac9653eb46a66252cf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/36b664a8dc8441288b9719630fea09ed",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/beca06114d804d17a343ee4c4a8f5134",
      "quickLink": [
        {
          "name": "Find a Solicitor",
          "udi": "umb://document/2beccc4772794c249093abd9d9455b35"
        }
      ],
      "quickLinkIcon": "umb://media/5f9d1817c4364548ad6eba852e12b3b6"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/2e2089930b7d41ac9653eb46a66252cf",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>