<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8c7ad9a-e1f6-4213-9ca4-0dafe7a80e7a" Alias="contact page" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/contactPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-07-24T17:45:27</CreateDate>
    <NodeName Default="contact page" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2482d317-01b0-4ce0-8967-fae2d7385c6f">Contact</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d3028562b97d4985858765167a4b7337"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9d0d7774-d4e5-46b4-af7b-3c97d629ee3f",
      "udi": "umb://element/d3028562b97d4985858765167a4b7337",
      "contactDetailList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f52015490b5d4f5b877b9e12c118bc1d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5ce8bb14-f724-46d9-a80a-0af563659181",
            "udi": "umb://element/f52015490b5d4f5b877b9e12c118bc1d",
            "contactIcon": "umb://media/c1ac9e2967db434f9b7951aecd376b84",
            "contactDetailCopy": {
              "markup": "<p>contact detail&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[contact]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>