<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46682d2-78f8-48f3-a874-9a487db5d289" Alias="Contact Us Pod" Level="5">
  <Info>
    <Parent Key="e6510579-a08b-4d38-a134-5faa689a06a8">Contact Us Pod Folder</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ContactUsPodFolder/ContactUsPod</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPodRender</ContentType>
    <CreateDate>2020-11-11T13:23:31</CreateDate>
    <NodeName Default="Contact Us Pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bDMFinderIcon>
      <Value><![CDATA[umb://media/058700543d8b41168333c42bb953aa9a]]></Value>
    </bDMFinderIcon>
    <bDMFinderLink>
      <Value><![CDATA[[
  {
    "name": "Find your BDM",
    "udi": "umb://document/8ad458ac45da4354b145b92f1b62a0a2"
  }
]]]></Value>
    </bDMFinderLink>
    <bDMFinderText>
      <Value><![CDATA[{
  "markup": "<p>Find your <strong>Dedicated Support</strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bDMFinderText>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "udi": "umb://document/8ad458ac45da4354b145b92f1b62a0a2"
  }
]]]></Value>
    </cTALink>
    <emailIcon>
      <Value><![CDATA[umb://media/9bf6adb6a6754010bce4c19348b2e20f]]></Value>
    </emailIcon>
    <emailLink>
      <Value><![CDATA[[
  {
    "name": "https://www2.mortgageapplicationservice.co.uk/dist/BOI/login/",
    "target": "_blank",
    "url": "https://www2.mortgageapplicationservice.co.uk/dist/BOI/login/",
    "queryString": ""
  }
]]]></Value>
    </emailLink>
    <emailText>
      <Value><![CDATA[{
  "markup": "<p>Send us a&nbsp;<strong>case message</strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </emailText>
    <phoneIcon>
      <Value><![CDATA[umb://media/5a04ee6103bb432cbc478dbf9e381985]]></Value>
    </phoneIcon>
    <phoneLink>
      <Value><![CDATA[[
  {
    "name": "Contact",
    "udi": "umb://document/98e06da37af24061b66efbea2268d1e5"
  }
]]]></Value>
    </phoneLink>
    <phoneText>
      <Value><![CDATA[{
  "markup": "<p><strong>Call&nbsp;</strong>us</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </phoneText>
    <subText>
      <Value><![CDATA[{
  "markup": "<p>We're here to support you and answer any questions as quickly as we can.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Right Here for You]]></Value>
    </title>
  </Properties>
</Content>