<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb176713-efa1-424e-b8d5-58776b0b6049" Alias="Contractors" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/Contractors</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-18T16:12:37</CreateDate>
    <NodeName Default="Contractors" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The term contractors covers contractors trading as self employed, limited companies and contractors working through an umbrella firm. Contractors have the option to apply as self employed, requiring 3 years trading and 2 years income figures, or as employment type contractor.</p>
<p><strong>Our contractor lending criteria:</strong></p>
<ul>
<li><span class="list-bullets">Maximum 90% LTV, exclusive of fees</span></li>
<li><span class="list-bullets">Applicants must have a minimum gross contracting income of £50,000pa for the contractor (not the household)</span></li>
<li><span class="list-bullets">Affordability is based on 80% of gross contract income</span></li>
<li><span class="list-bullets">Minimum contracting period is 12 months in current occupation. The contract does not have to be with the same agency/employer</span></li>
<li><span class="list-bullets">Current contract is required for income assessment. This can be either the original or a certified copy. We will also need copies of all other contracts held in the past 12 months</span></li>
<li><span class="list-bullets">We will not accept contractors who have had cumulative contract gaps of 1 month or more in the last 12 months</span></li>
<li><span class="list-bullets">Eligible for Interest Only, subject to our interest only lending criteria</span></li>
<li><span class="list-bullets">Where contractors use an umbrella company to manage their payroll, please refer to our <a href="#income-resi" data-anchor="#income-resi">umbrella companies income criteria</a></span></li>
<li><span class="list-bullets">We won’t lend to Construction Industry Scheme (CIS) contract workers under our contractor criteria. But we will consider them under our <a href="#income-resi" data-anchor="#income-resi">self employed income criteria</a>.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>