<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a1e504d-9f02-4c0c-a36b-a1d1235e2234" Alias="Credit Score 1" Level="5">
  <Info>
    <Parent Key="517cff9d-4ce7-445d-9496-bd12811793f9">Credit Score</Parent>
    <Path>/BankOfIreland/Website/FrequentlyAskedQuestions1/CreditScore/CreditScore1</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQTab</ContentType>
    <CreateDate>2024-11-05T11:40:58</CreateDate>
    <NodeName Default="Credit Score 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[{
  "markup": "<p>Credit Score 1</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </answer>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <question>
      <Value><![CDATA[Credit Score 1]]></Value>
    </question>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>