<?xml version="1.0" encoding="utf-8"?>
<Content Key="517cff9d-4ce7-445d-9496-bd12811793f9" Alias="Credit Score" Level="4">
  <Info>
    <Parent Key="79d974a3-b32f-4c29-98e0-e57aaa3149dc">Frequently Asked Questions (1)</Parent>
    <Path>/BankOfIreland/Website/FrequentlyAskedQuestions1/CreditScore</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQ</ContentType>
    <CreateDate>2024-11-05T11:39:15</CreateDate>
    <NodeName Default="Credit Score" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[]]></Value>
    </answer>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <fAQCategory>
      <Value><![CDATA[umb://document/5eb96e515fa64c6a88c3991ff7a62915]]></Value>
    </fAQCategory>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <question>
      <Value><![CDATA[]]></Value>
    </question>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>