<?xml version="1.0" encoding="utf-8"?>
<Content Key="5eb96e51-5fa6-4c6a-88c3-991ff7a62915" Alias="Credit Score" Level="5">
  <Info>
    <Parent Key="3f04f7ff-fe24-483f-ae00-158953eee16e">FAQ Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/FAQCategoriesContainer/CreditScore</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQCategory</ContentType>
    <CreateDate>2024-11-05T11:39:57</CreateDate>
    <NodeName Default="Credit Score" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>