<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf929df1-4863-467c-afb4-086158014e7f" Alias="Criteria" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/Criteria</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T15:46:14</CreateDate>
    <NodeName Default="Criteria" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3560626821b8461bb21537127af8eb12"
      },
      {
        "contentUdi": "umb://element/82ffe75fb4ff46bd9f7a8d2ae4605739"
      },
      {
        "contentUdi": "umb://element/1cc6adb90ea74a6ba7e93d2d711293c2"
      },
      {
        "contentUdi": "umb://element/f35574b30da5488dbc09f694c43f7d02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/3560626821b8461bb21537127af8eb12",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/82ffe75fb4ff46bd9f7a8d2ae4605739",
      "quickLink": [
        {
          "name": "Buy to Let Calculator",
          "udi": "umb://document/bc27cac697df4cb19ac2d0cd24cb24e4"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/1cc6adb90ea74a6ba7e93d2d711293c2",
      "quickLink": [
        {
          "name": "Service Update",
          "udi": "umb://document/87672a46245341e09c9cca7f28ff526a"
        }
      ],
      "quickLinkIcon": "umb://media/bc337f33a48c464f8dd9520446bd52a0"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/f35574b30da5488dbc09f694c43f7d02",
      "quickLink": [
        {
          "name": "Live Chat for Intermediaries",
          "target": "_blank",
          "url": "https://www.bankofirelanduk.com/mortgages/intermediaries-live-chat/"
        }
      ],
      "quickLinkIcon": "umb://media/5e92bcde0a4f4d85bcb5997ae8c13c26"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>