<?xml version="1.0" encoding="utf-8"?>
<Content Key="810663e5-0ef0-4ebf-a6e7-071d459b1d5d" Alias="Cryptocurrency" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/Cryptocurrency</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2022-02-21T14:33:48</CreateDate>
    <NodeName Default="Cryptocurrency" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Income from cryptocurrency is not acceptable. Minor trading that is classed as a hobby may be acceptable but each case will be considered on its merits.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>