<?xml version="1.0" encoding="utf-8"?>
<Content Key="894e5fdd-78c4-4eda-a85f-94080eb62308" Alias="Data Repositories" Level="2">
  <Info>
    <Parent Key="161d1a9f-8ac6-4323-8aee-777e5f223ff9">Bank of Ireland</Parent>
    <Path>/BankOfIreland/DataRepositories</Path>
    <Trashed>false</Trashed>
    <ContentType>dataRepositories</ContentType>
    <CreateDate>2020-10-04T14:05:33</CreateDate>
    <NodeName Default="Data Repositories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>