<?xml version="1.0" encoding="utf-8"?>
<Content Key="52c5ac44-e633-4a25-8fcb-613723177448" Alias="Debt consolidation (BTL)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/DebtConsolidationBTL</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-09-25T14:24:01</CreateDate>
    <NodeName Default="Debt consolidation (BTL)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We don't allow debt consolidation on Buy to Let or Let to Buy applications.</p>
<p>Debt consolidation would include: repaying any unsecured lending such as loans, hire purchase agreements, credit cards, overdrafts, etc. </p>
<p>We also classify the following as debt consolidation:</p>
<ul>
<li><span class="list-bullets">Repayment of any Second Charges </span><br /><span class="list-bullets">Unsecured loans linked with original mortgages (i.e. Northern Rock Together mortgage) </span><br /><span class="list-bullets">Repaying parents/family back to repay monies used to assist in the purchase of the property.</span></li>
</ul>
<p>Remortgages where the applicant is looking to capital raise to reduce other mortgage borrowing, Buy to Let or Residential are accepted up to and including 75% LTV.</p>
<p>We don't consider repayment of Help to Buy or the repayment of final staircasing as debt consolidation.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Debt consolidation]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>