<?xml version="1.0" encoding="utf-8"?>
<Content Key="864e0aad-ab9c-4cc1-bfbe-8d679c1b05e8" Alias="Dentists (Recently self employed)" Level="5">
  <Info>
    <Parent Key="9956891a-6b91-412e-b351-33d205da6798">Bespoke &gt; Income</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeIncome/DentistsRecentlySelfEmployed</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T10:51:02</CreateDate>
    <NodeName Default="Dentists (Recently self employed)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>For Dentists that have been self employed for less than 2 years, we can consider using income as follows:</p>
<table border="0">
<tbody>
<tr>
<td colspan="3" width="571" style="background-color: #00057b; width: 571px;">
<p><span class="-white-text"><strong>Time Self Employed</strong></span></p>
</td>
</tr>
<tr>
<td width="190" style="text-align: center; background-color: #0000ff;">
<p><span class="-white-text"><strong>&lt;9 Months</strong></span></p>
</td>
<td width="190" style="text-align: center; background-color: #0000ff;">
<p><span class="-white-text"><strong>≥9 Months - &lt;12 Months</strong></span></p>
</td>
<td width="190" style="text-align: center; background-color: #0000ff;">
<p><span class="-white-text"><strong>&gt;12 and &lt;24 Months</strong></span></p>
</td>
</tr>
<tr>
<td width="190">
<p>Use net income earned to date.</p>
</td>
<td width="190">
<p>Average and annualise the income providing the invoices don’t show a downward trend.</p>
</td>
<td width="190">
<p>SA302 &amp; Tax Year Overview to evidence applicant is declaring income to HMRC. Assessable income derived using net income from last 12 months’ invoices.</p>
</td>
</tr>
<tr>
<td colspan="3" width="571" style="background-color: #00057b; width: 571px;">
<p><span class="-white-text"><strong>Evidential Requirements</strong></span></p>
</td>
</tr>
<tr>
<td width="190" style="background-color: #0000ff; text-align: center;">
<p><span class="-white-text"><strong>&lt;9 Months</strong></span></p>
</td>
<td width="190" style="background-color: #0000ff; text-align: center;">
<p><span class="-white-text"><strong>≥9 Months</strong></span></p>
</td>
<td width="190" style="background-color: #0000ff; text-align: center;">
<p><span class="-white-text"><strong>&gt;12 and &lt;24 months</strong></span></p>
</td>
</tr>
<tr>
<td width="190">
<p>1. Invoices - Year to date</p>
<p>2. Latest month business bank statement to evidence trading.</p>
</td>
<td width="190">
<p>1. Invoices - Year to date</p>
<p>2. Latest month business bank statement to evidence trading.</p>
</td>
<td width="190">
<p>1. Latest SA302 &amp; Tax Year Overview</p>
<p>2. Invoices YTD from financial year end 3. Latest month business bank statement to evidence trading.</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>