<?xml version="1.0" encoding="utf-8"?>
<Content Key="1da02fb2-5288-426e-a318-a1564ce3e86e" Alias="Energy performance certificate (EPC)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/EnergyPerformanceCertificateEPC</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2021-02-26T10:34:08</CreateDate>
    <NodeName Default="Energy performance certificate (EPC)" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p align="LEFT">All Buy to Let properties must have an EPC of A-E (Scotland A-D) available <strong>before the valuation is carried out</strong>, or A or B if applying for a Green Buy to Let mortgage. The EPC can be checked <a href="https://find-energy-certificate.digital.communities.gov.uk/">here</a>, or <a href="https://www.scottishepcregister.org.uk/">here</a> for Scottish properties.</p>
<p align="LEFT">In England and Wales only, we’ll also accept properties listed on the <a rel="noopener" href="https://prsregister.beis.gov.uk/NdsBeisUi/register-search-exemptions" target="_blank" title="https://prsregister.beis.gov.uk/NdsBeisUi/register-search-exemptions">PRS Exemptions Register</a>. We won’t accept applications if these conditions aren’t met.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Energy performance certificate (EPC)]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[EPC, energy rating, performance certificate]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>