<?xml version="1.0" encoding="utf-8"?>
<Content Key="93a93695-44be-4d95-8438-ea9deb13de3a" Alias="Existing customers" Level="5">
  <Info>
    <Parent Key="10438a02-4fc6-47d8-9220-15a2237f715a">Interest only (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/InterestOnlyResi/ExistingCustomers</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:35:49</CreateDate>
    <NodeName Default="Existing customers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>For existing customers moving home or taking a further advance - </p>
<p><strong> We're not currently accepting applications for additional borrowing on an Interest Only basis.</strong></p>
<p><strong>Where the customer has an existing Interest Only balance (no additional borrowing):</strong></p>
<ul>
<li><span class="list-bullets">There’s no requirement for existing customers to earn the minimum of £50,000 sole/£75,000 joint (£20,000 minimum household income still applies)</span></li>
<li><span class="list-bullets">You can borrow up to 60% LTV on an interest only basis. We’ll also consider up to 75% LTV if the amount you want over 60% is on a repayment basis</span></li>
<li><span class="list-bullets">A minimum of £250,000 equity is required in the mortgaged property where ‘Sale of mortgaged property’ is chosen as the intended repayment strategy</span></li>
<li><span class="list-bullets">An acceptable repayment strategy must exist and all of the repayment strategies must be held, valued and paid in £GBP.</span></li>
</ul>
<p><strong>The following repayment strategies are acceptable for existing customers whose interest only mortgage was taken out before 20th March 2017:</strong></p>
<table border="0" style="height: 801px; width: 100%; border-collapse: collapse;">
<thead>
<tr style="height: 15px;">
<th style="width: 19.7368%; height: 15px; text-align: left;"><strong>Repayment Strategy</strong></th>
<th style="width: 28.5944%; height: 15px; text-align: left;"><strong>Required Information</strong></th>
<th style="width: 21.6624%; height: 15px; text-align: left;"><strong>Required Evidence</strong></th>
<th style="width: 30.0064%; height: 15px; text-align: left;"><strong>Criteria</strong></th>
</tr>
</thead>
<tbody>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Sale of the mortgaged property</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">Property valuation</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Mortgage valuation</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">A minimum of £200,000 equity</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Endowment policies (all types)</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of Insurer(s)</span></li>
<li><span class="list-bullets">Lives assured</span></li>
<li><span class="list-bullets">Maturity date</span></li>
<li><span class="list-bullets">Guaranteed sum assured</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Latest maturity projection from insurer(s)</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the value of the mid growth rate determined by the Regulator for endowment policies (which may be subject to change).</span></li>
<li><span class="list-bullets">The policy must have been in force for a minimum of 12 months prior to the application.</span></li>
</ul>
</td>
</tr>
<tr style="height: 200px;">
<td style="width: 19.7368%; text-align: left; height: 200px;"><strong>Stocks and shares ISA</strong><strong><br /></strong></td>
<td style="width: 28.5944%; text-align: left; height: 200px;">
<ul>
<li><span class="list-bullets">Name of provider(s)</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
<li><span class="list-bullets">Intended future annual contributions</span></li>
</ul>
</td>
<td style="width: 21.6624%; text-align: left; height: 200px;">Latest fund valuation from provider(s)</td>
<td style="width: 30.0064%; text-align: left; height: 200px;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the current value of the ISA plus projected future contributions assuming no growth.</span></li>
<li><span class="list-bullets">ISA must have been in force for a minimum of 12 months prior to the application.</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Unit trusts</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of provider(s)</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
<li><span class="list-bullets">Intended future annual contributions</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Latest fund valuation from provider(s)</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the current value of the unit trusts plus projected future contributions assuming no growth.</span></li>
<li><span class="list-bullets">Unit trusts must have been in force for a minimum of 12 months prior to the application.</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Investment bonds</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of provider(s)</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Latest fund valuation from provider(s)</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">We will agree an interest only loan up to the current value of the bond only. No growth is assumed.</td>
</tr>
<tr style="height: 33px;">
<td style="width: 19.7368%; height: 33px; text-align: left;"><strong>Quoted stocks and shares</strong></td>
<td style="width: 28.5944%; height: 33px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of company and number of shares for each shareholding</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 33px; text-align: left;">
<ul>
<li><span class="list-bullets">Share Certificates or Printout from a share registrar (e.g. Computershare) or stock broker</span></li>
<li><span class="list-bullets">Must be quoted in £GPB</span></li>
</ul>
</td>
<td style="width: 30.0064%; height: 33px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to 80% of the value of the shareholding at the point of application.</span></li>
<li><span class="list-bullets">FTSE 100 shares only.</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Cash ISA</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of provider(s)</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
<li><span class="list-bullets">Intended future annual contributions</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Latest fund valuation from provider(s)</span></li>
<li><span class="list-bullets">Must be quoted in £GPB</span></li>
</ul>
</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the current value of the ISA plus projected future contributions assuming no growth.</span></li>
<li><span class="list-bullets">Cash ISA must have been in force for a minimum of 12 months prior to the application.</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Cash deposits</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of deposit taker(s)</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Up to date statement to evidence balance in £GBP dated within 3 months of application</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the current balance.</span></li>
<li><span class="list-bullets">Any fixed term deposit must mature before the loan maturity date (or have a break clause if not).</span></li>
</ul>
</td>
</tr>
<tr style="height: 50px;">
<td style="width: 19.7368%; height: 50px; text-align: left;"><strong>Sale of other UK residential/BTL property</strong></td>
<td style="width: 28.5944%; height: 50px; text-align: left;">
<ul>
<li><span class="list-bullets">Address of the property</span></li>
<li><span class="list-bullets">Initial Purchase Price</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 50px; text-align: left;">Address of the property</td>
<td style="width: 30.0064%; height: 50px; text-align: left;">
<ul>
<li><span class="list-bullets">Only UK residential properties are acceptable (including let property).</span></li>
<li><span class="list-bullets">The other property must be owned by the applicants solely or jointly, but not with a third party. There is no requirement for the property to have been owned for a minimum period of 12 months. It is acceptable for joint applicants to use a property owned by 1 of the applicants solely.</span></li>
<li><span class="list-bullets">Only 80% of the calculated equity can be utilised.</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Company pension</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li>Name of pension provider(s)</li>
<li>Number of years in scheme</li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Letter of projected benefits at selected retirement age (with details of available tax free lump sum)</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the value of the projected tax free lump sum.</span></li>
<li><span class="list-bullets">Applicants must have been a member of the pension scheme for at least 12 months (frozen schemes will qualify towards this).</span></li>
</ul>
</td>
</tr>
<tr style="height: 15px;">
<td style="width: 19.7368%; height: 15px; text-align: left;"><strong>Private pension</strong></td>
<td style="width: 28.5944%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">Name of pension provider(s)</span></li>
<li><span class="list-bullets">Number of years held</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 15px; text-align: left;">Letter of projected benefits at selected retirement age (with details of available tax free lump sum)</td>
<td style="width: 30.0064%; height: 15px; text-align: left;">
<ul>
<li><span class="list-bullets">We will agree an interest only loan up to the value of the projected tax free lump sum.</span></li>
<li><span class="list-bullets">Applicants must have been a member of the pension scheme for at least 12 months (frozen schemes will qualify towards this).</span></li>
</ul>
</td>
</tr>
<tr style="height: 383px;">
<td style="width: 19.7368%; height: 383px; text-align: left;"><strong>Other</strong></td>
<td style="width: 28.5944%; height: 383px; text-align: left;">
<ul>
<li><span class="list-bullets">Type of asset</span></li>
<li><span class="list-bullets">Owner</span></li>
<li><span class="list-bullets">Current value (net of borrowing)</span></li>
</ul>
</td>
<td style="width: 21.6624%; height: 383px; text-align: left;">At individual discretion of underwriter</td>
<td style="width: 30.0064%; height: 383px; text-align: left;">We will only provide an interest only loan where it is backed by a pension/sale of the mortgaged property/sale of other UK property/ISA/endowment/unit trust/investment bond or a combination of these. However, in determining whether a repayment strategy is credible, underwriters may consider other assets which the applicant may intend to sell, and may use these to justify an exception should the projected values from the repayment strategies not meet the required interest only amount. Any additional strategy must be held and valued in £GBP.</td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>