<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f04f7ff-fe24-483f-ae00-158953eee16e" Alias="FAQ Categories Container" Level="4">
  <Info>
    <Parent Key="39b52f28-6ec0-44fc-bc06-c2eddd541787">Tags</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/FAQCategoriesContainer</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQCategoriesContainer</ContentType>
    <CreateDate>2024-08-30T12:38:05</CreateDate>
    <NodeName Default="FAQ Categories Container" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>