<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b05409a-08a7-4ffa-be9f-2611f4f66e92" Alias="FAQ" Level="4">
  <Info>
    <Parent Key="7caa7a47-9886-4e8f-ac41-834c5a290a73">Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/FAQ</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQContainer</ContentType>
    <CreateDate>2020-11-06T09:16:35</CreateDate>
    <NodeName Default="FAQ" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>