<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce2d4204-f7b6-4826-8bb3-b97cb214ae30" Alias="First Start calculator help" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/FirstStartCalculatorHelp</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T16:17:39</CreateDate>
    <NodeName Default="First Start calculator help" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ddd8ae2cd2b48839a4cb6cd96a91770"
      },
      {
        "contentUdi": "umb://element/65209123125240589221b74fcab9f33b"
      },
      {
        "contentUdi": "umb://element/99e9937e049748928d11d1fce55d9489"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/1ddd8ae2cd2b48839a4cb6cd96a91770",
      "quickLink": [
        {
          "name": "First Start Calculator",
          "target": "_blank",
          "udi": "umb://document/38e4f182f06b4edfb00df78ab403c551"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/65209123125240589221b74fcab9f33b",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/99e9937e049748928d11d1fce55d9489",
      "quickLink": [
        {
          "name": "Find a Solicitor",
          "udi": "umb://document/2beccc4772794c249093abd9d9455b35"
        }
      ],
      "quickLinkIcon": "umb://media/5f9d1817c4364548ad6eba852e12b3b6"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>