<?xml version="1.0" encoding="utf-8"?>
<Content Key="78f63e2f-82b0-4b59-905d-636a2fed5428" Alias="First Start" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/FirstStart</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T10:31:35</CreateDate>
    <NodeName Default="First Start" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong><span class="-blue-text">A sponsor is a close relative, normally a parent or step parent of any applicant, who is added as a co-borrower.</span></strong></p>
<p><a rel="noopener" href="/new-business-products/?ProductType=First+Start&amp;ProductTerm=null&amp;ProductCategory=null&amp;ProductLTV=null&amp;InterestOnly=false" target="_blank" data-anchor="?ProductType=First+Start&amp;ProductTerm=null&amp;ProductCategory=null&amp;ProductLTV=null&amp;InterestOnly=false">First Start products</a> are available up to 95% LTV (including fees). Subject to meeting the following criteria:</p>
<ul>
<li><span class="list-bullets">Maximum loan of £500,000 (including fees)</span></li>
<li><span class="list-bullets">Maximum of 4 applicants (however, only the income of the sponsor and the highest earning applicant will be assessed)</span></li>
<li><span class="list-bullets">The sponsor’s minimum assessable income must be at least £30,000</span></li>
<li><span class="list-bullets">The highest earning applicant must have a minimum assessable income of at least £20,000</span></li>
<li><span class="list-bullets">Maximum age for sponsor at application is 60, and must not exceed 80 years old at the end of term</span></li>
<li><span class="list-bullets">Where term extends into retirement please refer to our Lending into Retirement criteria</span></li>
<li><span class="list-bullets">Purchases only</span></li>
<li><span class="list-bullets">Repayment only</span></li>
<li><span class="list-bullets">The sponsor must be a residential owner occupier living in the UK</span></li>
<li><span class="list-bullets">The monthly payments need to come from 1 account</span></li>
<li><span class="list-bullets">Applicants cannot own any other property at the time of completion. This doesn’t apply to the sponsor whose mortgage commitments are included in the affordability assessment.</span></li>
</ul>
<p>You can choose if the property is owned by the applicant(s) only or jointly by the applicant(s) and the sponsor. If the property to be owned is in the name of the applicant(s) only, then the sponsor, as a condition of the mortgage Offer, must receive independent legal advice in respect of the transaction before completion.</p>
<p>The sponsor and applicant(s) are jointly and individually liable for the total mortgage.</p>
<p>See how much your client could borrow using our <a rel="noopener" href="/{localLink:umb://document/38e4f182f06b4edfb00df78ab403c551}" target="_blank" title="First Start Affordability Calculator">First Start Calculator</a>. </p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>