<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f83c3b1-0ec1-432e-8628-bd4b4a15e57b" Alias="Fixed term contracts" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/FixedTermContracts</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:29:00</CreateDate>
    <NodeName Default="Fixed term contracts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Fixed term contracts are treated on merit and in context of each individual case. If the income is to be used in our assessment of affordability we would typically want the applicant to be able to demonstrate:</p>
<ul>
<li><span class="list-bullets">Evidence of previous contract renewal</span></li>
<li><span class="list-bullets">Not all the income is dependent on a fixed term contract, for example a joint application with 1 applicant on a fixed term contract</span></li>
<li><span class="list-bullets">A sufficient remaining period on the contract to warrant the approval of a long term loan.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>