<?xml version="1.0" encoding="utf-8"?>
<Content Key="07d6c810-e97f-4d01-a1a6-00e54fdfca33" Alias="Forms and Guides Pod" Level="5">
  <Info>
    <Parent Key="3f373ab4-9096-4a10-9059-958073c7f20c">Forms and Guides Pod</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/FormsAndGuidesPod/FormsAndGuidesPod</Path>
    <Trashed>false</Trashed>
    <ContentType>formsAndGuidePodRender</ContentType>
    <CreateDate>2020-11-11T22:52:18</CreateDate>
    <NodeName Default="Forms and Guides Pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Forms and Guides",
    "udi": "umb://document/03d2812b16d14d7a91ff7f2ee319b75f"
  }
]]]></Value>
    </cTALink>
    <documents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c6db2aba140145f38f98722483c0ce1a"
      },
      {
        "contentUdi": "umb://element/600cc6a7fa4e4676b383f608ed2413a9"
      },
      {
        "contentUdi": "umb://element/d259802beae34cc89c1cf0923d7c110a"
      },
      {
        "contentUdi": "umb://element/8e091bab518c4b59a0d84b49018c7208"
      },
      {
        "contentUdi": "umb://element/4829586f61494282837a4114e138f566"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
      "udi": "umb://element/c6db2aba140145f38f98722483c0ce1a",
      "title": "Documents We’ll Need",
      "document": "umb://media/93e2979685734fd5a1f89315ad0d4c09"
    },
    {
      "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
      "udi": "umb://element/600cc6a7fa4e4676b383f608ed2413a9",
      "title": "Data Capture Form",
      "document": "umb://media/0ee4f1d8be854d3c90a1bfa3520c359c"
    },
    {
      "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
      "udi": "umb://element/8e091bab518c4b59a0d84b49018c7208",
      "title": "New Property Details Form",
      "document": "umb://media/577e7cb85f94414abf5056caf34c1a23"
    },
    {
      "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
      "udi": "umb://element/4829586f61494282837a4114e138f566",
      "title": "Tariff of Mortgage Charges",
      "document": "umb://media/dff67abe1ad14782ba3dde34e43f9b13"
    },
    {
      "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
      "udi": "umb://element/d259802beae34cc89c1cf0923d7c110a",
      "title": "Product Transfer Process Flow",
      "document": "umb://media/ddf89e844c3848c2993ebffe0ebbe244"
    }
  ],
  "settingsData": []
}]]></Value>
    </documents>
    <title>
      <Value><![CDATA[Forms and Guides]]></Value>
    </title>
  </Properties>
</Content>