<?xml version="1.0" encoding="utf-8"?>
<Content Key="03d2812b-16d1-4d7a-91ff-7f2ee319b75f" Alias="Forms and Guides" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/FormsAndGuides</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2020-12-11T12:15:30</CreateDate>
    <NodeName Default="Forms and Guides" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/19b63d0d9a014d2a9b842b87f613b020]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/917e29f3ecb743e0b8c8e85e2309f283"
      },
      {
        "contentUdi": "umb://element/309baa2387db404aac81b2268d82cd6e"
      },
      {
        "contentUdi": "umb://element/03a413be99834e62bbcd0a2f787e5ead"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6cbd1fc0-b245-4898-b761-a91117ffbcb9",
      "udi": "umb://element/917e29f3ecb743e0b8c8e85e2309f283",
      "subText": "<h2><span class=\"-blue-text\">Guides</span></h2>",
      "documents": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a0efb5aae68f4cb3a11c9229cba23ee4"
            },
            {
              "contentUdi": "umb://element/a6d252a1e0044b5abb0624b119dd9b03"
            },
            {
              "contentUdi": "umb://element/84b179922eb249feb90c01774270145d"
            },
            {
              "contentUdi": "umb://element/41e12970a2d44320aebbbc36a81b2cfb"
            },
            {
              "contentUdi": "umb://element/fffacb12b9fb4fba87e7853d39eaf611"
            },
            {
              "contentUdi": "umb://element/836b7909c11c4e90a61ce9758ab18aed"
            },
            {
              "contentUdi": "umb://element/b8d6c3eedd9b47e19511c504cab0018b"
            },
            {
              "contentUdi": "umb://element/a5a564266d144417b416d3e60cc800e7"
            },
            {
              "contentUdi": "umb://element/0b99a0207eee462aad6fc148afd98225"
            },
            {
              "contentUdi": "umb://element/e104af7d5c4a483481f5fba751302899"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/84b179922eb249feb90c01774270145d",
            "title": "Documents We'll Need",
            "document": "umb://media/93e2979685734fd5a1f89315ad0d4c09"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/0b99a0207eee462aad6fc148afd98225",
            "title": "Top Tips for Uploading Documents",
            "document": "umb://media/9680621d471f4380803568717958d84c"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/b8d6c3eedd9b47e19511c504cab0018b",
            "title": "Standard Legal Fees Explained",
            "document": "umb://media/6fce6ec69888493f87c34f8810a251be"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/a6d252a1e0044b5abb0624b119dd9b03",
            "title": "Buy to Let Guide",
            "document": "umb://media/5fdc2a85bb7c48f9a6bf95e66414da1e"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/a5a564266d144417b416d3e60cc800e7",
            "title": "Tariff of Mortgage Charges",
            "document": "umb://media/dff67abe1ad14782ba3dde34e43f9b13"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/fffacb12b9fb4fba87e7853d39eaf611",
            "document": "umb://media/ddf89e844c3848c2993ebffe0ebbe244",
            "title": "How to Submit a Product Transfer"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/a0efb5aae68f4cb3a11c9229cba23ee4",
            "title": "A Guide to Using our Online Application System",
            "document": "umb://media/164aea35e99e43f3a6c04476922e8264"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/41e12970a2d44320aebbbc36a81b2cfb",
            "title": "How to Link your Case Administrators",
            "document": "umb://media/c12e99ef14064d93a854bb454cd7111e"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/836b7909c11c4e90a61ce9758ab18aed",
            "title": "Product Transfer Hints & Tips",
            "document": "umb://media/d4c9d904d7f146e6a9b7b9cff074f846"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/e104af7d5c4a483481f5fba751302899",
            "document": "umb://media/a70af795ee3d4df1aacd90ee96e4dce9",
            "title": "Your Client's Guide to Legal Services"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "6cbd1fc0-b245-4898-b761-a91117ffbcb9",
      "udi": "umb://element/309baa2387db404aac81b2268d82cd6e",
      "subText": "<h2><span class=\"-blue-text\">Forms</span></h2>",
      "documents": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7ed8c4e588e34a379ebc50b25fcb67c7"
            },
            {
              "contentUdi": "umb://element/38469ac71f7e4368abe2b831c8defff9"
            },
            {
              "contentUdi": "umb://element/dea776a97b8f4fa4acfdc6ecde4c9ea6"
            },
            {
              "contentUdi": "umb://element/2665b08df7744846bbaabf3e6db7233a"
            },
            {
              "contentUdi": "umb://element/11e2ccf3bda343a18ce63bc2c87dcf33"
            },
            {
              "contentUdi": "umb://element/a406b70b58ad4125a66b2d3eaee86332"
            },
            {
              "contentUdi": "umb://element/c8f00bf2e38e43bf93323d3831b16075"
            },
            {
              "contentUdi": "umb://element/090663a8fbf74ab7af9ab2578411b042"
            },
            {
              "contentUdi": "umb://element/0a8e3b264d5e4417a29ea6a3e651c6aa"
            },
            {
              "contentUdi": "umb://element/c75e35551ab74b36960ed54e5c2b5649"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/38469ac71f7e4368abe2b831c8defff9",
            "title": "Buy to Let Top Slicing Form",
            "document": "umb://media/96e37309267a44f2a3239e259e36aaf3"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/dea776a97b8f4fa4acfdc6ecde4c9ea6",
            "title": "Data Capture Form",
            "document": "umb://media/0ee4f1d8be854d3c90a1bfa3520c359c"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/090663a8fbf74ab7af9ab2578411b042",
            "title": "New Property Details Form",
            "document": "umb://media/577e7cb85f94414abf5056caf34c1a23"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/2665b08df7744846bbaabf3e6db7233a",
            "title": "Direct Debit Mandate (account numbers starting with 80)",
            "document": "umb://media/c3f3fa94a3004cf08852b294135bc680"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/11e2ccf3bda343a18ce63bc2c87dcf33",
            "title": "Direct Debit Mandate (account numbers starting with 82)",
            "document": "umb://media/036c7d75e88a4cf0a58d8c0505c69f91"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/7ed8c4e588e34a379ebc50b25fcb67c7",
            "title": "Bespoke Enquiry Form ",
            "document": "umb://media/71c44d6e2cf24a608fc0d07780a352dd"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/a406b70b58ad4125a66b2d3eaee86332",
            "document": "umb://media/1804067cea644f639866ad8f26dff97a",
            "title": "Income Validation Certificate for Barristers"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/0a8e3b264d5e4417a29ea6a3e651c6aa",
            "title": "Repaying Your Interest Only Mortgage",
            "document": "umb://media/74f756f3362c4c359af80a36ed7c2e21"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/c75e35551ab74b36960ed54e5c2b5649",
            "title": "Repaying Your Mortgage After Retirement",
            "document": "umb://media/bdf034bc157b4ac0b824816677be8a8a"
          },
          {
            "contentTypeKey": "49878859-6b37-48e8-80bb-1bfc6969da77",
            "udi": "umb://element/c8f00bf2e38e43bf93323d3831b16075",
            "title": "Bespoke Accountant Certificate",
            "document": "umb://media/40898a6da93a4ad1a9273b401056fec2"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/03a413be99834e62bbcd0a2f787e5ead",
      "richText": "<table border=\"1\" style=\"border-collapse: collapse; width: 100%; height: 36px;\">\n<tbody>\n<tr style=\"height: 36px;\">\n<td style=\"width: 100%; height: 36px; text-align: center;\"><strong>All our documents can be produced in large print, Braille, on coloured paper or audio - if you or your client require this, <a href=\"/{localLink:umb://document/8ad458ac45da4354b145b92f1b62a0a2}\" title=\"Contact Us\">get in touch</a>.</strong></td>\n</tr>\n</tbody>\n</table>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[umb://document/ba7626d6f4e445e6a1cc4b12f902603a]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>Download the forms and guides you need to submit business.</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Forms and Guides]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>