<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba7626d6-f4e4-45e6-a1cc-4b12f902603a" Alias="Forms &amp; Guides" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/FormsGuides</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T16:02:03</CreateDate>
    <NodeName Default="Forms &amp; Guides" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/126c7af029b640ccbd3aac2739d422cd"
      },
      {
        "contentUdi": "umb://element/810810b430e94215930a615fca8b42cc"
      },
      {
        "contentUdi": "umb://element/fc5c846be13c4d9f9940246f32f0a7a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/126c7af029b640ccbd3aac2739d422cd",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/810810b430e94215930a615fca8b42cc",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/fc5c846be13c4d9f9940246f32f0a7a7",
      "quickLink": [
        {
          "name": "Find a Solicitor",
          "udi": "umb://document/2beccc4772794c249093abd9d9455b35"
        }
      ],
      "quickLinkIcon": "umb://media/5f9d1817c4364548ad6eba852e12b3b6"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>