<?xml version="1.0" encoding="utf-8"?>
<Content Key="79d974a3-b32f-4c29-98e0-e57aaa3149dc" Alias="Frequently Asked Questions (1)" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/FrequentlyAskedQuestions1</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQLanding</ContentType>
    <CreateDate>2024-08-30T14:01:26</CreateDate>
    <NodeName Default="Frequently Asked Questions (1)" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccc88a69-5ba0-492e-9b51-992f5c3e2724">FAQLanding</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/838a191468ad4815976219ed1f7da6ad]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Frequently Asked Questions]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>