<?xml version="1.0" encoding="utf-8"?>
<Content Key="c12bfe87-882b-4035-99cd-ef9ea695deec" Alias="Full Application Referrals" Level="4">
  <Info>
    <Parent Key="73425fd1-0d64-494f-856c-2c4ce70e8ab4">Service Update</Parent>
    <Path>/BankOfIreland/DataRepositories/ServiceUpdate/FullApplicationReferrals</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItem</ContentType>
    <CreateDate>2020-12-02T11:19:12</CreateDate>
    <NodeName Default="Full Application Referrals" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBodyText>
      <Value><![CDATA[As soon as your application has been reviewed, you'll receive an email to view your update in your online case hub.]]></Value>
    </serviceBodyText>
    <serviceDate>
      <Value><![CDATA[2024-07-16T00:00:00]]></Value>
    </serviceDate>
    <serviceIcon>
      <Value><![CDATA[umb://media/95eb853d22624d9d9928232355d399f1]]></Value>
    </serviceIcon>
    <serviceSubtitle>
      <Value><![CDATA[]]></Value>
    </serviceSubtitle>
    <serviceTitle>
      <Value><![CDATA[Full Application Referrals]]></Value>
    </serviceTitle>
  </Properties>
</Content>