<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0bddbf8-4df4-4def-bcf6-0801bcabbef0" Alias="Further Advance" Level="5">
  <Info>
    <Parent Key="1009b86b-f9fa-4f9e-af67-0a7bde2db0e4">Existing customers (BTL)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ExistingCustomersBTL/FurtherAdvance</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T15:08:55</CreateDate>
    <NodeName Default="Further Advance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Further advance applicants must meet certain criteria:</strong></p>
<ul>
<li><span class="list-bullets"><strong>UK resident -</strong> All applicants must be UK residents</span></li>
<li><span class="list-bullets"><strong>Minimum loan size -</strong> £5,000</span></li>
<li><span class="list-bullets"><strong>Maximum loan size -</strong> £750,000 (total mortgage including further advance)</span></li>
<li><span class="list-bullets"><strong>Portfolio -</strong> Maximum total borrowing £2m. The total portfolio size is 3 Buy to Let (BTL) mortgaged properties per applicant (either solely or jointly) across all lenders, including Bank of Ireland Group</span></li>
<li><span class="list-bullets"><strong>Term -</strong> 2 years minimum (or duration of product). The further advance term can be longer than the main mortgage. The charge on the property won’t be released until the further advance term has finished</span></li>
<li><span class="list-bullets"><strong>Income -</strong> No minimum income required</span></li>
<li><span class="list-bullets"><strong>Reasons for borrowing - </strong>applicants can borrow funds to raise additional capital to fund most legal purposes, provided the capital is not used for:</span>
<ul>
<li><span class="list-bullets">business or speculative purpose</span></li>
<li><span class="list-bullets">debt consolidation</span></li>
<li><span class="list-bullets">payment of tax</span></li>
<li><span class="list-bullets">overseas property (including timeshare)</span></li>
<li><span class="list-bullets">gambling debts.</span></li>
</ul>
</li>
</ul>
<p>Raising capital to fund a deposit or outright purchase of a Buy to Let is not considered a business purpose.</p>
<p>A solicitor may occasionally be required to act. Your customer is able to choose their own solicitor. You can check if the solicitor is on our panel using our <a rel="noopener" href="/{localLink:umb://document/2beccc4772794c249093abd9d9455b35}" target="_blank" title="Find a Solicitor">Solicitor Search tool</a>.</p>
<ul>
<li><span class="list-bullets"><strong>Residential home owner -</strong> your customer must be a residential home owner at the time of application (owned outright or subject to a mortgage)</span></li>
<li><span class="list-bullets"><strong>Repayment options - </strong>Capital Repayment, Interest Only or Combination of the 2, subject to any Interest Only balance having a suitable Repayment Strategy. Please refer to the Interest Only section of the criteria lookup tool</span></li>
<li><span class="list-bullets"><strong>Total Loan to Value (LTV) limit - </strong>Maximum loan of £750,000 and maximum LTV of 75%</span></li>
<li><span class="list-bullets"><strong>Valuation of property - </strong>A revaluation will be required (see fee scale below) however where the last recorded Bank of Ireland panel valuation was more than 10 years ago, a standard valuation will be required. Please review the Valuation fees scale of charges. <strong>All Buy to Lets must have an EPC available</strong> with a rating of A-E before the re-valuation (or full valuation) is carried out. In England and Wales only, we’ll also accept properties listed on the <a rel="noopener" href="https://prsregister.beis.gov.uk/NdsBeisUi/register-search-exemptions" target="_blank">PRS Exemptions Register</a>.  </span></li>
</ul>
<p><strong>Revaluation fee scale:</strong></p>
<table border="0" style="width: 755px;">
<thead>
<tr>
<th width="357" style="text-align: left; width: 372px;"><strong>Property value</strong></th>
<th width="259" style="text-align: left; width: 383px;"><strong>Fee</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td width="357" style="text-align: left; width: 372px;">
<p>£0 to £125,000</p>
</td>
<td width="259" style="text-align: left; width: 383px;">
<p>£135</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left; width: 372px;">
<p>£125,001 to £300,000</p>
</td>
<td width="259" style="text-align: left; width: 383px;">
<p>£175</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left; width: 372px;">
<p>£300,001 to £600,000</p>
</td>
<td width="259" style="text-align: left; width: 383px;">
<p>£245</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left; width: 372px;">
<p>£600,001 to £1,000,000</p>
</td>
<td width="259" style="text-align: left; width: 383px;">
<p>£325</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left; width: 372px;">
<p>£1,000,001 to £1,600,000</p>
</td>
<td width="259" style="text-align: left; width: 383px;">
<p>£425</p>
</td>
</tr>
</tbody>
</table>
<ul>
<li><span class="list-bullets"><strong>Affordability -</strong> your customer’s ability to pay is assessed on the rental income (which must be received in £GBP).</span></li>
</ul>
<p>The rental income must be at least 145% of the monthly interest due, inclusive of any product fees added to the loan. This is calculated using the product rate plus 2.00% – subject to the following minimum rates:</p>
<table border="0" style="width: 757px;">
<thead>
<tr>
<th width="296" style="text-align: left; width: 373px;"><strong>Product</strong></th>
<th width="296" style="text-align: left; width: 384px;"><strong>Minimum Interest Rate</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td width="296" style="text-align: left; width: 373px;">
<p>Fixed rate less than 5 years or a variable rate</p>
</td>
<td width="296" style="text-align: left; width: 384px;">
<p>The higher of 5.5% or product pay rate + 2%</p>
</td>
</tr>
<tr>
<td width="296" style="text-align: left; width: 373px;">
<p>Fixed rate 5 years or more</p>
</td>
<td width="296" style="text-align: left; width: 384px;">
<p>The higher of 4.5% or product pay rate + 1% </p>
</td>
</tr>
</tbody>
</table>
<ul>
<li><span class="list-bullets"><strong>Adverse credit/payday loans -</strong> refer to the relevant criteria sections</span></li>
<li><span class="list-bullets">All applications are subject to credit score, valuation and underwriting.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>