<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdf8e6f7-b156-4a07-acc2-96ccb702de31" Alias="Further advance" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/FurtherAdvance</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T15:41:41</CreateDate>
    <NodeName Default="Further advance" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de6334ed4e9648b4b7aa6f89bab0f3c8"
      },
      {
        "contentUdi": "umb://element/929653afb6c4419a9b6de8da37f419d5"
      },
      {
        "contentUdi": "umb://element/d3d7abc7b3a04828b5b79ee5059c0b6c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/de6334ed4e9648b4b7aa6f89bab0f3c8",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/929653afb6c4419a9b6de8da37f419d5",
      "quickLink": [
        {
          "name": "Porting and Moving",
          "udi": "umb://document/565b96e045e94f799527f920b8ff1354"
        }
      ],
      "quickLinkIcon": "umb://media/9b119edcaa75428d9371300f669fe3f1"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/d3d7abc7b3a04828b5b79ee5059c0b6c",
      "quickLink": [
        {
          "name": "Product Transfer",
          "udi": "umb://document/5658fe8e0aac4ad6a5df7bf5ea03c7a5"
        }
      ],
      "quickLinkIcon": "umb://media/8429cb5f5b7f4f8f95ad68cdb3618df4"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>