<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a0dcbed-2811-46fb-b686-9f471801dc11" Alias="Further advance (Resi)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/FurtherAdvanceResi</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:13:03</CreateDate>
    <NodeName Default="Further advance (Resi)" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>To apply for a further advance for your client, they must meet certain criteria:</strong></p>
<ul>
<li><span class="list-bullets"><strong>Minimum loan size</strong> - £5,000</span></li>
<li><span class="list-bullets"><strong>Maximum loan size</strong> - £1,500,000 (total mortgage including further advance)</span></li>
<li><span class="list-bullets"><strong>Term </strong>- 2 years minimum (or product duration). The further advance term can be longer than the main mortgage. The charge on the property will not be released until the further advance term has finished</span></li>
<li><span class="list-bullets"><strong>Minimum income </strong>- £20,000 gross for the household (paid in £GBP)</span></li>
<li><span class="list-bullets"><strong>Self employed </strong>- Must have been trading for 3 years but only the last 2 years' figures will be used</span></li>
<li><span class="list-bullets"><strong>Reasons for borrowing </strong>- applicants can borrow funds to raise additional capital to fund most legal purposes, provided the capital is not used for:</span>
<ul>
<li><span class="list-bullets">business or speculative purposes<span class="fs-13">*</span></span></li>
<li><span class="list-bullets">payment of tax</span></li>
<li><span class="list-bullets">gambling debts</span></li>
<li><span class="list-bullets">a timeshare.</span></li>
</ul>
</li>
</ul>
<p><span class="fs-13">*Raising capital to fund a deposit or outright purchase of a Buy to Let is not considered a business purpose.</span></p>
<p>Debt consolidation loans can be considered subject to a maximum 75% LTV and individual assessment by our underwriters.</p>
<p>A solicitor may occasionally be required to act. You can use our <a href="/{localLink:umb://document/2beccc4772794c249093abd9d9455b35}" title="Solicitor search"><strong>Solicitor Search</strong></a> tool to find which firms are already on our approved panel.</p>
<ul>
<li><span class="list-bullets"><strong>Repayment options -</strong> We’re currently only accepting applications on a capital and interest basis.</span></li>
</ul>
<p><strong>Total Loan to Value (LTV) limits:</strong></p>
<table border="0" style="height: 203px;">
<thead>
<tr style="height: 31px;">
<th width="308" style="height: 31px; text-align: left;"><strong>Maximum loan size</strong></th>
<th width="308" style="height: 31px; text-align: left;"><strong>Maximum LTV</strong></th>
</tr>
</thead>
<tbody>
<tr style="height: 43px;">
<td width="308" style="height: 43px; text-align: left;">
<p>&lt;£500,000</p>
</td>
<td width="308" style="height: 43px; text-align: left;">
<p>90% plus fees</p>
</td>
</tr>
<tr style="height: 43px;">
<td width="308" style="height: 43px; text-align: left;">
<p>£500,001 - £750,000</p>
</td>
<td width="308" style="height: 43px; text-align: left;">
<p>85% plus fees</p>
</td>
</tr>
<tr style="height: 43px;">
<td width="308" style="height: 43px; text-align: left;">
<p>£750,001 - £1,000,000</p>
</td>
<td width="308" style="height: 43px; text-align: left;">
<p>80% plus fees</p>
</td>
</tr>
<tr style="height: 43px;">
<td width="308" style="height: 43px; text-align: left;">
<p>£1,000,001 - £1,500,000</p>
</td>
<td width="308" style="height: 43px; text-align: left;">
<p>70% plus fees</p>
</td>
</tr>
</tbody>
</table>
<ul>
<li><span class="list-bullets"><strong>Property -</strong> for new build or newly converted properties, the LTV is limited to 85% for houses and 80% for flats. We define a new build property where either the house or flat was sold or first registered (for Leasehold) for the first time in the last 12 months.</span></li>
<li><span class="list-bullets"><strong>Valuation of property - </strong>loans less than £20,000 with a total LTV less than 75% (based on a house price index) may not require a physical valuation of the property. Anything other than this will need a property revaluation (see fee scale below).</span></li>
<li><span class="list-bullets">Where the last recorded Bank of Ireland UK panel valuation was more than 10 years ago, a <strong>standard valuation</strong> will be required. Please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#valuation-fees_standard-valuation-fee" target="_blank" data-anchor="#valuation-fees_standard-valuation-fee"><strong>standard valuation fees</strong></a>. This will be assessed upon application.</span></li>
</ul>
<p><strong>Revaluation fee scale:</strong></p>
<table border="0">
<thead>
<tr>
<th width="357" style="text-align: left;"><strong>Property value</strong></th>
<th width="259" style="text-align: left;"><strong>Fee</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td width="357" style="text-align: left;">
<p>£0 to £125,000</p>
</td>
<td width="259" style="text-align: left;">
<p>£110</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left;">
<p>£125,001 to £300,000</p>
</td>
<td width="259" style="text-align: left;">
<p>£150</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left;">
<p>£300,001 to £600,000</p>
</td>
<td width="259" style="text-align: left;">
<p>£220</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left;">
<p>£600,001 to £1,000,000</p>
</td>
<td width="259" style="text-align: left;">
<p>£300</p>
</td>
</tr>
<tr>
<td width="357" style="text-align: left;">
<p>£1,000,001 to £1,600,000</p>
</td>
<td width="259" style="text-align: left;">
<p>£400</p>
</td>
</tr>
<tr>
<td style="text-align: left;">
<p>£1,600,001 and above</p>
</td>
<td style="text-align: left;">
<p>By negotiation</p>
</td>
</tr>
</tbody>
</table>
<p><span class="list-bullets">The valuation fee is non-refundable once the valuation has been completed.</span></p>
<ul>
<li><span class="list-bullets"><strong>Affordability -</strong> please call our Intermediary Enquiry Line on 0345 266 8928<span class="fs-13">**</span> for a calculation</span></li>
<li><span class="list-bullets"><strong>Adverse credit/payday loans - </strong>please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#adverse-credit" target="_blank" data-anchor="#adverse-credit"><strong>adverse credit</strong></a> section</span></li>
<li><span class="list-bullets">All applications are subject to <strong>credit score, valuation and underwriting.</strong></span></li>
</ul>
<p><span class="list-bullets fs-13">**Lines are open 9am to 5pm Monday – Friday (excluding Bank Holidays). Calls cost no more than calls to geographic numbers (01 or 02). Calls from landlines and mobiles are included in free call packages.</span></p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Further advance ]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[2024-08-01T12:00:00]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>