<?xml version="1.0" encoding="utf-8"?>
<Content Key="80c07231-c0ab-44a0-8064-ed52e6eb27c1" Alias="Green BTL homepage pod" Level="5">
  <Info>
    <Parent Key="c3c8d5cf-d8b4-4fd3-ae08-6f1aefc7fc4e">Child Pages</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ChildPages/GreenBTLHomepagePod</Path>
    <Trashed>false</Trashed>
    <ContentType>childPagePod</ContentType>
    <CreateDate>2021-06-18T13:48:32</CreateDate>
    <NodeName Default="Green BTL homepage pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <childPages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7954dd2b5be940c49a3d6a163ca716d8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fd96d2a9-a5c2-42e3-a986-147f8da9f730",
      "udi": "umb://element/7954dd2b5be940c49a3d6a163ca716d8",
      "childIcon": "umb://media/439e832899b849e3b8aa139b1d80242d",
      "childTitle": "Exclusive rates for energy efficient Buy to Lets",
      "childSubText": "<p>Green Buy to Let mortgages are now available with exclusive rates for properties with energy performance ratings A-C.</p>\n<ul>\n<li><span class=\"list-bullets\">Purchases and remortgages</span></li>\n<li><span class=\"list-bullets\">ICR and Top Slicing</span></li>\n</ul>",
      "cTALink": [
        {
          "name": "See our Green BTL mortgages",
          "udi": "umb://document/2daf054a86884de68d49c0ed54780cf2",
          "queryString": "?ProductType=Buy+to+Let&ProductTerm=null&ProductCategory=null&ProductLTV=null&InterestOnly=false"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </childPages>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>