<?xml version="1.0" encoding="utf-8"?>
<Content Key="af5a7148-c541-40ca-b514-a702a5255b90" Alias="Green Buy to Let" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/GreenBuyToLet</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2021-06-28T14:10:43</CreateDate>
    <NodeName Default="Green Buy to Let" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Green Buy to Let mortgages are available for:</p>
<ul>
<li><span class="list-bullets">properties with energy performance (EPC) ratings A or B</span></li>
<li><span class="list-bullets">purchases and remortgages</span></li>
<li><span class="list-bullets">ICR and Top Slicing.</span></li>
</ul>
<p>Please check the EPC to make sure the property is eligible before submitting an application. This can be checked <a href="https://find-energy-certificate.digital.communities.gov.uk/">here</a>, or <a href="https://www.scottishepcregister.org.uk/">here</a>  for Scottish properties.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/69edb2ae8361450cb2fcab4cd0aff86a]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Green Buy to Let mortgages]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>