<?xml version="1.0" encoding="utf-8"?>
<Content Key="00d0ef76-87a4-4fce-9aef-6998b581fb1c" Alias="Help to Buy Mortgage Guarantee" Level="5">
  <Info>
    <Parent Key="5daf3005-fedf-4fd3-b6f4-d4866e33482e">Product Types Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductTypesContainer/HelpToBuyMortgageGuarantee</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-02-06T12:25:36</CreateDate>
    <NodeName Default="Help to Buy Mortgage Guarantee" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>