<?xml version="1.0" encoding="utf-8"?>
<Content Key="edd5eeae-b431-43f9-bf54-6c0b5daba02b" Alias="Homepage promo pod" Level="5">
  <Info>
    <Parent Key="c3c8d5cf-d8b4-4fd3-ae08-6f1aefc7fc4e">Child Pages</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ChildPages/HomepagePromoPod</Path>
    <Trashed>false</Trashed>
    <ContentType>childPagePod</ContentType>
    <CreateDate>2022-12-16T14:38:22</CreateDate>
    <NodeName Default="Homepage promo pod" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <childPages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2a59e6a2d48476ba642802bed4028a0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fd96d2a9-a5c2-42e3-a986-147f8da9f730",
      "udi": "umb://element/e2a59e6a2d48476ba642802bed4028a0",
      "cTALink": "",
      "childIcon": "umb://media/1a2e81428c234be3895d0e1298f4551b",
      "childTitle": "<p style=\"text-align: center;\">Our Bespoke Service</p>",
      "childSubText": "<p> </p>\n<p> </p>\n<p> </p>\n<p> </p>\n<p>Our personalised, common sense approach to lending. Bespoke is a flexible service for good quality complex cases.</p>\n<p> </p>\n<p> </p>\n<p><img src=\"?width=1180&amp;height=918.3176470588235\" alt=\"Image of 4 Bespoke Icons for Holistic Assessment, Contractors, Self Employed and Employed\" width=\"1180\" height=\"918.3176470588235\" data-udi=\"umb://media/4fd384f2b97542928bfba351ea40f5e9\" /></p>\n<p> </p>\n<p style=\"text-align: center;\"><strong><a href=\"/{localLink:umb://document/6aebe75adc7b47569ab8876882a0efed}\" title=\"Bespoke Information\">See our Bespoke Information</a></strong></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </childPages>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>