<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2bfa099-bdae-4889-9256-8cb32f5aca2e" Alias="Houses in multiple occupation (HMO)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/HousesInMultipleOccupationHMO</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:14:22</CreateDate>
    <NodeName Default="Houses in multiple occupation (HMO)" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We don’t lend on properties that need an HMO licence or where there are more than 4 people named on the tenancy agreement. An HMO is a house in multiple occupation. There are different rules around properties that fall into the category of an HMO, such as the number of sharers and the size of the property. This can be confirmed with the relevant Local Authority.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>