<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d7f38ca-0ee4-43ee-9e47-444362278c83" Alias="How It Works Pod" Level="5">
  <Info>
    <Parent Key="10066c74-12c1-4e9d-b5d5-81237953d01a">How It Works</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/HowItWorks/HowItWorksPod</Path>
    <Trashed>false</Trashed>
    <ContentType>howItWorksPod</ContentType>
    <CreateDate>2020-11-06T12:15:04</CreateDate>
    <NodeName Default="How It Works Pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <steps>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/103eb61b423f4da88f897e476c31944b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c2ed38a3-a765-43e8-930d-2b069de456e1",
      "udi": "umb://element/103eb61b423f4da88f897e476c31944b",
      "stepTitle": "step 1",
      "subSteps": "<p>Just go to lorem ipsum lorem ipsum</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </steps>
    <title>
      <Value><![CDATA[<h3>How it works</h3>
<h4>It’s as easy as 1, 2 3…</h4>]]></Value>
    </title>
  </Properties>
</Content>