<?xml version="1.0" encoding="utf-8"?>
<Content Key="05a77896-f051-4eb6-b2f0-7705e9836399" Alias="Image Gallery Pod" Level="5">
  <Info>
    <Parent Key="bdc17fc9-fde0-40e2-9ca6-6011e979ed67">Image Gallery</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ImageGallery/ImageGalleryPod</Path>
    <Trashed>false</Trashed>
    <ContentType>imageGalleryPod</ContentType>
    <CreateDate>2020-11-05T15:39:33</CreateDate>
    <NodeName Default="Image Gallery Pod" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gallery>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/96839d81a62d4c42bfa26f2536de1ac8"
      },
      {
        "contentUdi": "umb://element/84fb8db35076411e9e1467ef53372829"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6facb311-1019-4f0a-bc25-09485c778426",
      "udi": "umb://element/96839d81a62d4c42bfa26f2536de1ac8",
      "image": "umb://media/6eafe6220f7f4814aa797d0885319fd4",
      "caption": "Kisus nisi elementum leo consequat metus enim in augue nulla soleo finibus orci de la Interdum et malesuada fames ac ante ipsum primis in faucibus mattio habitant.",
      "hideChevron": "0"
    },
    {
      "contentTypeKey": "6facb311-1019-4f0a-bc25-09485c778426",
      "udi": "umb://element/84fb8db35076411e9e1467ef53372829",
      "image": "umb://media/5d9d85d7f7fb452d9e212301a1b533c8",
      "caption": "Kisus nisi elementum leo consequat metus enim in augue nulla soleo finibus orci de la Interdum et malesuada fames ac ante ipsum primis in faucibus mattio habitant.",
      "hideChevron": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </gallery>
    <title>
      <Value><![CDATA[Gallery title]]></Value>
    </title>
  </Properties>
</Content>