<?xml version="1.0" encoding="utf-8"?>
<Content Key="30a3dcd4-9b21-4782-a683-543ecff40c86" Alias="Incentive criteria" Level="5">
  <Info>
    <Parent Key="f2656e83-4cb9-4caa-b079-4d074d352413">New build</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/NewBuild/IncentiveCriteria</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:41:59</CreateDate>
    <NodeName Default="Incentive criteria" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Builders’ incentives are accepted up to 5% of the purchase price with no adjustment to the purchase price or loan. We don’t accept guaranteed rental income schemes. </p>
<table border="0" style="width: 408px;">
<tbody>
<tr>
<td width="226" style="width: 230px;">
<p>Incentive</p>
</td>
<td width="174" style="width: 178px;">
<p>Standard New Build</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Stamp duty/LBTT</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Legal Fees</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Valuers Fees</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Moving Costs</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Estate Agent Fees</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>White Goods</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Landscaping</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Fixtures &amp; Fittings</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Option Vouchers (if no cash value)</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Cashback</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Builders Deposit</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Part Exchange</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Other Financial Incentives</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Gifts such as Cars/Holiday</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Guaranteed Rental Income</p>
</td>
<td width="174" style="width: 178px;">
<p>No</p>
</td>
</tr>
<tr>
<td width="226" style="width: 230px;">
<p>Mortgage Subsidy</p>
</td>
<td width="174" style="width: 178px;">
<p>Yes</p>
</td>
</tr>
</tbody>
</table>
<p><strong>A maximum 5% of the purchase price is permitted either individually or when incentives are combined</strong>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>