<?xml version="1.0" encoding="utf-8"?>
<Content Key="d43f484b-94ed-4279-94d5-0d1bb1fb10d3" Alias="Income from various sources" Level="5">
  <Info>
    <Parent Key="9956891a-6b91-412e-b351-33d205da6798">Bespoke &gt; Income</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeIncome/IncomeFromVariousSources</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:10:20</CreateDate>
    <NodeName Default="Income from various sources" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Acceptability will depend on the source(s) of income. Our Bespoke underwriters have discretion to utilise additional income sources where this can be evidenced as sustainable.</p>
<p>Customers with income from multiple sources, or who have a variable income composition which requires a more detailed assessment, are acceptable providing the underwriter can demonstrate sustainability.</p>
<p>If you can’t find the information here, please <a rel="noopener" href="/{localLink:umb://document/8ad458ac45da4354b145b92f1b62a0a2}" target="_blank" title="Find your BDM">contact us</a>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>