<?xml version="1.0" encoding="utf-8"?>
<Content Key="becc87e4-fc67-49fc-bc0d-5c37fe725511" Alias="Jon Crabb" Level="4">
  <Info>
    <Parent Key="8ad458ac-45da-4354-b145-b92f1b62a0a2">Contact Us</Parent>
    <Path>/BankOfIreland/Website/ContactUs/JonCrabb</Path>
    <Trashed>false</Trashed>
    <ContentType>bDMContact</ContentType>
    <CreateDate>2022-01-25T19:00:35</CreateDate>
    <NodeName Default="Jon Crabb" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <bDMType>
      <Value><![CDATA[]]></Value>
    </bDMType>
    <bio>
      <Value><![CDATA[I bring 8 years of financial services experience to the Bank of Ireland for Intermediaries business development team. I’ve previously held specialist positions working in wealth management and private banking sectors. This experience has given me a detailed knowledge of the mortgage process and I can help broker firms stand out from their competitors.
In my spare time I enjoy spending time with my family and watching far too much football!]]></Value>
    </bio>
    <contactNumber>
      <Value><![CDATA[07799 348 831]]></Value>
    </contactNumber>
    <email>
      <Value><![CDATA[Jonathan.Crabb@boi.com]]></Value>
    </email>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <fCANumber>
      <Value><![CDATA[]]></Value>
    </fCANumber>
    <firstname>
      <Value><![CDATA[Jon]]></Value>
    </firstname>
    <image>
      <Value><![CDATA[umb://media/94bc36b90af64112b5536e5cc00fe766]]></Value>
    </image>
    <jobTitle>
      <Value><![CDATA[Business Development Manager]]></Value>
    </jobTitle>
    <regions>
      <Value><![CDATA[[
  "EC – East Central London",
  "EN – Enfield",
  "N - North London",
  "NW – North West London",
  "WD – Watford",
  "AL – St. Albans",
  "LU – Luton",
  "MK – Milton Keynes\nNN – Northampton",
  "NN",
  "HA – Harrow",
  "UB – Uxbridge",
  "SL – Slough",
  "IG – Ilford",
  "HP – Hemel Hempstead"
]]]></Value>
    </regions>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <surname>
      <Value><![CDATA[Crabb]]></Value>
    </surname>
  </Properties>
</Content>