<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0989048-bbaa-4013-ba2e-2c66f1b8dfe2" Alias="Legal Information" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/LegalInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2020-12-22T18:08:10</CreateDate>
    <NodeName Default="Legal Information" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/d7886c5ad394428e8e92420844e6d5ff]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f19bf401d4404630ae4e5bcbcdfdf856"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/f19bf401d4404630ae4e5bcbcdfdf856",
      "richText": "<p><span class=\"-blue-text\"><strong>Bank of Ireland UK</strong> </span>is a trading name of Bank of Ireland (UK) plc which is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority under registration number 512956. You can confirm our registration on the <a href=\"https://www.fca.org.uk/\">FCA's website</a> (this link will open in a new window). Bank of Ireland (UK) plc is registered in England &amp; Wales (No. 7022885), Bow Bells House, 1 Bread Street, London EC4M 9BE.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[umb://document/1de83da3a809478d9b108e5fdcfa217e]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Legal Information]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>