<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee3997a8-2dd3-482a-9c21-4a365992b0f9" Alias="Lending into retirement" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LendingIntoRetirement</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:38:43</CreateDate>
    <NodeName Default="Lending into retirement" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Where term extends into the applicants retirement the following criteria will apply.</p>
<p><strong>Where retirement is less than 10 years away:</strong></p>
<ul>
<li><span class="list-bullets">Details of both current income and anticipated retirement income will need to be proven</span></li>
<li><span class="list-bullets">The lower of the current income or anticipated retirement income is used for affordability purposes.</span></li>
</ul>
<p><strong>Where retirement is 10 years or more away:</strong></p>
<ul>
<li><span class="list-bullets">Current income is to be used for affordability purposes</span></li>
<li><span class="list-bullets">Evidence of existence pension contributions must be provided.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>