<?xml version="1.0" encoding="utf-8"?>
<Content Key="197dcbe2-e68f-48a7-ad4a-a133173ed7a8" Alias="Let to Buy" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LetToBuy</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:22:37</CreateDate>
    <NodeName Default="Let to Buy" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Remortgage of a current residential to a Buy to Let and capital raising to fund the purchase of the new main residence is acceptable. To be acceptable we need to be satisfied that the applicant will be moving out of the property upon completion and moving into their new residence, otherwise it will become a regulated Buy to Let. It must be a simultaneous completion.</p>
<p>We'll require confirmation of the new correspondence address, purchase price, borrowing amount, monthly payment, a breakdown of how funds are being used e.g. deposit, fees, improvements etc. and a copy of the onward residential mortgage offer if applicable.  If there isn't a mortgage the solicitor must confirm the details.</p>
<p>We do not allow capital raising for any debt consolidation. We can accept both standalone Let to Buy applications and where we’re also providing the mortgage for the onward residential purchase.</p>
<p>All Let to Buy properties will require a valid Energy Performance Certificate (EPC) with a rating between A-E (unless exempt) or between A-D in Scotland. This must be in place at the time the valuation is carried out, if not, additional costs may be incurred and the application may be delayed.</p>
<p> </p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/24b4fc2cb2fe471c8ed2a73666bd0660]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Let to Buy]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>