<?xml version="1.0" encoding="utf-8"?>
<Content Key="24b4fc2c-b2fe-471c-8ed2-a73666bd0660" Alias="Let to buy" Level="5">
  <Info>
    <Parent Key="c70a33ed-2e18-42f1-9f24-6c8e16c45215">Criteria Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/CriteriaCategoriesContainer/LetToBuy</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaCategory</ContentType>
    <CreateDate>2020-11-30T13:57:10</CreateDate>
    <NodeName Default="Let to buy" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>