<?xml version="1.0" encoding="utf-8"?>
<Content Key="7acee963-78af-49e4-bb9d-2ede91799a71" Alias="Loan size and loan to value limits (BTL)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanSizeAndLoanToValueLimitsBTL</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:23:52</CreateDate>
    <NodeName Default="Loan size and loan to value limits (BTL)" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0">
<tbody>
<tr>
<th width="140" style="text-align: left; border-style: solid;"><strong>Loan size</strong></th>
<td width="477" style="text-align: left;">
<p>Minimum £25,001, maximum £750,000 per property for purchases and remortgages.</p>
</td>
</tr>
<tr>
<th width="140" style="text-align: left; border-style: solid;"><strong>Maximum total borrowing</strong></th>
<td width="477" style="text-align: left;">
<p>£2,000,000</p>
</td>
</tr>
<tr>
<th width="140" style="text-align: left; border-style: solid;"><strong>Maximum LTV</strong></th>
<td width="477" style="text-align: left;">
<p>75% LTV. Fees may be added to the loan.</p>
</td>
</tr>
<tr>
<th width="140" style="text-align: left; border-style: solid;"><strong>Maximum portfolio size</strong></th>
<td width="477" style="text-align: left;">
<p>The total portfolio size is 3 UK mortgaged BTL properties per applicant (either solely or jointly) across all lenders, including Bank of Ireland Group. Properties that are owned in the name of a limited company which an applicant is a director of, and applications in progress, should also be included.</p>
</td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Loan size and loan to value limits]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>