<?xml version="1.0" encoding="utf-8"?>
<Content Key="32442b29-cccd-4552-a3c7-2ff9eea04af0" Alias="Loan size and loan to value limits (Resi)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanSizeAndLoanToValueLimitsResi</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:39:40</CreateDate>
    <NodeName Default="Loan size and loan to value limits (Resi)" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The following limits apply to both purchases and remortgages and are <strong>subject to product availability</strong>. Please note the minimum loan size is £25,001.</p>
<p>Applicants borrowing above 90% LTV - please also see the '<a href="#loan-to-value-limits-borrowing-above-90-ltv" data-anchor="#loan-to-value-limits-borrowing-above-90-ltv">Loan to value limits (Residential) - borrowing above 90% LTV' section</a>.</p>
<table border="0">
<thead>
<tr>
<th width="308" style="text-align: left;"><strong>Loan Size</strong></th>
<th width="308" style="text-align: left;"><strong>Maximum LTV</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td width="308" style="text-align: left;">
<p>£25,001 - £500,000</p>
</td>
<td width="308" style="text-align: left;">
<p>95% including fees (purchases only)</p>
</td>
</tr>
<tr>
<td width="308" style="text-align: left;">
<p>£25,001 - £500,000</p>
</td>
<td width="308" style="text-align: left;">
<p>90% plus fees</p>
</td>
</tr>
<tr>
<td width="308" style="text-align: left;">
<p>£500,001 - £750,000</p>
</td>
<td width="308" style="text-align: left;">
<p>85% plus fees</p>
</td>
</tr>
<tr>
<td width="308" style="text-align: left;">
<p>£750,001 - £1,000,000</p>
</td>
<td width="308" style="text-align: left;">
<p>80% plus fees</p>
</td>
</tr>
<tr>
<td width="308" style="text-align: left;">
<p>£1,000,001 - £1,500,000</p>
</td>
<td width="308" style="text-align: left;">
<p>70% plus fees</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Loan size and loan to value limits]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>