<?xml version="1.0" encoding="utf-8"?>
<Content Key="6da0473b-c158-4001-87ac-006eb7436174" Alias="Loan to value limits - borrowing above 90% LTV" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanToValueLimitsBorrowingAbove90LTV</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:40:05</CreateDate>
    <NodeName Default="Loan to value limits - borrowing above 90% LTV" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<ul>
<li><span class="list-bullets">Maximum 95% LTV (including fees).</span></li>
<li><span class="list-bullets">Repayment only.</span></li>
<li><span class="list-bullets">Purchases only.</span></li>
<li><span class="list-bullets">Maximum loan £500,000 (including fees).</span></li>
<li><span class="list-bullets">At completion, applicants must not hold an interest in another residential property that’s owner occupied. Applicants can hold an interest in BTL properties at completion as long as they are on a formal BTL basis (i.e. consent to let properties are not acceptable).</span></li>
<li><span class="list-bullets">Not available to <a href="#contractors" data-anchor="#contractors">contractors</a>.</span></li>
<li><span class="list-bullets">Standard <a href="#property-resi" data-anchor="#property-resi">property considerations</a>.</span></li>
<li><span class="list-bullets">Please also see our '<a href="#first-start" data-anchor="#first-start">First Start</a>' section.</span></li>
<li><span class="list-bullets">Further limits apply for <a href="#new-build" data-anchor="#new-build">newly built properties</a>. </span></li>
</ul>
<p><span class="list-bullets">Please check the individual product details as some products may have a higher minimum loan amount.</span></p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>