<?xml version="1.0" encoding="utf-8"?>
<Content Key="69edb2ae-8361-450c-b2fc-ab4cd0aff86a" Alias="Loan type" Level="5">
  <Info>
    <Parent Key="c70a33ed-2e18-42f1-9f24-6c8e16c45215">Criteria Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/CriteriaCategoriesContainer/LoanType</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaCategory</ContentType>
    <CreateDate>2020-11-30T13:57:48</CreateDate>
    <NodeName Default="Loan type" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>