<?xml version="1.0" encoding="utf-8"?>
<Content Key="973f2436-2ce5-4df0-bb4b-9b66a6d89a35" Alias="Mike Furlong" Level="4">
  <Info>
    <Parent Key="8ad458ac-45da-4354-b145-b92f1b62a0a2">Contact Us</Parent>
    <Path>/BankOfIreland/Website/ContactUs/MikeFurlong</Path>
    <Trashed>false</Trashed>
    <ContentType>bDMContact</ContentType>
    <CreateDate>2022-01-25T19:00:36</CreateDate>
    <NodeName Default="Mike Furlong" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <bDMType>
      <Value><![CDATA[BDM]]></Value>
    </bDMType>
    <bio>
      <Value><![CDATA[I joined Bank of Ireland in March 2020 and came with 30 years of experience working with intermediaries in the North of England. I’ve got plenty of experience understanding cases with more complex income and I believe a “quick no” is better than a “long maybe”. I believe a great BDM adds value by helping you shape good but different cases into acceptable mortgage applications.]]></Value>
    </bio>
    <contactNumber>
      <Value><![CDATA[07500 997 632]]></Value>
    </contactNumber>
    <email>
      <Value><![CDATA[Michael.Furlong1@boi.com]]></Value>
    </email>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <fCANumber>
      <Value><![CDATA[743694; 694946; 706327; 712630; 846223; 565820; 473678; 811049; 542645; 628980; 459532; 801705; 191174; 446940; 766295; 766295; 793306; 670205; 778941; 926435; 475973; 302926; 469827; 979600; 458914; 743945; 414562; 483434; 784766; 301727; 610168; 846842; 593770; 211688; 779311; 629434; 678815; 959708; 303086; 215954; 594715; 143002; 215206; 830384; 491145; 944679; 830976; 913896; 912213; 195436; 788950; 503736; 604746; 917638; 739651; 729282; 729282; 514819; 586470; 228837; 116460; 429765; 605963; 497604; 184591; 184591; 440703; 440703; 440718; 440718; 435582; 739660; 492897; 771962; 979559; 726327; 216385; 780042; 924558; 452775; 754691; 414252; 305726; 529810; 627742; 824030; 720527; 472845; 762513; 156097]]></Value>
    </fCANumber>
    <firstname>
      <Value><![CDATA[Mike]]></Value>
    </firstname>
    <image>
      <Value><![CDATA[umb://media/705045c2c2384f42abf2037637084821]]></Value>
    </image>
    <jobTitle>
      <Value><![CDATA[Business Development Manager]]></Value>
    </jobTitle>
    <regions>
      <Value><![CDATA[BD; HD; HG; HU; LS; WF; DH; NE; SR; TS; CA; DL; HX]]></Value>
    </regions>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <surname>
      <Value><![CDATA[Furlong]]></Value>
    </surname>
  </Properties>
</Content>