<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ee8e50d-8a9e-4da7-8044-38a0d42141ad" Alias="Movers Products" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/MoversProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>productsLanding</ContentType>
    <CreateDate>2021-06-24T13:39:10</CreateDate>
    <NodeName Default="Movers Products" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="552f2d28-02d5-441c-aafa-5d6422eebce9">ProductsLanding</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/8e7a2d7247d345a49e6ada987840b650]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3b328441ab784776936b28b6103744fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/3b328441ab784776936b28b6103744fa",
      "richText": "<p>We have a range of products for movers if your client isn’t currently tied into a promotional rate. Any Early Repayment Charges (ERCs) would need to be paid.</p>\n<p>The Bank of Ireland Standard Variable Rate is currently 8.04%. The Lending Fee is £195 (due on completion, but can be deferred until mortgage is fully repaid). All information correct as at 08/02/2021.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <filterCategoriesTitle>
      <Value><![CDATA[Filter Categories]]></Value>
    </filterCategoriesTitle>
    <filterInterestOnlyTitle>
      <Value><![CDATA[Filter Interest Only]]></Value>
    </filterInterestOnlyTitle>
    <filterLTVsTitle>
      <Value><![CDATA[Filter LTVs]]></Value>
    </filterLTVsTitle>
    <filterProductsTitle>
      <Value><![CDATA[Filter Products]]></Value>
    </filterProductsTitle>
    <filtersTitle>
      <Value><![CDATA[Movers Products]]></Value>
    </filtersTitle>
    <filterTermsTitle>
      <Value><![CDATA[Filter Terms]]></Value>
    </filterTermsTitle>
    <helpToBuyLogos>
      <Value><![CDATA[]]></Value>
    </helpToBuyLogos>
    <heroPodPicker>
      <Value><![CDATA[umb://document/cbcbef3ba93b47c48ff3d023492cc7c6]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <noResultFoundMessage>
      <Value><![CDATA[There are no products that match your search. Please try again.]]></Value>
    </noResultFoundMessage>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <productVariant>
      <Value><![CDATA[[
  "MO"
]]]></Value>
    </productVariant>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>If your client is looking to move home and take out a new promotional rate, you'll find our range of products below.</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Movers Products]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>