<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbcbef3b-a93b-47c4-8ff3-d023492cc7c6" Alias="Movers products" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/MoversProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2021-06-24T13:47:40</CreateDate>
    <NodeName Default="Movers products" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0797bcdd7c524e73a200c6e36b18bfe7"
      },
      {
        "contentUdi": "umb://element/8bc7a8dda0df42b08eb124b0c057ca0b"
      },
      {
        "contentUdi": "umb://element/3b1690b05eaf419a88adebd80a520667"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/3b1690b05eaf419a88adebd80a520667",
      "quickLink": [
        {
          "name": "Product Transfer Products",
          "udi": "umb://document/be9f10dbb9784f1685378d89dea52339"
        }
      ],
      "quickLinkIcon": "umb://media/8429cb5f5b7f4f8f95ad68cdb3618df4"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/8bc7a8dda0df42b08eb124b0c057ca0b",
      "quickLink": [
        {
          "name": "Further Advance Products",
          "udi": "umb://document/d770e92be3b64e41af729c00db4d9a97"
        }
      ],
      "quickLinkIcon": "umb://media/6dd1f51963df49c0b1270e2abe1e3c44"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/0797bcdd7c524e73a200c6e36b18bfe7",
      "quickLink": [
        {
          "name": "Porting and Moving",
          "udi": "umb://document/565b96e045e94f799527f920b8ff1354"
        }
      ],
      "quickLinkIcon": "umb://media/9b119edcaa75428d9371300f669fe3f1"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>