<?xml version="1.0" encoding="utf-8"?>
<Content Key="423ee383-b69a-42ce-ba41-4b5897a55ddf" Alias="MTX" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/MTX</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2021-03-17T09:39:37</CreateDate>
    <NodeName Default="MTX" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/2bc0860cc01b4698acc6bd022a9a7fa3]]></Value>
    </category>
    <code>
      <Value><![CDATA[MTX]]></Value>
    </code>
    <description>
      <Value><![CDATA[which is our Standard Variable Rate for the entire mortgage term]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[No Early Redemption Charges.]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[Repayment Methods: Capital Repayment]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[0]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[0]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[0]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2023-09-13T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/d04039556d784c94a033abc598cb1a65]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[8.4]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[0]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/f58815e375dd4b05ad3317cfd8cc290c]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "NC"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[8.04]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/4d6f099f5fec4eb79f040fda47743df6]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>