<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6ef5156-79d0-4d70-8b9a-76ec76d0afcf" Alias="My client's application has been cancelled/lapsed due to no contact. Can the applicants retain the previously requested product if it has since been withdrawn?" Level="5">
  <Info>
    <Parent Key="dc01947f-4ca3-4eb8-b049-c5eefb9316ea">Applications</Parent>
    <Path>/BankOfIreland/Website/FrequentlyAskedQuestions1/Applications/MyClientsApplicationHasBeenCancelledlapsedDueToNoContactCanTheApplicantsRetainThePreviouslyRequestedProductIfItHasSinceBeenWithdrawn</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQTab</ContentType>
    <CreateDate>2024-09-02T07:31:12</CreateDate>
    <NodeName Default="My client's application has been cancelled/lapsed due to no contact. Can the applicants retain the previously requested product if it has since been withdrawn?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[{
  "markup": "<p>No - if the application was cancelled for any reason other than for property related purposes, a new product will be required from the current range if we are to reinstate their application. Market is low</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </answer>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <keywords>
      <Value><![CDATA[Child]]></Value>
    </keywords>
    <question>
      <Value><![CDATA[My client's application has been cancelled/lapsed due to no contact. Can the applicants retain the previously requested product if it has since been withdrawn?]]></Value>
    </question>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>