<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2656e83-4cb9-4caa-b079-4d074d352413" Alias="New build" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/NewBuild</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:41:43</CreateDate>
    <NodeName Default="New build" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<ul>
<li><span class="list-bullets">Purchases - maximum 85% LTV and 80% LTV for flats</span></li>
<li><span class="list-bullets">Eligible new build properties that have been built or converted within the last 12 months and are subject to a first sale, even if previously occupied</span></li>
<li><span class="list-bullets">Our offer of loan is valid for 9 months from the date of offer, unless stated otherwise in the offer document</span></li>
<li><span class="list-bullets">If completion hasn't taken place before the offer expires, we can consider a 6 month extension. The application will be subject to a full reassessment against our current criteria including reverification of income and a revaluation of the property</span></li>
<li><span class="list-bullets">The applicant will be charged for a revaluation of the property if they keep the same product or choose a new product that doesn't have a free valuation. This must be paid before the offer is extended. We won't charge a fee if a new product is chosen that has a free valuation.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>