<?xml version="1.0" encoding="utf-8"?>
<Content Key="2daf054a-8688-4de6-8d49-c0ed54780cf2" Alias="New Business Products" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/NewBusinessProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>productsLanding</ContentType>
    <CreateDate>2020-11-11T12:19:44</CreateDate>
    <NodeName Default="New Business Products" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="552f2d28-02d5-441c-aafa-5d6422eebce9">ProductsLanding</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/d90551efef8949109da41ba6d249d4a2]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6dde54c961ae48749cf42d6b01a42050"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/6dde54c961ae48749cf42d6b01a42050",
      "richText": "<p><strong>We offer a range of Residential and Buy to Let mortgages, giving your clients greater choice. Use the filters below to find the right product for your client.</strong></p>\n<p>The Bank of Ireland Standard Variable Rate is currently 8.04%. The Lending Fee is £195 (due on completion, but can be deferred until mortgage is fully repaid). All information correct as at 03/07/2024.</p>\n<p><strong>Is the product you’re looking for not showing? </strong>It might be withdrawing soon. If it is you'll be able to find it on our <a href=\"/{localLink:umb://document/35232d473045467faf4de321c37d9c82}\" title=\"Withdrawing Products\"><strong>Withdrawing products</strong></a> page.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <filterCategoriesTitle>
      <Value><![CDATA[Filter Categories]]></Value>
    </filterCategoriesTitle>
    <filterInterestOnlyTitle>
      <Value><![CDATA[Filter Interest Only]]></Value>
    </filterInterestOnlyTitle>
    <filterLTVsTitle>
      <Value><![CDATA[Filter LTVs]]></Value>
    </filterLTVsTitle>
    <filterProductsTitle>
      <Value><![CDATA[Filter Products]]></Value>
    </filterProductsTitle>
    <filtersTitle>
      <Value><![CDATA[New Business Products]]></Value>
    </filtersTitle>
    <filterTermsTitle>
      <Value><![CDATA[Filter Terms]]></Value>
    </filterTermsTitle>
    <helpToBuyLogos>
      <Value><![CDATA[]]></Value>
    </helpToBuyLogos>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <noResultFoundMessage>
      <Value><![CDATA[There are no products that match your search. Please try again.]]></Value>
    </noResultFoundMessage>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[umb://document/38045d094d0d45559b43392cb2c29320]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <productVariant>
      <Value><![CDATA[[
  "NC"
]]]></Value>
    </productVariant>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>Find the right products to suit your clients’ needs. For existing mortgage customers, see our product transfer and further advance product pages.</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[New Business Products]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>