<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7427e84-9663-46ef-acdc-d53b800c8ef6" Alias="New customer products" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/NewCustomerProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T16:38:18</CreateDate>
    <NodeName Default="New customer products" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f666494c350b4221809f8298fdf47082"
      },
      {
        "contentUdi": "umb://element/797d67cc331d4468a77f30d40874e774"
      },
      {
        "contentUdi": "umb://element/e4aad48698514bca8e6c0df9af2d5708"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/f666494c350b4221809f8298fdf47082",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/797d67cc331d4468a77f30d40874e774",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/e4aad48698514bca8e6c0df9af2d5708",
      "quickLink": [
        {
          "name": "Residential Information",
          "udi": "umb://document/3c314f5fb5e9465f8bcb7464a2440101"
        }
      ],
      "quickLinkIcon": "umb://media/c12ea63964324026a5f45eeadaa0522e"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>