<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e81bb5-3500-45b1-b85d-dd060560fbb3" Alias="New build page" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/NewBuildPage</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T15:37:39</CreateDate>
    <NodeName Default="New build page" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c6d52fb81b9429b8fcb034d253456b5"
      },
      {
        "contentUdi": "umb://element/1ef60f5dee224ff3bdbfb91538ac2d1d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/9c6d52fb81b9429b8fcb034d253456b5",
      "quickLink": [
        {
          "name": "Affordability Calculator",
          "udi": "umb://document/918be01cedf74150bede104a28d22a16"
        }
      ],
      "quickLinkIcon": "umb://media/eee63e158c194ee7897b81e8257c9052"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/1ef60f5dee224ff3bdbfb91538ac2d1d",
      "quickLink": [
        {
          "name": "Residential Information",
          "udi": "umb://document/3c314f5fb5e9465f8bcb7464a2440101"
        }
      ],
      "quickLinkIcon": "umb://media/c12ea63964324026a5f45eeadaa0522e"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>