<?xml version="1.0" encoding="utf-8"?>
<Content Key="21667b81-2bad-478d-a61a-e3857c503776" Alias="New clients" Level="5">
  <Info>
    <Parent Key="10438a02-4fc6-47d8-9220-15a2237f715a">Interest only (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/InterestOnlyResi/NewClients</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:34:59</CreateDate>
    <NodeName Default="New clients" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We're not currently accepting applications for additional borrowing on an Interest Only basis.</p>
<ul style="list-style-type: disc;">
<li><span class="list-bullets">Interest only or part and part is only available where 1 applicant earns in excess of £50,000 per annum or joint income exceeds £75,000 per annum (where neither applicant fulfils the individual income requirement of £50,000)</span></li>
<li><span class="list-bullets">You can borrow up to 60% LTV on an interest only basis. We’ll also consider up to 75% LTV if the amount you want over 60% is on a repayment basis</span></li>
<li><span class="list-bullets">A minimum of £250,000 equity is required in the mortgaged property at application.</span></li>
<li><span class="list-bullets">The loan term cannot extend past any applicants intended retirement age</span></li>
<li><span class="list-bullets">We only accept the sale of the mortgaged property as the repayment strategy. This will be verified by an underwriter to ensure it's a credible solution.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>