<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbf4b8d-2e14-4eb7-86c8-f4a5addb4e05" Alias="New build property warranties" Level="5">
  <Info>
    <Parent Key="f2656e83-4cb9-4caa-b079-4d074d352413">New build</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/NewBuild/NewBuildPropertyWarranties</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:42:24</CreateDate>
    <NodeName Default="New build property warranties" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>All newly built properties (under 10 years old) must be covered by 1 of the below warranties:</strong></p>
<ul>
<li><span class="list-bullets">NHBC</span></li>
<li><span class="list-bullets">Premier Guarantee with the necessary certificate issued (provided the amount of cover is at least equivalent to the purchase price or the reinstatement/ insurance figure, whichever is the higher. The excess must not exceed £1,000)</span></li>
<li><span class="list-bullets">Building Lifeplan (subject to cover including the contaminated land and Health &amp; Safety for occupier’s options)</span></li>
<li><span class="list-bullets">LABC New Home Warranty</span></li>
<li><span class="list-bullets">Castle 10 (Checkmate)</span></li>
<li><span class="list-bullets">Build Zone</span></li>
<li><span class="list-bullets">Global Home Warranties</span></li>
<li><span class="list-bullets">Q Policy (also referred to as The Q Assure Build New Build Warranty)</span></li>
<li><span class="list-bullets">International Construction Warranties (ICW)</span></li>
<li><span class="list-bullets">Protek</span></li>
<li><span class="list-bullets">Advantage HCI</span></li>
<li><span class="list-bullets">Aedis Warranties Ltd.</span></li>
<li><span class="list-bullets">Where the property is a modern method of construction built under the Build offsite Property Assurance Scheme (BOPAS), the development must be underwritten by BLP (Building LifePlans Ltd) as the warranty provider.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>