<?xml version="1.0" encoding="utf-8"?>
<Content Key="44bcf82c-a1c8-496a-b3b3-0d69affe0a60" Alias="Offer expiry" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/OfferExpiry</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:43:44</CreateDate>
    <NodeName Default="Offer expiry" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Our offer of loan is valid for a period of 6 months from the date of the offer for both purchases and remortgages, unless stated otherwise in the offer document.</p>
<p>If completion hasn’t taken place before the offer expires, we can consider a 6 month extension. The application will be subject to a full reassessment against our current criteria including reverification of income and a revaluation of the property which the applicant will be charged for. A new product may need to be selected from our current range.</p>
<p>For new build offer expiry details please see our 'New build' section.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>