<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb1e40bb-b0dd-4575-a200-08196f5de162" Alias="Onboarding &amp; Registration" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/OnboardingRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2024-02-14T16:47:29</CreateDate>
    <NodeName Default="Onboarding &amp; Registration" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9fd25b30cf944d258f66455bd3617615"
      },
      {
        "contentUdi": "umb://element/d79d10ce80844ff7b1d0c41462811956"
      },
      {
        "contentUdi": "umb://element/ec58bb18040d445faf2efb243b5dae79"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/9fd25b30cf944d258f66455bd3617615",
      "quickLink": [
        {
          "name": "A Guide To Using Our Online Application System",
          "udi": "umb://media/164aea35e99e43f3a6c04476922e8264"
        }
      ],
      "quickLinkIcon": "umb://media/7377ddf87f4642a49ba33adb8aa094a5"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/d79d10ce80844ff7b1d0c41462811956",
      "quickLink": [
        {
          "name": "Documents We'll Need",
          "udi": "umb://media/93e2979685734fd5a1f89315ad0d4c09"
        }
      ],
      "quickLinkIcon": "umb://media/7377ddf87f4642a49ba33adb8aa094a5"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/ec58bb18040d445faf2efb243b5dae79",
      "quickLink": [
        {
          "name": "How To Link Your Case Administrators",
          "udi": "umb://media/c12e99ef14064d93a854bb454cd7111e"
        }
      ],
      "quickLinkIcon": "umb://media/7377ddf87f4642a49ba33adb8aa094a5"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>