<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5333d3-457f-442a-90db-976da6482aa2" Alias="Overdraft Calculator" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/OverdraftCalculator</Path>
    <Trashed>false</Trashed>
    <ContentType>overdraftCalculator</ContentType>
    <CreateDate>2020-12-11T10:39:23</CreateDate>
    <NodeName Default="Overdraft Calculator" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36107ea6-ab01-42a2-8ea7-382fc504d83d">OverdraftCalculator</Template>
  </Info>
  <Properties>
    <accountTypeHelpMessage>
      <Value><![CDATA[Enter the type of account you are applying for, or already have with Bank of Ireland UK. You can find this information on your account statement.]]></Value>
    </accountTypeHelpMessage>
    <arragedOverdraftLimitHelpMessage>
      <Value><![CDATA[Enter your current arranged overdraft amount, or the amount you expect to be in place. Enter 0 if the account does not have an overdraft.]]></Value>
    </arragedOverdraftLimitHelpMessage>
    <arrangedOverdraftInterestRateHelpMessage>
      <Value><![CDATA[The interest rate that applies to your arranged overdraft. You can find this rate on the first page of your account statement.]]></Value>
    </arrangedOverdraftInterestRateHelpMessage>
    <backgroundImage>
      <Value><![CDATA[umb://media/c56e490a76944bab95b995cbd52b444a]]></Value>
    </backgroundImage>
    <baseRate>
      <Value><![CDATA[5.25]]></Value>
    </baseRate>
    <buttonText>
      <Value><![CDATA[Calculate]]></Value>
    </buttonText>
    <clearAccountNIArrangeOverdraftRate>
      <Value><![CDATA[14.25]]></Value>
    </clearAccountNIArrangeOverdraftRate>
    <daysInOverdraftHelpMessage>
      <Value><![CDATA[]]></Value>
    </daysInOverdraftHelpMessage>
    <disclaimerText>
      <Value><![CDATA[<p><strong>Important Information</strong></p>
<p>This calculator is for illustrative purposes only and we've assumed that:</p>
<p>(a) the level of arranged overdraft is constant for each overdrawn day</p>
<p>(b) at the time of borrowing the balance of the account is £0.00</p>
<p>(c) the number of days specified is a continuous period</p>]]></Value>
    </disclaimerText>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <gradAccountRates>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ea085397d903426288b130f3c54cb7e5"
      },
      {
        "contentUdi": "umb://element/c91051a1d1314462bc56962cf548eb48"
      },
      {
        "contentUdi": "umb://element/1fd64fbe71e6454980d13416a14e15c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7765b2b4-046c-4bd5-8984-87f2650744a7",
      "udi": "umb://element/ea085397d903426288b130f3c54cb7e5",
      "yearsOfFullTime3rdLevelEducation": "Up to 3 years",
      "overdraftLimit": "1500",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "0",
      "unarrangedOverdraftRateEARWithout": "0"
    },
    {
      "contentTypeKey": "7765b2b4-046c-4bd5-8984-87f2650744a7",
      "udi": "umb://element/c91051a1d1314462bc56962cf548eb48",
      "yearsOfFullTime3rdLevelEducation": "4 years",
      "overdraftLimit": "2000",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "0",
      "unarrangedOverdraftRateEARWithout": "0"
    },
    {
      "contentTypeKey": "7765b2b4-046c-4bd5-8984-87f2650744a7",
      "udi": "umb://element/1fd64fbe71e6454980d13416a14e15c4",
      "yearsOfFullTime3rdLevelEducation": "5 or more years ",
      "overdraftLimit": "3000",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "0",
      "unarrangedOverdraftRateEARWithout": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </gradAccountRates>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <introText>
      <Value><![CDATA[<p>Tell us what overdraft you need and we will provide the costs</p>]]></Value>
    </introText>
    <introTitle>
      <Value><![CDATA[How much will an overdraft cost me?]]></Value>
    </introTitle>
    <lengthOfUndergradCourseHelpMessage>
      <Value><![CDATA[]]></Value>
    </lengthOfUndergradCourseHelpMessage>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <overdraftAmountHelpMessage>
      <Value><![CDATA[Enter the total amount you expect to borrow each month. This amount should include any emergency borrowing that may bring you over your arranged overdraft limit.]]></Value>
    </overdraftAmountHelpMessage>
    <overdraftRates>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b69d9e2318c0414991c765cf9b9c31ff"
      },
      {
        "contentUdi": "umb://element/909692d61348425b9bc19b00f08c6776"
      },
      {
        "contentUdi": "umb://element/c0d5cad85ccd4d778edbcd2dc3fd7bd6"
      },
      {
        "contentUdi": "umb://element/d70c40a3d4f9463aa9e8acacdc4ed9ee"
      },
      {
        "contentUdi": "umb://element/04153baa6c404c61ae90ff1ce440647a"
      },
      {
        "contentUdi": "umb://element/70623a4a42084afbb9b9524f695f0cd9"
      },
      {
        "contentUdi": "umb://element/6d75882394c649a18db58c7db4c0a2e2"
      },
      {
        "contentUdi": "umb://element/0c45bec35912437e83c0cb4c7090a647"
      },
      {
        "contentUdi": "umb://element/c76d4a4d5cf44f7898e3eff1b08d982d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/b69d9e2318c0414991c765cf9b9c31ff",
      "accountName": "Clear Account",
      "arrangedOverdraftRate": "34.25",
      "arrangedOverdraftRateEAR": "40.17",
      "unarrangedOverdraftRateWith": "34.25",
      "unarrangedOverdraftRateEARWith": "40.17",
      "unarrangedOverdraftRateWithout": "34.25",
      "unarrangedOverdraftRateEARWithout": "40.17",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/909692d61348425b9bc19b00f08c6776",
      "accountName": "Graduate Account",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "0",
      "unarrangedOverdraftRateEARWithout": "0",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "1",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/c0d5cad85ccd4d778edbcd2dc3fd7bd6",
      "accountName": "Student 3rd Level Account",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "0",
      "unarrangedOverdraftRateEARWithout": "0",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/d70c40a3d4f9463aa9e8acacdc4ed9ee",
      "accountName": "Elective & Intercalated Borrowing Account",
      "arrangedOverdraftRate": "6.25",
      "arrangedOverdraftRateEAR": "6.43",
      "unarrangedOverdraftRateWith": "6.25",
      "unarrangedOverdraftRateEARWith": "6.43",
      "unarrangedOverdraftRateWithout": "6.25",
      "unarrangedOverdraftRateEARWithout": "6.43",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/04153baa6c404c61ae90ff1ce440647a",
      "accountName": "IPLS Borrowing Account",
      "arrangedOverdraftRate": "6.75",
      "arrangedOverdraftRateEAR": "6.96",
      "unarrangedOverdraftRateWith": "6.75",
      "unarrangedOverdraftRateEARWith": "6.96",
      "unarrangedOverdraftRateWithout": "6.75",
      "unarrangedOverdraftRateEARWithout": "6.96",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/0c45bec35912437e83c0cb4c7090a647",
      "accountName": "Gold Card Account",
      "arrangedOverdraftRate": "7.75",
      "arrangedOverdraftRateEAR": "8.03",
      "unarrangedOverdraftRateWith": "7.75",
      "unarrangedOverdraftRateEARWith": "8.03",
      "unarrangedOverdraftRateWithout": "7.75",
      "unarrangedOverdraftRateEARWithout": "8.03",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/c76d4a4d5cf44f7898e3eff1b08d982d",
      "accountName": "Graduate Medical School Borrowing Account",
      "arrangedOverdraftRate": "6.5",
      "arrangedOverdraftRateEAR": "6.7",
      "unarrangedOverdraftRateWith": "6.5",
      "unarrangedOverdraftRateEARWith": "6.7",
      "unarrangedOverdraftRateWithout": "6.5",
      "unarrangedOverdraftRateEARWithout": "6.7",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "0",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/70623a4a42084afbb9b9524f695f0cd9",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "1",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1",
      "accountName": "Traditional Account",
      "unarrangedOverdraftRateWithout": "34.25",
      "unarrangedOverdraftRateEARWithout": "40.17",
      "arrangedOverdraftRate": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateWith": "0",
      "unarrangedOverdraftRateEARWith": "0"
    },
    {
      "contentTypeKey": "753c9295-08f0-4a07-ae47-5d50e124234d",
      "udi": "umb://element/6d75882394c649a18db58c7db4c0a2e2",
      "jurisdiction": [
        "NI"
      ],
      "showCourseLength": "0",
      "showArrangedOverdraftInterestRate": "1",
      "hideArrangedOverdraft": "0",
      "excludeSurcharges": "1",
      "accountName": "Solicitors Personal Account",
      "arrangedOverdraftRate": "0",
      "unarrangedOverdraftRateWith": "0",
      "arrangedOverdraftRateEAR": "0",
      "unarrangedOverdraftRateEARWith": "0",
      "unarrangedOverdraftRateWithout": "34.25",
      "unarrangedOverdraftRateEARWithout": "40.17"
    }
  ],
  "settingsData": []
}]]></Value>
    </overdraftRates>
    <overInterestFreeLimitArrangedOverdraftRate>
      <Value><![CDATA[12.25]]></Value>
    </overInterestFreeLimitArrangedOverdraftRate>
    <overInterestFreeLimitArrangedOverdraftRateEAR>
      <Value><![CDATA[12.96]]></Value>
    </overInterestFreeLimitArrangedOverdraftRateEAR>
    <overInterestFreeLimitUnarrangedOverdraftRateEARWith>
      <Value><![CDATA[12.96]]></Value>
    </overInterestFreeLimitUnarrangedOverdraftRateEARWith>
    <overInterestFreeLimitUnarrangedOverdraftRateEARWithout>
      <Value><![CDATA[12.96]]></Value>
    </overInterestFreeLimitUnarrangedOverdraftRateEARWithout>
    <overInterestFreeLimitUnarrangedOverdraftRateWith>
      <Value><![CDATA[12.25]]></Value>
    </overInterestFreeLimitUnarrangedOverdraftRateWith>
    <overInterestFreeLimitUnarrangedOverdraftRateWithout>
      <Value><![CDATA[12.25]]></Value>
    </overInterestFreeLimitUnarrangedOverdraftRateWithout>
    <overInterestInfo>
      <Value><![CDATA[The below percentages are for when the customer enters an overdraft value that's above the limit.]]></Value>
    </overInterestInfo>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <surchargeGB>
      <Value><![CDATA[0]]></Value>
    </surchargeGB>
    <surchargeNI>
      <Value><![CDATA[0]]></Value>
    </surchargeNI>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>