<?xml version="1.0" encoding="utf-8"?>
<Content Key="d331c871-5a90-45e3-8c8b-879488d34056" Alias="Partnership team survey" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/PartnershipTeamSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2021-07-19T09:40:12</CreateDate>
    <NodeName Default="Partnership team survey" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/68a17fa0d0a04a44904b02438ad10e02]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[[]]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb17c0bea7e144fc9ce21dd3f44cc7c2"
      },
      {
        "contentUdi": "umb://element/f73ab1f6ab1e45c5bbc5d8b93f493d49"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/cb17c0bea7e144fc9ce21dd3f44cc7c2",
      "richText": "<h3><span class=\"-blue-text\">With lockdown restrictions easing and thinking about our new ways of working, we're keen to hear your thoughts on returning to the office.</span></h3>\n<p><strong>Please take 3 minutes to complete the below survey, all responses are anonymous.</strong></p>"
    },
    {
      "contentTypeKey": "7d96b9b6-183b-441c-b154-b5d4cd1ee67b",
      "udi": "umb://element/f73ab1f6ab1e45c5bbc5d8b93f493d49",
      "form": "0d0c00df-d97b-4010-a8fd-69c741ded0aa"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[[]]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[1]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[]]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Returning to the office]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>