<?xml version="1.0" encoding="utf-8"?>
<Content Key="623c8184-3f70-41aa-919c-0d16eccd954b" Alias="Pension income" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/PensionIncome</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:31:38</CreateDate>
    <NodeName Default="Pension income" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Pension income may be used to support a mortgage advance, as long as it can be fully verified and guaranteed for life.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>