<?xml version="1.0" encoding="utf-8"?>
<Content Key="f04426a2-a2e4-44af-8adb-ed140af03802" Alias="Podcast 3" Level="102">
  <Info>
    <Parent Key="baa2066d-cadf-40f4-82a2-ce8d7f04746c">Media library (1)</Parent>
    <Path>/[-20]/MediaLibrary1/Podcast3</Path>
    <Trashed Parent="baa2066d-cadf-40f4-82a2-ce8d7f04746c">true</Trashed>
    <ContentType>podcast</ContentType>
    <CreateDate>2021-12-13T17:48:30</CreateDate>
    <NodeName Default="Podcast 3" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4b3f3da-beae-455c-895e-1ecb874cd431">Podcast</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-12-13T00:00:00]]></Value>
    </articleDate>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[[]]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bb3447f529844501ac0e51124df59b58"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ca868f7d-9542-4dd2-84b7-88991e83bdb2",
      "udi": "umb://element/bb3447f529844501ac0e51124df59b58",
      "soundFile": "umb://media/387b1726d5f5447b8de63aeb391b0fae"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[[]]]></Value>
    </cTA>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <hideShareIcons>
      <Value><![CDATA[0]]></Value>
    </hideShareIcons>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[]]]></Value>
    </productCTA>
    <supportingText>
      <Value><![CDATA[<p>Test copy</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Podcast 3]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>