<?xml version="1.0" encoding="utf-8"?>
<Content Key="7caa7a47-9886-4e8f-ac41-834c5a290a73" Alias="Pods" Level="3">
  <Info>
    <Parent Key="894e5fdd-78c4-4eda-a85f-94080eb62308">Data Repositories</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods</Path>
    <Trashed>false</Trashed>
    <ContentType>pods</ContentType>
    <CreateDate>2020-11-03T16:42:09</CreateDate>
    <NodeName Default="Pods" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>