<?xml version="1.0" encoding="utf-8"?>
<Content Key="0979fa13-ecb3-43fa-9cf7-21d175fde4eb" Alias="Porting &amp; Moving" Level="5">
  <Info>
    <Parent Key="59333837-c6f2-4471-b481-24ee8f2adc51">Quick Links</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/QuickLinks/PortingMoving</Path>
    <Trashed>false</Trashed>
    <ContentType>quickLinks</ContentType>
    <CreateDate>2020-12-29T15:39:29</CreateDate>
    <NodeName Default="Porting &amp; Moving" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quickLink>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b503c4f55eee4553bdf793ef60988db6"
      },
      {
        "contentUdi": "umb://element/b7dae4751fb84a06afc329399cce1cde"
      },
      {
        "contentUdi": "umb://element/2a21bf2a2af346d1bc8cdc3fc4cff8af"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/b503c4f55eee4553bdf793ef60988db6",
      "quickLink": [
        {
          "name": "Lending Criteria",
          "udi": "umb://document/68e2c66522934773a830c3fffbc453a2"
        }
      ],
      "quickLinkIcon": "umb://media/7cafbb6072d745cab74fbd34cdec5f4f"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/b7dae4751fb84a06afc329399cce1cde",
      "quickLink": [
        {
          "name": "Product Transfer",
          "udi": "umb://document/5658fe8e0aac4ad6a5df7bf5ea03c7a5"
        }
      ],
      "quickLinkIcon": "umb://media/8429cb5f5b7f4f8f95ad68cdb3618df4"
    },
    {
      "contentTypeKey": "96d5d813-5df2-4c13-b326-9260a7e54a7b",
      "udi": "umb://element/2a21bf2a2af346d1bc8cdc3fc4cff8af",
      "quickLink": [
        {
          "name": "Further Advance",
          "udi": "umb://document/a9833c3673e3442eb1fb6a85d9c6022b"
        }
      ],
      "quickLinkIcon": "umb://media/6dd1f51963df49c0b1270e2abe1e3c44"
    }
  ],
  "settingsData": []
}]]></Value>
    </quickLink>
  </Properties>
</Content>