<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fdce61d-8e45-4fcb-a13d-b3ec9bcf2d1a" Alias="Porting and Moving" Level="5">
  <Info>
    <Parent Key="a9bcf5c3-9bef-472c-ad92-45c7480610c6">Promotional Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/PromotionalPods/PortingAndMoving</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionalPodRender</ContentType>
    <CreateDate>2021-10-25T13:02:28</CreateDate>
    <NodeName Default="Porting and Moving" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Download the guide",
    "udi": "umb://media/c404211d64f4495a910dbe78c3503d14"
  }
]]]></Value>
    </cTALink>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <subText>
      <Value><![CDATA[]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Porting and Moving]]></Value>
    </title>
  </Properties>
</Content>