<?xml version="1.0" encoding="utf-8"?>
<Content Key="81dd7f87-96b7-480a-9cd7-7945af32c085" Alias="Post-Event Broker Survey" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/PostEventBrokerSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2023-07-14T13:33:11</CreateDate>
    <NodeName Default="Post-Event Broker Survey" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/7122e271adeb4134bca0c89d32817ac8]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31587d651c9a4cf89e17bca25ee24d89"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d96b9b6-183b-441c-b154-b5d4cd1ee67b",
      "udi": "umb://element/31587d651c9a4cf89e17bca25ee24d89",
      "form": "25976f23-540a-48e2-b8db-0fcb456446e8"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[1]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Tell us how we're doing?]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>