<?xml version="1.0" encoding="utf-8"?>
<Content Key="76865bb2-56ac-445c-a992-31037ae671d0" Alias="PQQ" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/PQQ</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-03-14T11:14:31</CreateDate>
    <NodeName Default="PQQ" />
    <SortOrder>2401</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/2bc0860cc01b4698acc6bd022a9a7fa3]]></Value>
    </category>
    <code>
      <Value><![CDATA[PQQ]]></Value>
    </code>
    <description>
      <Value><![CDATA[which is our Standard Variable Rate for the entire mortgage term]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[No Early Redemption Charges.]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[<ul><li><span class="list-bullets">Minimum Loan £150,000</span></li><li><span class="list-bullets">Maximum Loan £2,500,000</span></li><li><span class="list-bullets">Repayment Methods: Capital Repayment, Part & Part (Interest Only element maximum 60% LTV)</span></li></ul>]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[1]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[0]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[0]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2023-09-13T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/f54811c823d54d318903e934f06ffaff]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[8.3]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[0]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/47c590a3941340d3b1880a63b9588616]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "BS"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[8.04]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/4d6f099f5fec4eb79f040fda47743df6]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>