<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b9d6d9-b5fc-4ffc-a50d-5b13f4510c0a" Alias="Probationary period" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ProbationaryPeriod</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:51:09</CreateDate>
    <NodeName Default="Probationary period" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We can consider an application for an applicant within their probationary period as long as their employment has been continuous. The reason for leaving their previous employment must be established, or where the applicant’s employment is the first appointment, we’ll need confirmation of what they did previously.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/2507342fc1e84697be9283315fb78e41]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>