<?xml version="1.0" encoding="utf-8"?>
<Content Key="cadb36a4-5daf-46ee-a779-76f3383cad64" Alias="Products" Level="3">
  <Info>
    <Parent Key="894e5fdd-78c4-4eda-a85f-94080eb62308">Data Repositories</Parent>
    <Path>/BankOfIreland/DataRepositories/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productsContainer</ContentType>
    <CreateDate>2021-03-17T09:39:35</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>