<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fa97607-63a5-4743-aa9a-ba386ab41bfd" Alias="Product Transfer" Level="5">
  <Info>
    <Parent Key="76f076af-0210-4b32-96e1-07c5248136ac">Existing customers (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ExistingCustomersResi/ProductTransfer</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T10:13:38</CreateDate>
    <NodeName Default="Product Transfer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>You can apply for a product transfer if:</strong></p>
<ul>
<li><span class="list-bullets">your customer's account number starts with 80 and is ten digits</span></li>
<li><span class="list-bullets">your customer is applying for a product from the same brand they initially applied through</span></li>
<li><span class="list-bullets">the mortgage amount, term and repayment method are staying the same</span></li>
<li><span class="list-bullets">you only need 1 offer and do not require a revaluation of the property</span></li>
<li><span class="list-bullets">the mortgage is outside any Early Repayment Charge (ERC) period, or has 6 months or less remaining on the ERC period</span></li>
<li><span class="list-bullets">your customer is residing in the property, unless in the armed forces</span></li>
<li><span class="list-bullets">your customer is not in arrears or in a concessionary period on their mortgage</span></li>
<li><span class="list-bullets">the remaining mortgage term exceeds the chosen product by at least 6 months.</span></li>
</ul>
<p>To view our products or apply visit our <a href="/{localLink:umb://document/b2878ce277c74dcca764f5e3fafcfda3}" title="Product Transfer">product transfer page</a>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>