<?xml version="1.0" encoding="utf-8"?>
<Content Key="7331ad29-290f-4866-9bbe-ee2e1fd4a0ad" Alias="Product LTV Container" Level="4">
  <Info>
    <Parent Key="39b52f28-6ec0-44fc-bc06-c2eddd541787">Tags</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductLTVContainer</Path>
    <Trashed>false</Trashed>
    <ContentType>productLTVContainer</ContentType>
    <CreateDate>2021-03-17T09:39:35</CreateDate>
    <NodeName Default="Product LTV Container" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>