<?xml version="1.0" encoding="utf-8"?>
<Content Key="10ec97e1-bce0-4a49-b9c6-ba5891517afd" Alias="Proof of residency/identity" Level="5">
  <Info>
    <Parent Key="c70a33ed-2e18-42f1-9f24-6c8e16c45215">Criteria Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/CriteriaCategoriesContainer/ProofOfResidencyidentity</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaCategory</ContentType>
    <CreateDate>2020-11-30T13:56:50</CreateDate>
    <NodeName Default="Proof of residency/identity" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>