<?xml version="1.0" encoding="utf-8"?>
<Content Key="7722b667-3428-4560-8ad8-bfbf5de14bbb" Alias="Proof of residency and identity" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ProofOfResidencyAndIdentity</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:52:46</CreateDate>
    <NodeName Default="Proof of residency and identity" />
    <SortOrder>64</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>To help protect against fraud, Anti Money Laundering Regulations (AML) require us to check the names and addresses of all our customers.</p>
<p>We’ll attempt to do this electronically. If this fails, each applicant must supply 1 item from the Proof of identity list and 1 item from the Proof of occupancy list.</p>
<p><span class="-blue-text"><strong>The same document cannot be used to verify both their identity and their residency.</strong></span></p>
<h5><strong>Proof of identity:</strong></h5>
<table border="0" style="width: 1000px;">
<tbody>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Driving licence</p>
</th>
<td rowspan="6" width="154" style="text-align: left; width: 130px;">
<p>Auto requested if applicant has failed AML check</p>
</td>
<td width="154" style="text-align: left; width: 499px;">
<p><strong>Includes following:</strong></p>
<ul>
<li><span class="list-bullets">Current full old-style UK driving licence (paper version) - not more than 51 years old</span></li>
<li><span class="list-bullets">Current Full UK/EU/USA/Canada/Australia photo card driving licence - not more than 10 years old</span></li>
<li><span class="list-bullets">Current Provisional UK Photo card driving licence - not more than 3 years old.</span></li>
</ul>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>DWP / Benefits agency Letter</p>
</th>
<td width="154" style="text-align: left; width: 499px;">
<p>Correspondence from the DWP/Benefits Agency/Social Insurance documents/Disability allowance book /Disability pension book/ROI Pension book dated within the last 13 months.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>EU National ID Card</p>
</th>
<td width="154" style="text-align: left; width: 499px;">
<p>EU National Identity Card (photographic) which must be valid and in date.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>NI Electoral Office ID</p>
</th>
<td width="154" style="text-align: left; width: 499px;">
<p>Identity card issued by the Electoral Office for Northern Ireland (NI only).</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>HMRC correspondence</p>
</th>
<td width="154" style="text-align: left; width: 499px;">
<p>HM Revenue &amp; Customs/Revenue Commissioners correspondence e.g. Tax coding notice dated within the last 13 months (note: P60s &amp; P45s are not acceptable).</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Passport</p>
</th>
<td width="154" style="text-align: left; width: 499px;">
<p>Full current signed valid Passport, not more than 10 years old.</p>
</td>
</tr>
</tbody>
</table>
<h5><strong>Proof of occupancy:</strong></h5>
<table border="0" style="width: 1000px;">
<tbody>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Bank statement</p>
</th>
<td rowspan="8" width="154" style="text-align: left; width: 129px;">
<p>Auto requested if applicant has failed AML check and has not been found on Voter's Roll for all residential addresses for past 12 months</p>
</td>
<td width="154" style="text-align: left; width: 502px;">
<p>Original or certified copy of Bank/Building Society/Credit Union statement*, dated within the last 6 months. If downloaded from the internet, the copy must contain Bank/ Building Society logo, date, full name and address.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Credit card statement</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>Original or certified copy of statement*, dated within the last 6 months. If downloaded from the internet, the copy must contain Bank/ Building Society logo, date, full name and address.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>DWP / Benefits agency Letter</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>Correspondence from the DWP/Benefits Agency/Social Insurance documents/Disability allowance book /Disability pension book/ROI Pension book dated within the last 13 months.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>HMRC correspondence</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>HM Revenue &amp; Customs/Revenue Commissioners correspondence e.g. Tax coding notice dated within the last 13 months (note: P60s &amp; P45s and internet copies are not acceptable).</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Local Authority correspondence</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>Council Tax bill (internet copies are not acceptable).</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>ROI Government document</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>Document posted from Government body in ROI dated within the last 6 months (for use in NI only).</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Solicitor house purchase letter</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>Letter from solicitors confirming recent house purchase within the last 6 months.</p>
</td>
</tr>
<tr>
<th width="154" style="text-align: left; width: 159px; border-style: solid;">
<p>Utility bill</p>
</th>
<td width="154" style="text-align: left; width: 502px;">
<p>For example, gas, electricity, water, telephone (not mobile), Cable services, Satellite TV* e.g. Sky, original statement dated within the last 6 months (not 'dongle' contracts). If downloaded from the internet, the copy must contain company logo, date, customer’s full name and address.</p>
</td>
</tr>
</tbody>
</table>
<p> </p>
<p><strong>Please be aware:</strong></p>
<ul>
<li><span class="list-bullets">For Anti Money Laundering purposes, documents being used to provide residency must show at least one forename and surname. Variations of the name may be acceptable if they refer to the same person, for example Pat/Paddy or Liz/Betty. Documents which show the initials only are not acceptable.</span></li>
<li><span class="list-bullets">The address must match against the application form</span></li>
<li><span class="list-bullets">*Statements downloaded from the internet (e-statement) can only be accepted if Proof of Identity is provided either by Passport, UK driving licence or EU ID card. An e-statement must be printed as a PDF document, not an excel download. It must contain the bank name and logo, date, full name and address. If it's used along with a driving licence, the addresses must be the same.</span></li>
</ul>
<p>You can securely upload and certify documents for assessment via our <a rel="noopener" href="https://www2.mortgageapplicationservice.co.uk/web/index.html#/index/BOI/login/?login=true" target="_blank" title="BOI4I login">online application system</a>.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/10ec97e1bce04a49b9c6ba5891517afd]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>