<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a4aff4f-7c96-49b2-88b8-c46eee06eed1" Alias="Property condition and letting requirements" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/PropertyConditionAndLettingRequirements</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:32:49</CreateDate>
    <NodeName Default="Property condition and letting requirements" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Buy to Let properties must predominantly appeal to the residential home owner market, and must already be suitable to be let at the time of the property valuation. They should be tenanted within 60 days of being marketed.</p>
<p>We don't lend on new build flats as a Buy to Let. We can consider ex-council properties but only in good condition and in locations with both a strong rental and owner occupier demand.</p>
<p>For ex-local authority flats we accept a maximum height of 4 storeys. We do not accept blocks with open deck access, unless there is a secure entry-phone system and doors to all stairwells.</p>
<p>For ex- local authority properties we have a minimum value of £60,000 (£40,000 in Northern Ireland). For ex-local authority flats the minimum value is £90,000.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>