<?xml version="1.0" encoding="utf-8"?>
<Content Key="05d6b4e2-4990-45c5-85d8-e3c4757cbf53" Alias="Property value" Level="5">
  <Info>
    <Parent Key="93047237-4389-4309-a6ec-9959708c8d93">Buy to Let Top Slicing</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BuyToLetTopSlicing/PropertyValue</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-18T16:09:17</CreateDate>
    <NodeName Default="Property value" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>The minimum property value is £100,000.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>