<?xml version="1.0" encoding="utf-8"?>
<Content Key="639c687a-e30d-469c-a4a7-3eae001980ef" Alias="Property (Resi)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/PropertyResi</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:54:47</CreateDate>
    <NodeName Default="Property (Resi)" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0" width="100%" style="width: 100%; height: 2785px;">
<thead>
<tr style="height: 18px;">
<th width="34%" style="text-align: left; width: 34%; height: 16px;"><span style="font-weight: 400;">Property description</span></th>
<th width="65%" style="text-align: left; width: 65%; height: 16px;"><span style="font-weight: 400;">Criteria</span></th>
</tr>
</thead>
<tbody>
<tr style="height: 237px;">
<td style="text-align: left; width: 34%; height: 237px;">
<p>Access to flats</p>
</td>
<td style="text-align: left; width: 65%; height: 237px;">
<p>Self-contained access from the front of the building MUST be in place. Properties with external rear/side access via narrow alleyways or public footpaths are unacceptable, including those accessed across commercial premises/carparks.</p>
<p>Blocks of flats exceeding 4 floors in height (excluding basement floors but including ground floor, i.e.0,1,2,3 floors) MUST have lift access to all floors to be acceptable. Unless it's a converted former house in a desirable location, e.g. Pimlico, Chelsea, Kensington or Belgravia, or a standard Scottish tenement for the area.</p>
<p>We don't allow access via an external staircase.</p>
</td>
</tr>
<tr style="height: 478px;">
<td style="text-align: left; width: 34%; height: 189px;">
<p>Annexes</p>
</td>
<td style="text-align: left; width: 65%; height: 189px;">
<p>We can accept properties with an annexe <strong>subject to valuers comments</strong>, providing they meet all three of the following criteria:</p>
<ol start="1" data-listchain="__List_Chain_1957">
<li>The annexe and main building are all on the same utilities</li>
<li>The annexe is attached to or part of the main building</li>
<li>There's internal access</li>
</ol>
<p>The annexe can't be let out, now or in the future. </p>
<p>If your property doesn’t meet one of these three criteria, refer to the <a href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#annexes">Bespoke criteria</a> for annexes. </p>
<p> </p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>New build house/1st sale</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Acceptable (maximum 85% LTV).</p>
</td>
</tr>
<tr style="height: 82px;">
<td width="34%" style="text-align: left; width: 34%; height: 82px;">
<p>New build flat/1st sale/1st registration of lease (including new conversions)</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 82px;">
<p>Acceptable (maximum 80% LTV).</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Former council/MOD</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Acceptable subject to being 4 storeys or fewer with no open deck access.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Shared ownership</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Not acceptable on purchases. Remortgages for final staircasing only.</p>
<p>Property acceptance is subject to Valuer approval and confirming the property is readily saleable, acceptable to the majority of mainstream lenders and the majority of the flats/properties within the development being in private (100% equity) ownership.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Shared equity property</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Not acceptable on purchases. Remortgages for purchase of final equity share only.</p>
</td>
</tr>
<tr style="height: 219px;">
<td style="text-align: left; width: 34%; height: 219px;">Property location</td>
<td style="text-align: left; width: 65%; height: 219px;">
<p>We do not usually lend on properties that are next to, opposite, above or close to commercial premises or anything that may prohibit the peaceful enjoyment of the property.</p>
<p>For example: shops, garages, petrol stations, restaurants, takeaways, factories, industrial units, farms, overhead power lines, sub stations, pylons, mobile phone masts, noise nuisance, smell, etc. This isn’t an exhaustive list.</p>
<p>However, if the property is in a highly desirable area we may be able to consider it, so please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a> prior to application.</p>
</td>
</tr>
<tr style="height: 82px;">
<td width="34%" style="text-align: left; width: 34%; height: 82px;">
<p>Flats in high rise developments</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 82px;">
<p>Can be considered.</p>
<p>If the property is 5 storeys or more with cladding/stacked decking then we may require:</p>
<ol>
<li>The current Fire Risk Assessment (FRA) report for the building (not a report recommending a review, the date of which has already passed).</li>
<li>The current Fire Risk External Wall (external façade) Assessment (FRAEW) report for the building (not a report recommending a review, the date of which has already passed).</li>
<li>The name and qualifications of the author of each of these reports, together with (if possible) a copy of the certificate confirming those qualifications. It's essential that we have these qualifications provided.</li>
</ol>
<p>Please refer to our <a href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#cladding" data-anchor="#cladding">cladding</a> criteria for acceptable qualifications for FRA &amp; FRAEW reports.</p>
<p>For properties over 10 storeys, please <a href="/{localLink:umb://document/98e06da37af24061b66efbea2268d1e5}" title="Contact Us">contact us</a> with details of the property prior to submission for a decision in principle.</p>
</td>
</tr>
<tr style="height: 82px;">
<td width="34%" style="text-align: left; width: 34%; height: 82px;">
<p>Flats converted from former office, industrial buildings and ex local authority blocks</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 82px;">
<p>Not acceptable.</p>
</td>
</tr>
<tr style="height: 82px;">
<td width="34%" style="text-align: left; width: 34%; height: 82px;">
<p>Studio flats</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 82px;">
<p>Can be considered, subject to the valuer being comfortable there is good demand in the locality. The gross internal area (GIA) must exceed 30 square metres.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Holiday homes</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Not acceptable.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Pied a terre</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Can be considered on an individual case basis.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Properties with part commercial use in the title</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Not acceptable. </p>
</td>
</tr>
<tr style="height: 100px;">
<td width="34%" style="text-align: left; width: 34%; height: 100px;">
<p>Properties less than 10 years old</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 100px;">
<p>Must be covered by an approved new home warranty scheme or Professional Consultants Certificate from a suitably qualified individual. Please see ‘New build property warranties’ section for acceptable warranties.</p>
</td>
</tr>
<tr style="height: 100px;">
<td width="34%" style="text-align: left; width: 34%; height: 100px;">
<p>Properties outside mainland UK</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 100px;">
<p>Not acceptable with the exception of the following Isle of Wight, Anglesey, Skye, Bute, Lewis &amp; Harris, Mainland Orkney, Mainland Shetland, Arran, Mull, Islay, Whalsay, Yell, South Ronaldsay, West Burra, Tiree and Unst.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Freehold flats</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Not acceptable.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Minimum leasehold requirements</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>All leasehold properties require a <strong>minimum of 85 years </strong>at the start of the mortgage term.</p>
</td>
</tr>
<tr style="height: 251px;">
<td width="34%" style="text-align: left; width: 34%; height: 251px;">
<p>Onerous lease terms</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 251px;">
<p>Not acceptable.</p>
<p>The Bank will consider lending on properties with escalating ground rent clauses, however it will not lend upon properties with onerous leases. The Bank itself will not determine whether a lease is onerous or not. It relies on its panel valuers and conveyancers to advise on the onerous nature of a lease. This is based upon their professional knowledge and experience of both leases and the local housing market, since it is the market which determines this property attribute.</p>
<p>As far as ground rents are concerned, increases in line with RPI (or equivalent indexes) are generally acceptable to the Bank. However, multiplier increases will need to be referred to both the valuer and conveyancer, particularly if the multiplier is for a time period of less than every 25 years. The Bank’s professional advisers will consider market appetite for ground rent increases, which will vary from location to location.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Properties with occupancy restrictions</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Not acceptable. </p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Properties being acquired under assignable contract</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Not acceptable.</p>
</td>
</tr>
<tr style="height: 100px;">
<td width="34%" style="text-align: left; width: 34%; height: 100px;">
<p>Properties with communal heating, hot water or other services where the property is not individually metered</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 100px;">
<p>These are generally not acceptable. But in prime locations, particularly within London, unmetered systems may be acceptable. Please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a> before submitting the application.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Properties with solar panels</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Can be considered on an individual case basis, please <a href="/{localLink:umb://document/98e06da37af24061b66efbea2268d1e5}" title="Contact Us">contact us</a> prior to submission.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Overhead power lines</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Properties where high power lines pass over the site are not normally acceptable.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Minimum floor area</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>The minimum acceptable floor area for a property is 30 square metres.</p>
</td>
</tr>
<tr style="height: 114px;">
<td width="34%" style="text-align: left; width: 34%; height: 114px;">
<p>Property with land/smallholding</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 114px;">
<p>We will not usually lend on smallholdings. For properties with more than 10 acres or separate fields, please <a href="/{localLink:umb://document/98e06da37af24061b66efbea2268d1e5}" title="Contact Us">contact us</a> prior to submission.</p>
<p>We will not lend on working farms or houses which connect to, or through, working farms.</p>
</td>
</tr>
<tr style="height: 64px;">
<td width="34%" style="text-align: left; width: 34%; height: 64px;">
<p>Properties with 2 kitchens</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 64px;">
<p>Can be considered on an individual case basis, please <a href="/{localLink:umb://document/98e06da37af24061b66efbea2268d1e5}" title="Contact Us">contact us</a> prior to submission.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Listed buildings</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>Acceptable.</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="34%" style="text-align: left; width: 34%; height: 46px;">
<p>Maximum property value</p>
</td>
<td width="65%" style="text-align: left; width: 65%; height: 46px;">
<p>£4,000,000</p>
</td>
</tr>
<tr style="height: 187px;">
<td style="text-align: left; width: 34%; height: 187px;">
<p>Refurbishment/modernisation</p>
</td>
<td style="text-align: left; width: 65%; height: 187px;">
<p>We'll not lend on properties that are part way through a project e.g. incomplete extensions, loft conversions, incomplete kitchens and bathrooms etc or very dated properties (which show after being inspected) that most purchasers would modernise/refurbish soon after moving in.</p>
<p>If the applicant has in the last 6 years substantially altered, refurbished, remodelled or extended their property please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="contact us">contact us</a> prior to application.</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Property ]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[2024-07-25T12:00:00]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>