<?xml version="1.0" encoding="utf-8"?>
<Content Key="f50e952b-23e3-48c8-a031-4f0c6169d771" Alias="Property" Level="5">
  <Info>
    <Parent Key="c70a33ed-2e18-42f1-9f24-6c8e16c45215">Criteria Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/CriteriaCategoriesContainer/Property</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaCategory</ContentType>
    <CreateDate>2020-11-30T13:56:37</CreateDate>
    <NodeName Default="Property" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>