<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a0fc578-88bf-404a-93ce-579e61edd958" Alias="Property construction" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/PropertyConstruction</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:55:23</CreateDate>
    <NodeName Default="Property construction" />
    <SortOrder>69</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0" width="100%" style="height: 1442px; width: 100%;">
<thead>
<tr style="height: 48px;">
<th width="16%" style="text-align: left; height: 48px; width: 24.2156%;">Construction Type</th>
<th width="83%" style="text-align: left; height: 48px; width: 74.7844%;">Criteria</th>
</tr>
</thead>
<tbody>
<tr style="height: 78px;">
<td width="16%" style="text-align: left; height: 78px; width: 24.2156%;">
<p>Traditional construction </p>
</td>
<td width="83%" style="text-align: left; height: 78px; width: 74.7844%;">
<p>Houses must be of solid or cavity construction incorporating the materials brick, concrete block or stone. Render and tile hung finishes in addition to the above are considered traditional and acceptable.</p>
</td>
</tr>
<tr style="height: 140px;">
<td width="16%" style="text-align: left; height: 140px; width: 24.2156%;">
<p>Period properties of cob</p>
</td>
<td width="83%" style="text-align: left; height: 140px; width: 74.7844%;">
<p>Period properties of cob (mud and straw) construction may be acceptable provided roofs are thatched. They will be considered on their merits, depending on the comments made by the mortgage valuer.</p>
<p>The term ‘period property’ will normally be applied to a building built before 1850.</p>
<p>For other roof types please contact us prior to submission.</p>
</td>
</tr>
<tr style="height: 92px;">
<td width="16%" style="text-align: left; height: 92px; width: 24.2156%;">
<p>Single skin/ half brick thick walls</p>
</td>
<td width="83%" style="text-align: left; height: 92px; width: 74.7844%;">
<p>Single skin/half brick thick walls are only acceptable in older properties where the walls are within single storey structures and contain non-habitable rooms.</p>
<p>Any single skin wall structure above single storey is normally unacceptable.</p>
</td>
</tr>
<tr style="height: 60px;">
<td width="16%" style="text-align: left; height: 60px; width: 24.2156%;">
<p>Roofs</p>
</td>
<td width="83%" style="text-align: left; height: 60px; width: 74.7844%;">
<p>Roofs should normally be pitched and covered with tiles or slates (including artificial slates), or thatched.</p>
</td>
</tr>
<tr style="height: 92px;">
<td width="16%" style="text-align: left; height: 92px; width: 24.2156%;">
<p>100% flat roof</p>
</td>
<td width="83%" style="text-align: left; height: 92px; width: 74.7844%;">
<p>100% flat roofs on houses can be acceptable if the property is of traditional construction and the valuer confirms saleability and acceptability to other lenders.</p>
<p>100% flat roofs on flat developments are generally acceptable.</p>
</td>
</tr>
<tr style="height: 127px;">
<td width="16%" style="text-align: left; height: 127px; width: 24.2156%;">
<p>Modern timber frame</p>
</td>
<td width="83%" style="text-align: left; height: 127px; width: 74.7844%;">
<p>Modern post 1970 (post 1950 in Scotland) factory made timber frames are generally acceptable provided the properties have a conventional outer cladding of brick, rendered block or reconstructed stone.</p>
<p>Post 2000 flat developments with timber cladding will be considered on their merits subject to not being more than 4 storeys.</p>
</td>
</tr>
<tr style="height: 130px;">
<td width="16%" style="text-align: left; height: 130px; width: 24.2156%;">
<p>Period timber frame housing</p>
</td>
<td width="83%" style="text-align: left; height: 130px; width: 74.7844%;">
<p>Historic hardwood timber frame housing is acceptable, being period properties (usually) built between 1300 and 1800.<br /><br />Period timber frame properties normally clad in stone/brick/lath and plaster are acceptable. As are those clad in clap board or weather board, providing that the Valuer confirms this is common to the locality and constructed prior to 1900.</p>
</td>
</tr>
<tr style="height: 140px;">
<td width="16%" style="text-align: left; height: 140px; width: 24.2156%;">
<p>Pre reinforced concrete construction</p>
</td>
<td width="83%" style="text-align: left; height: 140px; width: 74.7844%;">
<p>Properties listed as defective under the Housing Defects legislation are not acceptable if unrepaired.</p>
<p>Repairs must be licensed by PRC Homes Ltd.</p>
<p>Repair schemes that predate PRC Homes Ltd schemes will only be acceptable where a PRC Licence Scheme number was later granted.</p>
</td>
</tr>
<tr style="height: 175px;">
<td width="16%" style="text-align: left; height: 175px; width: 24.2156%;">
<p>Steel frame construction</p>
</td>
<td width="83%" style="text-align: left; height: 175px; width: 74.7844%;">
<p>Steel framed houses built in 1984 or later and which are conventionally clad in brick or rendered block work are acceptable.</p>
<p>Steel framed houses built before 1984 and which are conventionally clad in brick or rendered block work are acceptable subject to a satisfactory Structural Engineer's report.</p>
<p>Unconventionally clad steel framed houses are unacceptable irrespective of their age.</p>
</td>
</tr>
<tr style="height: 158px;">
<td width="16%" style="text-align: left; height: 158px; width: 24.2156%;">
<p>No fines/easy form</p>
</td>
<td width="83%" style="text-align: left; height: 158px; width: 74.7844%;">
<p>Only 2 storey structures are usually acceptable (3 storey in Scotland). Any evidence of cracks must be referred to a Structural Engineer and where appropriate, carbonation test will be required.</p>
<p>‘Easiform’ construction built prior to 1940 must be referred to a Structural Engineer.</p>
<p>Acceptability is dependent on continued market demand. </p>
</td>
</tr>
<tr style="height: 75px;">
<td width="16%" style="text-align: left; height: 75px; width: 24.2156%;">
<p>Large panel systems</p>
</td>
<td width="83%" style="text-align: left; height: 75px; width: 74.7844%;">
<p>Houses not acceptable.</p>
<p>Flats may be considered if constructed after 2000 on an individual case basis.</p>
</td>
</tr>
<tr style="height: 127px;">
<td width="16%" style="text-align: left; height: 127px; width: 24.2156%;">
<p>Cross wall/curtain wall </p>
</td>
<td width="83%" style="text-align: left; height: 127px; width: 74.7844%;">
<p>These types are generally acceptable providing the party walls are of conventional construction. This type of construction in conjunction with a flat roof is normally unacceptable unless the valuer can confirm that an established demand for these properties exists and that they are generally mortgageable.</p>
<p>Cross wall is only acceptable where party walls are of masonry.</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>