<?xml version="1.0" encoding="utf-8"?>
<Content Key="12a88817-b5c7-4c83-b550-0eef6f8ab305" Alias="Purchase" Level="5">
  <Info>
    <Parent Key="fed238d7-eab4-43cf-8543-8ffd0f2dcf3c">Loan types</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanTypes/Purchase</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:40:53</CreateDate>
    <NodeName Default="Purchase" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>The vendor must have owned the property for a minimum of 6 months prior to completion of this transaction unless the seller is:</strong></p>
<ul>
<li><span class="list-bullets">a personal representative of the registered proprietor</span></li>
<li><span class="list-bullets">an institutional mortgagee exercising its power of sale</span></li>
<li><span class="list-bullets">a receiver, trustee-in-bankruptcy or liquidator</span></li>
<li><span class="list-bullets">a developer or builder selling a property acquired under a part-exchange scheme</span></li>
<li><span class="list-bullets">a registered housing provider (Housing Association) exercising a power of sale.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>