<?xml version="1.0" encoding="utf-8"?>
<Content Key="eae94409-f9ed-4e3c-af59-ac2a832e02b0" Alias="Purchase" Level="5">
  <Info>
    <Parent Key="ccd6b34e-1029-4e92-948f-094be824e22f">Loan types (BTL)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanTypesBTL/Purchase</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T15:26:38</CreateDate>
    <NodeName Default="Purchase" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>We require the vendor to have owned the property for a minimum of 6 months prior to completion of this transaction unless the seller is:</strong></p>
<ul>
<li><span class="list-bullets">a personal representative of the registered proprietor; or</span></li>
<li><span class="list-bullets">an institutional mortgagee exercising its power of sale; or</span></li>
<li><span class="list-bullets">a receiver, trustee-in-bankruptcy or liquidator; or</span></li>
<li><span class="list-bullets">a developer or builder selling a property acquired under a part-exchange scheme; or</span></li>
<li><span class="list-bullets">a registered housing provider (Housing Association) exercising a power of sale.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>