<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a2148c7-5d3f-4bae-b91b-fa1b43ca5a32" Alias="Remortgage" Level="5">
  <Info>
    <Parent Key="fed238d7-eab4-43cf-8543-8ffd0f2dcf3c">Loan types</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/LoanTypes/Remortgage</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:41:16</CreateDate>
    <NodeName Default="Remortgage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Applicants can remortgage to raise additional capital up to 85% LTV (excluding fees), provided the capital is not used for:</strong></p>
<ul>
<li><span class="list-bullets">business or speculative purposes</span></li>
<li><span class="list-bullets">payment of tax</span></li>
<li><span class="list-bullets">gambling debts</span></li>
<li><span class="list-bullets">a timeshare.</span></li>
</ul>
<p>Raising capital to fund a deposit or outright purchase of a Buy to Let is not considered a business purpose.</p>
<p>Raising capital to repay outstanding debt is acceptable up to 75% LTV.</p>
<p>Remortgages where the applicant has owned the property for less than 6 months are not normally acceptable.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>