<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbc4ac5d-b4bd-434b-b06a-e4a3c48224ca" Alias="Rental calculation/margin" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/RentalCalculationmargin</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:36:45</CreateDate>
    <NodeName Default="Rental calculation/margin" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Ability to pay is assessed on the rental income (which must be received in £GBP).</p>
<p>The rental income must be at least 145% of the monthly interest due inclusive of any product fees added to the loan.</p>
<p><strong>This is calculated using the notional interest rate below (whichever is applicable):</strong></p>
<table border="0" width="1000" style="width: 1000px;">
<thead>
<tr>
<th width="26%" style="text-align: left; width: 26%;"><strong>Product </strong></th>
<th width="73%" style="text-align: left; width: 24.8614%;"><strong>Notional interest rate</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td width="26%" style="text-align: left; width: 26%;">
<p>Fixed rate less than 5 years or a variable rate</p>
</td>
<td width="73%" style="text-align: left; width: 24.8614%;">
<p>The higher of 5.5% or product pay rate + 2%</p>
</td>
</tr>
<tr>
<td width="26%" style="text-align: left; width: 26%;">
<p>Fixed rate 5 years or more </p>
</td>
<td width="73%" style="text-align: left; width: 24.8614%;">
<p>The higher of 4.5% or product pay rate + 1% </p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/a5dc56e1c8ba4965ac8225e4c6f741ba]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>