<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f3724ba-4651-45ee-9312-39411fe89ab8" Alias="Residential - Further advance" Level="5">
  <Info>
    <Parent Key="150f4cd6-921d-4a39-9d64-d444c9716ea6">Bespoke &gt; Further advance</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeFurtherAdvance/ResidentialFurtherAdvance</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T10:20:44</CreateDate>
    <NodeName Default="Residential - Further advance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>To apply for a further advance for your client, they must meet certain criteria:</strong></p>
<ul>
<li><span class="list-bullets"><strong>Minimum loan size</strong>- £5,000</span></li>
<li><span class="list-bullets"><strong>Maximum loan size</strong>- £2,500,000 (total mortgage including further advance)</span></li>
<li><span class="list-bullets"><strong>Term </strong>- 2 years minimum (or product duration). The further advance term can be longer than the main mortgage. The charge on the property will not be released until the further advance term has finished.</span></li>
<li><span class="list-bullets"><strong>Minimum income:</strong></span>
<ul>
<li><span class="list-bullets">Repayment – One applicant must earn £40,000</span></li>
<li><span class="list-bullets">Interest Only £50,000 or £75,000 jointly (if one applicant doesn’t earn £50,000)</span></li>
</ul>
</li>
<li><span class="list-bullets"><strong>Self employed </strong>– See our self employed section.</span></li>
</ul>
<p>A solicitor may occasionally be required to act. You can use our <a href="/{localLink:umb://document/2beccc4772794c249093abd9d9455b35}" title="Solicitor search"><strong>Solicitor Search</strong></a> tool to find which firms are already on our approved panel.</p>
<ul>
<li><strong>Repayment options -</strong> Capital Repayment, Interest Only, or combination of the two, subject to any Interest Only balance having a suitable Repayment Strategy and meeting <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#residential-interest-only" target="_blank"><strong>Interest Only criteria</strong></a>.</li>
<li><span class="list-bullets"><strong>Maximum LTV limits -</strong> please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#residential-loan-size-and-ltv-limits" target="_blank"><strong>loan size</strong></a> section for maximum LTV’s (including the additional borrowing)</span></li>
<li><span class="list-bullets"><strong>Valuation of property - </strong>A revaluation will be required (see fee scale below) however, where the last recorded Bank of Ireland UK panel valuation was more than 10 years ago, a <strong>standard valuation</strong> will be required. Please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/?isBespoke=true#standard-valuation-fee" target="_blank"><strong>standard valuation fees</strong></a>. A revaluation fee will also be required if the further advance exceeds £20,000. Please review the valuation fees scale of charges.</span></li>
</ul>
<p><strong>Revaluation fee scale:</strong></p>
<table border="0" style="height: 294px;">
<thead>
<tr style="height: 18px;">
<th width="43%" style="width: 275px; text-align: left; height: 18px;">Property Value</th>
<th width="56%" style="width: 304px; text-align: left; height: 18px;">Fee</th>
</tr>
</thead>
<tbody>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£0 to £125,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£110</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£125,001 to £300,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£150</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£300,001 to £600,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£220</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£600,001 to £1,000,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£300</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 275px; height: 46px;">
<p>£1,000,001 to £1,600,000</p>
</td>
<td width="56%" style="text-align: left; width: 304px; height: 46px;">
<p>£400</p>
</td>
</tr>
<tr style="height: 46px;">
<td style="text-align: left; width: 275px; height: 46px;">
<p>£1,600,001 and above</p>
</td>
<td style="text-align: left; width: 304px; height: 46px;">
<p>By negotiation</p>
</td>
</tr>
</tbody>
</table>
<p>The valuation fee is non-refundable once the valuation has been completed.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-08-01T12:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>