<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c2f1144-1500-43a1-9ba5-114e4df6c51a" Alias="Residential - Interest Only" Level="5">
  <Info>
    <Parent Key="120792dc-5ea4-4e80-bdb3-fb14be7e1080">Bespoke &gt; Interest Only</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeInterestOnly/ResidentialInterestOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:15:58</CreateDate>
    <NodeName Default="Residential - Interest Only" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Interest Only accepted on Bespoke:</p>
<ul>
<li><span class="list-bullets">Minimum income £50,000 or £75,000 joint (if one applicant doesn’t earn £50,000)</span></li>
<li><span class="list-bullets">Minimum loan £150,000</span></li>
<li><span class="list-bullets">Minimum equity £250,000 at start of mortgage</span></li>
<li><span class="list-bullets">Will accept Part &amp; Part mortgages</span></li>
<li><span class="list-bullets">Up to 75% LTV maximum (60% LTV on Interest Only).</span></li>
</ul>
<p>No lending into retirement on Interest Only, we will accept pension income that is already being received.</p>
<p>For good quality clients that don’t meet the above requirements, please <a rel="noopener" href="/{localLink:umb://document/8ad458ac45da4354b145b92f1b62a0a2}" target="_blank" title="Find your BDM">contact us</a>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>