<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb1293f7-3533-4aee-8d23-0abb359fe982" Alias="Residential - Capital raising" Level="5">
  <Info>
    <Parent Key="32b424f1-551f-49ff-8ad9-71e8b2feb77d">Bespoke &gt; Capital raising</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeCapitalRaising/ResidentialCapitalRaising</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-09-25T14:05:25</CreateDate>
    <NodeName Default="Residential - Capital raising" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Applicants can remortgage to raise additional capital up to 85% LTV (excluding fees) or 75% if there is any element of debt consolididation.</p>
<p>Applicants can borrow funds to raise additional capital to fund most legal purposes, provided the capital is not used for;</p>
<ul>
<li><span class="list-bullets">business or speculative purposes (e.g. investment, replacing savings)</span><br /><span class="list-bullets">payment of tax</span><br /><span class="list-bullets">gambling debts</span><br /><span class="list-bullets">a timeshare</span><br /><span class="list-bullets">payment of care fees</span></li>
</ul>
<p>Applicants can remortgage up to 90% LTV on a like for like basis or if they're repaying a Help to Buy loan in full, purchasing the final staircase on shared ownership or buying out someone from the title of the property (transfer of Equity).</p>
<p>Remortgages where the applicant has owned the property for less than 6 months are not normally acceptable. There are some circumstances where we can consider these applications (such as when an applicant has inherited the property or where a developer has taken the property as part exchange) so please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a> to provide details.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>