<?xml version="1.0" encoding="utf-8"?>
<Content Key="cff36605-d909-4ca8-94b4-95e47e07027e" Alias="Residency status" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ResidencyStatus</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T11:57:01</CreateDate>
    <NodeName Default="Residency status" />
    <SortOrder>83</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>All applicants must be resident in the UK prior to applying. The applicant will need to have lived in the UK for long enough to ensure we have a meaningful credit score and employment history. This is normally a minimum of 3 years. Please see the Foreign Nationals section for any rights to live and work in the UK.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/2507342fc1e84697be9283315fb78e41]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>