<?xml version="1.0" encoding="utf-8"?>
<Content Key="b72fabd9-a4ff-4830-9666-f55ddb5bd0d2" Alias="Residential - Loan size and LTV limits" Level="5">
  <Info>
    <Parent Key="57915c1d-bc6e-4b88-9600-4aa9f3a10590">Bespoke &gt; Loan size and LTV limits</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeLoanSizeAndLTVLimits/ResidentialLoanSizeAndLTVLimits</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:18:19</CreateDate>
    <NodeName Default="Residential - Loan size and LTV limits" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0">
<thead>
<tr>
<td width="267">
<p><strong>Loan Size</strong></p>
</td>
<td width="170">
<p><strong>Loan to Value (LTV)</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td width="267">
<p>£150,000* to £1,000,000</p>
</td>
<td width="170">
<p>90%</p>
</td>
</tr>
<tr>
<td width="267">
<p>£1,000,001 - £1,500,000</p>
</td>
<td width="170">
<p>85%</p>
</td>
</tr>
<tr>
<td width="267">
<p>£1,500,001 - £2,000,000</p>
</td>
<td width="170">
<p>80%</p>
</td>
</tr>
<tr>
<td width="267">
<p>£2,000,001 - £2,500,000</p>
</td>
<td width="170">
<p>75%</p>
</td>
</tr>
</tbody>
</table>
<p>Maximum property value is £4,000,000.</p>
<p>*Please note minimum loan size for all Bespoke applications is £150,000, and maximum LTV is 90% including any fees.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>