<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8db4984-58ee-49c6-a808-34950181dbdd" Alias="Residential - Occupancy" Level="5">
  <Info>
    <Parent Key="0c464d6a-5635-4763-9eae-8c95db01698e">Bespoke &gt; Occupancy</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeOccupancy/ResidentialOccupancy</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-09-25T10:46:24</CreateDate>
    <NodeName Default="Residential - Occupancy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We'd normally expect any spouse, civil partner and/or cohabiting partner who is contributing towards the deposit to be a joint owner and joint borrower. If this is not the case please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/" title="Contact us">contact us</a>.</p>
<p>Any dependant relative must be disclosed on the application as a financial dependant and must be occupying the property rent free.</p>
<p>Any persons aged 17 or over who are not party to the mortgage but are, or will be, occupying the property during the mortgage term must be declared on the application as an occupier.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>