<?xml version="1.0" encoding="utf-8"?>
<Content Key="969e4da3-34f3-40ec-ae88-b0aee0985e22" Alias="Residential - Outgoings" Level="5">
  <Info>
    <Parent Key="1e9c8a92-6433-4b29-b507-f6c0d42ca705">Bespoke &gt; Outgoings</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeOutgoings/ResidentialOutgoings</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:13:34</CreateDate>
    <NodeName Default="Residential - Outgoings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>For clients that need an individual approach to their outgoings, for example we consider:</p>
<ul>
<li><span class="list-bullets">Offsetting school fees/childcare if proof of ringfenced funds can be provided</span></li>
<li><span class="list-bullets">Offsetting existing and new Consent to Let (CTL) mortgages subject to an ARLA member (The Association of Residential Letting Agents) confirming the expected rental for the property and this estimated rental meeting our standard Buy to Let assessment.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>