<?xml version="1.0" encoding="utf-8"?>
<Content Key="2669a5e4-e6a3-4e43-9b8d-a6015f16156d" Alias="Residential - Residency status" Level="5">
  <Info>
    <Parent Key="5db7a333-a076-4055-9b00-dc34063a847d">Bespoke &gt; Residency status</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeResidencyStatus/ResidentialResidencyStatus</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:31:42</CreateDate>
    <NodeName Default="Residential - Residency status" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>All applicants must be resident in the UK prior to applying. The applicant will need to have lived in the UK for long enough to ensure we have a meaningful credit score and employment history. This is normally a minimum of 3 years. Please see the Foreign Nationals section for any rights to live and work in the UK.</p>
<p>For good quality clients that don’t meet the above requirements, please <a href="https://www.bankofireland4intermediaries.co.uk/find-your-bdm/">contact us</a>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>