<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b8462ef-04ff-48f7-b372-1962e2b81fd9" Alias="Revaluation fee" Level="5">
  <Info>
    <Parent Key="912058c9-9d1f-4322-9383-1d550991d0bb">Valuation fees</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ValuationFees/RevaluationFee</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T12:43:13</CreateDate>
    <NodeName Default="Revaluation fee" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>When we receive a <strong>further advance application</strong>, the case will go to the underwriter for assessment. If a valuation is required then a Mortgage Valuation Report will be instructed. The fees below also apply if <strong>an initial offer of loan for either a main or further loan application has expired</strong>. We no longer charge administration fees.</p>
<table border="0" width="1000" style="width: 1000px; height: 294px;">
<thead>
<tr style="height: 18px;">
<th width="43%" style="width: 185px; text-align: left; height: 18px;">Property Value</th>
<th width="56%" style="width: 394px; text-align: left; height: 18px;">Revaluation Fee</th>
</tr>
</thead>
<tbody>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 185px; height: 46px;">
<p>£0 to £125,000</p>
</td>
<td width="56%" style="text-align: left; width: 394px; height: 46px;">
<p>£110</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 185px; height: 46px;">
<p>£125,001 to £300,000</p>
</td>
<td width="56%" style="text-align: left; width: 394px; height: 46px;">
<p>£150</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 185px; height: 46px;">
<p>£300,001 to £600,000</p>
</td>
<td width="56%" style="text-align: left; width: 394px; height: 46px;">
<p>£220</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 185px; height: 46px;">
<p>£600,001 to £1,000,000</p>
</td>
<td width="56%" style="text-align: left; width: 394px; height: 46px;">
<p>£300</p>
</td>
</tr>
<tr style="height: 46px;">
<td width="43%" style="text-align: left; width: 185px; height: 46px;">
<p>£1,000,001 to £1,600,000</p>
</td>
<td width="56%" style="text-align: left; width: 394px; height: 46px;">
<p>£400</p>
</td>
</tr>
<tr style="height: 46px;">
<td style="text-align: left; width: 185px; height: 46px;">
<p>£1,600,001 and above</p>
</td>
<td style="text-align: left; width: 394px; height: 46px;">
<p>By negotiation</p>
</td>
</tr>
</tbody>
</table>
<p>The valuation fee is non-refundable once the valuation has been completed.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-08-01T12:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>