<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cdf1b62-1c2e-4517-8577-c1aeb488055e" Alias="Roofs With Single Direction Pitch (Mono-Pitch)" Level="5">
  <Info>
    <Parent Key="b4548e73-dd7f-4191-86be-07b0daf512f1">Roofs</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/Roofs/RoofsWithSingleDirectionPitchMonoPitch</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2022-03-24T16:07:08</CreateDate>
    <NodeName Default="Roofs With Single Direction Pitch (Mono-Pitch)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Roofs which are pitched in a single direction and have materials more commonly used on flat roofed properties, such as felt, asphalt or similar materials, will need to comply with our policy for 100% flat roofs (see below).</p>
<p>For semi-detached and terraced houses, party walls must extend above any flat roof covering between the properties for the property to be acceptable to us.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>