<?xml version="1.0" encoding="utf-8"?>
<Content Key="cda1284d-eb89-4504-903c-c008b99b64c4" Alias="Scotland" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/Scotland</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2023-09-25T11:37:26</CreateDate>
    <NodeName Default="Scotland" />
    <SortOrder>87</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>In Scotland, if it is public knowledge a property is for sale, the seller in most cases must provide a Home Report to prospective buyers. There are some exceptional situations when a seller can choose not to provide a potential purchaser with the Home Report and cases where a Home Report is not actually required. Further information can be found at https://www.mygov.scot/buying-a-home/home-report</p>
<p>For applications where no Home Report is required or available, we'll instruct a mortgage valuation.</p>
<p>The Home Report contains the Property Questionnaire, Single Survey, and an Energy Performance Certificate (EPC); the majority will also contain a Generic Mortgage Valuation Report (GMVR).</p>
<p>For purchase applications we'll request a transcript of the GMVR from the valuer who prepared the original Home Report. That valuer must be on the Bank of Ireland Panel. We'll only accept transcripts from Home Reports that are no more than 12 weeks old. It is the seller’s responsibility to obtain a refreshed Home Report if this is older than 12 weeks.</p>
<p>The transcript we receive is valid throughout the offer period and a Home Report refresh is not required. If the offer expires and an offer extension is required, then we'll require a revaluation which the applicant must pay for.</p>
<p>To get the correct product and Loan to Value (where the purchase price is different from the Home Report) you should key the application with the lower of the valuation or purchase price and then in the additional information box put a note on to say what the correct purchase price is. The application must also include the name of the firm that completed the Home Report and the date when the Home Report was undertaken.</p>
<p>If the firm is on our panel and the Home Report in date, then a transcript can be instructed.<br />If the firm is not on panel, then a Standard valuation would be required, but if the product does not include a fees free valuation or the fees free valuation has already been used, then a valuation fee payment must be taken first.</p>
<p>Missives covers the exchange of correspondence between the purchaser’s and seller’s solicitors negotiating the conditions of the sale. Property transactions in Scotland become legally binding for all parties upon ‘conclusion of Missives’.</p>
<p> </p>
<p><strong>Scottish Private Residential Tenancies (PRT)</strong></p>
<p>Scottish Private Residential Tenancies (PRT) are acceptable and we'll instruct a mortgage valuation.</p>
<p> </p>
<p><strong>Tenure</strong></p>
<p>Tenure - typically referred to as Former Feudal, Simple/Absolute ownership is accepted.<br />Applications can be considered for security on the following Scottish Islands;<br />Lewis and Harris, Mainland Shetland, Mainland Orkney, Skye, Bute, Arran, Islay, Mull, Whalsay, Yell, South Ronaldsay, West Burra, Tiree and Unst.</p>
<p>Where the valuer identifies a flat with potentially combustible cladding and/or stacked balconies which could facilitate the spread of fire, we'll require the Fire Risk Assessment report (FRA) and Fire Risk Assessment External Walls (FRAEW), together with the names and qualifications of the authors of these documents, for the building. Once we have all of this information, our Property Risk team will assess and advise if acceptable to proceed.</p>
<p>We do not accept EWS1 forms for properties with cladding/stacked balconies.</p>
<p>Please refer to our <a href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#cladding" data-anchor="#cladding">cladding</a> criteria for acceptable qualifications for FRA &amp; FRAEW reports.</p>
<p>All properties 10 storeys or higher must be referred to our Property Risk Team prior to application. Please <a href="https://www.bankofireland4intermediaries.co.uk/contact-us/">contact us</a>.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Scotland]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>