<?xml version="1.0" encoding="utf-8"?>
<Content Key="69763fb1-8c48-4cb9-98d8-7b34d974a11d" Alias="Scottish valuations" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ScottishValuations</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:38:43</CreateDate>
    <NodeName Default="Scottish valuations" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Transcripts are not permitted.</p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>