<?xml version="1.0" encoding="utf-8"?>
<Content Key="a11742fc-d795-45a8-9a6f-1ab8b6a8287b" Alias="Scotland" Level="5">
  <Info>
    <Parent Key="06c74038-d157-4a2f-b8e2-8873cb1e6252">Acceptable tenure</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/AcceptableTenure/Scotland</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-11-30T23:02:44</CreateDate>
    <NodeName Default="Scotland" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<ul>
<li><span class="list-bullets">Simple/Absolute</span></li>
<li><span class="list-bullets">Commonhold. </span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>