<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5041097-388f-4883-a5bb-ea10ea466524" Alias="Second jobs" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/SecondJobs</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:32:18</CreateDate>
    <NodeName Default="Second jobs" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>We can consider using income from applicants with second jobs. The applicant must have held the 2 positions for at least 12 months.</p>
<p>Second incomes do not need to be in the same line of employment. Our underwriters will assess whether the income quality is adequate and if so, it will be included within the assessable income.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>