<?xml version="1.0" encoding="utf-8"?>
<Content Key="cafb1673-f1c1-47c3-bfd0-48c7804adfcd" Alias="Self Employed" Level="5">
  <Info>
    <Parent Key="9956891a-6b91-412e-b351-33d205da6798">Bespoke &gt; Income</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/BespokeIncome/SelfEmployed</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2023-06-28T11:11:20</CreateDate>
    <NodeName Default="Self Employed" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Our standard proof of income requirement is the latest 2 years’ SA302s supported by the latest 2 years’ Tax Year Overviews and the latest month’s business bank statement.</p>
<p>Our Bespoke underwriters have the discretion to use other forms of self employed income which wouldn’t be visible from tax return data (SA302/Tax overview). Examples include:</p>
<ul>
<li><span class="list-bullets">Utilisation of entitlement to net profit after tax</span></li>
<li><span class="list-bullets">Adding back of one off exceptional items</span></li>
<li><span class="list-bullets">Using the latest year’s income in isolation</span></li>
<li><span class="list-bullets">Dividend income of shareholders holding less than 25%</span></li>
<li><span class="list-bullets">Customers who have recently changed their status to self employed in the same occupation or have bought (or are buying into) a going concern.</span></li>
</ul>
<p>Where your client doesn’t meet our requirements for minimum trading period or requires an individual review, please <a rel="noopener" href="/{localLink:umb://document/8ad458ac45da4354b145b92f1b62a0a2}" target="_blank" title="Find your BDM">contact us</a>.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>