<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc3e71f2-38a8-447c-9bd7-495986f042d6" Alias="Self Employed" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/SelfEmployed</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:32:35</CreateDate>
    <NodeName Default="Self Employed" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Self employed applicants must have been trading for a minimum of 3 years but only the last 2 years' figures will be used. For self employed applicants affected by Covid-19, we’ll also need to confirm they’ve resumed trading. We'll request their latest business bank statement to evidence recent trading activity.  We may request additional documentation to support our underwriting assessment, including cases where applicants haven’t restarted trading yet.</p>
<p>Contractors can continue to apply as self employed under existing criteria, or as a contractor. Details of the contractor criteria can be found under Contractors.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>