<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4d5b14b-4248-44bd-a524-b5b717861fb6" Alias="Service Level Pods" Level="4">
  <Info>
    <Parent Key="7caa7a47-9886-4e8f-ac41-834c5a290a73">Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ServiceLevelPods</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItemsPodContainer</ContentType>
    <CreateDate>2020-11-11T22:05:06</CreateDate>
    <NodeName Default="Service Level Pods" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>