<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc4d5975-0d5d-4b8c-8fd7-1affd77c23fd" Alias="Source of deposits (Buy to Let)" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/SourceOfDepositsBuyToLet</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:41:04</CreateDate>
    <NodeName Default="Source of deposits (Buy to Let)" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Proof of deposit may be requested at our underwriter’s discretion.</p>
<p><strong>The following are acceptable sources of deposit:</strong></p>
<ul>
<li><span class="list-bullets">equity from sale of property</span></li>
<li><span class="list-bullets">savings</span></li>
<li><span class="list-bullets">family gift</span></li>
<li><span class="list-bullets">inheritance</span></li>
<li><span class="list-bullets">capital raising on another property.</span></li>
</ul>
<p><strong>Unacceptable sources of deposit are:</strong></p>
<ul>
<li><span class="list-bullets">personal loans</span></li>
<li><span class="list-bullets">funding from credit cards</span></li>
<li><span class="list-bullets">vendor/builder cashback without additional minimum deposit from an acceptable source.</span></li>
</ul>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[Source of deposits]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>