<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fd8de3e-cc9a-4541-af6f-fc3de4783c88" Alias="Standard valuation fee" Level="5">
  <Info>
    <Parent Key="912058c9-9d1f-4322-9383-1d550991d0bb">Valuation fees</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ValuationFees/StandardValuationFee</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T12:42:22</CreateDate>
    <NodeName Default="Standard valuation fee" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>For all <strong>new applications</strong> we'll instruct a Mortgage Valuation Report. This applies to all mortgages, except for further advances (see our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#valuation-fees_revaluation-fee" target="_blank" data-anchor="#valuation-fees_revaluation-fee"><strong>revaluation fees</strong></a>), and we no longer charge administration fees. The valuation will be instructed as soon as the valuation fee is paid. Once the valuation has been instructed and all requested documents have been received, the case will go to an underwriter for assessment.</p>
<table border="0" width="100%" style="width: 992px; height: 622px;">
<thead>
<tr style="height: 15px;">
<th width="38%" style="width: 242px; text-align: left; height: 15px;">Purchase Price or Valuation</th>
<th width="31%" style="text-align: left; width: 541px; height: 15px;">Standard Mortgage Valuation Report</th>
</tr>
</thead>
<tbody>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>Up to £150,000</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£150</p>
</td>
</tr>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>£150,001 - £250,000</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£220</p>
</td>
</tr>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>£250,001 - £350,000</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£270</p>
</td>
</tr>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>£350,001 - £500,000</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£380</p>
</td>
</tr>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>£500,001 - £750,000</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£520</p>
</td>
</tr>
<tr style="height: 50px;">
<td width="38%" style="text-align: left; width: 242px; height: 50px;">
<p>£750,001 - £1m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 50px;">
<p>£750</p>
</td>
</tr>
<tr style="height: 51px;">
<td width="38%" style="text-align: left; width: 242px; height: 51px;">
<p>£1,000,001 - £1.5m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 51px;">
<p>£850</p>
</td>
</tr>
<tr style="height: 51px;">
<td width="38%" style="text-align: left; width: 242px; height: 51px;">
<p>£1,500,001 - £2m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 51px;">
<p>£1,000</p>
</td>
</tr>
<tr style="height: 51px;">
<td width="38%" style="text-align: left; width: 242px; height: 51px;">
<p>£2,000,001 - £2.5m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 51px;">
<p>£1,200</p>
</td>
</tr>
<tr style="height: 51px;">
<td width="38%" style="text-align: left; width: 242px; height: 51px;">
<p>£2,500,001 - £3m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 51px;">
<p>£1,400</p>
</td>
</tr>
<tr style="height: 51px;">
<td width="38%" style="text-align: left; width: 242px; height: 51px;">
<p>£3,000,001 - £3.5m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 51px;">
<p>£1,600</p>
</td>
</tr>
<tr style="height: 52px;">
<td width="38%" style="text-align: left; width: 242px; height: 52px;">
<p>£3,500,001 - £4m</p>
</td>
<td width="31%" style="text-align: left; width: 541px; height: 52px;">
<p>£1,800</p>
</td>
</tr>
</tbody>
</table>
<p>The valuation fee is non-refundable once the valuation has been completed. Re-inspections incur a charge of £41.50 per visit. Please refer to our <a rel="noopener" href="https://www.bankofireland4intermediaries.co.uk/lending-criteria/#valuation-fees_re-inspection-fee" target="_blank" data-anchor="#valuation-fees_re-inspection-fee"><strong>re-inspection fee</strong></a> section for more details.</p>
<p>We may choose to use an Automated Valuation Model (AVM) report in some instances. The report is for our sole use.</p>
<p>We don't offer homebuyers reports.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[2024-08-01T12:00:00]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>