<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6d44a56-f2c7-4fc6-969a-5757fd73a884" Alias="Standard Valuation Reports" Level="4">
  <Info>
    <Parent Key="73425fd1-0d64-494f-856c-2c4ce70e8ab4">Service Update</Parent>
    <Path>/BankOfIreland/DataRepositories/ServiceUpdate/StandardValuationReports</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItem</ContentType>
    <CreateDate>2020-12-11T03:01:33</CreateDate>
    <NodeName Default="Standard Valuation Reports" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBodyText>
      <Value><![CDATA[This is the time from accepted instruction to receipt of the report.]]></Value>
    </serviceBodyText>
    <serviceDate>
      <Value><![CDATA[]]></Value>
    </serviceDate>
    <serviceIcon>
      <Value><![CDATA[umb://media/6d916fdd356b4921ad94832091d536f5]]></Value>
    </serviceIcon>
    <serviceSubtitle>
      <Value><![CDATA[3.5 working days]]></Value>
    </serviceSubtitle>
    <serviceTitle>
      <Value><![CDATA[Standard Valuation Reports]]></Value>
    </serviceTitle>
  </Properties>
</Content>