<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f880b5b-9a06-4797-ad7a-48b39eebcf02" Alias="T9S" Level="4">
  <Info>
    <Parent Key="cadb36a4-5daf-46ee-a779-76f3383cad64">Products</Parent>
    <Path>/BankOfIreland/DataRepositories/Products/T9S</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-04-30T14:14:00</CreateDate>
    <NodeName Default="T9S" />
    <SortOrder>4465</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aIPDeadlineDateTime>
      <Value><![CDATA[]]></Value>
    </aIPDeadlineDateTime>
    <category>
      <Value><![CDATA[umb://document/2bc0860cc01b4698acc6bd022a9a7fa3]]></Value>
    </category>
    <code>
      <Value><![CDATA[T9S]]></Value>
    </code>
    <description>
      <Value><![CDATA[which is our Standard Variable Rate for the entire mortgage term]]></Value>
    </description>
    <earlyRepaymentCharges>
      <Value><![CDATA[No Early Redemption Charges.]]></Value>
    </earlyRepaymentCharges>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <features>
      <Value><![CDATA[None]]></Value>
    </features>
    <interestOnly>
      <Value><![CDATA[0]]></Value>
    </interestOnly>
    <isFixedRate>
      <Value><![CDATA[0]]></Value>
    </isFixedRate>
    <isNew>
      <Value><![CDATA[0]]></Value>
    </isNew>
    <launchDateTime>
      <Value><![CDATA[2023-09-13T09:00:00]]></Value>
    </launchDateTime>
    <lTVTitle>
      <Value><![CDATA[umb://document/23f41b88f42e4e72bdb8379cd6a5b592]]></Value>
    </lTVTitle>
    <overallCost>
      <Value><![CDATA[8.4]]></Value>
    </overallCost>
    <productFees>
      <Value><![CDATA[0]]></Value>
    </productFees>
    <productType>
      <Value><![CDATA[umb://document/3abc4505dee84d6192d5c5348bf58f75]]></Value>
    </productType>
    <productVariant>
      <Value><![CDATA[[
  "BFA"
]]]></Value>
    </productVariant>
    <rate>
      <Value><![CDATA[8.04]]></Value>
    </rate>
    <term>
      <Value><![CDATA[umb://document/4d6f099f5fec4eb79f040fda47743df6]]></Value>
    </term>
    <withdrawalProductDateTime>
      <Value><![CDATA[]]></Value>
    </withdrawalProductDateTime>
  </Properties>
</Content>