<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e6c5451-684a-447a-b632-9c77323329fd" Alias="Telephony Services" Level="4">
  <Info>
    <Parent Key="73425fd1-0d64-494f-856c-2c4ce70e8ab4">Service Update</Parent>
    <Path>/BankOfIreland/DataRepositories/ServiceUpdate/TelephonyServices</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceLevelItem</ContentType>
    <CreateDate>2020-11-12T17:03:35</CreateDate>
    <NodeName Default="Telephony Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceBodyText>
      <Value><![CDATA[This is the average time for our Intermediary Enquiry Line to answer calls for the month to date.]]></Value>
    </serviceBodyText>
    <serviceDate>
      <Value><![CDATA[]]></Value>
    </serviceDate>
    <serviceIcon>
      <Value><![CDATA[umb://media/35f67baa4e32444fb935086799643125]]></Value>
    </serviceIcon>
    <serviceSubtitle>
      <Value><![CDATA[0 minute 49 seconds]]></Value>
    </serviceSubtitle>
    <serviceTitle>
      <Value><![CDATA[Telephony Services]]></Value>
    </serviceTitle>
  </Properties>
</Content>