<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0f0ecc9-c50f-4d92-bc3b-01f211710ee4" Alias="Tenancies and vacant possession" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/TenanciesAndVacantPossession</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T15:42:14</CreateDate>
    <NodeName Default="Tenancies and vacant possession" />
    <SortOrder>83</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<table border="0" width="1000" style="width: 1000px;">
<thead>
<tr>
<th rowspan="2" width="18%" style="width: 18%; text-align: left;">
<p style="text-align: center;"><strong> </strong></p>
</th>
<th colspan="2" width="36%" style="width: 36%; text-align: left;">
<p style="text-align: center;"><strong>England &amp; Wales</strong></p>
</th>
<th colspan="2" width="45%" style="width: 44%; text-align: left;">
<p style="text-align: center;"><strong>Scotland &amp; Northern Ireland</strong></p>
</th>
</tr>
<tr>
<th width="18%" style="width: 18%; text-align: left;">
<p><strong>With Vacant Possession</strong></p>
</th>
<th width="18%" style="width: 18%; text-align: left;">
<p><strong>With Tenant In Situ</strong></p>
</th>
<th width="19%" style="width: 19%; text-align: left;">
<p><strong>With Vacant Possession</strong></p>
</th>
<th width="25%" style="width: 25%; text-align: left;">
<p><strong>With Tenant In Situ</strong></p>
</th>
</tr>
</thead>
<tbody>
<tr>
<td width="18%" style="width: 18%; text-align: left;">
<p><strong>Purchases</strong></p>
</td>
<td width="18%" style="width: 18%; text-align: left;">
<p>Yes</p>
</td>
<td width="18%" style="width: 18%; text-align: left;">
<p>Yes</p>
</td>
<td width="19%" style="width: 19%; text-align: left;">
<p>Yes</p>
</td>
<td width="25%" style="width: 25%; text-align: left;">
<p>No</p>
</td>
</tr>
<tr>
<td width="18%" style="width: 18%; text-align: left;">
<p><strong>Remortgages</strong></p>
</td>
<td width="18%" style="width: 18%; text-align: left;">
<p>Yes</p>
</td>
<td width="18%" style="width: 18%; text-align: left;">
<p>Yes</p>
</td>
<td width="19%" style="width: 19%; text-align: left;">
<p>Yes</p>
</td>
<td width="25%" style="width: 25%; text-align: left;">
<p>Yes</p>
</td>
</tr>
<tr>
<td rowspan="2" width="18%" style="width: 18%; text-align: left;">
<p><strong>Tenanted Possession Restrictions</strong></p>
</td>
<td colspan="2" rowspan="2" width="36%" style="width: 36%; text-align: left;">
<p>The existing tenancy must have commenced after 28 February 1997 and the existing tenant must not have resided in the property before the date of the agreement.</p>
</td>
<td colspan="2" width="45%" style="width: 44%; text-align: left;">
<p>Scotland: Remortgages will only be considered provided the tenant has not been resident in the property 5 years earlier than the date of our offer.</p>
</td>
</tr>
<tr>
<td colspan="2" width="45%" style="width: 44%; text-align: left;">
<p>Northern Ireland: Remortgages will only be considered if the existing tenancy is a Protected Shorthold Agreement or an Uncontrolled Letting.</p>
</td>
</tr>
<tr>
<td rowspan="3" width="18%" style="width: 18%; text-align: left;">
<p><strong>Tenancy Types</strong></p>
</td>
<td colspan="4" width="81%" style="width: 80%; text-align: left;">
<p>The tenancy mustn’t exceed 2 years in duration and must normally be written in one of the following formats:</p>
<ul>
<li><span class="list-bullets">England: Assured Shorthold Tenancy (AST)</span></li>
<li><span class="list-bullets">Wales: Occupation Contract</span></li>
<li><span class="list-bullets">Scotland: Private Residential Tenancy (Formerly Shorthold Assured Tenancy (SAT)</span></li>
<li><span class="list-bullets">Northern Ireland: Protected Shorthold Agreement or Uncontrolled Letting</span></li>
</ul>
</td>
</tr>
<tr>
<td colspan="4" width="81%" style="width: 80%; text-align: left;">
<p>Maximum of 4 tenants on a single AST (or equivalent)</p>
</td>
</tr>
<tr>
<td colspan="4" width="81%" style="width: 80%; text-align: left;">
<p>Company/housing association lets are not acceptable.</p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>