<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c6134cb-8ba1-42ca-93cd-0a505d82a6b1" Alias="Test video 2" Level="4">
  <Info>
    <Parent Key="baa2066d-cadf-40f4-82a2-ce8d7f04746c">Media library (1)</Parent>
    <Path>/BankOfIreland/Website/MediaLibrary1/TestVideo2</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2021-12-03T10:51:47</CreateDate>
    <NodeName Default="Test video 2" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8d9c48e8-bb72-486c-9497-a872466ef006">Video</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[]]></Value>
    </articleDate>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[]]></Value>
    </hideProductCTA>
    <hideShareIcons>
      <Value><![CDATA[]]></Value>
    </hideShareIcons>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[]]></Value>
    </productCTA>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>