<?xml version="1.0" encoding="utf-8"?>
<Content Key="2919a3b2-f9ab-4509-8aae-25c89a594933" Alias="Test Video 1" Level="4">
  <Info>
    <Parent Key="baa2066d-cadf-40f4-82a2-ce8d7f04746c">Media library (1)</Parent>
    <Path>/BankOfIreland/Website/MediaLibrary1/TestVideo1</Path>
    <Trashed>false</Trashed>
    <ContentType>video</ContentType>
    <CreateDate>2021-12-02T14:13:37</CreateDate>
    <NodeName Default="Test Video 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d9c48e8-bb72-486c-9497-a872466ef006">Video</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-12-01T00:00:00]]></Value>
    </articleDate>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "BOI Blue",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/0e7e236734ef4388821844b817d2e9e7]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[[]]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73d8a43f48224e5ca47c6a28538b4cc4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3a22c4da-e8aa-416a-b4b9-c9b869626ecb",
      "udi": "umb://element/73d8a43f48224e5ca47c6a28538b4cc4",
      "title": "",
      "backgroundImage": "",
      "video": "umb://media/17bf61b102a2454db2dec7d7d27a289d",
      "caption": "",
      "fullScreen": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[[]]]></Value>
    </cTA>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <hideShareIcons>
      <Value><![CDATA[0]]></Value>
    </hideShareIcons>
    <listingImage>
      <Value><![CDATA[umb://media/cfb0f7dcb07e4b6aa770b4dd2ff2ee67]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[]]]></Value>
    </productCTA>
    <supportingText>
      <Value><![CDATA[<p>Intro copy here</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Test Video 1]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>