<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ddb55f2-3c3c-4dd2-988e-29be7c91ed88" Alias="Top Slicing promo pod (no image)" Level="5">
  <Info>
    <Parent Key="a9bcf5c3-9bef-472c-ad92-45c7480610c6">Promotional Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/PromotionalPods/TopSlicingPromoPodNoImage</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionalPodRender</ContentType>
    <CreateDate>2021-01-14T14:40:45</CreateDate>
    <NodeName Default="Top Slicing promo pod (no image)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Buy to Let Information",
    "udi": "umb://document/73af09b22a1a4c4d97f73189dd255313"
  }
]]]></Value>
    </cTALink>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <subText>
      <Value><![CDATA[<ul>
<li class="xmsonormal">
<h5><span class="-white-text list-bullets">100% income cover rental</span></h5>
</li>
<li class="xmsonormal">
<h5><span class="-white-text list-bullets">4.5% stress rate for 5 year+ products</span></h5>
</li>
<li class="xmsonormal">
<h5><span class="-white-text list-bullets">Loan sizes up to £750k</span></h5>
</li>
<li class="xmsonormal">
<h5><span class="-white-text list-bullets">Minimum income £40k</span></h5>
</li>
</ul>]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Top slicing – a boost for Buy to Let]]></Value>
    </title>
  </Properties>
</Content>