<?xml version="1.0" encoding="utf-8"?>
<Content Key="38045d09-4d0d-4555-9b43-392cb2c29320" Alias="Top Slicing promo pod (with image)" Level="5">
  <Info>
    <Parent Key="a9bcf5c3-9bef-472c-ad92-45c7480610c6">Promotional Pods</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/PromotionalPods/TopSlicingPromoPodWithImage</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionalPodRender</ContentType>
    <CreateDate>2020-11-06T16:23:42</CreateDate>
    <NodeName Default="Top Slicing promo pod (with image)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cTALink>
      <Value><![CDATA[[
  {
    "name": "Find out more about Buy to Let",
    "udi": "umb://document/73af09b22a1a4c4d97f73189dd255313"
  }
]]]></Value>
    </cTALink>
    <image>
      <Value><![CDATA[umb://media/a7a363766ea14f25a7ebaaae54fdc051]]></Value>
    </image>
    <subText>
      <Value><![CDATA[<p><span class="-white-text">Boost your client’s borrowing power with:</span></p>
<ul>
<li><span class="-white-text list-bullets">loan sizes up to £750,000</span></li>
<li><span class="-white-text list-bullets">a minimum 100% rental income cover</span></li>
<li><span class="-white-text list-bullets">5+ year products stress rate: The higher of 4.5% or product pay rate +1%</span></li>
</ul>]]></Value>
    </subText>
    <title>
      <Value><![CDATA[Buy to Let Top Slicing now available ]]></Value>
    </title>
  </Properties>
</Content>