<?xml version="1.0" encoding="utf-8"?>
<Content Key="67a8c996-50ec-4faf-a9af-206c8fa2f4d8" Alias="Top Slicing promo pod" Level="5">
  <Info>
    <Parent Key="c3c8d5cf-d8b4-4fd3-ae08-6f1aefc7fc4e">Child Pages</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ChildPages/TopSlicingPromoPod</Path>
    <Trashed>false</Trashed>
    <ContentType>childPagePod</ContentType>
    <CreateDate>2021-01-07T12:17:26</CreateDate>
    <NodeName Default="Top Slicing promo pod" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <childPages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/13cac15664204e5c95b2de81a0f5364f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fd96d2a9-a5c2-42e3-a986-147f8da9f730",
      "udi": "umb://element/13cac15664204e5c95b2de81a0f5364f",
      "childIcon": "umb://media/4d49c3789d34484497740d3ab0e1a814",
      "childTitle": "Buy to Let Top Slicing now available",
      "childSubText": "<p><span class=\"list-bullets\">Boost your client’s borrowing power with:</span></p>\n<ul>\n<li><span class=\"list-bullets\">a minimum 100% rental income cover</span></li>\n<li><span class=\"list-bullets\">4.5% stress rate for 5 year+ products </span></li>\n<li><span class=\"list-bullets\">loan sizes up to £750,000.</span></li>\n</ul>",
      "cTALink": [
        {
          "name": "Find out More",
          "udi": "umb://document/73af09b22a1a4c4d97f73189dd255313"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </childPages>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>