<?xml version="1.0" encoding="utf-8"?>
<Content Key="24c47374-2cf4-4c69-8b3f-fc7e0a3fa8ea" Alias="UK Customer Board" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/UKCustomerBoard</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2021-04-12T12:18:26</CreateDate>
    <NodeName Default="UK Customer Board" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "00ffc5",
  "label": "BOI Teal",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/abf539af6f08447388ba21daf525f4cb]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[[]]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0ca35619411d448e9bd21557b4356930"
      },
      {
        "contentUdi": "umb://element/7782046f71b24033aeb33684b841e3e3"
      },
      {
        "contentUdi": "umb://element/5533a154dc5c42a3977914049cc5982a"
      },
      {
        "contentUdi": "umb://element/94a00636584e4fa3aaf29e66b058cb24"
      },
      {
        "contentUdi": "umb://element/a7bc53f83e644075b9011cf41fb3e988"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3a22c4da-e8aa-416a-b4b9-c9b869626ecb",
      "udi": "umb://element/7782046f71b24033aeb33684b841e3e3",
      "title": "Rob Johnson",
      "backgroundImage": "",
      "video": "umb://media/a5ff51ff3c614f308ddd7810aef867f3",
      "caption": "Quality Assurance"
    },
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/0ca35619411d448e9bd21557b4356930",
      "richText": "<h4><span class=\"-blue-text\">UK Customer Board Colleague Immersion</span></h4>"
    },
    {
      "contentTypeKey": "3a22c4da-e8aa-416a-b4b9-c9b869626ecb",
      "udi": "umb://element/5533a154dc5c42a3977914049cc5982a",
      "title": "Lauren Williams",
      "backgroundImage": "",
      "video": "umb://media/e5f95f6000d949cb9000b1ff096ccf22",
      "caption": "Mortgage Advisor"
    },
    {
      "contentTypeKey": "3a22c4da-e8aa-416a-b4b9-c9b869626ecb",
      "udi": "umb://element/94a00636584e4fa3aaf29e66b058cb24",
      "title": "Ryan Townsend",
      "backgroundImage": "",
      "video": "umb://media/e1350966c4ae432c9a51f7732b6b7554",
      "caption": "Mortgage Advice Team Manager"
    },
    {
      "contentTypeKey": "3a22c4da-e8aa-416a-b4b9-c9b869626ecb",
      "udi": "umb://element/a7bc53f83e644075b9011cf41fb3e988",
      "title": "Julie Stephens",
      "backgroundImage": "",
      "video": "umb://media/fe2f3322824c40ed998938e652acca52",
      "caption": "Telephony BDM Team Manager"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[[]]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[1]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[1]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[1]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[]]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>October 2021</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[UK Customer Board ]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>