<?xml version="1.0" encoding="utf-8"?>
<Content Key="954e3ee6-4dc6-4c98-8232-bd74b9bbd799" Alias="UK Loans Calculator" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/UKLoansCalculator</Path>
    <Trashed>false</Trashed>
    <ContentType>loansCalculator</ContentType>
    <CreateDate>2020-12-11T10:24:37</CreateDate>
    <NodeName Default="UK Loans Calculator" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5b321cdb-59af-49e8-ba01-023bc8dc1e57">LoansCalculator</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[umb://media/af1e524e901d4f6b88c676d1b82f728a]]></Value>
    </backgroundImage>
    <buttonText>
      <Value><![CDATA[Calculate]]></Value>
    </buttonText>
    <disclaimerText>
      <Value><![CDATA[{
  "markup": "<p>Minimum loan amount £1,000, maximum loan amount £40,000</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </disclaimerText>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <introText>
      <Value><![CDATA[{
  "markup": "<p>Tell us how much you want to borrow. We will then provide you with a range of repayment terms so you can choose the option that suits your needs.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introText>
    <introTitle>
      <Value><![CDATA[How much can I borrow?]]></Value>
    </introTitle>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>