<?xml version="1.0" encoding="utf-8"?>
<Content Key="faac2bc7-edfe-44a5-b2a1-d71f3e817442" Alias="Umbrella companies" Level="5">
  <Info>
    <Parent Key="e64f6f64-96ef-4281-bd93-2ff99dddb90e">Income (Resi)</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/IncomeResi/UmbrellaCompanies</Path>
    <Trashed>false</Trashed>
    <ContentType>criteriaTab</ContentType>
    <CreateDate>2020-12-21T11:33:08</CreateDate>
    <NodeName Default="Umbrella companies" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Contractors using an umbrella company for payroll services can be considered where:</p>
<ul>
<li><span class="list-bullets">They’ve been contracting for longer than 12 months</span></li>
<li><span class="list-bullets">Earnings are over £50,000.</span></li>
</ul>
<p>The annualised assessable income is calculated on the basis of:</p>
<ul>
<li><span class="list-bullets">The last 3 months’ payslips (from the umbrella company) showing the contractor’s:</span>
<ul>
<li><span class="list-bullets">Basic pay</span></li>
<li><span class="list-bullets">Holiday pay, and</span></li>
<li><span class="list-bullets">Any additional pay e.g. commission</span></li>
</ul>
</li>
<li><span class="list-bullets">An average of the last 3 months’ pay at 80% of the gross income earned <strong>after all the umbrella deductions have been made</strong> (such as employer National Insurance, umbrella margin and apprenticeship levy). These umbrella costs may be shown separately on a reconciliation statement often attached to the payslips</span></li>
<li><span class="list-bullets">Copies of all contracts covering last 12 months (there should be no gaps between contracts greater than one month)</span></li>
<li><span class="list-bullets">Clients who employ the services of an umbrella company but are not contractors can be considered. They'll be assessed as self-employed subject to us verifying income for the latest 2 financial years with a minimum of 3 year’s trading. We'll normally use an average of the 2 years’ income or the most recent year whichever is lower.</span></li>
</ul>
<p>Please see what <a href="/{localLink:umb://media/93e2979685734fd5a1f89315ad0d4c09}" title="Documents We'll Need">documents we’ll need</a> for further requirements.</p>]]></Value>
    </bodyText>
    <criteriaTabUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaTabUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <searchDescription>
      <Value><![CDATA[Income criteria for applicants who use an umbrella company]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[Umbrella companies]]></Value>
    </searchTitle>
  </Properties>
</Content>