<?xml version="1.0" encoding="utf-8"?>
<Content Key="4514653c-edd0-42d2-8c95-97c36da84b9f" Alias="Usync push test" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/UsyncPushTest</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2020-12-06T22:21:20</CreateDate>
    <NodeName Default="Usync push test" />
    <SortOrder>35</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f92eb86f-b97a-43ad-a27d-02a7ad632a2b">StandardContent</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "00ffc5",
  "label": "BOI Teal",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[[]]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aa78c1b61ec14fa9ab1e149c9abee890"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/aa78c1b61ec14fa9ab1e149c9abee890",
      "richText": "<p>usync push test</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[[]]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <heroPodPicker>
      <Value><![CDATA[]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[1]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[1]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[]]]></Value>
    </productCTA>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Usync push test]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>