<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b42df22-184c-4785-9d77-823595c1d2a8" Alias="Valuation appeal" Level="4">
  <Info>
    <Parent Key="68e2c665-2293-4773-a830-c3fffbc453a2">Lending Criteria</Parent>
    <Path>/BankOfIreland/Website/LendingCriteria/ValuationAppeal</Path>
    <Trashed>false</Trashed>
    <ContentType>criteria</ContentType>
    <CreateDate>2020-12-21T12:46:41</CreateDate>
    <NodeName Default="Valuation appeal" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49ff891d-ead7-4f75-905c-75117dbaef78">Criteria</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Where an appeal against a valuation is requested we’ll need evidence of 3 transactions of similar properties (comparables) to be submitted within 14 working days from the date you were aware of the valuation.</p>
<p>Where appealing both rent and capital values, we’ll need 3 comparables for each.</p>
<p>These should be completed sales or lettings within the last 6 months of similar properties and locations, ideally in the same postcode.</p>
<p><strong>The following information will need to be provided for each comparable item*:</strong></p>
<ul>
<li><span class="list-bullets">Full address (i.e. house or flat number and postcode)</span></li>
<li><span class="list-bullets">Details of who sold or let the property</span></li>
<li><span class="list-bullets">The agreed sale price or rent</span></li>
<li><span class="list-bullets">Date of the transaction</span></li>
<li><span class="list-bullets">Source of information.</span></li>
</ul>
<p>For any valuation decision queries please get in touch with us via <a href="https://www2.mortgageapplicationservice.co.uk/dist/BOI/login/">case message</a>. </p>
<p><em>*We don’t accept links to web adverts. Estate Agent letters, automated valuations, details of unsold/unlet properties and previous Valuer’s opinions aren’t considered appropriate evidence and will not be considered.</em></p>]]></Value>
    </bodyText>
    <criteriaCategory>
      <Value><![CDATA[umb://document/f50e952b23e348c8a0314f0c6169d771]]></Value>
    </criteriaCategory>
    <criteriaName>
      <Value><![CDATA[]]></Value>
    </criteriaName>
    <criteriaProductType>
      <Value><![CDATA[[
  "Residential Criteria",
  "Buy to Let Criteria"
]]]></Value>
    </criteriaProductType>
    <criteriaUpdatedDate>
      <Value><![CDATA[]]></Value>
    </criteriaUpdatedDate>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
  </Properties>
</Content>