<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bc0860c-c01b-4698-acc6-bd022a9a7fa3" Alias="Variable" Level="5">
  <Info>
    <Parent Key="579daccb-0567-4667-be1e-9e8a90e8145b">Product Categories Container</Parent>
    <Path>/BankOfIreland/DataRepositories/Tags/ProductCategoriesContainer/Variable</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2021-03-17T09:39:37</CreateDate>
    <NodeName Default="Variable" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <noFurtherContentRequired>
      <Value><![CDATA[]]></Value>
    </noFurtherContentRequired>
  </Properties>
</Content>