<?xml version="1.0" encoding="utf-8"?>
<Content Key="3afcefdd-cdab-4549-bef4-e5ec65ba553a" Alias="Withdrawing Bespoke Products" Level="3">
  <Info>
    <Parent Key="8a46e151-36e7-42ea-842d-57ae4011ec86">Website</Parent>
    <Path>/BankOfIreland/Website/WithdrawingBespokeProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>withdrawalProductsLanding</ContentType>
    <CreateDate>2021-02-25T15:05:05</CreateDate>
    <NodeName Default="Withdrawing Bespoke Products" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aea829f6-95f8-49ad-b9c4-6f53eac1b928">WithdrawalProductsLanding</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "00ffc5",
  "label": "BOI Teal",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[umb://media/abf539af6f08447388ba21daf525f4cb]]></Value>
    </backgroundImage>
    <bDMFinderCta>
      <Value><![CDATA[]]></Value>
    </bDMFinderCta>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/58b14f9b09d64eed8206b77512c00020"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c273b63-8c63-40b8-88ab-614cec2c97d1",
      "udi": "umb://element/58b14f9b09d64eed8206b77512c00020",
      "richText": "<h2>To secure a Bespoke product that’s being withdrawn:</h2>\n<ul>\n<li><span class=\"list-bullets\">Submit an application by the withdrawal date and time in the table</span></li>\n<li><span class=\"list-bullets\">Pay any outstanding fees on an accepted case by the date given on the acceptance</span></li>\n<li><span class=\"list-bullets\">Convert and submit any accepted AIPs to a full application by the deadline detailed in the table below.</span></li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cTA>
      <Value><![CDATA[]]></Value>
    </cTA>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <helpToBuyLogos>
      <Value><![CDATA[]]></Value>
    </helpToBuyLogos>
    <heroPodPicker>
      <Value><![CDATA[umb://document/701150d9545e440fbc069472a4b48e2f]]></Value>
    </heroPodPicker>
    <hideBDMFinder>
      <Value><![CDATA[0]]></Value>
    </hideBDMFinder>
    <hideMainNavigation>
      <Value><![CDATA[0]]></Value>
    </hideMainNavigation>
    <hideProductCTA>
      <Value><![CDATA[0]]></Value>
    </hideProductCTA>
    <listingImage>
      <Value><![CDATA[]]></Value>
    </listingImage>
    <listingSummary>
      <Value><![CDATA[]]></Value>
    </listingSummary>
    <noResultFoundMessage>
      <Value><![CDATA[There are currently no Bespoke products in the process of being withdrawn.]]></Value>
    </noResultFoundMessage>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <pods>
      <Value><![CDATA[]]></Value>
    </pods>
    <productCTA>
      <Value><![CDATA[[
  {
    "name": "Bespoke Products",
    "udi": "umb://document/d5f62a330bdd4b58b295a1159764b3ea"
  }
]]]></Value>
    </productCTA>
    <productVariant>
      <Value><![CDATA[[
  "BS"
]]]></Value>
    </productVariant>
    <searchDescription>
      <Value><![CDATA[]]></Value>
    </searchDescription>
    <searchKeywords>
      <Value><![CDATA[]]></Value>
    </searchKeywords>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <supportingText>
      <Value><![CDATA[<p>Below you’ll see all the Bespoke products we’re in the process of withdrawing.</p>]]></Value>
    </supportingText>
    <title>
      <Value><![CDATA[Withdrawing Bespoke Products]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>