<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e4da865-071c-4926-a1be-1ca59faa049a" Alias="Working with Us Promo Pod" Level="5">
  <Info>
    <Parent Key="c3c8d5cf-d8b4-4fd3-ae08-6f1aefc7fc4e">Child Pages</Parent>
    <Path>/BankOfIreland/DataRepositories/Pods/ChildPages/WorkingWithUsPromoPod</Path>
    <Trashed>false</Trashed>
    <ContentType>childPagePod</ContentType>
    <CreateDate>2025-07-07T17:24:24</CreateDate>
    <NodeName Default="Working with Us Promo Pod" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <childPages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d47413272587425abd6ef06adaa3cf0e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fd96d2a9-a5c2-42e3-a986-147f8da9f730",
      "udi": "umb://element/d47413272587425abd6ef06adaa3cf0e",
      "childIcon": "umb://media/35fd07672a5949fe9ba4fe2e8f8712b5",
      "childTitle": {
        "markup": "<p>What is a top-up loan?</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "childSubText": {
        "markup": "<p>Our updated resource and support centre is here! Packed with information to help you help more clients.</p>\n<p>Find support for each stage of the application journey. Plus, information for solicitors and ways you can stay up to date with us.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "cTALink": [
        {
          "name": "Explore now",
          "udi": "umb://document/c587d0a577d64394994311660f2594a3"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </childPages>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>