.solicitor-lookup-form-inner {
  @include media($medium) {
    display: block;

    .product-filters-input-wrap {
      &:not(:last-child) {
        margin-right: 0;
      }

      &.-button-wrap {
        margin-left: auto;
      }
    }
  }

  .field-validation-error {
    color: $dark-red;

    @media(min-width: $max-tablet) {
      position: absolute;
    }
  }
}

.solicitor-results-area {
  .product-table-caption {
    align-items: flex-end;
  }

  .product-table-caption__title {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;

    .results-page-number {
      top: unset;
      margin-left: 0;
      margin-top: 8px;

      strong {
        color: $text-dark;
      }
    }
  }

  .accordion {
    max-width: 790px;
  }

  .accordion-heading {
    display: flex;
    justify-content: space-between;
  }
}

.solicitor-distance {
  margin: 0 0 0 24px;
  font-size: 16px;
  line-height: 24px;
  color: $text;
  font-weight: normal;
  flex-shrink: 0;
}