.solicitor-lookup-form-inner {
  @include media($medium) {
    display: block;

    .product-filters-input-wrap {
      &:not(:last-child) {
        margin-right: 0;
      }

      &.-button-wrap {
        margin-left: auto;
      }
    }
  }

  .field-validation-error {
    color: $dark-red;

    @media(min-width: $max-tablet) {
      position: absolute;
    }
  }
}

.solicitor-results-area {
  .accordion-heading {
    display: flex;
    justify-content: space-between;
  }
}

.solicitor-distance {
  margin: 0 30px;
  font-weight: normal;
  flex-shrink: 0;
}