<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <ipSecurity allowUnlisted="false">
        <add ipAddress="127.0.0.1" allowed="true" />
        <add ipAddress="62.232.48.14" allowed="true" />
        <add ipAddress="192.168.1.75" allowed="true" />
        <add ipAddress="82.150.5.31" allowed="true" />
        <add ipAddress="109.157.214.88" allowed="true" />
        <add ipAddress="10.192.140.52" allowed="true" />
        <add ipAddress="193.120.161.6" allowed="true" />
        <add ipAddress="89.185.146.107" allowed="true" />
        <add ipAddress="89.185.146.102" allowed="true" />
        <add ipAddress="20.107.191.160" allowed="true" />
        <add ipAddress="20.166.84.40" allowed="true" />
        <add ipAddress="40.113.36.141" allowed="true" />
        <add ipAddress="13.69.159.135" allowed="true" />
        <add ipAddress="86.10.210.254" allowed="true" />
        <add ipAddress="18.169.118.192" allowed="true" />
        <add ipAddress="18.168.182.94" allowed="true" />
        <add ipAddress="18.134.48.23" allowed="true" />
        <add ipAddress="86.130.122.217" allowed="true" />
        <add ipAddress="37.221.215.9" allowed="true" />
        <add ipAddress="148.252.156.180" allowed="true" />
        <add ipAddress="147.161.143.6" allowed="true" />
        <add ipAddress="2.218.153.111" allowed="true" />
        <add ipAddress="192.168.0.96" allowed="true" />
        <add ipAddress="82.150.5.166" allowed="true" />
        <add ipAddress="82.150.5.36" allowed="true" />
        <add ipAddress="89.185.146.108" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration> 