@model string
<div class="accordion-copylink">
        <button>
            <svg class="[ icon icon-link -blue ]">
                <use xlink:href="#sprite-icon-link"></use>
            </svg>
            <span>@Model</span>
        </button>
    </div>