.news-article-block {
  display: grid;
  grid-template-columns: auto;
  gap: #{fluid(24, 32)};
  width: 100%;
  max-width: $max-desktop;
  margin: 0 auto;
  padding: var(--sectionPaddingTop) var(--sectionPaddingX) var(--sectionPaddingBottom);

  @include media-min($max-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include media-min($max-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.umb-block-list {
  > .news-article-block {
    padding: 0;
  
    @include media($max-desktop) {
      margin: 20px auto;
      padding: 0;
    }
  }
}

.news-article-block-item {
  position: relative;
  display: block;
}

.news-article-block-item__image {
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;

  img {
    width: 100%;
    max-width: none;
    height: auto;
  }
}

.news-article-block-item__title {
  font-weight: 600;
  color: $blue;

  a {
    @include simple-link-style();
    color: inherit;
  }
}