@media print {
  html,
  body {
    background-color: transparent;
  }

  .print-logo {
    display: block;
    width: 87px;
    height: 93px;

    img {
      width: 87px;
      height: 93px;
    }
  }

  header,
  footer,
  .hero-area,
  .breadcrumbs,
  .product-filters,
  .print-products,
  .products-intro img,
  .bdm-finder,
  .popup-block,
  .cookie-notification,
  .scroll-bar,
  .unsupported-browser,
  .promotional-pod,
  .alphabet-list,
  #concierge,
  .accordion-heading .toggle {
    display: none;
  }

  .umb-block-list {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .product-table {
    th,td {
      width: percentage(1/8) !important;
      min-width: 0 !important;
      vertical-align: top;
      text-align: left !important;
      background-color: transparent !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    th {
      color: $text !important;
      border-color: $text !important;

      &:first-child {
        border-left: 1px solid $text;
      }

      &:last-child {
        border-right: 1px solid $text;
      }
    }

    td {
      .icon {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .accordion-content {
    display: block !important;
  }

  .tab-list .tab,
  .tab-accordion {
    display: none !important;

    &.active {
      display: block !important;
    }
  }

  .icon-new {
    width: 32px;
    height: 16px;
  }
  
  .icon-closing {
    width: 50px;
    height: 22px;
  }

  .tab-content.active {
    display: block !important;

    .tab-content {
      display: block !important;
    }
  }

  .results-area {
    padding: 20px 0;
    max-width: none;
  }

  .bdm-item-detail {
    padding-left: 120px;
  }

  .bdm-item-detail__profile-image {
    position: absolute;
    top: 0;
    left: 0;
  }
}